.sovrn_banner_ins { display: none; border: medium none; margin: 0px; padding: 0px; position: relative; visibility: visible; text-decoration: none; background-color: transparent; }
.kmn-div { border: medium none; padding: 0px; background: transparent none repeat scroll 0% 0%; position: relative; display: inline-block; }
