body { margin: 0px; padding: 0px; }
#PinItButton { position: absolute; background-image: url('50614d52e7a972af9172c710aed21a92.png'); background-position: 0px 0px; font: 0.01em Arial,sans-serif; text-indent: -9999em; color: rgb(205, 31, 31); height: 20px; width: 40px; }
#PinItButton:hover { background-position: 0px -20px; }
#PinItButton:active { background-position: 0px -40px; }
#CountPointer { position: absolute; z-index: 1; text-indent: -9999em; font-size: 0.01em; color: rgb(255, 255, 255); left: 49px; height: 22px; width: 5px; background-position: -3pc -8px; }
#CountBubble { position: absolute; color: rgb(119, 119, 119); font: 14px Arial,Helvetica,sans-serif; }
body.horizontal #CountPointer { left: 49px; height: 22px; width: 5px; background-position: -3pc -8px; }
body.horizontal #CountBubble { background: transparent url('9bf92f27027abf8bfc590116d8df1b02.png') no-repeat scroll 0px 0px; left: 43px; height: 20px; width: 45px; padding: 2px 13px; }
