/* ::::: http://www.yantrr.com/w/load.php?debug=false&lang=en&modules=mediawiki.legacy.commonPrint%2Cshared%7Cskins.vector&only=styles&skin=vector&* ::::: */

@media screen {
	.mw-content-ltr { direction: ltr; }
	.sitedir-ltr textarea, .sitedir-ltr input { direction: ltr; }
	input[type="submit"], input[type="button"], input[type="reset"], input[type="file"] { direction: ltr; }
	div#mw-js-message { margin: 1em 5%; padding: 0.5em 2.5%; border: 1px solid rgb(221, 221, 221); background-color: rgb(252, 252, 252); }
	.thumbcaption { text-align: left; }
	.magnify { float: right; }
	#catlinks { text-align: left; }
	.catlinks-allhidden { display: none; }
	.visualClear { clear: both; }
	.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul { margin: 0.3em 0px 0px 1.6em; padding: 0px; }
	.mw-content-ltr ol, .mw-content-rtl .mw-content-ltr ol { margin: 0.3em 0px 0px 3.2em; padding: 0px; }
	.mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd { margin-left: 1.6em; margin-right: 0px; }
	h1:lang(as), h1:lang(bn), h1:lang(gu), h1:lang(hi), h1:lang(kn), h1:lang(ml), h1:lang(mr), h1:lang(or), h1:lang(pa), h1:lang(sa), h1:lang(ta), h1:lang(te) { line-height: 1.5em ! important; }
	h2:lang(as), h3:lang(as), h4:lang(as), h5:lang(as), h6:lang(as), h2:lang(bn), h3:lang(bn), h4:lang(bn), h5:lang(bn), h6:lang(bn), h2:lang(gu), h3:lang(gu), h4:lang(gu), h5:lang(gu), h6:lang(gu), h2:lang(hi), h3:lang(hi), h4:lang(hi), h5:lang(hi), h6:lang(hi), h2:lang(kn), h3:lang(kn), h4:lang(kn), h5:lang(kn), h6:lang(kn), h2:lang(ml), h3:lang(ml), h4:lang(ml), h5:lang(ml), h6:lang(ml), h2:lang(mr), h3:lang(mr), h4:lang(mr), h5:lang(mr), h6:lang(mr), h2:lang(or), h3:lang(or), h4:lang(or), h5:lang(or), h6:lang(or), h2:lang(pa), h3:lang(pa), h4:lang(pa), h5:lang(pa), h6:lang(pa), h2:lang(sa), h3:lang(sa), h4:lang(sa), h5:lang(sa), h6:lang(sa), h2:lang(ta), h3:lang(ta), h4:lang(ta), h5:lang(ta), h6:lang(ta), h2:lang(te), h3:lang(te), h4:lang(te), h5:lang(te), h6:lang(te) { line-height: 1.2em; }
	ol:lang(bcc) li, ol:lang(bqi) li, ol:lang(fa) li, ol:lang(glk) li, ol:lang(kk-arab) li, ol:lang(mzn) li { list-style-type: persian; }
	ol:lang(ckb) li { list-style-type: arabic-indic; }
	ol:lang(as) li, ol:lang(bn) li { list-style-type: bengali; }
	ol:lang(or) li { list-style-type: oriya; }
	#toc ul, .toc ul { margin: 0.3em 0px; }
	.mw-content-ltr .toc ul, .mw-content-ltr #toc ul, .mw-content-rtl .mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr #toc ul { text-align: left; }
	.mw-content-ltr .toc ul ul, .mw-content-ltr #toc ul ul, .mw-content-rtl .mw-content-ltr .toc ul ul, .mw-content-rtl .mw-content-ltr #toc ul ul { margin: 0px 0px 0px 2em; }
	#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { direction: ltr; }
	div.tright, div.floatright, table.floatright { clear: right; float: right; }
	.mw-jump, #jump-to-nav { overflow: hidden; height: 0px; }
}
@media screen {
	a { text-decoration: none; color: rgb(6, 69, 173); background: transparent none repeat scroll 0% 0%; }
	a:visited { color: rgb(11, 0, 128); }
	a:active { color: rgb(250, 167, 0); }
	a:hover, a:focus { text-decoration: underline; }
	.mw-body a.external { color: rgb(51, 102, 187); }
	.mw-body a.external:visited { color: rgb(102, 51, 102); }
	.mw-body a.external:active { color: rgb(187, 102, 51); }
	img { border: medium none; vertical-align: middle; }
	h1, h2, h3, h4, h5, h6 { color: black; background: transparent none repeat scroll 0% 0%; font-weight: normal; margin: 0px; overflow: hidden; padding-top: 0.5em; padding-bottom: 0.17em; border-bottom: 1px solid rgb(170, 170, 170); width: auto; }
	h1 { font-size: 188%; }
	h2 { font-size: 150%; }
	h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
	h3 { font-size: 132%; }
	h4 { font-size: 116%; }
	h5 { font-size: 100%; }
	h1, h2 { margin-bottom: 0.6em; }
	h3, h4, h5 { margin-bottom: 0.3em; }
	p { margin: 0.4em 0px 0.5em; line-height: 1.5em; }
	ul { line-height: 1.5em; list-style-type: square; margin: 0.3em 0px 0px 1.6em; padding: 0px; }
	ol { line-height: 1.5em; margin: 0.3em 0px 0px 3.2em; padding: 0px; list-style-image: none; }
	li { margin-bottom: 0.1em; }
	dl { margin-top: 0.2em; margin-bottom: 0.5em; }
	dd { line-height: 1.5em; margin-left: 1.6em; margin-bottom: 0.1em; }
	pre, code, tt, kbd, samp { font-family: monospace,Courier; }
	pre { padding: 1em; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); }
	table { font-size: 100%; }
	form { border: medium none; margin: 0px; }
	#toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; font-size: 95%; }
	#toc h2, .toc h2 { display: inline; border: medium none; padding: 0px; font-size: 100%; font-weight: bold; }
	#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
	#toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0px; padding: 0px; text-align: left; }
	#toc ul ul, .toc ul ul { margin: 0px 0px 0px 2em; }
	#toc .toctoggle, .toc .toctoggle { font-size: 94%; }
	div.thumb { margin-bottom: 0.5em; width: auto; background-color: transparent; }
	div.thumbinner { border: 1px solid rgb(204, 204, 204); padding: 3px ! important; background-color: rgb(249, 249, 249); font-size: 94%; text-align: center; overflow: hidden; }
	html .thumbimage { border: 1px solid rgb(204, 204, 204); }
	html .thumbcaption { border: medium none; text-align: left; line-height: 1.4em; padding: 3px ! important; font-size: 94%; }
	div.magnify { float: right; border: medium none ! important; background: transparent none repeat scroll 0% 0% ! important; }
	div.magnify a, div.magnify img { display: block; border: medium none ! important; background: transparent none repeat scroll 0% 0% ! important; }
	div.tright { margin: 0.5em 0px 1.3em 1.4em; }
	img.thumbborder { border: 1px solid rgb(221, 221, 221); }
	.catlinks { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; margin-top: 1em; clear: both; }
	.firstHeading, #firstHeading { margin-bottom: 0.1em; line-height: 1.2em; padding-bottom: 0px; }
	#siteSub { display: none; }
	#jump-to-nav { margin-top: -1.4em; margin-bottom: 1.4em; }
	#contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0px 0px 1.4em 1em; color: rgb(125, 125, 125); width: auto; }
	html, body { height: 100%; margin: 0px; padding: 0px; font-family: sans-serif; font-size: 1em; }
	body { background-color: rgb(243, 243, 243); background-image: url('undefined'); }
	div#content { margin-left: 10em; padding: 1em; background-image: url('undefined'); background-position: left top; background-repeat: repeat-y; background-color: white; color: black; direction: ltr; }
	#mw-page-base { height: 5em; background-color: white; background-image: url('undefined'); background-position: left bottom; background-repeat: repeat-x; }
	#mw-head-base { margin-top: -5em; margin-left: 10em; height: 5em; background-image: url('undefined'); background-position: left bottom; background-repeat: repeat-x; }
	div#mw-head { position: absolute; top: 0px; right: 0px; width: 100%; }
	div#mw-head h5 { margin: 0px; padding: 0px; }
	div.emptyPortlet { display: none; }
	#p-personal { position: absolute; top: 0px; right: 0.75em; }
	#p-personal h5 { display: none; }
	#p-personal ul { list-style: outside none none; margin: 0px; padding-left: 10em; }
	#p-personal li { line-height: 1.125em; float: left; }
	#p-personal li { margin-left: 0.75em; margin-top: 0.5em; font-size: 0.75em; white-space: nowrap; }
	#left-navigation { position: absolute; left: 10em; top: 2.5em; }
	#right-navigation { float: right; margin-top: 2.5em; }
	div.vectorTabs h5, div.vectorMenu h5 span { display: none; }
	div.vectorTabs { float: left; height: 2.5em; }
	div.vectorTabs { background-image: url('undefined'); background-position: left bottom; background-repeat: no-repeat; padding-left: 1px; }
	div.vectorTabs ul { float: left; }
	div.vectorTabs ul { height: 100%; list-style: outside none none; margin: 0px; padding: 0px; }
	div.vectorTabs ul li { float: left; }
	div.vectorTabs ul li { line-height: 1.125em; display: inline-block; height: 100%; margin: 0px; padding: 0px; background-color: rgb(243, 243, 243); background-image: url('undefined'); background-position: left bottom; background-repeat: repeat-x; white-space: nowrap; }
	div.vectorTabs ul > li { display: block; }
	div.vectorTabs li.selected { background-image: url('undefined'); }
	div.vectorTabs li a { display: inline-block; height: 1.9em; padding-left: 0.5em; padding-right: 0.5em; color: rgb(6, 69, 173); cursor: pointer; font-size: 0.8em; }
	div.vectorTabs span a { display: inline-block; padding-top: 1.25em; }
	div.vectorTabs span > a { float: left; display: block; }
	div.vectorTabs span { display: inline-block; background-image: url('undefined'); background-position: right bottom; background-repeat: no-repeat; }
	div.vectorTabs li.selected a, div.vectorTabs li.selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
	div.vectorTabs li.new a, div.vectorTabs li.new a:visited { color: rgb(165, 88, 88); }
	div.vectorMenu { direction: ltr; float: left; background-image: url('undefined'); background-position: 100% 60%; background-repeat: no-repeat; cursor: pointer; }
	div#mw-head div.vectorMenu h5 { float: left; background-image: url('undefined'); background-repeat: no-repeat; }
	div#mw-head div.vectorMenu h5 { background-position: left bottom; margin-left: -1px; }
	div#mw-head div.vectorMenu > h5 { background-image: none; }
	div#mw-head div.vectorMenu h4 { display: inline-block; float: left; font-size: 0.8em; padding-left: 0.5em; padding-top: 1.375em; font-weight: normal; border: medium none; }
	div.vectorMenu h5 a { display: inline-block; width: 24px; height: 2.5em; text-decoration: none; background-image: url('undefined'); background-repeat: no-repeat; }
	div.vectorMenu h5 a { background-position: right bottom; }
	div.vectorMenu h5 > a { display: block; }
	div.vectorMenu div.menu { position: relative; display: none; clear: both; text-align: left; }
	div.vectorMenu:hover div.menu, div.vectorMenu div.menuForceShow { display: block; }
	div.vectorMenu ul { position: absolute; background-color: white; border-width: 0px 1px 1px; border-style: solid; border-color: silver; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; list-style: outside none none; padding: 0px; margin: 0px 0px 0px -1px; text-align: left; }
	div.vectorMenu ul, x:-moz-any-link { min-width: 5em; }
	div.vectorMenu ul, x:-moz-any-link, x:default { min-width: 0px; }
	#p-search h5 { display: none; }
	#p-search { float: left; }
	#p-search { margin-right: 0.5em; margin-left: 0.5em; }
	#p-search form, #p-search input { margin: 0.4em 0px 0px; }
	div#mw-panel { position: absolute; top: 160px; padding-top: 1em; width: 10em; left: 0px; }
	div#mw-panel div.portal { padding-bottom: 1.5em; direction: ltr; }
	div#mw-panel div.portal h5 { font-weight: normal; color: rgb(68, 68, 68); padding: 0px 0.25em 0.25em 1.75em; cursor: default; border: medium none; font-size: 0.75em; }
	div#mw-panel div.portal div.body { margin: 0px 0px 0px 1.25em; padding-top: 0.5em; background-image: url('undefined'); background-repeat: no-repeat; background-position: left top; }
	div#mw-panel div.portal div.body ul { list-style: outside none none; padding: 0px; margin: 0px; }
	div#mw-panel div.portal div.body ul li { line-height: 1.125em; padding: 0px 0px 0.5em; margin: 0px; overflow: hidden; font-size: 0.75em; }
	div#mw-panel div.portal div.body ul li a { color: rgb(6, 69, 173); }
	div#mw-panel div.portal div.body ul li a:visited { color: rgb(11, 0, 128); }
	div#footer { margin-left: 10em; margin-top: 0px; padding: 0.75em; background-image: url('undefined'); background-position: left top; background-repeat: repeat-x; direction: ltr; }
	div#footer ul { list-style: outside none none; margin: 0px; padding: 0px; }
	div#footer ul li { margin: 0px; padding: 0.5em 0px; color: rgb(51, 51, 51); font-size: 0.7em; }
	div#footer #footer-icons { float: right; }
	body.ltr div#footer #footer-places { float: left; }
	div#footer #footer-info li { line-height: 1.4em; }
	div#footer #footer-icons li { float: left; margin-left: 0.5em; line-height: 2em; text-align: right; }
	div#footer #footer-places li { float: left; margin-right: 1em; line-height: 2em; }
	#p-logo { position: absolute; top: -160px; left: 0px; width: 10em; height: 160px; }
	#p-logo a { display: block; width: 10em; height: 160px; background-repeat: no-repeat; background-position: center center; text-decoration: none; }
	div#content { line-height: 1.5em; }
	#bodyContent { font-size: 0.8em; }
	ul { list-style-image: url('undefined'); }
	pre { line-height: 1.3em; }
	#firstHeading { margin-top: 0px; padding-top: 0px; font-size: 1.6em; }
	div#content a.external, div#content a.external[href^="gopher://"] { background: transparent url('undefined') no-repeat scroll right center; padding-right: 13px; }
	div#content a.external[href^="https://"], .link-https { background: transparent url('undefined') no-repeat scroll right center; padding-right: 13px; }
	div#content a.external[href$=".pdf"], div#content a.external[href$=".PDF"], div#content a.external[href*=".pdf#"], div#content a.external[href*=".PDF#"], div#content a.external[href*=".pdf?"], div#content a.external[href*=".PDF?"], .link-document { background: transparent url('undefined') no-repeat scroll right center; padding-right: 13px; }
	div#content .printfooter { display: none; }
	#pt-userpage, #pt-anonuserpage, #pt-login { background: transparent url('undefined') no-repeat scroll left top; padding-left: 15px ! important; text-transform: none; }
	#bodyContent { position: relative; width: 100%; }
	#mw-js-message { font-size: 0.8em; }
	div#bodyContent { line-height: 1.5em; }
	div.vectorTabs ul { background-image: url('undefined'); background-position: right bottom; background-repeat: no-repeat; }
}
.js-messagebox { margin: 1em 5%; padding: 0.5em 2.5%; border: 1px solid rgb(204, 204, 204); background-color: rgb(252, 252, 252); font-size: 0.8em; }
a:lang(ar), a:lang(ckb), a:lang(fa), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }
