/* ::::: http://christian.amsuess.com/style.css ::::: */

html, body { background-color: white; color: black; font-family: sans-serif; }
code, .literal-block, .docutils.literal { background-color: rgb(221, 221, 221); }
h1.title { text-align: center; }
div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning { margin: 2em; border: medium outset; padding: 1em; }
div.admonition p.admonition-title, div.hint p.admonition-title, div.important p.admonition-title, div.note p.admonition-title, div.tip p.admonition-title { font-weight: bold; font-family: sans-serif; }
