/* ::::: https://plus.google.com/_/scs/apps-static/_/ss/k=oz.recentposts.-18hr2el13o1jj.L.F4.O/d=0/rs=AGLTcCN68F_JnB1sssRUsQ82HDRZnfJVAQ ::::: */

* html .d-k-l, :first-child + html .d-k-l { display: inline; }
.G-q-O-ab::after { content: ""; background: transparent url('close-x.png') repeat scroll 0% 0%; position: absolute; height: 11px; width: 11px; right: 17px; }
body { background: transparent none repeat scroll 0% 0%; font: 13px arial,sans-serif; margin: 0px; padding: 0px; visibility: visible; }
