/* ::::: http://effbot.org/media/css/effbot-min.css ::::: */

body { color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q::before, q::after { content: ""; }
body { font: 13px/1.22 arial,helvetica,clean,sans-serif; }
pre, code, kbd, samp, tt { font-family: monospace; line-height: 99%; }
body { text-align: center; }
#ft { clear: both; }
#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 { margin: auto; text-align: left; width: 57.69em; min-width: 750px; }
#doc2 { width: 73.074em; }
.yui-b { position: relative; }
.yui-b {  }
#yui-main .yui-b { position: static; }
#yui-main { width: 100%; }
.yui-t1 #yui-main, .yui-t2 #yui-main, .yui-t3 #yui-main { float: right; margin-left: -25em; }
.yui-t2 .yui-b { float: left; width: 13.8456em; }
.yui-t2 #yui-main .yui-b { margin-left: 14.8456em; }
#yui-main .yui-b { float: none; width: auto; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf, .yui-gc .yui-u, .yui-gd .yui-g, .yui-g .yui-gc .yui-u, .yui-ge .yui-u, .yui-ge .yui-g, .yui-gf .yui-g, .yui-gf .yui-u { float: right; display: inline; }
.yui-g div.first, .yui-g div.first, .yui-gc div.first, .yui-gc div.first div.first, .yui-gd div.first, .yui-ge div.first, .yui-gf div.first { float: left; }
.yui-ge .yui-u, .yui-ge .yui-g, .yui-gf div.first { width: 24%; }
.yui-ge div.first, .yui-gf .yui-g, .yui-gf .yui-u { width: 74.2%; }
#bd::after, .yui-g::after, .yui-gb::after, .yui-gc::after, .yui-gd::after, .yui-ge::after, .yui-gf::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#bd, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {  }
h1 { font-size: 138.5%; }
h2 { font-size: 123.1%; }
h3 { font-size: 108%; }
h1, h2, h3 { margin: 1em 0px; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
blockquote, ul, ol, dl { margin: 1em; }
ol, ul, dl { margin-left: 2em; }
ul li { list-style: outside none disc; }
dl dd { margin-left: 1em; }
p, fieldset, table { margin-bottom: 1em; }
BODY { background: rgb(221, 255, 221) none repeat scroll 0% 0%; }
#doc, #doc2, #doc4 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#menu UL { padding-left: 10px; margin: 0px; width: 150px; }
#menu LI { font-family: Georgia; list-style: outside none none; margin: 0px; padding: 0.25em; }
#menu LI A { text-decoration: none; }
#hd { font-family: Georgia; font-size: 120%; }
#bd { padding-top: 2em; }
#ft { font-size: 100%; color: rgb(204, 204, 204); padding-left: 10px; padding-top: 1em; padding-bottom: 0.5em; }
#ft A:link, A:hover { color: rgb(204, 204, 204); }
#ft A:visited { color: rgb(204, 204, 204); }
.content { font-family: Georgia; font-size: 120%; line-height: 150%; padding-left: 0px; padding-right: 10px; }
H1, H2, H3, H4, H5, H6 { font-family: Georgia; line-height: 120%; color: rgb(0, 136, 68); }
PRE { font-size: 90%; line-height: 120%; overflow-x: auto; overflow-y: hidden; width: 38em; margin-left: 10px; padding-bottom: 1em; }
A:link, A:hover { color: rgb(0, 136, 68); }
A:visited { color: rgb(68, 68, 68); }
.maintitle { font-size: 240%; margin-top: 0px; margin-bottom: 0.5em; }
PRE.wide, .wide PRE { width: 52em; }
.wide { width: 49.5em; }
.fixme { background: rgb(238, 238, 238) none repeat scroll 0% 0%; border: 1px solid rgb(85, 85, 85); padding: 0.5em 20px; }
