/* ::::: https://fonts.googleapis.com/css?family=Lora:400&lang=de ::::: */

@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('ukd0soiy4jzgcodpuj2g3q.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('gsnxin0oizss201cnuag6w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('ie2ux11tit0c_jtksrplka.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('i0defrggne90_hxzq7bjyw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('4vqkriwnqqguqqh-pnvdma.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: "Lora","Times New Roman",serif; }
#adunit { background-color: rgb(255, 255, 255); height: 90px; width: 970px; }
#ads { height: 90px; left: 0px; position: absolute; top: 0px; width: 970px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 0px; width: 970px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 0px; width: 970px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 0px; width: 0px; height: 90px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 0px; width: 0px; height: 90px; }
.rhtitle.rhdefaultcolored { color: rgb(0, 83, 249); }
.rhtitle { text-decoration: none; overflow-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbodyurl.rhdefaultcolored, .rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbodyurl, .rhbody, .rhurl { text-decoration: none; overflow-wrap: break-word; }
.rhbodyurl a:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored { color: rgb(130, 130, 130); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.rhbutton.nobackground, .rhbutton.nobackground:hover { background: transparent none repeat scroll 0% 0%; }
.taw0 .rh02 .rhbutton-container { text-align: right; width: 470px; left: -418px; }
.taw0 .rh02 .rhbutton { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 27px; border-width: 1px; height: 52px; min-width: 52px; max-width: 470px; border-color: rgb(0, 83, 249); border-style: solid; }
.taw0 .rh02 .rhbutton:hover { background: rgb(183, 183, 183) none repeat scroll 0% 0%; }
.taw0 .rh02 .icon-container { height: 52px; line-height: 52px; width: 28px; }
.taw0 .rh02 .icon, .taw0 .rh02 .icon-container .rhsvgpngicon { height: 28px; margin-left: 2px; vertical-align: top; margin-top: 12px; }
#ads .rh010 .rhtitle { color: rgb(0, 0, 0); }
#ads .rh012 { opacity: 0.8; }
#ads .rh012 .rhurl { color: rgb(0, 0, 0); opacity: 0.6; }
#ads .rh02 .rhbutton:hover { background: transparent none repeat scroll 0% 0%; }
.rh { display: inline-block; font-size: 0px; line-height: 0; padding: 5px; width: 960px; }
.rh > table { height: 100%; }
.rh0 { display: inline-block; font-size: 0px; height: 80px; line-height: 0; overflow: hidden; padding: 0px; width: 960px; }
.rh0 > table { height: 100%; }
.rh00 { background-color: rgb(0, 83, 249); display: inline-block; height: 80px; overflow: hidden; padding: 0px; width: 2px; }
.rh00c { height: 80px; padding: 0px; width: 2px; }
.rh01 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 879px; }
.rh01 > table { width: 100%; }
.rh010 { display: inline-block; font-size: 28px; line-height: 32px; overflow: hidden; padding: 0px 0px 0px 7px; width: 872px; }
.rh010c { height: 0px; padding: 0px; text-align: left; width: 879px; }
.rh012 { display: inline-block; font-size: 15px; line-height: 18px; max-width: 871px; overflow: hidden; padding: 3px 0px 0px 8px; }
.rh012c { padding: 0px; }
.rh01c { padding: 0px; width: 879px; }
.rh02 { display: inline-block; font-size: 28px; height: 54px; line-height: 34px; padding: 2px 16px 0px 7px; width: 54px; }
.rh02c { height: 80px; padding: 0px; text-align: left; vertical-align: middle; width: 79px; }
.rh0c { height: 80px; padding: 0px; width: 960px; }
.taw { height: 90px; width: 970px; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; overflow: hidden; position: absolute; right: 0px; top: 16px; text-rendering: geometricprecision; width: 15px; z-index: 9020; }
.abgb { display: block; height: 15px; width: 15px; }
.abgc { cursor: pointer; }
.cbb { background-image: url('x_button_blue2.svg'); background-repeat: no-repeat; background-position: right top; cursor: pointer; height: 15px; width: 15px; z-index: 9020; }
.cbb:hover { background-image: url('x_button_dark.svg'); cursor: pointer; }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 0px; top: 0px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
#survey-container { position: absolute; top: 0px; left: 0px; z-index: 9100; width: 970px; height: 90px; overflow: hidden; background-color: rgb(250, 250, 250); font-size: 0px; white-space: nowrap; }
.survey-horiz, .survey-vert { text-align: center; }
#survey-container * { box-sizing: border-box; }
.survey-block { height: 50px; }
.survey-option { position: relative; z-index: 9110; overflow: hidden; display: inline-block; padding: 1px 5px; width: 96px; height: 50px; border: 1px solid rgb(224, 224, 224); background-color: rgb(255, 255, 255); cursor: pointer; }
.survey-option:hover, .survey-option:active { background-color: rgb(245, 245, 245); }
.survey-option div { width: 100%; height: 100%; display: table; text-align: center; }
.survey-option span { vertical-align: middle; display: table-cell; color: rgb(66, 133, 244); font-family: Arial,sans-serif; text-align: center; font-size: 12px; line-height: 14px; white-space: normal; }
#mute_panel.survey-horiz .survey-option { display: inline-block; margin-left: -1px; box-shadow: none; }
#mute_panel.survey-horiz .survey-option:first-child { margin-left: 0px; }
#mute_panel.survey-horiz.survey-spaced .survey-option { margin-left: 8px; }
#mute_panel.survey-horiz.survey-spaced .survey-option:first-child { margin-left: 0px; }
#mute_panel.survey-horiz.jake-middle .survey-block { margin-top: 20px; }
#mute_panel.survey-vert .survey-option, #mute_panel.survey-horiz.survey-spaced .survey-option { border-radius: 2px; }
.scroll { position: absolute; top: 0px; z-index: 9120; display: none; width: 30px; border: 1px solid transparent; background-color: rgba(0, 0, 0, 0.6); text-align: center; transition: visibility 150ms step-end 0s; cursor: pointer; }
.scroll div { position: absolute; top: 50%; left: 50%; height: 36px; width: 36px; margin: -18px 0px 0px -18px; }
.scroll:hover, .scroll:active { background-color: rgba(0, 0, 0, 0.4); }
.scroll-right { right: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.scroll-right div { background-image: url('keyboard_arrow_right_white_36dp.png'); }
.scroll-left { left: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.scroll-left div { background-image: url('keyboard_arrow_left_white_36dp.png'); }
.survey-option { transition: margin 150ms linear 0s; }
#panel_set > .panel { position: fixed; top: -90px; left: -970px; z-index: 9100; display: block; width: 970px; height: 90px; }
#panel_set img { border: 0px none; }
#panel_set .panel-container { display: table; width: 970px; height: 90px; margin: 0px; padding: 0px; background-color: rgb(250, 250, 250); }
#panel_set .panel-row { display: block; padding: 0px 0px 0.3em; }
#panel_set .panel-row:first-child { padding: 0.3em; }
#panel_set .panel-content { vertical-align: top; display: table-cell; color: rgba(0, 0, 0, 0.4); transition: opacity 150ms linear 0s; text-align: center; font-family: "Arial",sans-serif; }
.jake-middle.survey-horiz #panel_set .panel-content { vertical-align: middle; }
#ad_closed_panel .btn { display: inline-block; border-radius: 2px; box-sizing: border-box; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.26) !important; text-decoration: none; white-space: nowrap; line-height: 1em; cursor: pointer; }
#closed_text, #final_closed_text { display: inline-block; line-height: 1.28em; font-size: 1.2em; }
#closed_text img, #final_closed_text img { margin-bottom: -0.34em; height: 1.25em; display: inline-block; width: auto; opacity: 0.4; }
#spacer { display: inline-block; padding: 0px; box-shadow: none; width: 3px; }
.btn > span { display: inline-block; padding: 0.5em 0.6em; line-height: 1em; }
#settings_btn { background-color: rgb(255, 255, 255); color: rgb(158, 158, 166); }
#settings_btn:hover, #settings_btn:active { background-color: rgb(245, 245, 245); }
#settings_text { white-space: nowrap; }
#report_btn { background-color: rgb(66, 133, 245); color: white; }
#report_btn:hover, #report_btn:active { background-color: rgb(50, 117, 229); }
#settings_icon { position: relative; display: inline-block; margin-bottom: -0.15em; height: 1em; width: 1em; opacity: 0.4; }
#confirmation_msg { font-weight: bold; color: rgb(51, 51, 51); }
#confirmation_msg, #final_closed_text { line-height: 1.1em; padding: 0.3em; }
#post_survey_panel span { display: block; text-align: center; line-height: 1em; }
#final_closed_panel, #final_closed_panel #final_closed_text { opacity: 0; transition: opacity 400ms linear 0s; }
#final_closed_panel span { white-space: normal; }
