/* ::::: https://s.ytimg.com/yts/cssbin/www-subscribe-embed-card-vflg4j9Ix.css ::::: */

.yt-valign::before, .yt-valign-container { vertical-align: middle; display: inline-block; }
.yt-valign::before { content: ""; height: 100%; }
.yt-thumb { overflow: hidden; background: rgb(241, 241, 241) none repeat scroll 0% 0%; font-size: 0px; vertical-align: middle; display: inline-block; }
.yt-thumb .vertical-align { height: 100%; }
.yt-thumb img { font-size: 13px; outline: medium none; }
.yt-thumb-clip { position: absolute; bottom: -100px; top: -100px; left: -100px; right: -100px; text-align: center; white-space: nowrap; word-break: normal; }
.yt-thumb-clip img, .yt-thumb-clip .vertical-align { display: inline-block; vertical-align: middle; }
.yt-thumb-poster, .yt-thumb-square, .yt-thumb-feed, .yt-thumb-related-playlist, .yt-thumb-default { display: block; height: auto; }
.yt-thumb-square { padding-bottom: 100%; }
.yt-thumb-40 { width: 40px; }
.video-thumb { position: relative; }
body { line-height: 1; text-align: start; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
body { border: 0px none; }
canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; background: transparent none repeat scroll 0% 0%; }
hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; background: transparent none repeat scroll 0% 0%; }
body { word-wrap: break-word; font: 12px Roboto,arial,sans-serif; }
html { overflow: hidden; height: 100%; width: 100%; }
body { display: table; height: 100%; padding: 0px; margin: 0px; }
#yt-subscribe-card { padding: 2px 5px 5px; overflow: hidden; white-space: nowrap; }
.yt-user-icon { float: left; width: 40px; }
.yt-subscription-prompt, .yt-user-name { margin-left: 50px; height: 14px; line-height: 14px; text-align: center; white-space: nowrap; }
.yt-subscription-prompt { margin-top: 6px; color: rgb(85, 85, 85); font-size: 11px; }
.yt-subscription-prompt .channel-name { font-weight: 500; }
.yt-user-name { color: rgb(0, 0, 0); font-weight: 500; font-size: 13px; }
.yt-subscribe-msg, .yt-unsubscribe-msg { display: block; height: 0px; visibility: hidden; overflow: hidden; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; box-sizing: border-box; }
#yt-subscribe-card.subscribe .yt-subscribe-msg, #yt-subscribe-card.subscribed .yt-unsubscribe-msg { height: auto; visibility: visible; }
