* { margin: 0px; padding: 0px; }
body { font: 14px/15px Arial,sans-serif; color: rgb(0, 0, 0); }
a { text-decoration: none; }
.fb_share_large .fb_sharecount_zero { display: block; background: rgb(59, 89, 152) url('f_only.png') no-repeat scroll 20px 5px; width: 53px; height: 47px; margin-bottom: 2px; }
.fb_share_large .fb_sharecount_zero {  }
.fb_share_large .fb_sharebutton { display: block; padding: 0px 0px 0px 3px; width: 48px; height: 16px; color: rgb(59, 89, 152); font-size: 11px; font-weight: normal; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; text-align: left; border: 1px solid rgb(216, 223, 234); background: rgb(255, 255, 255) url('fb_sq_small.png') no-repeat scroll right top; }
.fb_share_large a.fb_sharebutton:hover { color: rgb(255, 255, 255); background-color: rgb(59, 89, 152); border: 1px solid rgb(41, 85, 130); }
