/* ::::: http://www.charity-charities.org/common/style.css ::::: */

.footc { color: rgb(128, 128, 128); font-size: 8pt; font-family: verdana; text-decoration: none; }
.footc:hover { color: rgb(128, 128, 128); text-decoration: underline; }
.gmenlink { color: rgb(21, 60, 139); font-size: 8pt; font-family: arial; text-decoration: underline; }
.gmenlink:hover { color: rgb(21, 60, 139); font-size: 8pt; font-family: arial; text-decoration: underline; }
.newmen { color: rgb(255, 255, 255); font-size: 8pt; font-family: verdana; text-decoration: none; }
.newmen:hover { color: rgb(255, 255, 255); font-size: 8pt; font-family: verdana; text-decoration: underline; }
.fmenlink { color: rgb(51, 102, 153); font-size: 8pt; font-family: verdana; text-decoration: none; }
.fmenlink:hover { color: rgb(51, 102, 153); font-size: 8pt; font-family: verdana; text-decoration: underline; }
.nwslink { color: rgb(51, 102, 153); font-size: 9pt; font-family: arial; text-decoration: none; }
.nwslink:hover { color: rgb(51, 102, 153); text-decoration: underline; }
.footx { font-size: 9pt; color: rgb(128, 128, 128); font-family: verdana; font-weight: bold; }
.cop1w { font-size: 8pt; color: rgb(255, 255, 255); font-family: arial; }
.opsinfhdr { font-size: 10pt; color: rgb(0, 51, 102); font-family: arial; font-weight: bold; }
.catalp { font-size: 11pt; color: rgb(153, 153, 153); font-family: arial; }
TH { padding: 4px; color: rgb(0, 0, 0); text-align: center; }
