a.rh-ms-mute-undo { color: rgb(0, 83, 249); }
body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: Arial,arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 400px; width: 280px; }
#ads { height: 400px; left: 0px; position: absolute; top: 0px; width: 280px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.separator { border-bottom: 1px solid rgb(209, 209, 209); }
.collapsed { background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.expanded .triangle { opacity: 0; }
.collapsed-box {  }
.collapsed-box:hover { color: rgb(0, 83, 249); }
.triangle { border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgb(101, 101, 101); height: 0px; position: absolute; right: 35px; top: 29px; width: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.rh-ms-mute-overlay { background-color: rgb(251, 251, 251); display: table; height: 100%; opacity: 0.95; position: absolute; top: 0px; visibility: hidden; width: 100%; z-index: 9020; }
.rh-ms-mute-overlay > span { color: rgb(51, 51, 51); display: table-cell; font: 15px Arial,arial,sans-serif; text-align: center; vertical-align: middle; }
.rh-ms-mute-overlay a { text-decoration: none; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 0px; width: 280px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 0px; width: 280px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 0px; width: 0px; height: 400px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 0px; width: 0px; height: 400px; }
.rhtitle.rhdefaultcolored { color: rgb(0, 83, 249); }
.rhtitle { text-decoration: none; word-wrap: break-word; }
.expanded a.rhtitle:hover { text-decoration: underline; }
.rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbody { text-decoration: none; word-wrap: break-word; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored:hover, .rhurlctr.rhdefaultcolored, .rhurl.rhdefaultcolored span, .rhurl.rhdefaultcolored span:hover { color: rgb(130, 130, 130); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; transition-property: position, z-index, opacity; transition-duration: 0s, 0s, 0s; transition-timing-function: ease, ease, ease; transition-delay: 0.3s; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.taw0 .rh001 .rhbutton-container { left: -193px; text-align: right; width: 237px; }
.taw0 .rh001 .rhbutton { background: rgb(84, 84, 84) none repeat scroll 0% 0%; border-radius: 14px; border-width: 1px; height: 44px; min-width: 44px; max-width: 237px; box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35) inset, 0px 1px 1px rgba(0, 0, 0, 0.3); border-style: solid; }
.taw0 .rh001 .rhbutton:hover { background: rgb(106, 106, 106) none repeat scroll 0% 0%; }
.taw0 .rh001 .icon-container { height: 44px; line-height: 44px; width: 23px; }
.taw0 .rh001 .icon, .taw0 .rh001 .icon-container .rhsvgpngicon { height: 20px; margin-left: -2px; vertical-align: top; margin-top: 12px; }
.taw1 .rh001 .rhbutton-container { left: -193px; text-align: right; width: 237px; }
.taw1 .rh001 .rhbutton { background: rgb(84, 84, 84) none repeat scroll 0% 0%; border-radius: 14px; border-width: 1px; height: 44px; min-width: 44px; max-width: 237px; box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35) inset, 0px 1px 1px rgba(0, 0, 0, 0.3); border-style: solid; }
.taw1 .rh001 .rhbutton:hover { background: rgb(106, 106, 106) none repeat scroll 0% 0%; }
.taw1 .rh001 .icon-container { height: 44px; line-height: 44px; width: 23px; }
.taw1 .rh001 .icon, .taw1 .rh001 .icon-container .rhsvgpngicon { height: 20px; margin-left: -2px; vertical-align: top; margin-top: 12px; }
.taw2 .rh001 .rhbutton-container { left: -193px; text-align: right; width: 237px; }
.taw2 .rh001 .rhbutton { background: rgb(84, 84, 84) none repeat scroll 0% 0%; border-radius: 14px; border-width: 1px; height: 44px; min-width: 44px; max-width: 237px; box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35) inset, 0px 1px 1px rgba(0, 0, 0, 0.3); border-style: solid; }
.taw2 .rh001 .rhbutton:hover { background: rgb(106, 106, 106) none repeat scroll 0% 0%; }
.taw2 .rh001 .icon-container { height: 44px; line-height: 44px; width: 23px; }
.taw2 .rh001 .icon, .taw2 .rh001 .icon-container .rhsvgpngicon { height: 20px; margin-left: -2px; vertical-align: top; margin-top: 12px; }
.taw3 .rh001 .rhbutton-container { left: -193px; text-align: right; width: 237px; }
.taw3 .rh001 .rhbutton { background: rgb(84, 84, 84) none repeat scroll 0% 0%; border-radius: 14px; border-width: 1px; height: 44px; min-width: 44px; max-width: 237px; box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35) inset, 0px 1px 1px rgba(0, 0, 0, 0.3); border-style: solid; }
.taw3 .rh001 .rhbutton:hover { background: rgb(106, 106, 106) none repeat scroll 0% 0%; }
.taw3 .rh001 .icon-container { height: 44px; line-height: 44px; width: 23px; }
.taw3 .rh001 .icon, .taw3 .rh001 .icon-container .rhsvgpngicon { height: 20px; margin-left: -2px; vertical-align: top; margin-top: 12px; }
.taw4 .rh001 .rhbutton-container { left: -193px; text-align: right; width: 237px; }
.taw4 .rh001 .rhbutton { background: rgb(84, 84, 84) none repeat scroll 0% 0%; border-radius: 14px; border-width: 1px; height: 44px; min-width: 44px; max-width: 237px; box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35) inset, 0px 1px 1px rgba(0, 0, 0, 0.3); border-style: solid; }
.taw4 .rh001 .rhbutton:hover { background: rgb(106, 106, 106) none repeat scroll 0% 0%; }
.taw4 .rh001 .icon-container { height: 44px; line-height: 44px; width: 23px; }
.taw4 .rh001 .icon, .taw4 .rh001 .icon-container .rhsvgpngicon { height: 20px; margin-left: -2px; vertical-align: top; margin-top: 12px; }
#ads .rh001 .rhbutton { color: rgba(0, 0, 0, 0.2); }
.collapsed .rh00 { padding: 0px 16px 0px 0px; }
.collapsed .rh001 { opacity: 0; }
.collapsed .rh01 { opacity: 0; }
.expanded .rh00 { padding: 16px 16px 0px 0px; }
.expanded .rh000c { height: 0px; }
.expanded .rh001 { font-size: 20px; line-height: 24px; }
.rh { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 280px; }
.rh > table { width: 100%; }
.rh0 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px 0px 0px 6px; transition: height 150ms linear 0s; width: 274px; }
.rh0 > table { width: 100%; }
.rh00 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; transition: max-height 150ms linear 0s, padding 150ms linear 0s; }
.rh00 > table { height: 100%; }
.rh000 { display: inline-block; font-size: 23px; line-height: 27px; overflow: hidden; padding: 0px 11px 0px 0px; transition: max-height 150ms linear 0s; width: 201px; }
.rh000c { padding: 0px; transition: height 150ms linear 0s; vertical-align: middle; width: 212px; }
.rh001 { display: inline-block; height: 46px; padding: 0px; transition: filter 150ms linear 0s, font-size 150ms linear 0s, line-height 150ms linear 0s, opacity 150ms linear 0s; width: 46px; }
.rh001c { padding: 0px; vertical-align: middle; width: 46px; }
.rh00c { padding: 0px; }
.rh01 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; transition: filter 150ms linear 0s, opacity 150ms linear 0s; width: 274px; }
.rh01 > table { width: 100%; }
.rh010 { display: inline-block; font-size: 13px; line-height: 18px; max-width: 271px; overflow: hidden; padding: 7px 3px 7px 0px; white-space: nowrap; }
.rh010c { padding: 0px; }
.rh011 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 274px; }
.rh011 > table { height: 100%; }
.rh0111 { display: inline-block; font-size: 15px; line-height: 18px; max-width: 271px; overflow: hidden; padding: 0px 3px 11px 0px; }
.rh0111c { padding: 0px; }
.rh011c { padding: 0px; width: 274px; }
.rh01c { padding: 0px; vertical-align: top; width: 274px; }
.rh0c { padding: 0px; transition: height 150ms linear 0s; vertical-align: top; width: 280px; }
.taw { transition: height 150ms linear 0s; width: 280px; }
.taw0 .rh01 { height: 97px; }
.taw0 .rh01c { height: 97px; }
.taw0.expanded { height: 173px; }
.taw0.expanded .rh0 { height: 167px; }
.taw0.expanded .rh00 { max-height: 54px; }
.taw0.expanded .rh000 { max-height: 54px; }
.taw0.expanded .rh0c { height: 173px; }
.taw1 .rh01 { height: 79px; }
.taw1 .rh01c { height: 79px; }
.taw1.collapsed { height: 56px; }
.taw1.collapsed .rh0 { height: 56px; }
.taw1.collapsed .rh00 { max-height: 56px; }
.taw1.collapsed .rh000 { max-height: 56px; }
.taw1.collapsed .rh000c { height: 56px; }
.taw1.collapsed .rh0c { height: 56px; }
.taw2 .rh01 { height: 79px; }
.taw2 .rh01c { height: 79px; }
.taw2.collapsed { height: 56px; }
.taw2.collapsed .rh0 { height: 56px; }
.taw2.collapsed .rh00 { max-height: 56px; }
.taw2.collapsed .rh000 { max-height: 56px; }
.taw2.collapsed .rh000c { height: 56px; }
.taw2.collapsed .rh0c { height: 56px; }
.taw3 .rh01 { height: 79px; }
.taw3 .rh01c { height: 79px; }
.taw3.collapsed { height: 56px; }
.taw3.collapsed .rh0 { height: 56px; }
.taw3.collapsed .rh00 { max-height: 56px; }
.taw3.collapsed .rh000 { max-height: 56px; }
.taw3.collapsed .rh000c { height: 56px; }
.taw3.collapsed .rh0c { height: 56px; }
.taw4 .rh01 { height: 79px; }
.taw4 .rh01c { height: 79px; }
.taw4.collapsed { height: 55px; }
.taw4.collapsed .rh0 { height: 55px; }
.taw4.collapsed .rh00 { max-height: 55px; }
.taw4.collapsed .rh000 { max-height: 55px; }
.taw4.collapsed .rh000c { height: 55px; }
.taw4.collapsed .rh0c { height: 55px; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; position: absolute; right: 16px; text-rendering: geometricprecision; top: 0px; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.collapsed > .abgc { visibility: hidden; opacity: 0; transition: opacity 150ms linear 0s, visibility 150ms linear 0s; }
.expanded > .abgc { opacity: 1; transition: opacity 150ms linear 0s; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
.cbc { background-image: url('x_button_blue2.svg'); background-position: right top; background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0px; top: 0px; margin: 0px; overflow: hidden; padding: 0px; position: absolute; transform: scaleX(1); width: 16px; z-index: 9010; }
.cbc > .cb-x { height: 15px; position: absolute; width: 16px; right: 0px; top: 0px; }
.collapsed > .cbc { visibility: hidden; opacity: 0; transition: opacity 150ms linear 0s, visibility 150ms linear 0s; }
.expanded > .cbc { opacity: 1; transition: opacity 150ms linear 0s; }
.ddmc { background: rgb(204, 204, 204) none repeat scroll 0% 0%; color: rgb(0, 0, 0); padding: 0px; position: absolute; z-index: 9020; max-width: 100%; box-shadow: 2px 2px 3px rgb(170, 170, 170); }
.ddmc.right { margin-left: 0px; right: 0px; }
.ddmc.bottom { top: 20px; }
.ddmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0px; position: absolute; width: 0px; font-size: 0px; line-height: 0; }
.ddmc.bottom .tip { border-bottom: 4px solid rgb(204, 204, 204); top: -4px; }
.ddmc.right .tip { right: 3px; }
.ddmc .dropdown-content { display: block; }
.dropdown-content { display: none; border-collapse: collapse; }
.dropdown-item { font: 12px Arial,sans-serif; cursor: pointer; padding: 3px 7px; vertical-align: middle; }
.dropdown-content > table { border-collapse: collapse; border-spacing: 0px; }
.dropdown-content > table > tbody > tr > td { padding: 0px; }
.collapsed > .ddmc { visibility: hidden; opacity: 0; transition: opacity 150ms linear 0s, visibility 150ms linear 0s; }
.expanded > .ddmc { opacity: 1; transition: opacity 150ms linear 0s; }
.feedback_container { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; z-index: 9020; background-color: white; }
.feedback_page { font-family: "Arial"; font-size: 13px; margin: 16px; }
.feedback_title { font-weight: bold; color: rgb(0, 0, 0); }
.feedback_page a { font-weight: normal; color: rgb(51, 102, 204); }
.feedback_description { color: rgb(102, 102, 102); line-height: 16px; margin: 12px 0px; }
.feedback_closing { color: rgb(3, 103, 255); line-height: 16px; margin: 12px 0px; }
.feedback_logo { position: absolute; right: 0px; bottom: 0px; margin: 0px 12px 9px 0px; }
.feedback_logo img { height: 15px; }
.survey_description { color: rgb(102, 102, 102); line-height: 17px; margin: 12px 0px 10px; }
.survey { color: rgb(102, 102, 102); line-height: 20px; }
.survey_option input { margin: 0px; vertical-align: middle; }
.survey_option_text { margin: 0px 0px 0px 5px; line-height: 17px; vertical-align: bottom; }
.survey_option:hover { background-color: lightblue; cursor: default; }
