/* ::::: https://docs.python.org/2.4/lib/lib.css ::::: */

body { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
a:link:active { color: rgb(255, 0, 0); }
a:link:hover { background-color: rgb(187, 238, 255); }
a:visited:hover { background-color: rgb(187, 238, 255); }
a:visited { color: rgb(85, 26, 139); }
a:link { color: rgb(0, 0, 187); }
h1, h2, h3, h4, h5, h6 { font-family: avantgarde,sans-serif; font-weight: bold; }
h2 { font-size: 150%; }
.sectref { font-family: avantgarde,sans-serif; }
.navlabel { font-size: 85%; }
h1 > br, h2 > br, h3 > br, h4 > br, h5 > br, h6 > br { display: none; }
code, tt { font-family: "lucida typewriter",lucidatypewriter,monospace; }
var { font-family: times,serif; font-style: italic; font-weight: normal; }
.navigation td { background-color: rgb(153, 204, 255); font-weight: bold; font-family: avantgarde,sans-serif; font-size: 110%; }
address { font-size: 80%; }
.release-info { font-style: italic; font-size: 80%; }
.verbatim pre { color: rgb(0, 0, 139); font-family: "lucida typewriter",lucidatypewriter,monospace; font-size: 90%; }
.verbatim { margin-left: 2em; }
.mailheader { font-family: avantgarde,sans-serif; }
.du-xxx::before { content: "** "; font-weight: bold; }
.du-xxx::after { content: " **"; font-weight: bold; }
