/* ::::: http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali ::::: */

@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
	src: local("PT Serif"), local("PTSerif-Regular"), url('5hx15ruppermeybvllqewbtbgvql8ndjpwnre27mub0.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
	src: local("PT Serif"), local("PTSerif-Regular"), url('fu0hafliphglzhzpy6m7dbtbgvql8ndjpwnre27mub0.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
	src: local("PT Serif"), local("PTSerif-Regular"), url('cprt--gvmetga6yeaogitxtbgvql8ndjpwnre27mub0.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
	src: local("PT Serif"), local("PTSerif-Regular"), url('i-otojza3teyh6d9oli3ifeszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 700;
	src: local("PT Serif Bold"), local("PTSerif-Bold"), url('qabk9ixt-lftj_dqzv7xpdtoq_mqjvwkksun0wkzc2i.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 700;
	src: local("PT Serif Bold"), local("PTSerif-Bold"), url('qabk9ixt-lftj_dqzv7xpduj_cnvwiuubmvgbx098mw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 700;
	src: local("PT Serif Bold"), local("PTSerif-Bold"), url('qabk9ixt-lftj_dqzv7xpcye0-aqj3nfinttidxdju4.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 700;
	src: local("PT Serif Bold"), local("PTSerif-Bold"), url('qabk9ixt-lftj_dqzv7xpi4p5icox8kq3llunmylgo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 400;
	src: local("PT Serif Italic"), local("PTSerif-Italic"), url('o_whd9hodl16n4klhlx7xseavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 400;
	src: local("PT Serif Italic"), local("PTSerif-Italic"), url('3nwg9vzlwlxpq3fnkwvrmceavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 400;
	src: local("PT Serif Italic"), local("PTSerif-Italic"), url('b31s45a_tngabapzhtge6ceavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 400;
	src: local("PT Serif Italic"), local("PTSerif-Italic"), url('03apdn7fff3h6ngcgalqzpk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 700;
	src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url('foydq9xjp--nfyix2tbz9ede9inzm0r8zmjutfosxrw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 700;
	src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url('foydq9xjp--nfyix2tbz9bphcms0zze4miyvdkg2oem.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 700;
	src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url('foydq9xjp--nfyix2tbz9rhjtncurjaam2s9z52xc3y.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 700;
	src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url('foydq9xjp--nfyix2tbz9ywimmz7xld792ulpge4w_y.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600 ::::: */

@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 100;
	src: local("Raleway Thin"), local("Raleway-Thin"), url('rr0ijb5_2najsaoz6vecxrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 100;
	src: local("Raleway Thin"), local("Raleway-Thin"), url('rjmlaofxxqezzomsutegwftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 200;
	src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url('cbabzejxtdn5kkms-ga0tseavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 200;
	src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url('8khzd3vqbtxtaznvkjw-k_k_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local("Raleway"), local("Raleway-Regular"), url('yqiaad56cjx1aoomtsghgfy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local("Raleway"), local("Raleway-Regular"), url('0dtepzklwcef7z0kojax1a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	src: local("Raleway Medium"), local("Raleway-Medium"), url('li18tefobx_ygdzkdoi_cieavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	src: local("Raleway Medium"), local("Raleway-Medium"), url('ccki4k9un7tzvwzrvt-t8_k_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url('stboo2wad2lpx45sxyjqbseavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url('xkvono9fc8o2rdydkj12b_k_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local("Raleway Bold"), local("Raleway-Bold"), url('wmvkxvcouffp_qmcpfuyzseavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local("Raleway Bold"), local("Raleway-Bold"), url('jbtmzqlaybbbcl9x6evai_k_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url('qopu455rxv2raysifxambseavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url('1imrnpx4870-d9a1ebudppk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 900;
	src: local("Raleway Black"), local("Raleway-Black"), url('ji5epxncphu3r63lhs0ctieavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 900;
	src: local("Raleway Black"), local("Raleway-Black"), url('pkcrbvvrfd5n7btjtgifzpk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: http://www.tutorialdost.com/css/bootstrap.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
hr { box-sizing: content-box; height: 0px; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
pre { white-space: pre-wrap; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
*, *::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: white; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 20px; margin-bottom: 20px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
p { margin: 0px 0px 10px; }
.text-right { text-align: right; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h5, .h5 { font-size: 14px; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0px; }
blockquote small::before { content: "— "; }
blockquote.pull-right small::before, blockquote.pull-right .small::before { content: ""; }
blockquote.pull-right small::after, blockquote.pull-right .small::after { content: " —"; }
blockquote::before, blockquote::after { content: ""; }
code, kbd, pre, samp { font-family: Monaco,Menlo,Consolas,"Courier New",monospace; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 16px; line-height: 1.42857; word-break: break-all; word-wrap: break-word; color: rgb(51, 51, 51); background-color: whitesmoke; border: 1px solid rgb(204, 204, 204); border-radius: 15px; font-family: sans-serif; }
.container { margin-right: auto; margin-left: auto; padding-left: 20px; padding-right: 20px; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
.row { margin-left: -20px; margin-right: -20px; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-md-08, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-md-04, .col-md-004, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 { position: relative; min-height: 1px; padding-left: 20px; padding-right: 20px; }
.col-md-08 { position: relative; min-height: 1px; padding-left: 20px; padding-right: 20px; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); }
.form-horizontal .form-group::before, .form-horizontal .form-group::after { content: " "; display: table; }
.form-horizontal .form-group::after { clear: both; }
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; }
.fa-2x { font-size: 2em; }
.pull-right { float: right; }
.pull-left { float: left; }
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-rotate-right::before, .fa-repeat::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-square::before { content: ""; }
.fa-bars::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-unsorted::before, .fa-sort::before { content: ""; }
.fa-sort-down::before, .fa-sort-asc::before { content: ""; }
.fa-sort-up::before, .fa-sort-desc::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-legal::before, .fa-gavel::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-flash::before, .fa-bolt::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-paste::before, .fa-clipboard::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-reply-all::before { content: ""; }
.fa-mail-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-unlink::before, .fa-chain-broken::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-toggle-down::before, .fa-caret-square-o-down::before { content: ""; }
.fa-toggle-up::before, .fa-caret-square-o-up::before { content: ""; }
.fa-toggle-right::before, .fa-caret-square-o-right::before { content: ""; }
.fa-euro::before, .fa-eur::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-rupee::before, .fa-inr::before { content: ""; }
.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before { content: ""; }
.fa-ruble::before, .fa-rouble::before, .fa-rub::before { content: ""; }
.fa-won::before, .fa-krw::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-toggle-left::before, .fa-caret-square-o-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-turkish-lira::before, .fa-try::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-umbrella::before { content: "C"; }
.fa-mobile-phone::before, fa-mobile-phone::before { content: "C++"; }
.fa-edit::before, .fa-pencil-square-o::before { content: "Java"; }
.fa-code::before { content: "VB.NET"; }
.fa-eye-slash::before { content: "C#.NET"; }
.fa-suitcase::before { content: "ASP.NET"; }
.social-network-icons { color: rgb(255, 85, 78); padding-right: 10px; }
a.social-network-icons:hover { color: rgb(240, 12, 0); }
.btn-toolbar::before, .btn-toolbar::after { content: " "; display: table; }
.btn-toolbar::after { clear: both; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after { content: " "; display: table; }
.btn-group-vertical > .btn-group::after { clear: both; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-bottom-left-radius: 4px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.nav::before, .nav::after { content: " "; display: table; }
.nav::after { clear: both; }
.navbar::before, .navbar::after { content: " "; display: table; }
.navbar::after { clear: both; }
.navbar-header::before, .navbar-header::after { content: " "; display: table; }
.navbar-header::after { clear: both; }
.navbar-collapse::before, .navbar-collapse::after { content: " "; display: table; }
.navbar-collapse::after { clear: both; }
.breadcrumb > li + li::before { content: "/ "; padding: 0px 5px; color: rgb(204, 204, 204); }
.pager::before, .pager::after { content: " "; display: table; }
.pager::after { clear: both; }
@media screen and (min-width: 768px) {
}
.panel-body::before, .panel-body::after { content: " "; display: table; }
.panel-body::after { clear: both; }
.modal-footer::before, .modal-footer::after { content: " "; display: table; }
.modal-footer::after { clear: both; }
@media screen and (min-width: 768px) {
}
.popover .arrow, .popover .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover .arrow::after { border-width: 10px; content: ""; }
.popover.top .arrow::after { content: " "; bottom: 1px; margin-left: -10px; border-bottom-width: 0px; border-top-color: white; }
.popover.right .arrow::after { content: " "; left: 1px; bottom: -10px; border-left-width: 0px; border-right-color: white; }
.popover.bottom .arrow::after { content: " "; top: 1px; margin-left: -10px; border-top-width: 0px; border-bottom-color: white; }
.popover.left .arrow::after { content: " "; right: 1px; border-right-width: 0px; border-left-color: white; bottom: -10px; }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
@media screen and (min-width: 768px) {
}
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.visible-xs, tr.visible-xs, th.visible-xs, td.visible-xs { display: none ! important; }
.visible-sm, tr.visible-sm, th.visible-sm, td.visible-sm { display: none ! important; }
.visible-md, tr.visible-md, th.visible-md, td.visible-md { display: none ! important; }
.visible-lg, tr.visible-lg, th.visible-lg, td.visible-lg { display: none ! important; }
/* ::::: http://www.tutorialdost.com/css/misc.css ::::: */

.owl-carousel .owl-wrapper::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont_001.eot') format("embedded-opentype"), url('fontawesome-webfont_001.woff') format("woff"), url('fontawesome-webfont_001.ttf') format("truetype"), url('fontawesome-webfont_001.svg') format("svg");
}
.slides::after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flex-direction-nav a::before { font-family: "FontAwesome"; font-size: 40px; display: inline-block; content: ""; }
.flex-direction-nav a.flex-next::before { content: ""; }
.flex-pauseplay a::before { font-family: "FontAwesome"; font-size: 20px; display: inline-block; content: ""; }
.flex-pauseplay a.flex-play::before { content: ""; }
@media screen and (max-width: 860px) {
}
/* ::::: http://www.tutorialdost.com/css/red-scheme.css ::::: */

body { background: white none repeat scroll 0% 0%; font-size: 16px; font-family: Arial,Helvetica,sans-serif; font-weight: normal; font-style: normal; line-height: 28px; color: Black; }
h1, h2, h3, h4, h5, h6 { color: rgb(49, 55, 58); font-family: "Raleway",sans-serif; font-weight: normal; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h5 { font-size: 16px; }
p { margin: 10px 5px 20px; text-align: justify; }
em, i { font-style: italic; }
a, a:visited { color: rgb(68, 68, 68); text-decoration: none ! important; outline: 0px none; }
a:hover, a:focus, a:active { color: rgb(255, 85, 78); }
*::-moz-selection { background-color: rgb(211, 221, 224); text-shadow: none; }
img::-moz-selection { background-color: transparent; }
*, *::before, *::after { box-sizing: border-box; }
:focus { outline: 0px none; }
.footer-menu, .copyright-text { text-align: center; }
.main-nav ul, .main_menu, .main_menu li ul, #filters, .pages, .project-single .meta-post, .archive-wrapper .archive-list, .categories ul, .thumbs, .footer-menu { list-style: outside none none; padding: 0px; margin: 0px; }
.features li { list-style: outside none none; text-indent: -26px; text-align: justify; }
.features li::before { font-family: FontAwesome; content: ""; font-size: 17px; padding-right: 10px; color: red; }
a, a:visited { transition: all 150ms ease-in 0s; }
.service-section, .first-widget { position: relative; margin-top: 108px; }
.site-header { position: fixed; top: 0px; left: 0px; width: 100%; background: white none repeat scroll 0% 0%; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35); z-index: 9999; padding: 35px 0px; overflow: visible; transition: padding 0.3s ease-in-out 0s; }
.site-header.site-header-shrink { padding: 17px 0px; }
.main-nav ul li { float: left; display: block; margin-left: 20px; position: relative; }
.main-nav ul li a { color: rgb(49, 55, 58); font-size: 13px; font-weight: 700; text-transform: uppercase; font-family: "Raleway",sans-serif; padding: 5px 15px; display: block; border-radius: 3px; }
.main-nav ul li a:hover { color: rgb(255, 85, 78); }
.main-nav ul li a i { margin-left: 7px; }
.main-nav ul li.active a { background-color: rgb(241, 244, 245); background-image: url('heading-background1.png'); color: white; }
.main-nav ul li ul { display: none; top: 100%; left: 0px; margin-top: 5px; position: absolute; width: 220px; background-color: white; border: 2px solid rgb(241, 244, 245); }
.main-nav ul li ul li { margin-left: 0px; width: 100%; border-bottom: 1px solid rgb(220, 228, 230); }
.main-nav ul li ul li:last-child { border-bottom: medium none; }
.main-nav ul li ul li a { background-color: transparent ! important; color: Black ! important; text-transform: capitalize; font-weight: 600; }
.main-nav ul li ul li a:hover { color: rgb(255, 85, 78) ! important; }
.main-nav ul li ul li:last-child a { border-bottom: medium none; }
a.menu-toggle-btn { float: right; margin-right: 20px; color: rgb(49, 55, 58); font-size: 14px; display: block; }
a.menu-toggle-btn i { font-size: 18px; }
.main_menu li { border-bottom: 1px solid rgb(72, 81, 86); padding: 10px 0px; }
.main_menu li:first-child { padding-top: 0px; }
.main_menu li:last-child { border-bottom: medium none; padding-bottom: 0px; }
.main_menu li a { font-size: 14px; font-family: "Raleway",sans-serif; color: rgb(191, 191, 191); font-weight: 500; }
.main_menu li ul li { margin-left: 20px; }
.main_menu li ul li:first-child { border-top: 1px solid rgb(72, 81, 86); padding-top: 8px; margin-top: 10px; }
.main_menu li ul li::before { content: "-"; color: gray; margin-right: 10px; }
.responsive_menu { padding: 20px; background-color: rgba(49, 55, 58, 0.98); display: none; position: relative; z-index: 9999; }
.large-button { padding: 15px 20px; font-size: 12px; font-family: "Raleway",sans-serif; text-transform: uppercase; font-weight: 800; border-radius: 2px; }
a.large-button.white-color { color: rgb(49, 55, 58); background-color: white; }
#blog { background-image: url('blog.jpg'); }
.parallax { background-attachment: fixed; background-repeat: no-repeat; background-position: center center; background-size: cover; color: rgb(255, 255, 255); overflow: hidden; }
.parallax-overlay { background-color: rgba(0, 0, 0, 0.65); }
.pageTitle { padding-top: 70px; padding-bottom: 70px; }
.page-title { color: white; margin: 5px 0px 0px; font-size: 30px; font-weight: 800; }
* { box-sizing: border-box; }
a { text-decoration: none; }
div#overlay { display: none; }
a#toggle { position: fixed; top: 10px; left: 10px; width: 40px; height: 40px; padding-bottom: 13px; border-radius: 5px; background: rgb(255, 85, 78) none repeat scroll 0% 0%; text-align: center; color: white; display: none; z-index: 9999; transition: all 0.3s ease-out 0s; }
a#toggle i { position: relative; top: 50%; transform: translateY(-50%); }
#menu { text-align: left; width: 220px; padding-left: 5px; margin-top: 30px; margin-left: -18px; transition: width 0s ease-out 0s; }
#menu a { color: black; font-weight: bold; }
#menu ul { margin: 0px; padding: 0px; }
#menu ul li { display: block; position: relative; }
#menu ul li > a { display: inline-block; padding: 3px 15px; font-family: "Open Sans",arial; font-size: 16px; }
#menu ul li a:hover { color: red; }
#menu ul li .active { color: rgb(51, 51, 51); background-color: whitesmoke; border: 1px solid rgb(204, 204, 204); border-radius: 2px; }
#menu ul li .active:hover { color: black; }
#filters li::after { content: "/"; color: rgb(195, 195, 195); margin-left: 20px; }
#filters li:last-child::after { content: ""; }
.owl-next::after { font-family: "FontAwesome"; content: ""; color: rgb(49, 55, 58); line-height: 48px; text-align: center; }
.owl-prev::after { font-family: "FontAwesome"; content: ""; color: rgb(49, 55, 58); line-height: 48px; text-align: center; }
.flex-direction-nav a::before { background-color: rgb(49, 55, 58); display: block; color: white; text-align: center; line-height: 44px; font-size: 14px; }
.testimonial-author::before, .testimonial-author::after { content: "-"; color: rgb(195, 195, 195); margin: 0px 10px; }
.meta-date::after, .meta-comments::after { content: "/"; margin-left: 10px; }
#blog-comments .media-heading a span::after { content: "/"; color: rgb(170, 170, 170); font-size: 13px; margin: 0px 10px; }
#blog-comments .media-heading a span:last-of-type::after { content: ""; }
.archive-wrapper { margin-bottom: 100px; }
.archive-wrapper .archive-title-h2 { font-size: 21px; font-weight: 700; margin: 0px 0px 10px 25px; }
.archive-wrapper .archive-title-h3 { font-size: 18px; font-weight: 700; margin: 0px 0px 10px; }
.heading-background { width: 100%; border-radius: 5px; padding: 6px 0px 10px; height: 35px; background-image: url('heading-background1.png'); }
.heading-background h2 { color: white; }
.archive-wrapper .archive-list { margin-top: 20px; }
.archive-wrapper .archive-list li { line-height: 28px; }
.archive-wrapper .archive-list li::before { content: "-"; color: rgb(170, 170, 170); margin-right: 10px; }
.sidebar { margin-bottom: 100px; }
.sidebar-widget { margin-bottom: 20px; margin-top: 20px; text-align: center; }
.widget-title { font-size: 20px; font-weight: 800; margin: 0px 0px 30px; }
.widget-title1 { font-size: 20px; font-weight: 800; width: 150px; margin: 10px 0px 10px 17px; }
.categories ul li::before { content: "-"; color: rgb(170, 170, 170); margin-right: 10px; }
.site-footer { background-color: rgb(241, 244, 245); padding: 30px 0px; color: rgb(170, 170, 170); font-family: "Raleway",sans-serif; }
.copyright-text { margin-top: 30px; font-weight: 700; text-transform: uppercase; font-size: 13px; }
.CssTable tr:nth-child(2n+1) { background-color: rgb(229, 229, 229); }
.CssTable tr:nth-child(2n) { background-color: rgb(255, 255, 255); }
.BannerAd { width: 100%; height: 150px; text-align: center; padding: 10px 0px 0px; margin-top: -18px; }
.FooterAd { height: 400px; text-align: center; }
.Advt { text-align: center; border-bottom: 1px solid rgb(238, 238, 238); border-top: 1px solid rgb(238, 238, 238); margin-top: 10px; }
