#privacy_d5001dfb39_0, #privacy_d5001dfb39_0 a, #privacy_d5001dfb39_0 img { text-decoration: none; margin: 0px; padding: 0px; border: medium none; cursor: pointer; }
#privacy_d5001dfb39_0 { position: absolute; z-index: 100; top: 0px; bottom: auto; vertical-align: top; right: 0px; left: auto; }
#privacy_d5001dfb39_0 .privacy_out { width: 19px; height: 15px; z-index: 150; }
#privacy_d5001dfb39_0 .privacy_hover { width: 77px; height: 15px; z-index: 100; }
