tr.s1 { background-color: rgb(238, 238, 238); }
/* ::::: http://dict.tu-chemnitz.de/main.css ::::: */

body { font-family: Arial,Helvetica,SunSans-Regular,sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); margin: 0px; padding: 0px; }
a { text-decoration: none; }
a:link { color: rgb(63, 150, 135); }
a:visited { color: rgb(0, 68, 136); }
a:active { color: rgb(0, 255, 0); }
textarea { font-family: sans-serif; }
input.text, input.calc, textarea, input.mini { border: 1px solid rgb(88, 158, 146); }
div.logo { position: absolute; width: 119px; height: 125px; padding-left: 5px; padding-top: 3px; left: 0px; top: 2px; z-index: 10; margin: 0px; }
td#header { background-color: rgb(198, 224, 159); vertical-align: middle; }
td#header div { width: 530px; color: rgb(88, 158, 147); text-align: center; font-size: 70%; letter-spacing: 1px; }
td#header a, td#footer a { color: rgb(88, 158, 147); text-decoration: none; }
td#headerlogo div { width: 246px; height: 51px; background: transparent url('header.gif') no-repeat scroll right top; }
td#footer { padding-top: 1em; color: rgb(88, 158, 147); text-align: right; font-size: 70%; letter-spacing: 1px; }
div.headermenu { height: 18px; margin-top: 0px; }
ul.headermenu { margin: 0px 0px 0px auto; padding: 0px; }
ul.headermenu li { list-style: outside none none; display: inline; }
ul.headermenu a, ul.headermenu span { float: right; height: 16px; text-decoration: none; text-align: left; letter-spacing: 1px; font-size: 70%; border-width: 0px 0px 0px 2px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); background-color: rgb(141, 189, 153); z-index: 1; padding: 2px 6px; }
ul.headermenu a:hover, ul.headermenu span, ul.headermenu select:hover { z-index: 10; color: rgb(255, 255, 255); background-color: rgb(82, 152, 104); }
ul.headermenu select { float: right; height: 18px; text-decoration: none; text-align: left; letter-spacing: 1px; font-size: 70%; border-width: 0px 0px 0px 2px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); background-color: rgb(141, 189, 153); z-index: 1; }
a.headermenu, select.headermenu { border: 0px none; color: rgb(255, 255, 255); background-color: rgb(141, 189, 153); text-decoration: none; }
a.headermenu:hover, select.headermenu:hover, select.headermenu option { background-color: rgb(82, 152, 104); }
option[value="de"]::before { content: url('de.png'); }
option[value="en"]::before { content: url('en.png'); }
option[value="es"]::before { content: url('es.png'); }
div.googleother { margin-top: 60px; height: 240px; background-color: rgb(218, 234, 194); }
div.google2other { margin-top: 10px; width: 120px; height: 90px; background-color: rgb(218, 234, 194); }
td.space div { width: 12px; }
td.o, td.o div { background-color: rgb(88, 158, 146); height: 24px; color: rgb(255, 255, 255); font-size: 100%; vertical-align: middle; }
td.o a { color: rgb(255, 255, 255); display: block; }
div.loother { width: 16px; background: transparent url('cc_lo.gif') no-repeat scroll left top; }
div.roother { width: 16px; background: transparent url('cc_ro.gif') no-repeat scroll right top; }
div.arostart, div.aroother { width: 16px; background: transparent url('cca_ro.gif') no-repeat scroll right top; }
.contentother { background-color: rgb(255, 255, 255); text-align: center; }
a.contentmenu, select.in, select.s { text-decoration: none; letter-spacing: 1px; font-size: 70%; border: 0px none; color: rgb(255, 255, 255); background-color: rgb(88, 158, 146); margin: 0px; }
a.contentmenu { width: 90px; float: left; height: 16px; padding: 2px 4px; }
select.in { width: 90px; padding: 0px; }
select.s { width: 180px; padding: 0px; }
span.contentmenu { float: left; width: 90px; height: 16px; text-decoration: none; letter-spacing: 1px; font-size: 70%; border: 0px none; color: rgb(88, 158, 146); margin: 0px; padding: 2px 4px; }
div.wordother { color: rgb(88, 158, 146); font-size: 110%; letter-spacing: 1px; background-color: rgb(255, 255, 255); position: relative; background-image: url('katusche6.gif'); background-repeat: no-repeat; background-position: 110px 0px; height: 80px; width: 500px; margin-top: 10px; margin-bottom: 0px; }
div#sugg { border-left: 2px solid rgb(88, 158, 146); border-right: 2px solid rgb(88, 158, 146); border-bottom: 2px solid rgb(88, 158, 146); position: absolute; top: -37px; left: 124px; width: 260px; background-color: rgb(255, 255, 255); font-size: 90%; }
input#query { border-width: 0px 0px 1px; border-style: none none dotted; border-color: -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; top: 10px; left: 135px; width: 245px; outline: medium none; font-size: 120%; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
input.wordother { border: 0px none; position: absolute; background-color: rgb(88, 158, 146); top: 55px; background-image: url('button2.gif'); height: 21px; width: 88px; color: rgb(255, 255, 255); font-size: 80%; font-weight: 700; letter-spacing: 1px; padding-bottom: 1px; }
input#search { left: 240px; }
input#delete { left: 370px; }
a.uml { padding-left: 0.3em; padding-right: 0.3em; }
a.uml:hover { background-color: rgb(88, 158, 146); color: rgb(255, 255, 255); }
input.umlautstart:hover, input.umlautother:hover, input.wordstart:hover, input.wordother:hover, input.action:hover { background-color: rgb(0, 85, 85); }
div.result { min-height: 5em; }
div#dresult1 { background-color: rgb(255, 255, 255); border-top: 1px solid rgb(218, 234, 194); z-index: 1; }
div.result table { width: 100%; font-size: 90%; }
div.result th { width: 50%; text-align: left; padding-left: 10px; font-size: 120%; font-weight: 700; background-color: rgb(218, 234, 194); letter-spacing: 0.04em; }
table#result tr { border-left: 2px solid rgb(255, 255, 255); border-right: 2px solid rgb(255, 255, 255); }
table#result td { vertical-align: top; }
tr.s1:hover, tr.s2:hover, tr.s1hover, tr.s2hover, tr.chover { background-color: rgb(221, 221, 221); }
td.r { padding-left: 1em; }
td.f { padding-left: 2em; }
td.b { font-weight: 700; }
div.comment { color: rgb(255, 255, 255); font-size: 90%; margin: 1px; }
textarea.comment, input.comment { border: 0px none; font-size: 90%; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin: 1px; }
textarea.comment { width: 100%; overflow: auto; }
input.send, input.new { border: 0px none; height: 16px; color: rgb(88, 158, 146); font-size: 80%; text-align: center; padding-bottom: 1px; background-color: rgb(218, 234, 194); float: left; margin: 2px; }
input.send { width: 65px; background-image: url('button5.gif'); }
input.new { width: 130px; background-image: url('button_w.gif'); }
td.u { background-color: rgb(88, 158, 146); height: 24px; text-align: center; }
div.luother { width: 16px; height: 24px; background: transparent url('cc_lu.gif') no-repeat scroll left bottom; }
div.ruother { width: 16px; height: 24px; background: transparent url('cc_ru.gif') no-repeat scroll right bottom; }
a.copyrightother { font-size: 80%; letter-spacing: 1px; margin-top: 10px; text-decoration: none; color: rgb(46, 134, 119); }
td.ads { vertical-align: top; width: 140px; }
div.adsother { margin-top: 4em; width: 130px; height: 400px; color: rgb(88, 158, 146); font-size: 13px; letter-spacing: 1px; background-color: rgb(218, 234, 194); padding-left: 2px; }
div.adsother img, div.adsother embed, div.adsother object { margin: 0px 0px 0.5em; }
div.ads a, a.ads { text-decoration: none; font-size: 12px; color: rgb(9, 0, 139); }
a.adstitle { font-size: 11px; color: rgb(0, 0, 0); display: block; }
div.ads { margin-bottom: 1em; }
body#other, a.h, th.head, div#sugg a:hover, div#sugg .over, tr.hi, a.pos_ns:hover { background-color: rgb(218, 234, 194); }
a:hover, td#header a:hover, td#footer a:hover { color: rgb(0, 85, 85); }
input.text, input.calc, textarea, select, span#wm a:hover { background-color: rgb(218, 234, 194); color: rgb(0, 0, 0); }
div.logo img, div.result img, div.content img, a.ads img, td.ad img, div#inline_more iframe { border: 0px none; }
td.headermenuleft, td.headermenu { background-color: rgb(141, 189, 153); }
ul.headermenu a:visited, td.o a:visited, a.contentmenu:visited { color: rgb(255, 255, 255); }
table.content, table.contentmenu { margin-top: 10px; }
td.oaother, td.oaother div, td.oastart, td.oastart div { background-color: rgb(0, 85, 85); color: rgb(255, 255, 255); font-size: 100%; font-weight: 700; height: 24px; letter-spacing: 1px; vertical-align: middle; }
td.o a:hover, a.contentmenu:hover, select.in:hover, select.s:hover, select.m:hover, select.s option, select.in option, input.titlebuttonS:hover, input.send:hover, input.new:hover { background-color: rgb(0, 85, 85); color: rgb(255, 255, 255); }
td.contentspace, tr.s2 { background-color: rgb(255, 255, 255); }
a.uml:visited, div.result a:hover, a#help:hover, div.mini a:hover { color: rgb(88, 158, 146); }
div.result a, a#help, div.mini a { color: rgb(0, 0, 0); }
td.tip a, a.copyrightstart:visited, a.copyrightother:visited, a.mini { color: rgb(46, 134, 119); }
