.al { font-family: arial,sans-serif; line-height: 1; font-size: 13px; white-space: nowrap; }
.al .alt, .al a { color: rgb(0, 0, 255); font-weight: normal; text-decoration: underline; white-space: nowrap; }
.al a:hover { color: rgb(255, 0, 0); text-decoration: underline; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; position: relative; left: 0px; text-rendering: geometricprecision; top: 0px; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
