/* ::::: http://community.atmel.com/sites/default/files/css/css_pbm0lsQQJ7A7WCCIMgxLho6mI_kBNgznNUWmTWcnfoE.css ::::: */

.container-inline div, .container-inline label { display: inline; }
.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static ! important; clip: auto; overflow: visible; height: auto; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
ul.menu { border: medium none; list-style: outside none none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.leaf { list-style-image: url('menu-leaf.png'); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li a.active { color: rgb(0, 0, 0); }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
.item-list ul { margin: 0px 0px 0.75em; padding: 0px; }
.item-list ul li { margin: 0px 0px 0.25em 1.5em; padding: 0px; }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
label { display: block; font-weight: bold; }
.container-inline .form-actions, .container-inline.form-actions { margin-top: 0px; margin-bottom: 0px; }
/* ::::: http://community.atmel.com/sites/default/files/css/css_g-qSaKSWUGFZE4v41ZakDLsoWUvbVDhhKffxc8tJ3uk.css ::::: */

.field .field-label { font-weight: bold; }
/* ::::: http://community.atmel.com/sites/default/files/css/css_IulGdzjGKALm0g4oJ9Vh6irR5v9v32hEp-SupTwYC2k.css ::::: */

.rate-widget-fivestar ul { list-style: outside none none; overflow: hidden; }
.rate-widget-fivestar .item-list ul li { background-image: none; padding: 0px; margin: 0px; }
.rate-widget-fivestar ul li { float: left; list-style: outside none none; }
.rate-fivestar-btn-empty { display: inline-block; background: transparent url('fivestar.png') no-repeat scroll 0px -32px; width: 16px; height: 16px; text-indent: -9999px; }
.rate-info, .rate-description { clear: left; font-size: 0.8em; color: rgb(102, 102, 102); }
/* ::::: http://community.atmel.com/sites/default/files/css/css_zfSUIO-bntnzdWiInxP6Z-6_mi1ptcF35QgYBPBt3gA.css ::::: */

.container { margin: 0px auto; }
.content-inner { min-height: 1px; }
#content-column, .content-column { width: 100%; }
.clearfix::after { content: ""; display: table; clear: both; }
.clearfix {  }
.one-column .region, div.at-panel .region-conditional-stack { float: none; display: block; clear: both; width: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; line-height: 1.7; overflow-y: scroll; }
body { color: rgb(0, 0, 0); font-size: 12px; font-weight: 400; font-family: Verdana,Arial,Helvetica,sans-serif; min-height: 100%; min-width: 18em; margin: 0px; padding: 0px; }
button, input, select, textarea { font-family: sans-serif; }
.no-touch a:focus { outline: thin dotted; }
.no-touch a:hover, .no-touch a:active { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h2 { font-size: 1.5em; margin: 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
form { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
p { margin: 0px 0px 1.5em; }
pre { margin: 1em 0px; }
pre, code, kbd, samp { font-family: monospace,serif; font-size: 1em; }
pre { white-space: pre-wrap; word-wrap: break-word; }
q::before, q::after { content: none; }
dl, menu, ol, ul { margin: 1em 0px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
nav ul, nav ol { list-style: outside none none; }
img {  }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
input[type="search"] { box-sizing: content-box; }
img { height: auto; }
img, embed, object, video { max-width: 100%; }
header[role="banner"], .content-inner, .nav, .region-sidebar-first, .region-sidebar-second, .region-secondary-content, .region-tertiary-content, .region-footer { overflow: visible; word-wrap: break-word; }
.element-invisible { border: 0px none; clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.element-invisible.element-focusable:active, .no-touch .element-invisible.element-focusable:focus { clip: auto; height: auto; overflow: visible; position: static; width: auto; }
html { height: 100%; background: rgb(245, 245, 245) none repeat scroll 0% 0%; font-size: 87.5%; }
body { box-sizing: border-box; min-height: 100%; position: relative; padding-bottom: 75px; }
#footer-second { position: absolute; height: 75px; top: 100%; margin-top: -76px; }
#page p { margin: 0px 0px 7px; }
#page { margin-top: 0px; }
#menu-bar.nav ul.menu li a { border-left: 1px solid rgb(36, 122, 172); box-shadow: -1px 0px 0px rgb(34, 69, 103); }
#menu-bar.nav { border-right: 1px solid rgb(34, 69, 103); box-shadow: 1px 0px 0px rgb(36, 122, 172); }
.commons-pod, .page-user .pane-views-panes, .page-events .view-commons-events-upcoming .view-content, .pane-commons-bw-group, .view-display-id-commons_events_upcoming_page .views-row, .view-commons-groups-directory > .view-content > .views-row, .view-commons-homepage-content .node-teaser.node-group > .view-content > .views-row, body.front.logged-in .view-commons-homepage-content > .view-content, body.front.logged-in #views-exposed-form-commons-homepage-content-panel-pane-1 .views-exposed-widgets.widgets-active, .page-events .region-three-25-50-25-third .pane-views-panes, .pane-search-result .block-content .search-results, .page-search-user .user-results, .community-homepage .region-three-25-50-25-second .region-inner, .community-homepage .region-two-33-66-second .region-inner, .community-homepage .region-two-66-33-first .region-inner, .page-search #block-system-main { background-color: white; border-radius: 2px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); margin: 10px 0px; }
.commons-pod, .page-user .pane-views-panes .block-inner, .front.not-logged-in .pane-views-panes > div, .front.not-logged-in .pane-views > div, .front.not-logged-in body.page-node .pane-views-panes > div, .page-events .view-commons-events-upcoming .view-content, .pane-commons-bw-group > .block-inner, .view-display-id-commons_events_upcoming_page .views-row article, .view-commons-groups-directory > .view-content > .views-row > .node-teaser, .view-commons-groups-directory > .view-content > .views-row form, .view-commons-homepage-content .node-teaser.node-group > .view-content > .views-row > .node-teaser, .view-commons-homepage-content .node-teaser.node-group > .view-content > .views-row form, body.front.logged-in #views-exposed-form-commons-homepage-content-panel-pane-1 .views-exposed-widgets.widgets-active, .page-events .region-three-25-50-25-third .pane-views-panes .block-inner, .pane-search-result .block-content .search-results, .page-search-user .user-results { padding: 10px; }
h1 { font-size: 30px; line-height: 30px; font-weight: normal; color: white; }
h1 a { color: white; }
.no-touch h1 a :hover { text-decoration: none; }
pre, code, tt, samp, kbd, var { font-family: Consolas,Monaco,"Courier New",Courier,monospace,sans-serif; }
#header { position: relative; box-sizing: border-box; color: white; text-align: left; white-space: nowrap; width: 100%; padding: 0px 10px; }
#header a { color: white; }
.header-color-row-one { border-top: 1.5em solid black; background-color: rgb(51, 102, 153); box-shadow: 0px -1px 0px rgb(51, 102, 153); }
.header-color-row-two { position: relative; background-color: rgb(39, 131, 185); min-height: 2.5em; border-top: 1px solid rgb(61, 157, 214); border-bottom: 1px solid rgb(30, 101, 143); z-index: 2; }
#columns { margin-right: 10px; margin-left: 10px; }
.footer-wrapper { border-top: 1px solid rgb(222, 222, 222); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; width: 100%; }
.footer-wrapper .region-footer-second { margin: 0px auto; width: 100%; max-width: 1224px; padding: 27px 10px 0px; color: rgb(114, 115, 115); font-size: 11px; height: 47px; box-sizing: border-box; }
.region-footer-second .region-inner { width: 50%; margin: 0px auto; }
.footer-wrapper .block-block { float: right; }
.footer-wrapper .block, .footer-wrapper p { margin: 0px; }
.footer-wrapper ul { margin: 0px; padding: 0px; }
.footer-wrapper .block-menu ul { margin: 0px; padding: 0px; text-align: left; }
.footer-wrapper .block-menu li { list-style-type: none; list-style-image: none; margin: 0px 5% 0px 0px; display: inline-block; }
.footer-wrapper .block-menu li a { color: rgb(114, 115, 115); }
#branding { float: left; }
#branding.branding-mobile #logo { margin-top: 0px; }
#branding.branding-mobile #logo a.avr-menu-toggle { float: left; margin-right: 25px; }
#branding.branding-mobile #logo a img.nav-mobile { margin-top: 5px; }
#branding.branding-mobile { width: auto; }
#logo { margin: 0px; }
#logo img.site-logo-mobile { width: 150px; }
#logo img.nav-mobile { width: auto; }
#name-and-slogan { display: block; box-sizing: border-box; width: 100%; vertical-align: top; min-height: 4em; padding-right: 36.5em; }
#site-name { margin: 0.3em 0px 0px; font-family: "Trebuchet MS"; font-weight: 700; }
.no-touch #site-name a:link, .no-touch #site-name a:visited { text-decoration: none; }
.no-touch #site-name a:hover, .no-touch #site-name a:focus { text-decoration: none; }
#site-name, #site-slogan { display: block; overflow: hidden; padding-right: 10px; line-height: 1.2em; white-space: normal; }
.region-header .region-inner .block-avrfreaks-rewrites { float: left; margin: 0px; line-height: normal; }
.region-header .user-profile-links li, .region-header .authentication-links li { list-style-type: none; display: inline-block; font-size: 10px; }
.region-header .authentication-links { text-transform: uppercase; margin: 0px 0px 9px; }
.region-header .authentication-links li { padding: 0px 12px; border-right: 1px solid rgb(255, 255, 255); line-height: 1; margin-top: 11px; }
.region-header .user-profile-links li.last, .region-header .authentication-links li.last { border: medium none; }
#page-title, .search-results-title, .node-type-blog .pane-node-title h2, .node-type-wiki .pane-node-title h2, .fallback-page .pane-node-title h2, .node-type-forum .pane-node-title h2 { margin: 0px; font-size: 18px; font-weight: normal; line-height: 1.2em; }
#page-top { margin: 10px 0px 0px; }
.node .user-picture::after, .comment .user-picture::after, .privatemsg-message .user-picture::after, .node .views-field-picture::after, .comment .views-field-picture::after, .privatemsg-message .views-field-picture::after { content: ""; width: 5px; height: 8px; position: absolute; right: -5px; top: 10px; background: transparent url('user_img_arrow.png') repeat scroll 0% 0%; }
.node .user-picture img, .comment .user-picture img, .privatemsg-message .user-picture img, .node .views-field-picture img, .comment .views-field-picture img, .privatemsg-message .views-field-picture img { width: 50px; }
.fallback-page .field-label-above { clear: both; padding-top: 10px; margin-bottom: 0px; }
.fallback-page .field-label-above h2 { color: rgb(55, 70, 80); text-transform: uppercase; }
.field-name-field-attach .field-items { padding: 10px 0px; }
input:invalid, button:invalid, select:invalid, textarea:invalid, [class*=" action-item"]:invalid { box-shadow: none; }
.no-touch input:focus, .no-touch button:focus, .no-touch select:focus, .no-touch textarea:focus, .no-touch [class*=" action-item"]:focus { box-shadow: 0px 0px 5px 0px rgb(0, 102, 255); z-index: 1; }
label { margin-top: 0.5em; margin-bottom: 0.5em; }
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { box-sizing: border-box; background-clip: padding-box; border-radius: 2px; background-color: white; border: 1px solid rgb(204, 204, 204); color: black; outline: 0px none; margin: 0px; padding: 0.48em; text-align: left; vertical-align: top; line-height: 1.2em; font-family: Verdana,Arial,Helvetica,sans-serif; }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(136, 136, 136); }
textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] { width: 100%; max-width: 100%; }
optgroup::-moz-focus-inner { border: 0px none; padding: 0px; }
.select-status::after { content: ""; position: relative; top: 0.2em; display: inline-block; width: 0px; height: 0px; margin-left: 0.2em; border-width: 0.4em; border-style: solid; border-color: rgb(39, 131, 185) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.collapsible > legend .fieldset-legend a::before { display: inline-block; position: relative; margin-right: 0.2em; width: 0px; height: 0px; overflow: hidden; border-width: 0.2em; border-style: solid; border-color: rgb(51, 51, 51) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: ""; top: -0.1em; left: -0.1em; }
.collapsed > legend .fieldset-legend a::before { border-top-color: transparent; border-left-color: rgb(51, 51, 51); top: -0.2em; left: auto; }
.form-item:first-child { margin-top: 0px; }
.form-item:last-child { margin-bottom: 0px; }
button, [type="reset"], [type="submit"], [type="button"], [class*="action-item"], .pane-commons-groups-commons-groups-create-group a, .pane-commons-events-commons-events-create-event-link a, [class*="action-item-small"], .commons-sign-up, .commons-login, [class*="action-item-large"] { display: inline-block; box-sizing: border-box; margin: 0.5em 0.3em 0.5em 0px; max-width: 100%; overflow: visible; vertical-align: baseline; border-style: solid; border-width: 1px; border-radius: 2px; text-align: center; text-decoration: none; outline: 0px none; cursor: pointer; }
.no-touch button:focus, .no-touch [type="reset"]:focus, .no-touch [type="submit"]:focus, .no-touch [type="button"]:focus, .no-touch [class*="action-item"]:focus, .no-touch .pane-commons-groups-commons-groups-create-group a:focus, .no-touch .pane-commons-events-commons-events-create-event-link a:focus, .no-touch [class*="action-item-small"]:focus, .no-touch .commons-sign-up:focus, .no-touch .commons-login:focus, .no-touch [class*="action-item-large"]:focus, .no-touch button:hover, .no-touch [type="reset"]:hover, .no-touch [type="submit"]:hover, .no-touch [type="button"]:hover, .no-touch [class*="action-item"]:hover, .no-touch .pane-commons-groups-commons-groups-create-group a:hover, .no-touch .pane-commons-events-commons-events-create-event-link a:hover, .no-touch [class*="action-item-small"]:hover, .no-touch .commons-sign-up:hover, .no-touch .commons-login:hover, .no-touch [class*="action-item-large"]:hover { text-decoration: none; }
button:active, [type="reset"]:active, [type="submit"]:active, [type="button"]:active, [class*="action-item"]:active, .pane-commons-groups-commons-groups-create-group a:active, .pane-commons-events-commons-events-create-event-link a:active, [class*="action-item-small"]:active, .commons-sign-up:active, .commons-login:active, [class*="action-item-large"]:active { box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset; text-decoration: none; }
button::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, [type="button"]::-moz-focus-inner, [class*="action-item"]::-moz-focus-inner, .pane-commons-groups-commons-groups-create-group a::-moz-focus-inner, .pane-commons-events-commons-events-create-event-link a::-moz-focus-inner, [class*="action-item-small"]::-moz-focus-inner, .commons-sign-up::-moz-focus-inner, .commons-login::-moz-focus-inner, [class*="action-item-large"]::-moz-focus-inner { border: 0px none; padding: 0px; }
button, [type="reset"], [type="submit"], [type="button"], [class*="action-item"], .pane-commons-groups-commons-groups-create-group a, .pane-commons-events-commons-events-create-event-link a { padding: 0.5em 1.5em; font-size: 1em; }
button, [type="reset"], [type="submit"], [type="button"], [class*="action-item"], .commons-login, .forum-post-links .links a { background-color: rgb(242, 242, 243); border-color: rgb(203, 203, 203); }
button, [type="reset"], [type="submit"], [type="button"], [class*="action-item"], .commons-login, button:link, [type="reset"]:link, [type="submit"]:link, [type="button"]:link, [class*="action-item"]:link, .commons-login:link, button:visited, [type="reset"]:visited, [type="submit"]:visited, [type="button"]:visited, [class*="action-item"]:visited, .commons-login:visited { color: rgb(50, 50, 50); }
.no-touch button:hover, .no-touch [type="reset"]:hover, .no-touch [type="submit"]:hover, .no-touch [type="button"]:hover, .no-touch [class*="action-item"]:hover, .no-touch .commons-login:hover, .no-touch .forum-post-links .links a:hover { color: rgb(63, 63, 63); background-color: rgb(226, 227, 228); border-color: rgb(178, 178, 178); }
.no-touch button:focus, .no-touch [type="reset"]:focus, .no-touch [type="submit"]:focus, .no-touch [type="button"]:focus, .no-touch [class*="action-item"]:focus, .no-touch .commons-login:focus, button:active, [type="reset"]:active, [type="submit"]:active, [type="button"]:active, [class*="action-item"]:active, .commons-login:active { background: rgb(226, 227, 228) none repeat scroll 0% 0%; border-color: rgb(203, 203, 203); }
button, [type="reset"], [type="submit"], [type="button"], [class*="action-item"] { max-width: 100%; }
.action-item-append::before, .action-item-append::after, .action-item-small-append::before, .action-item-small-append::after, .action-item-large-append::before, .action-item-large-append::after { content: ""; display: block; position: absolute; top: 50%; border-color: transparent; border-style: solid; }
.action-item-append::before, .action-item-small-append::before, .action-item-large-append::before { left: -10px; margin-top: -5px; border-width: 5px; border-right-color: rgb(133, 133, 133); }
.action-item-append::after, .action-item-small-append::after, .action-item-large-append::after { left: -8px; margin-top: -4px; border-width: 4px; border-right-color: rgb(204, 204, 204); }
.flag-bookmarks .action-item-small-active::before { background: transparent url('bookmarked.png') no-repeat scroll 0px 0px; }
.flag-bookmarks .action-item-small::before { background: transparent url('bookmark-icon.png') no-repeat scroll 0px 0px; }
.comment-comments .action-item-small::before { content: ""; background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -1198px; width: 13px; height: 12px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.field-label-inline .field-item::after { content: ","; }
.field-label-inline .field-item:last-child::after { content: ""; }
.filter-trigger::after { content: "«"; display: block; font-size: 38px; line-height: 0.8em; padding-bottom: 0.15em; color: rgb(51, 102, 153); }
.expanded .filter-trigger::after { content: "»"; }
.quicktabs-style-commons-pills ul.quicktabs-tabs li.active a::after, ul.primary.tabs li.active a::after { position: absolute; bottom: -0.68em; left: 50%; display: block; width: 0px; height: 0px; overflow: hidden; margin-left: -0.6em; content: ""; border-width: 0.4em 0.6em; border-style: solid; border-color: rgb(153, 153, 153) transparent transparent; }
.block { margin-bottom: 20px; }
.block-title { font-size: 20px; line-height: 1.2em; margin-top: 0px; margin-bottom: 0.4em; color: rgb(102, 102, 102); }
.block-content ul, .block-content ol, #page .privatemsg-message-body ul, #page .privatemsg-message-body ol { margin: 0px; }
.block-content li { margin: 0px; padding: 0px; }
[class*="row-type-"]::before { content: ""; float: left; margin-top: 0.1em; margin-left: -20px; }
.row-type-page::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -1230px; width: 9px; height: 12px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.row-type-poll::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -758px; width: 11px; height: 11px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.row-type-post::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -1073px; width: 11px; height: 11px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.page-node .field-label { color: rgb(51, 102, 153); }
.page-node .field-name-field-topics .field-item::before { content: ""; background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -1292px; width: 8px; height: 8px; display: inline-block; margin-right: 3px; position: relative; top: -1px; }
.page-node .node nav { clear: both; margin-top: 20px; position: relative; }
.comments-title::before { content: ""; background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -46px; width: 31px; height: 24px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.comment-form::before { display: none; }
.comment-wrapper h2.comments-title::before { display: none; }
.comment-wrapper .user-picture::after { display: none; }
.form-actions { clear: both; }
.author-datetime { color: rgb(133, 133, 133); font-size: 0.88em; }
.page-user .panel-display .region-three-33-top .panels-ipe-portlet-wrapper:nth-last-child(-n+5) { display: inline-block; }
.page-user .pane-user-field-facebook-url a::before, .page-user .pane-user-field-linkedin-url a::before, .page-user .pane-user-field-twitter-url a::before { content: ""; display: inline-block; vertical-align: middle; }
.page-user .pane-user-field-facebook-url a::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -136px; width: 26px; height: 26px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.page-user .pane-user-field-linkedin-url a::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px 0px; width: 26px; height: 26px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.page-user .pane-user-field-twitter-url a::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -90px; width: 26px; height: 26px; display: inline-block; margin-right: 3px; position: relative; top: 1px; }
.region-header { float: right; margin-top: 23px; width: 410px; }
.region-header .block-search { margin: 0px; float: left; width: 100%; max-width: 275px; }
.not-logged-in .region-header { margin-top: 10px; }
.not-logged-in .region-header .block-avrfreaks-rewrites { width: 275px; text-align: center; }
.header-second > div { width: 100%; margin: 0px auto; padding: 5px 10px; box-sizing: border-box; background-color: rgb(255, 255, 255); }
a { text-decoration: none; color: rgb(0, 121, 182); }
.no-touch a:hover, .no-touch a:focus { text-decoration: underline; }
#menu-bar.nav { box-sizing: border-box; float: left; text-align: center; width: auto; }
#menu-bar.nav #block-system-main-menu.block { width: 420px; margin: 0px auto; }
.mobile-menu-bar #menu-bar.nav { float: none; text-align: left; width: 100%; }
#menu-bar.nav h3.block-title { display: none; }
#menu-bar.nav ul.menu { margin: 0px; padding: 0px; text-align: center; }
.mobile-menu-bar #menu-bar.nav ul.menu { text-align: left; }
#menu-bar.nav ul.menu li { display: inline-block; float: left; list-style: outside none none; margin: 0px; padding: 0px; }
.mobile-menu-bar #menu-bar.nav ul.menu li { display: block; float: none; }
.no-touch #menu-bar.nav ul.menu li:hover, #menu-bar.nav ul.menu li.active-trail { background: transparent url('main-nav-hover.png') repeat-x scroll left top; }
.no-touch #menu-bar.nav ul.menu li:hover .arrow::before, #menu-bar.nav ul.menu li.active-trail .arrow::before { content: ""; display: block; position: absolute; bottom: 0px; left: 0px; width: 0px; height: 0px; border-style: solid; border-width: 0px 7px 8px; border-color: transparent transparent rgb(61, 157, 214); }
.no-touch #menu-bar.nav ul.menu li:hover .arrow::after, #menu-bar.nav ul.menu li.active-trail .arrow::after { content: ""; display: block; position: absolute; bottom: 0px; left: 1px; width: 0px; height: 0px; border-style: solid; border-width: 0px 6px 6px; border-color: transparent transparent rgb(39, 131, 185); }
#menu-bar.nav ul.menu li a { z-index: 1; box-sizing: border-box; display: block; white-space: nowrap; margin-bottom: -9998em; padding: 1.9375em 0.8125em 9999em; height: 4em; text-transform: uppercase; text-shadow: 1px 1px 4px black; background-position: center 10px; background-repeat: no-repeat; position: relative; }
.no-touch #menu-bar.nav ul.menu li a:hover, .no-touch #menu-bar.nav ul.menu li a:focus { text-decoration: none; }
#menu-bar.nav .block { margin: 0px; }
ul.commons-utility-links .last a::before { content: "/ "; }
ul.menu { padding-left: 15px; }
#breadcrumb .breadcrumb-label::after { content: ":"; }
#breadcrumb ol { margin: 0px; padding: 0px; }
#breadcrumb li { list-style: outside none none; display: inline; }
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0px; padding: 0px 0.5em; position: absolute; width: 12em; z-index: 50; }
#skip-link a { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; color: rgb(230, 230, 230); display: block; line-height: 2; padding: 0px; text-align: center; text-decoration: none; }
#skip-link a:link, #skip-link a:visited { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; color: rgb(230, 230, 230); display: block; line-height: 2; padding: 0px; text-align: center; text-decoration: none; }
.no-touch #skip-link a:hover, .no-touch #skip-link a:focus, .no-touch #skip-link a:active { outline: 0px none; }
.field-label { font-size: 1em; font-weight: 700; font-family: inherit; line-height: inherit; margin-bottom: 0px; }
.field-type-taxonomy-term-reference { margin-bottom: 1.5em; }
.panel-display { min-width: 100%; margin-right: -10px; margin-left: -10px; }
.panel-display .region { box-sizing: border-box; padding-right: 10px; padding-left: 10px; }
.commons-bw-create-all-widget-types li .commons-polls-create::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -758px; width: 11px; height: 11px; display: inline-block; margin-right: 3px; content: ""; position: absolute; left: 10px; top: 13px; }
.commons-bw-create-all-widget-types li .commons-posts-create::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -1073px; width: 11px; height: 11px; display: inline-block; margin-right: 3px; content: ""; position: absolute; left: 10px; top: 13px; }
.commons-bw-create-all-widget-types li .commons-wikis-create::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -534px; width: 13px; height: 13px; display: inline-block; margin-right: 3px; content: ""; position: absolute; left: 10px; top: 13px; }
.commons-bw-create-all-widget-types li .commons-events-create::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -821px; width: 12px; height: 12px; display: inline-block; margin-right: 3px; content: ""; position: absolute; left: 10px; top: 13px; }
.commons-bw-create-all-widget-types li .commons-q-a-create::before { background: transparent url('icons-s0eb3728c55.png') no-repeat scroll 0px -694px; width: 13px; height: 13px; display: inline-block; margin-right: 3px; content: ""; position: absolute; left: 10px; top: 13px; }
.expandable-form-toggle, .expandable-form-toggle::before { width: 1.4em; height: 1.4em; text-align: center; }
.expanded-form .expandable-form-toggle::before { content: "x"; display: block; }
.compact-form .full-form::after { content: "→"; display: inline-block; margin-left: 0.2em; }
.block-search { display: block; background-color: rgb(36, 71, 107); background-image: -moz-linear-gradient(center top , rgb(36, 71, 107) 0%, rgb(43, 87, 130) 100%); border-radius: 4px; box-shadow: 1px 1px 2px black inset, 2px 3px 3px rgba(255, 255, 255, 0.09); height: 30px; margin: 0px 0px 0px 10px; position: relative; }
.block-search .container-inline label, .block-search .container-inline div { float: left; display: block; margin-top: 0px; margin-bottom: 0px; }
.block-search .container-inline .form-item-custom-search-types .select-status::after { border-top-color: white; }
.block-search .block-inner { margin-left: 0px; margin-right: 0px; }
.block-search .form-item-search-block-form { position: relative; z-index: 1; box-sizing: border-box; width: 100%; padding-right: 1.5em; padding-left: 5.8em; }
.block-search .form-text { width: 12em; max-width: 100%; color: rgb(0, 0, 0); background: transparent none repeat scroll 0% 0%; border: medium none; }
.no-touch .block-search .form-text:focus { box-shadow: none; }
.block-search .form-actions, .block-search .form-submit { box-sizing: border-box; width: 1.4em; height: 1.4em; }
.block-search .form-submit { text-indent: -9999em; }
.block-search .form-submit, .no-touch .block-search .form-submit:hover { border: medium none; }
.featured-node-tooltip::before { content: ""; display: block; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 5px 0px; border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent; position: absolute; left: -5px; top: 50%; margin-top: -5px; }
.form-item label { font-weight: 700; }
tr.info, tr.even, tr:nth-child(2n+2) { border-bottom: 0px none; background-color: whitesmoke; }
.profile-search-result:nth-child(2n) { margin-right: 0px; }
.profile-content::before { content: ""; float: left; width: 5px; height: 2.8em; }
.profile-content > :first-child { float: right; width: 100%; margin-left: -5px; }
.profile-content::after { content: "…"; float: right; position: relative; top: -1.4em; left: 100%; width: 3em; margin-left: -3em; padding-right: 5px; text-align: right; background: transparent -moz-linear-gradient(left center , rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%, rgb(255, 255, 255)) repeat scroll 0% 0%; }
.message-delete::before { content: "✕"; display: inline-block; margin-right: 0.3em; color: rgb(163, 163, 163); font-weight: bold; }
.palette-blue-blue h2 { color: rgb(2, 90, 138); }
.palette-blue-blue .header-color-row-one { background-color: rgb(25, 123, 177); border-top: 1.5em solid black; }
.boxshadow .palette-blue-blue .header-color-row-one { box-shadow: 0px -1px 0px rgb(25, 123, 177); }
.palette-blue-blue .header-color-row-two { background-color: rgb(0, 121, 182); border-top: 1px solid rgb(16, 175, 233); border-bottom: 1px solid rgb(10, 103, 137); }
.palette-blue-blue a { color: rgb(0, 121, 182); }
.palette-blue-blue .select-status::after { border-top-color: rgb(0, 121, 182); }
.no-touch .palette-blue-blue #menu-bar.nav ul.menu li:hover .arrow::before, .palette-blue-blue #menu-bar.nav ul.menu li.active-trail .arrow::before { border-color: transparent transparent rgb(144, 174, 208); }
.no-touch .palette-blue-blue #menu-bar.nav ul.menu li:hover .arrow::after, .palette-blue-blue #menu-bar.nav ul.menu li.active-trail .arrow::after { border-color: transparent transparent rgb(144, 174, 208); }
.palette-blue-blue li.sharethis .sharethis-wrapper::before { border-color: rgb(0, 121, 182) transparent transparent; }
.palette-blue-blue #menu-bar.nav ul.menu li a, #menu-bar.nav ul.menu li .palette-blue-blue a { border-left: 1px solid rgb(29, 142, 204); box-shadow: -1px 0px 0px rgb(17, 83, 119); }
.palette-blue-blue #menu-bar.nav { width: 33%; position: absolute; border: medium none; margin: 0px 24%; height: 100%; box-shadow: none; }
.header-wrapper { background: rgb(70, 120, 177) none repeat scroll 0% 0%; overflow: hidden; height: 111px; }
.header-wrapper .site-logo { margin-top: 10px; }
body .header-wrapper { background: rgb(70, 120, 177) none repeat scroll 0% 0%; }
.boxshadow .palette-blue-blue .header-color-row-one { background: transparent none repeat scroll 0% 0%; box-shadow: none; border: medium none; height: 106px; }
.boxshadow .palette-blue-blue .header-color-row-two { display: none; }
.palette-blue-blue .mobile-menu-bar #menu-bar.nav { height: auto; width: 100%; margin: 0px; position: relative; }
.palette-blue-blue #menu-bar.nav ul.menu li { height: auto; margin-top: 35px; }
.palette-blue-blue #menu-bar.nav #block-menu-menu-main-menu-mobile ul.menu li { height: auto; margin-top: 0px; margin-right: 0px; }
.touch .palette-blue-blue #menu-bar.nav ul.menu li:hover, .palette-blue-blue .mobile-menu-bar #menu-bar.nav ul.menu li:hover, .no-touch .palette-blue-blue .mobile-menu-bar #menu-bar.nav ul.menu li:hover { background: transparent none repeat scroll 0% 0%; border: medium none; }
.palette-blue-blue #menu-bar.nav ul.menu li.active-trail, .no-touch .palette-blue-blue #menu-bar.nav ul.menu li:hover { background: rgb(144, 174, 208) none repeat scroll 0% 0%; border-radius: 17px; }
.palette-blue-blue #menu-bar.nav ul.menu li a { border: medium none; box-shadow: none; height: 38px; line-height: 38px; font-size: 14px; text-shadow: none; padding: 0px; margin-top: 0px; margin-bottom: 0px; }
.palette-blue-blue .mobile-menu-bar #menu-bar.nav ul.menu li a.thin { border-bottom: 1px solid rgb(208, 220, 225); }
.palette-blue-blue .mobile-menu-bar #menu-bar.nav ul.menu li a.thick { border-bottom: 2px solid rgb(208, 220, 225); }
.palette-blue-blue .block-search { background: transparent none repeat scroll 0% 0%; box-shadow: none; max-width: 100%; }
.palette-blue-blue .block-search form { background: transparent none repeat scroll 0% 0%; }
.palette-blue-blue .block-search .form-item-search-block-form { margin: 0px 5px 0px 0px; height: 30px; width: 265px; padding: 0px; display: inline-block; float: left; }
.palette-blue-blue .block-search .form-text { width: 100%; font-size: 12px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: white; height: 30px; padding: 0px 5px; }
.palette-blue-blue .block-search .form-type-select { width: 100px; float: left; display: inline-block; }
.palette-blue-blue .block-search .form-type-select .form-select { width: 100px; height: 30px; border-radius: 5px 0px 0px 5px; border: 1px solid rgb(255, 255, 255); }
.palette-blue-blue .block-search .container-inline .form-actions { width: 35px; height: 30px; float: left; position: static; clear: none; display: inline-block; }
.palette-blue-blue .block-search .form-submit { width: 100%; height: 100%; padding: 0px; margin: 0px; background: rgb(131, 170, 197) url('search_button.png') no-repeat scroll center center; outline: medium none; box-shadow: none; border-radius: 0px 5px 5px 0px; }
#menu-bar.nav ul.menu li { float: none; padding: 0px 4%; }
.mobile-menu-bar #menu-bar.nav ul.menu li { padding: 0px; }
.logged-in ul.commons-utility-links .last a::before { content: ""; }
.logged-in ul.commons-utility-links li::after { color: rgb(55, 70, 80); content: " |"; }
.logged-in ul.commons-utility-links li.last::after { content: ""; }
#crumbs { font-size: 12px; line-height: 2em; }
#crumbs a { color: rgb(0, 90, 136); }
.palette-blue-blue #menu-bar.nav ul.menu li.last { margin-right: 0px; }
.page-left { clear: both; }
.page-left > .block-inner { padding: 15px 22px; }
.page-blog .node-teaser.user-picture-available .user-picture, .node-type-blog .submitted .user-picture, .node-type-wiki .submitted .user-picture, .fallback-page .submitted .user-picture, .page-search .submitted .user-picture, .view-avr-tagged-content .views-field-picture { position: static; padding-top: 10px; margin: 0px 10px 0px 0px; display: block; float: left; }
#page .page-left .author-datetime, .page-search .search-results .author-datetime { color: rgb(104, 119, 129); font-size: 11px; margin: 3px 0px 0px; font-weight: 500; line-height: 18px; }
.page-left .rate-widget, .page-search .search-results .node-content .rate-widget { width: 100%; overflow: hidden; }
.page-left .rate-widget .item-list, .page-left .rate-widget .rate-info, .page-search .search-results .rate-widget .item-list, .page-search .search-results .rate-widget .rate-info { float: left; clear: none; font-size: 11px; }
.page-left .rate-widget .rate-info, .page-search .search-results .rate-widget .rate-info { padding-top: 4px; }
.page-left .node-content { line-height: 18px; margin-top: -3px; }
.page-left .node-content p { margin-bottom: 11px; }
article .author-datetime, .node-type-wiki .author-datetime, .fallback-page .author-datetime, .page-search .search-results .author-datetime, .view-avr-tagged-content .author-datetime { margin: 0px; padding-top: 13px; }
.page-blog .node-content .rate-widget, .node-type-blog .node-content .rate-widget, .node-type-wiki .node-content .rate-widget, .fallback-page .node-content .rate-widget, .page-search .search-results .node-content .rate-widget { margin-left: 60px; margin-top: -34px; position: static; float: left; }
.page-blog .field-name-body, .node-type-blog .field-name-body, .node-type-wiki .field-name-body, .fallback-page .field-name-body, .page-search .search-results .field-name-field-project-type { clear: both; margin-top: 0px; padding-top: 5px; }
.node-type-blog nav.clearfix, .node-type-wiki nav.clearfix, .fallback-page nav.clearfix { margin: 0px; }
.view-with-exposed-filters .view-filters .select-status::after, .page-user-bookmarks .view-filters .select-status::after { position: absolute; right: 18px; top: 14px; }
.page-user-dashboard [class*="flag-commons-follow-"] .unflag-action::before { top: -4px; }
.page-user-dashboard .select-status::after { float: right; top: 8px; right: 5px; }
.rating-widget label, .node-content .form-item label { display: none; }
.page-user-notification-settings #quicktabs-commons_follow_ui .views-table a.unflag-action::before, .page-user-notification-settings #quicktabs-commons_follow_ui .views-table a.flag-action::before { top: -6px; }
.page-messages.page-messages-view ul.tabs.primary li.active a::after { border: medium none; }
.mobile-menu-bar, .submenu-active #messages, .submenu-active #page-top { display: none; }
@media not all {
	select, select[size="0"], select[size="1"] { border-radius: 3px; background-image: url('undefined'); background-repeat: no-repeat; background-position: right center; padding-right: 20px; }
}
@media only screen and (max-width: 1055px) {
	#branding.branding-mobile #logo a.mobile-logo-link { float: left; }
}
@media only screen and (min-width: 1241px) {
	#branding.branding-mobile #logo a.mobile-logo-link { display: none; }
}
@media only screen and (min-width: 1056px) {
}
@media only screen and (max-width: 1024px) {
	#block-menu-menu-footer-links { display: none; }
	#footer-second.footer-wrapper { height: 50px; margin-top: -50px; }
	#footer-second.footer-wrapper .block-block { float: left; }
	#footer-second .region-footer-second .region-inner { width: 100%; }
	#breadcrumb #crumbs { line-height: 16px; }
}
@media only screen and (min-width: 1229px) {
}
@media only screen and (max-width: 840px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1228px) {
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1124px) {
}
@media only screen and (min-width: 941px) and (max-width: 1024px) {
}
@media only screen and (max-width: 852px) {
}
@media only screen and (min-width: 840px) and (max-width: 940px) {
}
@media only screen and (max-width: 839px) {
}
@media only screen and (min-width: 755px) and (max-width: 839px) {
}
@media only screen and (max-width: 768px) {
	#header { padding: 0px; }
	#header #branding { padding-top: 0px; }
	#header .region-header .authentication-links li { margin-top: 0px; padding-left: 0px; }
	.block-search { display: none; }
	#branding { width: 50%; margin-right: 0px; padding-left: 10px; height: auto; }
	.region-header .region-inner .block-avrfreaks-rewrites { float: none; }
	.block-search { display: block ! important; }
	.not-logged-in .region-header .block-avrfreaks-rewrites, .region-header .block-search { width: 100%; max-width: 100% ! important; }
}
@media only screen and (min-width: 769px) {
	.header-color-row-one { border-top: medium none; }
	.header-color-row-one #header #menu-bar.nav { padding: 5px 0px; }
	.profile-search-result:nth-child(2n) { margin-right: 2%; }
	.profile-search-result:nth-child(3n) { margin-right: 0px; }
	.palette-blue-blue .header-color-row-one { border-top: medium none; }
}
@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 511px) {
}
@media only screen and (max-width: 650px) {
}
@media only screen and (min-width: 640px) {
}
@media only screen and (min-width: 600px) and (max-width: 839px) {
}
@media only screen and (min-width: 600px) and (max-width: 657px) {
}
@media only screen and (max-width: 558px) {
}
@media only screen and (max-width: 571px) {
}
@media only screen and (max-width: 480px) {
	#name-and-slogan { display: none; }
	#branding { margin-right: -11.5em; }
	.footer-wrapper .block-menu { width: 50%; }
	.footer-wrapper .block-menu ul { text-align: left; }
	.footer-wrapper .block-menu ul li { margin-right: 10%; }
	.footer-wrapper .region-footer-second { padding-top: 15px; }
	#branding #logo { margin-top: 30px; }
}
@media only screen and (min-width: 481px) {
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	#name-and-slogan { padding-right: 19.5em; }
	#logo { margin-top: 20px; }
	.not-logged-in #branding { padding-left: 10px; margin-right: 0px; }
}
@media only screen and (min-width: 481px) and (max-width: 612px) {
}
@media only screen and (max-width: 432px) {
}
@media only screen and (max-width: 420px) {
	#header .region-header .user-profile-links li, #header .region-header .authentication-links li { font-size: 11px; }
	#branding { width: 35%; }
}
@media only screen and (max-width: 799px) {
}
@media only screen and (max-width: 554px) {
}
@media only screen and (max-width: 409px) {
}
@media only screen and (max-width: 400px) {
	.palette-blue-blue .block-search #search-block-form .form-item-search-block-form { width: 50%; }
}
@media only screen and (max-width: 754px) {
	#menu-bar #block-system-main-menu, #header #menu-bar { display: none; }
	.region-header { position: static; margin: 0px 10px; clear: both; float: none; width: auto; }
	.not-logged-in .region-header { font-size: 14px; margin-top: 8px; }
	.region-header .block-search { text-align: center; }
	.palette-blue-blue .block-search .form-item-search-block-form { width: 50%; float: none; margin-left: -35px; }
	.palette-blue-blue .block-search .form-type-select { float: none; }
	.palette-blue-blue .block-search .form-type-select select.form-select { width: 105px; }
	.palette-blue-blue .block-search .container-inline .form-actions { float: none; position: absolute; }
}
@media only screen and (min-width: 755px) {
	#branding.branding-mobile #logo a.avr-menu-toggle, #menu-bar #block-menu-menu-main-menu-mobile, #content .mobile-menu-bar { display: none; }
}
@media only screen and (max-width: 1240px) {
	#logo img.site-logo { display: none; }
	#menu-bar.nav ul.menu li { padding: 0px 2%; }
	.palette-blue-blue #menu-bar.nav ul.menu li a { font-size: 12px; }
}
@media only screen and (min-width: 755px) and (max-width: 994px) {
	.boxshadow .palette-blue-blue .header-color-row-one { height: auto; }
}
@media only screen and (min-width: 1086px) {
	a.mobile-logo-link { margin-top: 30px; }
}
@media only screen and (min-width: 755px) and (max-width: 1085px) {
	#branding { height: auto; margin-top: 25px; }
	.palette-blue-blue #menu-bar.nav { clear: both; height: auto; width: auto; margin: 0px; position: relative; }
	#menu-bar.nav #block-system-main-menu.block { margin-left: 0px; margin-right: 0px; }
	#menu-bar ul, #menu-bar.nav ul.menu { text-align: left; }
	.palette-blue-blue #menu-bar.nav ul.menu li { margin-top: 0px; margin-right: 25px; padding: 0px; }
	#header #menu-bar.nav { padding: 0px 0px 0px 10px; }
	#header .region-header { margin: 7px auto 0px; clear: both; float: right; max-width: 405px; right: 10px; position: absolute; top: 0px; }
	div.header-wrapper { height: auto; }
}
@media only screen and (min-width: 995px) and (max-width: 1099px) {
	body .header-wrapper .site-logo { width: 55%; margin-top: 25px; }
	body.palette-blue-blue #menu-bar.nav { margin: 0px 0px 0px 15%; width: 40%; }
	body.palette-blue-blue #menu-bar.nav ul.menu li a { font-size: 12px; height: 32px; line-height: 32px; }
	body .region-header { margin-top: 20px; }
}
@media only screen and (min-width: 1100px) and (max-width: 1260px) {
	body .header-wrapper .site-logo { width: 79%; }
	body.palette-blue-blue #menu-bar.nav { margin: 0px 0px 0px 20%; width: 40%; }
}
@media only screen and (max-width: 1070px) {
}
@media only screen and (min-width: 840px) and (max-width: 1070px) {
}
@media only screen and (min-width: 600px) and (max-width: 839px) {
}
@media only screen and (max-width: 754px) {
}
@media only screen and (max-width: 599px) {
}
@media only screen and (max-width: 533px) {
}
.page-forum table tbody tr, .page-reported-posts tbody tr, .forum-table-topics tbody tr, .page-forum table tbody tr:nth-child(2n+2), .page-user-dashboard table tr { border-color: rgb(208, 220, 225); padding: 0px; }
.node-type-forum .flag-commons_follow_node a::before, .search-results-content .flag-commons_follow_node a::before { top: 2px; }
div.views-row-floated, div.views-row-floated > div { float: left; }
.post-tags { padding: 15px; overflow: hidden; font-size: 12px; }
.node-tags.post-tags { padding: 0px 0px 15px; }
.post-tags h2 { margin: 0px 5px 0px 0px; text-transform: uppercase; float: left; }
.rate-fivestar-btn-empty { background: transparent url('stars.png') no-repeat scroll 0px 0px; }
.bb-code-block, pre.text, pre.c_cpp, pre.csharp, pre.css, pre.html, pre.java, pre.javascript, pre.xml { border: 1px solid rgb(229, 235, 238); font-family: Courier,monospace,sans-serif; padding: 10px; color: green; font-weight: normal; background-color: rgb(250, 250, 250); margin: 1em 20px; }
a.mobile-logo-link { background-image: url('atmel_community_tn.png'); }
a.mobile-logo-link { display: block; width: 156px; height: 46px; }
a.mobile-logo-link img { display: none; }
.element-invisible { display: none; }
/* ::::: http://community.atmel.com/sites/default/files/css/css_uS4NjxRdC3RJ1agsmisNJLwbZc3YBKRTDDybOGIbj3k.css ::::: */

@media only screen and (min-width: 321px) and (max-width: 679px) {
	.container { width: 100%; }
	.at-panel .region { display: inline; float: left; }
}
@media only screen and (min-width: 680px) and (max-width: 754px) {
	.container { width: 100%; }
	.at-panel .region { display: inline; float: left; }
}
@media only screen and (min-width: 755px) and (max-width: 1799px) {
	.container { width: 100%; }
	#content-column, .content-column, div.sidebar { float: left; clear: none; }
	.at-panel .region { display: inline; float: left; }
}
@media only screen and (min-width: 1800px) {
	.container { width: 1800px; }
	#content-column, .content-column, div.sidebar { float: left; clear: none; }
	.at-panel .region { display: inline; float: left; }
}
