html { font-family: "Guardian Text Egyptian Web",Georgia,serif; }
body { line-height: 1.5; color: rgb(51, 51, 51); }
html, body { text-rendering: optimizespeed; }
h1, h2, h3, h4, h5, h6 { margin: 0px; }
.email-sub::after, .email-sub::before { content: ""; display: table; }
.email-sub::after { clear: both; }
.email-sub__form { font-size: 0.875rem; line-height: 1.25rem; font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
.email-sub__form::after, .email-sub__form::before { content: ""; display: table; }
.email-sub__form::after { clear: both; }
.email-sub__form * { box-sizing: border-box; }
.email-sub__label { display: block; }
.email-sub__inline-label--enabled { position: relative; width: 100%; }
.email-sub__inline-label--enabled .email-sub__label { color: rgb(118, 118, 118); line-height: 3; left: 1.25em; position: absolute; pointer-events: none; }
.submit-input__icon, .label__icon { display: none; }
.submit-input__icon svg, .label__icon svg { width: 1.143em; height: 0.857em; }
.submit-input__icon svg { fill: rgb(255, 255, 255); }
.label__icon svg { fill: rgb(118, 118, 118); opacity: 0.65; }
.email-sub__text-input { border: 0.0625rem solid rgb(255, 255, 255); color: rgb(51, 51, 51); height: 3em; outline: medium none; padding: 0.667em 1.25em; }
.email-sub__submit-input { background-color: transparent; border: 0.0625rem solid rgb(170, 216, 241); color: rgb(255, 255, 255); }
.email-sub__submit-input:focus, .email-sub__submit-input:hover, .email-sub__submit-input:active { border-color: rgb(255, 255, 255); cursor: pointer; }
.email-sub__text-input, .email-sub__submit-input { width: 100%; }
.email-sub__label, .email-sub__submit-input, .email-sub__text-input { font-size: 0.75rem; line-height: 1.5; }
.email-sub__form--footer { margin-bottom: 0.75rem; padding: 0px 1.25rem; }
.email-sub__form--footer .email-sub__submit-input { background-color: rgb(118, 118, 118); border-color: rgb(118, 118, 118); margin-bottom: 0.75rem; }
.email-sub__form--footer .email-sub__submit-input:hover, .email-sub__form--footer .email-sub__submit-input:focus, .email-sub__form--footer .email-sub__submit-input:active { background-color: rgb(93, 93, 93); border-color: rgb(93, 93, 93); }
@media all and (min-width: 41.25em) {
}
@media all and (min-width: 30em) {
}
@media all and (min-width: 46.25em) {
}
@media all and (min-width: 61.25em) {
}
@media all and (min-width: 71.25em) {
}
.email-sub__heading { font-size: 1.25rem; line-height: 1.5rem; }
.email-sub__header--footer .email-sub__heading { font-size: 0.875rem; line-height: 1.25rem; font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; color: rgb(255, 255, 255); margin-bottom: 0.75rem; }
body { background-color: transparent; margin: 0px; }
.email-sub__text-input, .email-sub__submit-input { border-radius: 62.5rem; }
.email-sub__submit-input { border-width: 0.0625rem; border-style: solid; font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; font-weight: bold; height: 3em; padding: 0px 0.75rem; }
.email-sub__submit-input:focus, .email-sub__submit-input:hover, .email-sub__submit-input:active { outline: 0px none; }
.email-sub__form--footer { padding: 0px; }
.email-sub__form--footer .email-sub__text-input { margin-bottom: 0.75rem; }
@media all and (min-width: 11.5em) {
	.email-sub__form--footer .email-sub__text-input, .email-sub__form--article .email-sub__text-input, .email-sub__form--plain .email-sub__text-input, .email-sub__form--plaindark .email-sub__text-input { border-right: 0px none; border-radius: 62.5rem 0px 0px 62.5rem; float: left; width: 62%; }
	.email-sub__form--footer .email-sub__submit-input, .email-sub__form--article .email-sub__submit-input, .email-sub__form--plain .email-sub__submit-input, .email-sub__form--plaindark .email-sub__submit-input { border-radius: 0px 62.5rem 62.5rem 0px; border-left: 0px none; float: left; margin-right: 0px; width: 38%; }
	.email-sub__form--footer .email-sub__submit-input, .email-sub__form--plain .email-sub__submit-input, .email-sub__form--plaindark .email-sub__submit-input { padding-left: 0.625rem; }
}
@media all and (min-width: 11.4375em) and (max-width: 11.4375em) {
	.email-sub__form--footer, .email-sub__form--plain, .email-sub__form--plaindark { padding-right: 0.625rem; }
	.email-sub__form--footer .email-sub__text-input, .email-sub__form--plain .email-sub__text-input, .email-sub__form--plaindark .email-sub__text-input { border-radius: 62.5rem; }
	.email-sub__form--footer .email-sub__submit-input, .email-sub__form--plain .email-sub__submit-input, .email-sub__form--plaindark .email-sub__submit-input { margin-right: 0px; width: 100%; }
}
@media all and (min-width: 37.875em) {
}
@font-face {
	font-family: "Guardian Egyptian Web";
	font-weight: 200;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Egyptian Web";
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Egyptian Web";
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Egyptian Web";
	font-weight: 900;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Text Egyptian Web";
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Text Egyptian Web";
	font-style: italic;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Text Egyptian Web";
	font-weight: 700;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Sans Web";
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Text Sans Web";
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Text Sans Web";
	font-style: italic;
	src: url('undefined');
}
@font-face {
	font-family: "Guardian Text Sans Web";
	font-weight: 700;
	src: url('undefined');
}
