/* ::::: https://lowpowerlab.com/forum/Themes/default/css/index.css?fin20 ::::: */

a:link, a:visited { color: rgb(51, 68, 102); text-decoration: none; }
a:hover { text-decoration: underline; cursor: pointer; }
a.new_win:link, a.new_win:visited { color: rgb(51, 68, 102); text-decoration: none; }
a.new_win:hover { text-decoration: underline; }
body { background: rgb(233, 238, 242) url('backdrop.png') repeat-x scroll 0% 0%; font: 78%/130% "Verdana","Arial","Helvetica",sans-serif; margin: 0px auto; padding: 15px 0px; }
body, td, th, tr { color: rgb(68, 68, 68); }
div#wrapper { margin: 0px auto; min-width: 764px; max-width: 2300px; }
form { padding: 0px; margin: 0px; }
input, button, select, textarea { font: 95%/115% verdana,Helvetica,sans-serif; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(127, 157, 185); padding: 2px; }
select { padding: 0px; }
select option { padding: 1px; }
.button_submit, .button_reset { background: rgb(205, 231, 255) url('submit_bg.png') no-repeat scroll 0% 0%; border: 1px solid rgb(170, 170, 170); cursor: pointer; font-weight: normal; }
input:hover, textarea:hover, button:hover, select:hover { border: 1px solid rgb(69, 69, 69); }
.button_submit:hover, .button_reset:hover { border: 1px solid rgb(170, 170, 170); background: rgb(205, 231, 255) url('submit_bg.png') no-repeat scroll 0px -140px; }
input:focus, textarea:focus, button:focus, select:focus { border: 1px solid rgb(69, 69, 69); }
hr, .hrcolor { height: 1px; border: 0px none; color: rgb(204, 204, 204); background-color: rgb(204, 204, 204); }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); font-size: 1em; margin: 0px; padding: 0px; }
a img { border: 0px none; }
strong { font-weight: bold; }
em { font-style: italic; }
.floatright { float: right; }
.floatleft { float: left; }
.flow_hidden { overflow: hidden; }
.clear { clear: both; }
.smalltext, tr.smalltext th { font-size: 0.85em; font-family: verdana,sans-serif; }
.middletext { font-size: 0.9em; line-height: 1em; font-family: verdana,sans-serif; }
.normaltext { font-size: 1em; line-height: 1.2em; }
ul.reset, ul.reset li { padding: 0px; margin: 0px; list-style: outside none none; }
blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote { font-size: x-small; color: rgb(0, 0, 0); line-height: 1.4em; background: transparent url('quote.png') no-repeat scroll 0.1em 0.1em; border-top: 2px solid rgb(153, 153, 170); border-bottom: 2px solid rgb(153, 153, 170); padding: 1.1em 1.4em; margin: 0.1em 0px 0.3em; overflow: auto; }
blockquote.bbc_standard_quote { background-color: rgb(215, 218, 236); }
.codeheader, .quoteheader { color: rgb(102, 102, 102); font-size: x-small; font-weight: bold; padding: 0px 0.3em; }
.catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th { color: rgb(255, 255, 255); font-family: arial,helvetica,sans-serif; font-size: 1.1em; font-weight: bold; background: rgb(167, 185, 205) url('main_block.png') no-repeat scroll -10px -280px; }
.windowbg, #preview_body { color: rgb(0, 0, 0); background-color: rgb(231, 234, 239); }
.windowbg2 { color: rgb(0, 0, 0); background-color: rgb(240, 244, 247); }
.pagesection { font-size: 0.9em; padding: 0.2em; overflow: hidden; margin-bottom: 1px; }
.pagelinks { padding: 0.6em 0px 0.4em; }
.post, .personalmessage { overflow: auto; line-height: 1.4em; padding: 0.1em 0px; }
.openid_login { background: white url('openid.gif') no-repeat scroll 0% 0%; padding-left: 18px; }
.description, .description_board, .plainbox { padding: 0.5em 1em; font-size: 0.9em; line-height: 1.4em; border: 1px solid rgb(187, 187, 187); background: rgb(245, 245, 240) none repeat scroll 0% 0%; margin: 0.2em 1px 1em; }
h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg { overflow: hidden; height: 31px; line-height: 31px; font-size: 1.2em; font-weight: bold; }
h3.catbg a:link, h3.catbg a:visited, h4.catbg a:link, h4.catbg a:visited, h3.catbg, .table_list tbody.header td, .table_list tbody.header td a { color: rgb(255, 255, 255); }
h4.catbg, h4.catbg2, h3.catbg, h3.catbg2, .table_list tbody.header td.catbg { background: transparent url('main_block.png') no-repeat scroll 100% -160px; padding-right: 9px; }
div.cat_bar { background: rgb(153, 171, 191) url('main_block.png') no-repeat scroll 0px -160px; padding-left: 9px; height: 31px; overflow: hidden; margin-bottom: 1px; }
.windowbg span.topslice { display: block; padding-left: 20px; background: transparent url('main_block.png') no-repeat scroll 0px -30px; }
.windowbg span.topslice span { display: block; background: transparent url('main_block.png') no-repeat scroll 100% -30px; height: 11px; }
.windowbg span.botslice { display: block; padding-left: 20px; background: transparent url('main_block.png') no-repeat scroll 0px -40px; font-size: 5px; line-height: 5px; margin-bottom: 0.2em; }
.windowbg span.botslice span { display: block; background: transparent url('main_block.png') no-repeat scroll 100% -40px; height: 11px; }
.windowbg2 span.topslice { display: block; padding-left: 20px; background: transparent url('main_block.png') no-repeat scroll 0px -60px; }
.windowbg2 span.topslice span { display: block; background: transparent url('main_block.png') no-repeat scroll 100% -60px; height: 11px; }
.windowbg2 span.botslice { display: block; padding-left: 20px; background: transparent url('main_block.png') no-repeat scroll 0px -71px; font-size: 5px; line-height: 5px; margin-bottom: 0.2em; }
.windowbg2 span.botslice span { display: block; background: transparent url('main_block.png') no-repeat scroll 100% -71px; height: 11px; }
#main_menu { padding: 0px 0.5em; float: left; margin: 0px; width: 98%; }
.dropmenu, .dropmenu ul { list-style: outside none none; line-height: 1em; padding: 0px; margin: 0px; }
.dropmenu { padding: 0px 0.5em; }
.dropmenu a { display: block; color: rgb(0, 0, 0); text-decoration: none; }
.dropmenu a span { display: block; padding: 0px 0px 0px 5px; font-size: 0.9em; }
.dropmenu li a.firstlevel { margin-right: 8px; }
.dropmenu li a.firstlevel span.firstlevel { display: block; position: relative; left: -5px; padding-left: 5px; height: 22px; line-height: 19px; white-space: pre; }
.dropmenu li { float: left; padding: 0px; margin: 0px; position: relative; }
.dropmenu li a.active { background: transparent url('menu_gfx.png') no-repeat scroll 100% 0px; color: rgb(255, 255, 255); font-weight: bold; }
.dropmenu li a.active span.firstlevel { background: transparent url('menu_gfx.png') no-repeat scroll 0px 0px; }
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel { background: transparent url('menu_gfx.png') no-repeat scroll 100% -30px; color: rgb(255, 255, 255); cursor: pointer; text-decoration: none; }
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel { background: transparent url('menu_gfx.png') no-repeat scroll 0px -30px; }
.buttonlist ul { z-index: 100; padding: 5px; margin: 0px 0.2em 5px 0px; }
.buttonlist ul li { margin: 0px; padding: 0px; list-style: outside none none; float: left; }
.buttonlist ul li a { display: block; font-size: 0.8em; color: rgb(0, 0, 0); background: rgb(232, 232, 232) url('menu_gfx.png') no-repeat scroll 0px -60px; padding: 0px 0px 0px 8px; margin-left: 12px; text-transform: uppercase; cursor: pointer; }
.buttonlist ul li a:hover { background: transparent url('menu_gfx.png') no-repeat scroll 0px 0px; color: rgb(255, 255, 255); text-decoration: none; }
.buttonlist ul li a span { background: transparent url('menu_gfx.png') no-repeat scroll 100% -60px; display: block; height: 19px; line-height: 19px; padding: 0px 8px 0px 0px; }
.buttonlist ul li a:hover span { background: rgb(255, 255, 255) url('menu_gfx.png') no-repeat scroll 100% 0px; }
#header { background: rgb(254, 254, 254) url('main_block.png') no-repeat scroll 0px -480px; padding-left: 20px; }
#header div.frame { background: transparent url('main_block.png') no-repeat scroll 100% -480px; display: block; padding: 5px 20px 1em 0px; }
#content_section { background: rgb(255, 255, 255) url('frame_repeat.png') repeat-y scroll left top; padding-left: 20px; }
#content_section div.frame { background: transparent url('frame_repeat.png') repeat-y scroll right top; display: block; padding: 0px 20px 0px 0px; }
#main_content_section { width: 100%; min-height: 200px; }
h1.forumtitle { line-height: 45px; font-size: 1.8em; font-family: Geneva,verdana,sans-serif; margin: 0px; padding: 0px; float: left; }
#siteslogan, img#smflogo { margin: 0px; padding: 0px; float: right; line-height: 3em; }
h3, h4 { padding-bottom: 3px; }
img#upshrink { float: right; margin: 1em; }
img#smflogo { margin-left: 1em; }
#upper_section { padding: 5px; margin-bottom: 1.5em; }
#upper_section div.news { width: 50%; float: right; text-align: right; }
#guest_form { overflow: hidden; }
#guest_form .info { padding: 4px 0px; line-height: 1.3em; }
div#upper_section div.user { width: 50%; float: left; overflow: auto; }
div#upper_section div.news p { display: inline; }
div#upper_section div.news form { padding-bottom: 10px; }
#top_section { min-height: 65px; overflow: hidden; margin-bottom: 3px; }
#upper_section { overflow: hidden; }
.navigate_section { padding: 0.5em; margin: 0px; }
.navigate_section ul { display: block; margin: 0px; font-size: 0.9em; padding: 1em 0px 0.5em; border-top: 1px solid rgb(204, 204, 204); overflow: hidden; list-style: outside none none; clear: both; width: 100%; }
.navigate_section ul li { float: left; padding: 0px 0.5em 0px 0px; font-size: 0.95em; }
.navigate_section ul li a { white-space: pre; }
#footer_section { text-align: center; background: transparent url('main_block.png') no-repeat scroll 0px -820px; padding-left: 20px; }
#footer_section span.smalltext { font-size: 100%; }
#footer_section div.frame { background: transparent url('main_block.png') no-repeat scroll 100% -820px; display: block; padding: 60px 0px 0px; }
#footer_section ul li, #footer_section p { font-size: 0.8em; }
#footer_section ul li { display: inline; padding-right: 5px; }
#footer_section ul li.copyright { display: block; }
.nextlinks { text-align: right; margin-top: -1px; }
.nextlinks_bottom { clear: right; text-align: right; }
#moderationbuttons { overflow: hidden; }
#forumposts { clear: both; }
#forumposts .cat_bar { margin: 0px 0px 2px; }
#forumposts h3 span#author { margin: 0px 7.7em 0px 0px; }
#forumposts h3 img { float: left; margin: 4px 0.5em 0px 0px; }
#forumposts h3.catbg { margin-bottom: 3px; }
.post_wrapper { float: left; width: 100%; }
.poster { float: left; width: 15em; }
.postarea, .moderatorbar { margin: 0px 0px 0px 16em; }
.postarea div.flow_hidden { width: 100%; }
.moderatorbar { clear: right; }
.poster h4, .poster ul { padding: 0px; margin: 0px 1em 0px 1.5em; }
.poster h4 { margin: 0.2em 0px 0.4em 1.1em; font-size: 120%; }
.poster h4, .poster h4 a { color: rgb(192, 96, 2); }
.poster ul ul { margin: 0.3em 1em 0px 0px; padding: 0px; }
.poster ul ul li { display: inline; }
.poster li.stars, .poster li.avatar, .poster li.blurb, li.postcount, li.im_icons ul { margin-top: 0.5em; }
.poster li.avatar { overflow: hidden; }
.messageicon { float: left; margin: 0px 0.5em 0px 0px; }
.messageicon img { padding: 6px 3px; }
.keyinfo { float: left; width: 50%; }
.post { margin-top: 0.5em; clear: right; }
.inner { padding: 1em 1em 2px 0px; margin: 0px 1em 0px 0px; border-top: 1px solid rgb(153, 153, 170); }
#forumposts .modified { float: left; }
#forumposts .reportlinks { margin-right: 1.5em; text-align: right; clear: right; }
#forumposts span.botslice { clear: both; }
#display_jump_to { clear: both; padding: 5px; margin-top: 6px; text-align: right; }
#forumposts .post_separator { display: none; }
/* ::::: https://lowpowerlab.com/forum/Themes/default/css/highlight/arduino-light.css ::::: */

/* ::::: https://lowpowerlab.com/forum/Themes/default/css/highlight.css ::::: */

/* ::::: https://lowpowerlab.com/forum/Themes/default/css/oharaEmbed.css ::::: */

@media screen and (max-width: 600px) {
}
