/* ::::: http://www.fusionknots.com/ed.css ::::: */

body { background-color: rgb(0, 0, 0); }
.style2 { font-family: Arial,Helvetica,sans-serif; font-size: 12px; }
.style3 { font-family: Arial,Helvetica,sans-serif; font-size: 14px; }
.footer { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(0, 0, 0); text-decoration: none; }
.footer:active { color: rgb(0, 0, 0); text-decoration: none; }
.footer:visited { color: rgb(0, 0, 0); text-decoration: none; }
.footer:hover { color: rgb(0, 0, 0); text-decoration: underline; }
a.globalnav { color: rgb(255, 255, 255); }
a.globalnav:hover { color: rgb(0, 102, 255); }
