#privacy_cb25fe3675_0, #privacy_cb25fe3675_0 a, #privacy_cb25fe3675_0 img { text-decoration: none; margin: 0px; padding: 0px; border: medium none; cursor: pointer; }
#privacy_cb25fe3675_0 { position: absolute; z-index: 100; top: 0px; bottom: auto; vertical-align: top; right: 0px; left: auto; }
#privacy_cb25fe3675_0 .privacy_out { width: 19px; height: 15px; line-height: 0; z-index: 150; }
#privacy_cb25fe3675_0 .privacy_hover { width: 77px; height: 15px; line-height: 0; z-index: 100; }
#bnr { cursor: pointer; font-family: Arial; }
div { display: inline-block; vertical-align: top; }
#bnr { font-size: 0px; text-align: left; -moz-user-select: none; }
#bnr a { display: inline-block; vertical-align: top; text-decoration: none; }
.coupon { position: absolute; }
.couponSlide { position: absolute; width: 100%; height: 100%; }
.imageholder { width: 100%; height: 100%; background-color: transparent; background-repeat: no-repeat; }
.text > div { vertical-align: middle; overflow-wrap: break-word; border-radius: 0px !important; }
.text > .singleline { white-space: nowrap; text-overflow: ellipsis; overflow-wrap: normal; }
.blinker:not(.blinker-init) > div:not(:first-child) { display: none; }
.a { border: 1px solid rgb(119, 154, 191); width: 466px; height: 58px; overflow: hidden; text-align: left; }
.b { background: rgb(255, 255, 255) none repeat scroll -1px -1px; width: 466px; height: 58px; position: relative; overflow: hidden; }
.b > .coupon { top: -1px; left: -1px; }
.c { z-index: 99; position: absolute; width: 466px; height: 58px; }
.d { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 119px; height: 58px; }
.e { width: 100%; height: 100%; overflow: hidden; }
.e > .imageholder { background-position: center center; background-size: contain; }
.f { background: transparent none repeat scroll 0% 0%; width: 347px; height: 58px; text-align: center; }
.g { width: 347px; height: 58px; text-align: center; white-space: nowrap; }
.g::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.g > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.i { padding: 1px; width: 345px; height: 56px; white-space: nowrap; }
.i > * > * { white-space: normal; }
.i > * { margin-bottom: 1px; margin-right: 1px; }
.i > :nth-child(n+1) { margin-bottom: 0px; }
.i > :nth-child(2n-1) { margin-right: 0px; }
.j { width: 345px; height: 56px; text-align: center; white-space: nowrap; }
.j::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.j > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.l { padding: 1px; border: 1px solid rgb(119, 154, 191); background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 341px; height: 52px; }
.m { width: 100%; height: 100%; text-align: left; white-space: nowrap; }
.m::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.m > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.n { padding: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 98px; height: 48px; text-align: center; white-space: nowrap; }
.n::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.n > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.p { margin: 4px 0px 5px; width: 98px; height: 39px; overflow: hidden; }
.p > .imageholder { background-position: center center; background-size: contain; }
.q { width: 239px; height: 52px; text-align: left; white-space: nowrap; }
.q::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.q > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.s { padding: 0px 3px; width: 233px; height: 52px; text-align: left; white-space: nowrap; }
.s::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.s > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.u { width: 233px; height: 18px; text-align: left; white-space: nowrap; }
.u::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.u > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.w { width: 233px; height: 18px; }
.w > div { color: rgb(12, 37, 119); overflow: hidden; max-width: 233px; max-height: 18px; font-size: 9px; line-height: 11px; font-weight: bold; }
.w::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.x { width: 233px; height: 34px; text-align: left; white-space: nowrap; }
.x::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.x > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.y { padding: 0px 5px 0px 0px; width: 158px; height: 34px; text-align: left; white-space: nowrap; }
.y::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.y > * { white-space: normal; line-height: 0px; display: inline-block; vertical-align: middle; }
.a1 { width: 158px; height: 24px; text-align: left; }
.d1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.f1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.g1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.h1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.i1 { width: 158px; height: 24px; }
.i1 > div { color: rgb(12, 37, 119); overflow: hidden; max-width: 158px; max-height: 24px; font-size: 12px; line-height: 15px; }
.i1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.j1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
.k1 { width: 70px; height: 22px; text-align: left; }
.n1 { border: 1px solid rgb(12, 37, 119); background: rgb(12, 37, 119) none repeat scroll 0% 0%; border-radius: 2px; width: 68px; height: 20px; text-align: center; }
.n1 > div { color: rgb(255, 255, 255); overflow: hidden; max-width: 68px; max-height: 20px; font-size: 10px; line-height: 12px; font-weight: bold; }
.n1::before { content: " "; display: inline-block; height: 100%; width: 0px; vertical-align: middle; }
