.SandboxRoot { display: none; }
/* ::::: http://platform.twitter.com/css/timeline.47359d5d242896bda2cc281f2ebbcd72.light.ltr.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.u-hiddenVisually { position: absolute !important; overflow: hidden !important; width: 1px !important; height: 1px !important; padding: 0px !important; border: 0px none !important; clip: rect(1px, 1px, 1px, 1px) !important; }
.u-inlineBlock { display: inline-block !important; max-width: 100%; }
.u-cf::after, .u-cf::before { content: " "; display: table; }
.u-cf::after { clear: both; }
.u-floatLeft { float: left !important; }
.u-floatRight { float: right !important; }
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul { margin: 0px; padding: 0px; list-style: outside none none; border: medium none; }
b, i { font-weight: 400; font-style: normal; }
.SandboxRoot { direction: ltr; text-align: left; }
.SandboxRoot { display: block; background: transparent none repeat scroll 0px 0px; font: 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif; color: rgb(41, 47, 51); white-space: initial; }
a { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
a:visited { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
a:focus { color: rgb(85, 172, 238); text-decoration: underline; outline: 0px none; }
a:hover { color: rgb(85, 172, 238); text-decoration: none; outline: 0px none; }
a:active { color: rgb(59, 148, 217); text-decoration: none; outline: 0px none; }
.SandboxRoot:not(.env-bp-min) .u-hiddenInWideEnv { display: none; }
.u-linkBlend:not(:focus):not(:hover):not(:active) { font-weight: inherit; color: inherit; text-decoration: inherit; }
.Avatar { max-width: 100%; max-height: 100%; }
.Button::-moz-focus-inner { border: 0px none; padding: 0px; }
.Emoji--forText { height: 1.25em; width: 1.25em; padding: 0px 0.05em 0px 0.1em; vertical-align: -0.2em; }
.Icon { display: inline-block; height: 1.25em; background-repeat: no-repeat; background-size: contain; vertical-align: text-bottom; }
.Icon--retweetBadge { width: 1.04167em; background-image: url('undefined'); transform: scaleX(1); }
.Icon--twitter { width: 1.25em; background-image: url('undefined'); }
.Icon--verified { width: 1.11111em; background-image: url('undefined'); }
.Icon--heart { width: 0.9375em; background-image: url('undefined'); }
.Icon--informationCircleWhite { height: 18px; width: 15px; background-image: url('undefined'); }
.Identity-name { font-weight: 700; }
.Identity-screenName { color: rgb(136, 153, 166); }
.Identity:focus { text-decoration: none; }
.Identity:focus .Identity-name { text-decoration: underline; }
.PrettyLink:focus { text-decoration: none; }
.PrettyLink:focus .PrettyLink-value { text-decoration: underline; }
.NaturalImage { position: relative; }
.NaturalImage-image { max-width: 100%; max-height: 100%; border: 0px none; line-height: 0; height: auto; }
.NaturalImage--rounded .NaturalImage-image, .NaturalImage--roundedTop .NaturalImage-image { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.NaturalImage--rounded .NaturalImage-image, .NaturalImage--roundedBottom .NaturalImage-image { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.MediaCard-media { position: relative; width: 100%; overflow: hidden; }
.MediaCard-widthConstraint { max-width: 100%; }
.MediaCard-mediaContainer { position: relative; padding-bottom: 0px; background-color: rgb(245, 248, 250); }
.MediaCard-mediaAsset { display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; line-height: 0; transition: opacity 0.5s ease 0s; background-color: rgb(255, 255, 255); }
.timeline-Widget { max-width: 1200px; background-color: rgb(255, 255, 255); border-radius: 4px; }
.timeline-Body { position: relative; border-top: 1px solid rgba(15, 70, 100, 0.12); border-bottom: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-Body-notification { position: absolute; top: 0px; left: 0px; right: 0px; z-index: 10; }
.timeline-Viewport { overflow-x: hidden; overflow-y: scroll; }
.SandboxRoot.var-fully-expanded .timeline-Viewport { overflow-y: visible; }
.timeline-TweetList-tweet { border-top: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-TweetList-tweet:first-of-type { border-top: medium none; }
.timeline-Tweet { padding: 10px; }
.timeline-Tweet-retweetCredit { margin-bottom: 8px; margin-left: 18px; font-size: 12px; color: rgb(136, 155, 166); }
.timeline-Tweet-retweetCreditIcon { position: relative; top: 1px; display: inline-block; margin-right: 4px; font-size: 14px; }
.timeline-Tweet-author { position: relative; margin-bottom: 2px; padding-left: 40px; }
.timeline-Tweet-brand { font-size: 15.4px; }
.timeline-Tweet-brand .Icon { background-image: url('undefined'); }
.timeline-Tweet-text { margin-left: 40px; margin-bottom: 12px; font-size: 12px; line-height: 18px; font-weight: 400; white-space: pre-wrap; overflow-wrap: break-word; }
.timeline-Tweet-text[dir="ltr"] { text-align: left; direction: ltr; }
.timeline-Tweet-media { margin-bottom: 12px; margin-left: 40px; font-size: 12px; }
.timeline-Tweet-metadata { float: right; margin-top: 2px; }
.timeline-Tweet-timestamp { font-size: 12px; line-height: 18px; color: rgb(225, 232, 237); }
.timeline-Tweet-actions { margin-left: 40px; }
.timeline-Tweet-action { display: inline-block; font-size: 17px; }
.timeline-Tweet-action + .timeline-Tweet-action { margin-left: 20px; }
.timeline-Tweet--isRetweet { padding-top: 7px; }
.timeline-Tweet:hover { background-color: rgba(160, 200, 220, 0.12); }
.timeline-Tweet:hover .timeline-Tweet-brand .Icon { background-image: url('undefined'); }
.timeline-Tweet:hover .timeline-Tweet-timestamp { color: rgb(102, 117, 128); }
.timeline-Tweet:hover .timeline-Tweet-action .Icon--heart { background-image: url('undefined'); }
.timeline-Tweet:hover .timeline-Tweet-action .Icon--share { background-image: url('undefined'); }
.SandboxRoot.env-bp-min .timeline-Tweet { padding: 10px; }
.SandboxRoot.env-bp-min .timeline-Tweet-retweetCredit { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-retweetCreditIcon { margin-right: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-author { margin-top: 1px; padding-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-text { margin-top: 6px; margin-left: 0px; font-size: 12px; line-height: 18px; }
.SandboxRoot.env-bp-min .timeline-Tweet-media { margin-left: 0px; }
.SandboxRoot.env-bp-min .timeline-Tweet-actions { margin-left: 0px; }
.TweetAction:active, .TweetAction:focus, .TweetAction:hover { text-decoration: none; }
.TweetAction--heart:active .Icon, .TweetAction--heart:focus .Icon, .TweetAction--heart:hover .Icon { background-image: url('undefined') !important; }
.TweetAction--share:active .Icon, .TweetAction--share:focus .Icon, .TweetAction--share:hover .Icon { background-image: url('undefined') !important; }
.TweetAuthor { max-width: 100%; overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important; overflow-wrap: normal !important; }
.TweetAuthor-avatar { position: absolute; top: 0px; left: 0px; width: 32px; height: 32px; overflow: hidden; border-radius: 4px; }
.TweetAuthor-name { font-size: 12px; line-height: 18px; font-weight: 700; }
.TweetAuthor-screenName { font-size: 12px; line-height: 18px; font-weight: 300; }
.SandboxRoot.env-bp-min .TweetAuthor-avatar { position: static; top: auto; left: auto; float: left; margin-right: 8px; }
.SandboxRoot.env-bp-min .TweetAuthor-screenName::before { white-space: pre; content: "\a ‎"; }
.timeline-ShareMenu { position: relative; }
.timeline-ShareMenu-container { position: absolute; left: -18px; z-index: 1000; display: none; padding-bottom: 4px; min-width: 130px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
.timeline-ShareMenu-caret, .timeline-ShareMenu-caret::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.timeline-ShareMenu-caret { left: 25px; margin-left: -9px; border-width: 9px; }
.timeline-ShareMenu-caret::after { margin-left: -8px; border-width: 8px; content: ""; }
.timeline-ShareMenu-title { padding: 10px 15px 5px; font-size: 12px; font-weight: 300; color: rgb(102, 117, 128); }
.timeline-ShareMenu-option { display: inline-block; width: 100%; padding: 2px 15px; font-size: 14px; color: rgb(41, 47, 51) !important; box-sizing: border-box; white-space: nowrap; }
.timeline-ShareMenu-option:focus, .timeline-ShareMenu-option:hover { color: rgb(255, 255, 255) !important; background-color: rgb(59, 148, 217); text-decoration: none !important; }
.timeline-ShareMenu.is-openedAbove .timeline-ShareMenu-caret::after { content: " "; bottom: 1px; border-bottom-width: 0px; border-top-color: rgb(255, 255, 255); }
.timeline-ShareMenu.is-openedBelow .timeline-ShareMenu-caret::after { content: " "; top: 1px; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.SandboxRoot.env-bp-min .timeline-ShareMenu-option { font-size: 12px; }
.timeline-ShowMoreButton { box-sizing: border-box; display: block; padding: 10px 0px; margin: 0px; width: 100%; font-size: 14px; color: rgb(59, 148, 217); text-align: center; background-color: rgb(245, 248, 250); border: 0px none; outline: 0px none; cursor: pointer; }
.timeline-ShowMoreButton:focus, .timeline-ShowMoreButton:hover { background-color: rgb(245, 248, 250); text-decoration: underline; }
.SandboxRoot.env-bp-min .timeline-ShowMoreButton { font-size: 12px; }
.timeline-NewTweetsNotification { display: none; border-bottom: 1px solid rgba(15, 70, 100, 0.12); opacity: 0; }
.timeline-LoadMore-prompt { border-top: 1px solid rgba(15, 70, 100, 0.12); }
.timeline-LoadMore-endOfTimelineMessage { display: none; padding: 10px 0px 40px; font-size: 12px; text-align: center; }
.SandboxRoot.var-static .timeline-LoadMore { display: none; }
.timeline-Header { padding: 10px; }
.timeline-Header-title { font-size: 21px; font-weight: 300; line-height: 24px; color: rgb(41, 47, 51); }
.timeline-Header-byline { font-size: 12px; font-weight: 400; line-height: 16px; color: rgb(136, 153, 166); }
.timeline-Footer { padding: 15px; font-size: 12px; }
.SandboxRoot.var-footerless .timeline-Footer { display: none; }
.Icon--heart { background-image: url('undefined'); }
.Icon--share { width: 0.98611em; background-image: url('undefined'); }
.timeline-InformationCircle-widgetParent { position: relative; }
.timeline-InformationCircle { position: absolute; right: 12px; top: 15px; }
.SandboxRoot.env-bp-min { font-size: 12px; }
.customisable, .customisable:link, .customisable:visited { color: rgb(0, 98, 204); }
.customisable:hover, .customisable:focus, .customisable:active, .customisable-highlight:hover, .customisable-highlight:focus, a:hover .customisable-highlight, a:focus .customisable-highlight { color: rgb(51, 129, 214); }
