* { margin: 0px; padding: 0px; }
html, body { width: 100%; height: 100%; }
#like_wrapper { height: 100%; width: 100%; }
#like { display: block; width: 100%; height: 100%; cursor: default; }
#like svg { fill: rgb(204, 204, 204); }
#like.show { opacity: 1; }
