/* ::::: http://www.armhf.com/css/style.css?ver=1.9.7.6 ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
hr { float: none; clear: both; width: 100%; height: 1px; border: medium none; color: rgb(221, 221, 221); background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
html { height: 100%; }
body { color: rgb(85, 85, 85); background: rgb(239, 239, 239) none repeat scroll 0% 0%; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 1.5em; text-rendering: optimizelegibility; }
p { word-wrap: break-word; }
tt, var, pre, kbd, samp, code { font-family: monospace,serif; font-style: normal; }
b, strong { font-weight: 700; }
pre { box-sizing: border-box; width: 100%; height: auto; margin: 0px; padding: 6px 10px; border-width: 1px; border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px; outline: medium none; background: rgb(244, 244, 244) none repeat scroll 0% 0%; box-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 1px rgba(0, 0, 0, 0.2) inset; vertical-align: middle; white-space: pre-wrap; word-wrap: break-word; }
.grid { float: left; margin-bottom: 2.12766%; padding-top: 0px; }
.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 { margin-right: 2.12766%; }
.col-300 { width: 31.9149%; }
.col-380 { width: 40.4255%; }
.col-540 { width: 57.4468%; }
.col-620 { width: 65.9574%; }
.col-940 { width: 100%; }
.fit { margin-right: 0px ! important; margin-left: 0px ! important; }
img { max-width: 100%; height: auto; border: 0px none; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
a { color: rgb(0, 102, 204); font-weight: 400; text-decoration: none; }
a:hover, a:focus, a:active { outline: 0px none; color: rgb(68, 68, 68); text-decoration: none; }
ul { margin: 0px; padding: 0px; list-style-type: disc; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: 700; line-height: 1em; word-wrap: break-word; }
h1 { margin-top: 0.5em; margin-bottom: 0.5em; font-size: 2.625em; }
h3 { margin-top: 0.857em; margin-bottom: 0.857em; font-size: 1.875em; }
h4 { margin-top: 1em; margin-bottom: 1em; font-size: 1.5em; }
p, hr, dl, pre, form, table, address, blockquote { margin: 1.6em 0px; }
ul { list-style-type: disc; }
ul, ol { margin: 0px 1.5em 1.5em 0px; padding-left: 2em; }
li ul, li ol { margin: 0px; }
#container { max-width: 960px; margin: 0px auto; padding: 0px 25px; }
#wrapper { clear: both; position: relative; margin: 20px auto; padding: 0px 20px 20px; border: 1px solid rgb(229, 229, 229); border-radius: 4px; background-color: rgb(255, 255, 255); }
#header { margin: 0px; }
#footer { clear: both; max-width: 960px; margin: 0px auto; padding: 0px 25px; }
#footer-wrapper { margin: 0px; padding: 0px; }
#logo { float: left; margin: 0px; }
#content { margin-top: 40px; margin-bottom: 20px; }
.comments-link { font-size: 12px; }
.post-data { clear: both; margin-top: 20px; font-size: 12px; font-weight: 700; }
.post-data a { color: rgb(17, 17, 17); }
.post-entry { clear: both; }
.post-meta { clear: both; margin-bottom: 10px; color: rgb(159, 159, 159); font-size: 12px; }
.widget-wrapper { margin: 0px 0px 20px; padding: 20px; border: 1px solid rgb(229, 229, 229); border-radius: 4px; background-color: rgb(249, 249, 249); }
#widgets { margin-top: 40px; }
#widgets a { display: inline-block; margin: 0px; padding: 0px; text-decoration: none; }
#widgets ul, #widgets ol { padding: 0px 0px 0px 20px; }
#widgets ul li a { display: inline; text-decoration: none; }
.widget-title h3, .widget-title-home h3 { display: block; margin: 0px; padding: 0px 0px 20px; font-size: 24px; font-weight: 700; line-height: 23px; text-align: left; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute ! important; }
.skip-container { display: block; position: relative; padding: 0.5em 0.5em 0.5em 0px; }
.skip-link { float: right; margin-left: -100%; padding: 0.5em; border: 1px solid rgb(213, 213, 213); border-radius: 3px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; font-size: 0.8125em; text-transform: uppercase; }
.skip-link:hover, .skip-link:active, .skip-link:focus { border: 1px solid rgb(102, 102, 102); }
.menu { clear: both; margin: 0px auto; background-color: rgb(88, 88, 88); background-image: -moz-linear-gradient(center top , rgb(88, 88, 88), rgb(61, 61, 61)); }
.main-nav { clear: both; }
.menu, .menu ul { display: block; margin: 0px; padding: 0px; list-style-type: none; }
.menu li { display: block; float: left; position: relative; z-index: 5; margin: 0px; padding: 0px; border: 0px none; }
.menu li:hover { z-index: 10000; white-space: normal; }
.menu li li { float: none; }
.menu ul { visibility: hidden; position: absolute; z-index: 10; top: 0px; left: 0px; }
.menu li:hover > ul { visibility: visible; top: 100%; }
.menu::after, .menu ul::after { display: block; visibility: hidden; clear: both; overflow: hidden; height: 0px; content: "."; }
.menu, .menu ul { min-height: 0px; }
.menu ul, .menu ul ul { margin: 0px; padding: 0px; }
.menu ul li a:hover, .menu li li a:hover { color: rgb(72, 72, 72); text-decoration: none; }
.menu ul { width: auto; min-width: 15em; margin-top: 1px; }
.menu a { display: block; position: relative; height: 45px; margin: 0px; padding: 0px 0.9em; border-left: 1px solid rgb(88, 88, 88); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgb(0, 0, 0); font-size: 13px; font-weight: 700; line-height: 45px; white-space: nowrap; text-decoration: none; cursor: pointer; }
.menu a:hover { color: rgb(255, 255, 255); background-color: rgb(128, 128, 128); background-image: -moz-linear-gradient(center top , rgb(128, 128, 128), rgb(54, 54, 54)); }
ul.menu > li:hover { color: rgb(255, 255, 255); background-color: rgb(54, 54, 54); }
.menu li li { width: auto; margin: -1px 0px 1px; border: 1px solid rgb(229, 229, 229); color: rgb(68, 68, 68); background: rgb(255, 255, 255) none repeat scroll 0% 0%; filter: none; }
.menu li li a { height: 20px; padding: 5px 10px; border: medium none; color: rgb(68, 68, 68); background: transparent none repeat scroll 0% 0% ! important; text-shadow: none; font-size: 12px; font-weight: 400; line-height: 20px; white-space: nowrap; }
.menu li li a:hover { border: medium none; color: rgb(68, 68, 68); background: rgb(245, 245, 245) none repeat scroll 0% 0% ! important; filter: none; }
.menu li li:hover { background: rgb(245, 245, 245) none repeat scroll 0% 0% ! important; filter: none; }
.menu ul > li + li { border-top: 0px none; }
.menu > li:first-child > a { border-left: medium none; }
.main-nav #responsive_current_menu_item { display: none; }
.sub-header-menu::after, .sub-header-menu ul::after { display: block; visibility: hidden; clear: both; overflow: hidden; height: 0px; content: "."; }
.navigation { display: block; height: 28px; margin: 20px 0px; padding: 0px 5px; color: rgb(17, 17, 17); font-size: 13px; line-height: 28px; }
.navigation a { padding: 4px 10px; color: rgb(170, 170, 170); }
.navigation a:hover { color: rgb(17, 17, 17); text-decoration: none; }
.navigation .previous { float: left; }
.navigation .next { float: right; }
.breadcrumb-list { font-size: 12px; }
#pings, #comments { text-align: left; }
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 650px) {
}
#footer { font-size: 11px; line-height: 1.5em; }
#footer a { color: rgb(51, 51, 51); font-weight: 400; }
#footer a:hover { color: rgb(68, 68, 68); }
#footer-wrapper .grid.col-940 { margin: 0px; }
.scroll-top { text-align: center; }
.copyright { text-align: left; }
.powered { text-align: right; }
#footer_widget .col-300:nth-child(3n+3) { margin-right: 0px; }
#footer .social-icons { margin: 0px; padding: 0px; line-height: normal; text-align: right; list-style: outside none none; }
.clearfix::after, .clearfix::before, #container::after, #container::before, .widget-wrapper::after, .widget-wrapper::before { display: table; content: " "; }
.clearfix::after, #container::after, .widget-wrapper::after { clear: both; }
@media not all, not all, not all, not all {
	body {  }
}
/* ::::: http://www.armhf.com/css/responsive.css?ver=1.9.7.6 ::::: */

@media screen and (max-width: 980px) {
	body {  }
	.grid, .grid-right { display: block; float: none; width: 100%; margin-right: 0px; }
	.copyright, .scroll-top, .powered { float: left; }
}
@media screen and (max-width: 650px) {
	body {  }
	#logo { float: none; margin: 0px; text-align: center; }
	.grid, .grid-right { float: none; }
	.js .main-nav { clear: both; position: relative; margin: 0px auto; background-color: rgb(88, 88, 88); background-image: -moz-linear-gradient(center top , rgb(88, 88, 88), rgb(61, 61, 61)); }
	.js .main-nav .menu { display: none; position: absolute; z-index: 1000; top: 30px; width: 100%; }
	.js .main-nav .menu ul { margin-top: 1px; }
	.js .main-nav .menu li { float: none; border: medium none; background-color: rgb(255, 255, 255); }
	.js .main-nav .menu li a { height: 45px; padding: 0px 15px; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(245, 245, 245); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(68, 68, 68); text-shadow: none; font-size: 13px; font-weight: normal; line-height: 45px; text-align: left; cursor: pointer; }
	.js .main-nav .menu li li:hover { background: transparent none repeat scroll 0% 0% ! important; }
	.js .main-nav .menu li li a { position: relative; padding: 0px 10px 0px 30px; }
	.js .main-nav .menu li a:hover, .js .main-nav .menu li li a:hover { background-color: rgb(245, 245, 245) ! important; background-image: none; filter: none; }
	.js .main-nav .menu li li a::before { position: absolute; top: 0px; left: 20px; content: "–"; }
	.js .main-nav .menu li li li a::before { position: absolute; top: 0px; left: 20px; content: "–"; }
	.js .main-nav .menu li li li a::after { position: absolute; top: 0px; left: 30px; content: "–"; }
	.js .main-nav .menu li ul { visibility: visible; position: static; background-color: rgb(255, 255, 255); }
	.js .main-nav .menu ul { min-width: 0px; }
	.js .main-nav #responsive_current_menu_item { display: block; padding: 5px 40px 5px 10px; color: rgb(255, 255, 255); font-weight: 700; cursor: pointer; }
	.js .main-nav a#responsive_menu_button { display: block; position: absolute; top: 0px; left: 100%; width: 23px; height: 30px; margin-left: -30px; background: transparent url('select-icons.png') no-repeat scroll 0px 5px; cursor: pointer; }
	#footer { text-align: center; }
	#footer .social-icons { padding-bottom: 10px; text-align: center; }
}
@media screen and (max-width: 480px) {
	body {  }
	#logo { float: none; text-align: center; }
	.grid, .grid-right { float: none; }
	.navigation .next, .navigation .previous { display: block; margin: 0px auto; text-align: center; }
	.menu ul, .menu li, .top-menu, .footer-menu li, .sub-header-menu li { float: none; text-align: center; text-rendering: optimizespeed; }
	#footer { text-align: center; }
	#footer .social-icons { text-align: center; }
}
@media screen and (max-width: 320px) {
	body {  }
}
@media screen and (max-width: 240px) {
	body {  }
	.widget-title h3, .widget-title-home h3 { height: 13px; font-size: 14px; line-height: 13px; text-align: left; }
}
/* ::::: http://www.armhf.com/css/shortcodes.css?ver=0.6.6 ::::: */

@media screen and (max-width: 600px) {
}
body.custom-background { background-color: rgb(255, 255, 255); background-image: url('bg2.png'); background-repeat: repeat; background-position: left top; background-attachment: fixed; }
h1 { font-size: 2em; margin-bottom: 0.5em; margin-top: 0.5em; }
h3 { font-size: 1.5em; margin-bottom: 0.4em; margin-top: 0.4em; }
h4 { font-size: 1.25em; margin-bottom: 0.35em; margin-top: 0.35em; }
pre { background: rgb(224, 224, 228) none repeat scroll 0% 0%; border: 1px solid rgb(222, 222, 227); box-shadow: none; padding: 5px; margin: 0.5em 0.5em 1em; line-height: 1.3em; overflow: auto; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; max-height: 600px; }
pre code { padding: 0px; }
code { background: rgb(224, 224, 228) none repeat scroll 0% 0%; padding: 1px 5px; }
