HTML { margin: 0px ! important; border: medium none ! important; }
.dragdrop-handle { cursor: move; -moz-user-select: none; }
.dragdrop-draggable {  }
/* ::::: https://www.google.com/css/modules/buttons/g-button.css ::::: */

@media screen, projection {
}
#gbsfw { min-width: 400px; overflow: visible; }
.gb_Jb, #gbsfw.gb_g { display: block; outline: medium none; }
.gb_2a { display: none ! important; }
.gb_Ec { display: inline-block; padding: 0px 0px 0px 15px; vertical-align: middle; }
.gb_Ec:first-child, #gbsfw:first-child + .gb_Ec { padding-left: 0px; }
.gb_pc { position: relative; }
.gb_b { display: inline-block; outline: medium none; vertical-align: middle; border-radius: 2px; box-sizing: border-box; height: 30px; width: 30px; color: rgb(0, 0, 0); cursor: default; text-decoration: none; }
#gb#gb a.gb_b { color: rgb(0, 0, 0); cursor: default; text-decoration: none; }
.gb_eb { border-color: transparent transparent rgb(255, 255, 255); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 6.5px; top: 37px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s normal none 1 running gb__a; }
.gb_fb { border-color: transparent transparent rgba(0, 0, 0, 0.2); border-style: dashed dashed solid; border-width: 0px 8.5px 8.5px; display: none; position: absolute; left: 6.5px; z-index: 1; height: 0px; width: 0px; animation: 0.2s ease 0s normal none 1 running gb__a; top: 36px; }
.gb_ga { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.2); color: rgb(0, 0, 0); box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); display: none; outline: medium none; overflow: hidden; position: absolute; right: 0px; top: 44px; animation: 0.2s ease 0s normal none 1 running gb__a; border-radius: 2px; -moz-user-select: text; }
.gb_ea .gb_b { background-position: -35px -311px; opacity: 0.55; }
.gb_ga.gb_ha { min-height: 196px; overflow-y: auto; width: 320px; }
.gb_ja { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; min-height: 100px; padding: 28px 27px 28px 28px; text-align: left; white-space: normal; width: 265px; }
.gb_ka { background: rgb(245, 245, 245) none repeat scroll 0% 0%; cursor: pointer; height: 40px; overflow: hidden; }
.gb_la { position: relative; }
.gb_ka { display: block; line-height: 40px; text-align: center; width: 320px; }
.gb_la { display: block; line-height: 40px; text-align: center; }
.gb_ka, .gb_ka:visited, .gb_ka:active, .gb_la, .gb_la:visited { color: rgb(115, 115, 115); text-decoration: none; }
.gb_la:active { color: rgb(115, 115, 115); }
#gb a.gb_ka, #gb a.gb_ka:visited, #gb a.gb_ka:active, #gb a.gb_la, #gb a.gb_la:visited { color: rgb(115, 115, 115); text-decoration: none; }
#gb a.gb_la:active { color: rgb(115, 115, 115); }
.gb_la, .gb_ja { display: none; }
.gb_ca, .gb_ca + .gb_la, .gb_na .gb_la, .gb_na .gb_ja { display: block; }
.gb_la:hover, .gb_la:active, #gb a.gb_la:hover, #gb a.gb_la:active { text-decoration: underline; }
.gb_la { border-bottom: 1px solid rgb(235, 235, 235); left: 28px; width: 264px; }
.gb_la:last-child { border-bottom-width: 0px; }
.gb_ua .gb_ka { margin-top: 0px; position: static; }
.gb_wa { margin: -12px 28px 28px; position: relative; width: 264px; border-radius: 2px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1); }
.gb_5 { background-image: url('v1_76783e20.png'); background-size: 92px 2541px; display: inline-block; margin: 8px; vertical-align: middle; height: 64px; width: 64px; }
.gb_xa { color: rgb(38, 38, 38); display: inline-block; font: 13px/18px Arial,sans-serif; margin-right: 80px; padding: 10px 10px 10px 0px; vertical-align: middle; white-space: normal; }
.gb_ya { font: 16px/24px Arial,sans-serif; }
.gb_za, #gb#gb .gb_za { color: rgb(66, 127, 237); text-decoration: none; }
.gb_za:hover, #gb#gb .gb_za:hover { text-decoration: underline; }
.gb_Aa .gb_ja { position: relative; }
.gb_Aa .gb_O { position: absolute; top: 28px; left: 28px; }
.gb_N .gb_ea .gb_b::before, .gb_N.gb_fa .gb_ea .gb_b::before { left: -35px; top: -311px; }
.gb_N.gb_X .gb_ea .gb_b::before { left: -60px; top: -1675px; }
.gb_ea .gb_b:hover, .gb_ea .gb_b:focus { opacity: 0.85; }
@media (min-resolution: 1.25dppx), not all, not all {
}
#gb#gb a.gb_O { color: rgb(64, 64, 64); text-decoration: none; }
#gb#gb a.gb_P, #gb#gb span.gb_P { text-decoration: none; }
#gb#gb a.gb_P, #gb#gb span.gb_P { color: rgb(0, 0, 0); }
.gb_P { opacity: 0.75; }
.gb_Q.gb_R { display: none; padding-left: 15px; vertical-align: middle; }
.gb_Q.gb_R:first-child { padding-left: 0px; }
.gb_S.gb_R { display: inline-block; }
.gb_Q span { opacity: 0.55; -moz-user-select: text; }
.gb_T .gb_S.gb_R { flex: 0 1 auto; display: flex; }
.gb_Q .gb_P { display: inline-block; line-height: 24px; outline: medium none; vertical-align: middle; }
.gb_S .gb_P { display: none; }
.gb_M.gb_M { background-size: 64px 64px; }
.gb_N #gb2 .gb_M::before { content: url('3a1e625196.png'); }
.gb_N #gb22 .gb_M::before { content: url('3daf4c1f88.png'); }
.gb_N #gb45 .gb_M::before { content: url('f420d06f66.png'); }
.gb_N #gb72 .gb_M::before { content: url('78b3d46de1.png'); }
.gb_N #gb117 .gb_M::before { content: url('142da27578.png'); }
.gb_N #gb136 .gb_M::before { content: url('911e3628e6.png'); }
.gb_N #gb166 .gb_M::before { content: url('41679a9ec5.png'); }
.gb_N #gb171 .gb_M::before { content: url('4244245d7e.png'); }
.gb_N #gb177 .gb_M::before { content: url('4653513b7d.png'); }
.gb_N #gb206 .gb_M::before { content: url('ad330d8459.png'); }
.gb_N #gb207 .gb_M::before { content: url('2c21041e16.png'); }
.gb_N #gb211 .gb_M::before { content: url('c03dda0b34.png'); }
.gb_N #gb217 .gb_M::before { content: url('71060be5b3.png'); }
.gb_N #gb228 .gb_M::before { content: url('74aa55e0c2.png'); }
.gb_N #gb249 .gb_M::before { content: url('afa40f6e42.png'); }
#gb260 .gb_M { background-image: url('ea554714e7.png'); }
.gb_N #gb260 .gb_M::before { content: url('ea554714e7.png'); }
.gb_N #gb261 .gb_M::before { content: url('0b26f6f8e4.png'); }
.gb_N #gb108 .gb_M::before { content: url('dfbeb24785.png'); }
.gb_N #gb60 .gb_M::before { content: url('85bb99a341.png'); }
.gb_N #gb175 .gb_M::before { content: url('eacd033c28.png'); }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N #gb2 .gb_M::before { content: url('438087d3df.png'); }
	.gb_N #gb22 .gb_M::before { content: url('cfa67efcd3.png'); }
	.gb_N #gb45 .gb_M::before { content: url('9c561d4392.png'); }
	.gb_N #gb72 .gb_M::before { content: url('90f42e515b.png'); }
	.gb_N #gb117 .gb_M::before { content: url('e3cbb9b858.png'); }
	.gb_N #gb136 .gb_M::before { content: url('17bdcddea9.png'); }
	.gb_N #gb166 .gb_M::before { content: url('be3fe52205.png'); }
	.gb_N #gb171 .gb_M::before { content: url('1b217ae532.png'); }
	.gb_N #gb177 .gb_M::before { content: url('188f0d697b.png'); }
	.gb_N #gb206 .gb_M::before { content: url('20808fb750.png'); }
	.gb_N #gb207 .gb_M::before { content: url('6d9eaee7f9.png'); }
	.gb_N #gb211 .gb_M::before { content: url('2d7fffa981.png'); }
	.gb_N #gb217 .gb_M::before { content: url('e2c0b463b4.png'); }
	.gb_N #gb228 .gb_M::before { content: url('fe8c881457.png'); }
	.gb_N #gb249 .gb_M::before { content: url('d54db42004.png'); }
	#gb260 .gb_M { background-image: url('99be7c5086.png'); }
	.gb_N #gb260 .gb_M::before { content: url('99be7c5086.png'); }
	.gb_N #gb261 .gb_M::before { content: url('9001dae971.png'); }
	.gb_N #gb108 .gb_M::before { content: url('ca7b209615.png'); }
	.gb_N #gb60 .gb_M::before { content: url('e000432278.png'); }
	.gb_N #gb175 .gb_M::before { content: url('84d52a8885.png'); }
}
.gb_Z { padding: 1px; display: inline-block; vertical-align: top; color: black; z-index: 999; height: 98px; width: 86px; }
.gb_Z a { text-decoration: none; }
.gb_Z:hover:not(.gb_0) { z-index: 1001; }
.gb_Z:hover:not(.gb_0) a { border: 1px solid rgb(229, 229, 229); border-radius: 2px; margin: 7px 1px; }
.gb_Z.gb_1:not(.gb_0) a { border: 1px solid rgb(229, 229, 229); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
.gb_O { color: rgb(64, 64, 64); display: inline-block; font-size: 13px; margin: 8px 2px; text-align: center; outline: medium none; }
.gb_O .gb_3, .gb_O .gb_M { display: inline-block; vertical-align: top; height: 64px; width: 64px; }
.gb_4 { display: block; line-height: 20px; overflow: hidden; white-space: nowrap; width: 84px; text-overflow: ellipsis; }
.gb_Z:hover .gb_O { z-index: 1; }
.gb_Z:hover .gb_4 { background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%; white-space: normal; word-wrap: break-word; }
.gb_O .gb_3 { background-image: url('v1_76783e20.png'); background-size: 92px 2541px; }
.gb_N .gb_O .gb_3::before, .gb_N .gb_5.gb_3::before { content: url('v1_76783e20.png'); position: absolute; }
.gb_N .gb_M::before { left: 0px; position: absolute; top: 0px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_O .gb_3 { background-image: url('v2_f80843e3.png'); }
	.gb_N .gb_O .gb_3::before { content: url('v2_f80843e3.png'); transform: scale(0.5); transform-origin: 0px 0px 0px; }
	.gb_N .gb_O .gb_M::before { transform: scale(0.5); transform-origin: 0px 0px 0px; }
}
.gb_8, .gb_9 { position: relative; top: 27px; visibility: hidden; }
.gb_aa, .gb_ba { left: 37px; visibility: hidden; }
.gb_8 { float: left; width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid rgb(66, 115, 219); }
.gb_9 { float: right; width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid rgb(66, 115, 219); }
.gb_aa { position: absolute; top: 0px; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid rgb(66, 115, 219); }
.gb_ba { position: absolute; top: 59px; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(66, 115, 219); }
ul.gb_ca li.gb_7:not(:first-child) .gb_8, ul.gb_ca li.gb_7:not(:nth-child(-n+3)) .gb_aa, ul.gb_ca li.gb_7 .gb_9, ul.gb_ca li.gb_7 .gb_ba, ul.gb_da li.gb_7 .gb_8, ul.gb_da li.gb_7 .gb_aa, ul.gb_da li.gb_7:not(:last-child) .gb_9, ul.gb_da li.gb_7:not(:nth-last-child(-n+3)) .gb_ba { visibility: visible; }
.gb_Ca, .gb_Da, .gb_Fa, .gb_Ha { display: inline-block; line-height: 28px; padding: 0px 12px; border-radius: 2px; }
.gb_Fa { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(198, 198, 198); }
.gb_Fa, #gb a.gb_Fa.gb_Fa, .gb_Ha { color: rgb(102, 102, 102); cursor: default; text-decoration: none; }
.gb_3a { background-size: 32px 32px; border-radius: 50%; display: block; margin: -1px; overflow: hidden; position: relative; height: 32px; width: 32px; z-index: 0; }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gb_3a::before { transform: scale(0.5); transform-origin: left 0px 0px; }
	.gb_nb::before { transform: scale(0.5); transform-origin: left 0px 0px; }
}
.gb_3a:hover, .gb_3a:focus { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); }
.gb_3a:active { box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15) inset; }
.gb_3a:active::after { background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; border-radius: 50%; content: ""; display: block; height: 100%; }
.gb_ab.gb_R, .gb_cb.gb_R, .gb_8a.gb_R { flex: 0 1 auto; }
.gb_gb { outline: medium none; }
.gb_hb, #gb a.gb_hb.gb_hb, .gb_ib a, #gb .gb_ib.gb_ib a { color: rgb(51, 102, 204); text-decoration: none; }
.gb_hb:active, #gb a.gb_hb:active, .gb_hb:hover, #gb a.gb_hb:hover, .gb_ib a:active, #gb .gb_ib a:active, .gb_ib a:hover, #gb .gb_ib a:hover { text-decoration: underline; }
.gb_jb { margin: 20px; }
.gb_kb, .gb_lb { display: inline-block; vertical-align: top; }
.gb_kb { margin-right: 20px; position: relative; }
.gb_mb { border-radius: 50%; overflow: hidden; }
.gb_nb { background-size: 96px 96px; border: medium none; vertical-align: top; height: 96px; width: 96px; }
.gb_ob { background: rgba(78, 144, 254, 0.7) none repeat scroll 0% 0%; bottom: 0px; color: rgb(255, 255, 255); font-size: 9px; font-weight: bold; left: 0px; line-height: 9px; position: absolute; padding: 7px 0px; text-align: center; width: 96px; }
.gb_mb .gb_ob { background: rgba(0, 0, 0, 0.54) none repeat scroll 0% 0%; }
.gb_pb { font-weight: bold; margin: -4px 0px 1px; }
.gb_qb { color: rgb(102, 102, 102); }
.gb_ib { color: rgb(204, 204, 204); margin: 6px 0px; }
.gb_ib a { margin: 0px 10px; }
.gb_ib a:first-child { margin-left: 0px; }
.gb_ib a:last-child { margin-right: 0px; }
.gb_lb .gb_rb { background: rgb(77, 144, 254) none repeat scroll 0% 0%; border-color: rgb(48, 121, 237); font-weight: bold; margin: 10px 0px 0px; color: rgb(255, 255, 255); }
#gb .gb_lb a.gb_rb.gb_rb { color: rgb(255, 255, 255); }
.gb_lb .gb_rb:hover { background: rgb(53, 122, 232) none repeat scroll 0% 0%; border-color: rgb(47, 91, 183); }
.gb_sb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); border-color: rgba(0, 0, 0, 0.2); padding: 10px 0px; width: 100%; display: table; }
.gb_sb .gb_rb { margin: 0px 20px; }
.gb_sb > div { display: table-cell; text-align: right; }
.gb_sb > div:first-child { text-align: left; }
.gb_wb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); max-height: 230px; overflow: auto; }
.gb_xb { border-top: 1px solid rgba(0, 0, 0, 0.2); display: block; padding: 10px 20px; }
.gb_xb:hover { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.gb_xb:first-child, .gb_Ab:first-child + .gb_xb { border-top: 0px none; }
.gb_Ab { display: none; }
.gb_Cb { border: medium none; vertical-align: top; height: 48px; width: 48px; }
.gb_zb { display: inline-block; margin: 6px 0px 0px 10px; }
.gb_Db { color: rgb(0, 0, 0); }
.gb_Eb { color: rgb(102, 102, 102); }
.gb_Fb { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-top: 1px solid rgba(0, 0, 0, 0.2); display: block; padding: 10px 20px; }
.gb_Hb { background-position: 0px -1421px; display: inline-block; margin: 1px 0px; vertical-align: middle; height: 25px; width: 25px; }
.gb_N .gb_Hb::before { left: 0px; top: -1421px; }
.gb_Ib { color: rgb(66, 127, 237); display: inline-block; padding: 0px 25px 0px 10px; vertical-align: middle; white-space: normal; }
.gb_Fb:hover .gb_Ib { text-decoration: underline; }
.gb_qf { color: rgb(0, 0, 0); font: 13px/27px Arial,sans-serif; left: 0px; min-width: 1117px; position: absolute; top: 0px; -moz-user-select: none; width: 100%; }
.gb_ue { font: 13px/27px Arial,sans-serif; position: relative; height: 60px; width: 100%; }
#gba { height: 60px; }
.gb_ue > .gb_R { height: 60px; line-height: 58px; vertical-align: middle; }
.gb_ue::before { background: rgb(229, 229, 229) none repeat scroll 0% 0%; bottom: 0px; content: ""; display: none; height: 1px; left: 0px; position: absolute; right: 0px; }
.gb_ue { background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
.gb_rf .gb_ue::before, .gb_5a .gb_ue::before { display: none; }
.gb_fa .gb_ue::before { background: rgba(0, 0, 0, 0.12) none repeat scroll 0% 0%; }
.gb_X .gb_ue::before { background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.gb_R { display: inline-block; flex: 0 0 auto; }
.gb_R.gb_sf { float: right; order: 1; }
.gb_tf { white-space: nowrap; }
.gb_T .gb_tf { display: flex; }
.gb_tf, .gb_R { margin-left: 0px ! important; margin-right: 0px ! important; }
.gb_Rb { background-image: url('v1_76783e20.png'); background-size: 92px 2541px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_Rb { background-image: url('v2_f80843e3.png'); }
}
.gb_db:not(.gb_N) .gb_3a::before, .gb_db:not(.gb_N) .gb_nb::before { content: none; }
.gb_N .gb_Pb .gb_Rb::before { left: 0px; top: -762px; }
.gb_N.gb_X .gb_Pb .gb_Rb::before { left: 0px; top: -2439px; }
.gb_N.gb_fa .gb_Pb .gb_Rb::before { left: 0px; top: -1883px; }
.gb_Mb { min-width: 152px; overflow: hidden; position: relative; z-index: 987; }
.gb_Nb { position: absolute; padding: 0px 30px; }
.gb_Pb { display: inline-block; outline: medium none; vertical-align: middle; }
.gb_Qb .gb_Pb { position: relative; top: 2px; }
.gb_Pb .gb_Rb, .gb_Sb { display: block; }
.gb_Pb .gb_Rb { background-position: 0px -762px; height: 33px; width: 92px; }
.gb_mc:not(.gb_nc) .gb_fb, .gb_mc:not(.gb_nc) .gb_eb { left: 3px; }
.gb_mc .gb_pc { font-size: 14px; font-weight: bold; top: 0px; right: 0px; }
.gb_mc .gb_b { display: inline-block; vertical-align: middle; box-sizing: border-box; height: 30px; width: 30px; }
.gb_mc .gb_eb { border-bottom-color: rgb(229, 229, 229); }
.gb_qc { background-color: rgba(0, 0, 0, 0.55); color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; line-height: 20px; margin: 5px; padding: 0px 2px; text-align: center; box-sizing: border-box; border-radius: 50%; height: 20px; width: 20px; }
.gb_qc.gb_rc { background-position: -35px -1675px; }
.gb_b:hover .gb_qc, .gb_b:focus .gb_qc { background-color: rgba(0, 0, 0, 0.85); }
.gb_N .gb_gc::before { left: -35px; top: -658px; }
.gb_N .gb_hc .gb_gc::before { left: -35px; top: -1848px; }
.gb_N.gb_fa .gb_b .gb_gc::before { left: 0px; top: -311px; }
.gb_N.gb_fa .gb_hc .gb_gc::before { left: 0px; top: -1658px; }
.gb_N.gb_X .gb_b .gb_gc::before { left: -35px; top: -623px; }
.gb_N.gb_X .gb_hc .gb_gc::before { left: -35px; top: -276px; }
.gb_N .gb_qc.gb_rc::before, .gb_yb.gb_N.gb_X .gb_qc.gb_rc::before { left: -35px; top: -1675px; }
.gb_N .gb_qc.gb_sc::before, .gb_yb.gb_N.gb_X .gb_qc.gb_sc::before { left: -69px; top: 0px; }
.gb_N.gb_X .gb_qc.gb_rc::before, .gb_yb.gb_N.gb_fa .gb_qc.gb_rc::before { left: 0px; top: -1921px; }
.gb_N.gb_X .gb_qc.gb_sc::before, .gb_yb.gb_N.gb_fa .gb_qc.gb_sc::before { left: -69px; top: -869px; }
.gb_yc .gb_rb::before { content: ""; height: 6px; left: 0px; position: absolute; top: -6px; width: 100%; }
.gb_yc .gb_rb::after { bottom: -6px; content: ""; height: 6px; left: 0px; position: absolute; width: 100%; }
.gb_qe { position: relative; width: 650px; z-index: 986; }
#gbq2 { padding-top: 15px; }
.gb_T .gb_qe { min-width: 200px; flex: 0 2 auto; }
.gb_T #gbqf { margin-right: 0px; display: flex; }
.gb_T .gbqff { min-width: 0px; flex: 1 1 auto; }
.gb_N .gbqfi::before { left: 0px; top: -415px; }
#gbq2 { display: block; }
#gbqf { display: block; margin: 0px 60px 0px 0px; white-space: nowrap; }
.gbqff { border: medium none; display: inline-block; margin: 0px; padding: 0px; vertical-align: top; width: 100%; }
.gbqfqw, #gbqfb, .gbqfwa { vertical-align: top; }
#gbqfaa, #gbqfab, #gbqfqwb { position: absolute; }
#gbqfaa { left: 0px; }
#gbqfab { right: 0px; }
.gbqfqwb, .gbqfqwc { right: 0px; left: 0px; height: 100%; }
.gbqfqwb { padding: 0px 8px; }
#gbqfbw { display: inline-block; vertical-align: top; }
#gbqfb { border: 1px solid transparent; border-bottom-left-radius: 0px; border-top-left-radius: 0px; height: 30px; margin: 0px; outline: medium none; padding: 0px; width: 60px; box-shadow: none; box-sizing: border-box; background: transparent -moz-linear-gradient(center top , rgb(67, 135, 253), rgb(70, 131, 234)) repeat scroll 0% 0%; }
#gbqfb:hover { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); }
#gbqfb:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; }
#gbqfb:hover:focus { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgb(255, 255, 255) inset; }
#gbqfb:active:active { border: 1px solid transparent; box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15) inset; background: transparent -moz-linear-gradient(center top , rgb(60, 122, 228), rgb(63, 118, 211)) repeat scroll 0% 0%; }
.gbqfi { background-position: 0px -415px; display: inline-block; margin: -1px; height: 30px; width: 30px; }
.gbqfqw { background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box; border-width: 1px 0px 1px 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.15); height: 30px; box-sizing: border-box; }
#gbqfqw { position: relative; }
.gbqfqw.gbqfqw:hover { border-color: rgba(0, 0, 0, 0.3); }
.gbqfwa { display: inline-block; width: 100%; }
.gbqfqw.gbqfqw:active, .gbqfqw.gbqfqwf.gbqfqwf { border-color: rgb(66, 133, 244); }
#gbqfq, #gbqfqb, #gbqfqc { background: transparent none repeat scroll 0% 0%; border: medium none; height: 20px; margin-top: 4px; padding: 0px; vertical-align: top; width: 100%; }
#gbqfq:focus, #gbqfqb:focus, #gbqfqc:focus { outline: medium none; }
.gbqfif, .gbqfsf { color: rgb(34, 34, 34); font: 16px arial,sans-serif; }
.gbqfb, .gbqfba, .gbqfbb { cursor: default ! important; display: inline-block; font-weight: bold; height: 29px; line-height: 29px; min-width: 54px; padding: 0px 8px; text-align: center; text-decoration: none ! important; border-radius: 2px; -moz-user-select: none; }
.gbqfb::-moz-focus-inner { border: 0px none; }
.gbqfba::-moz-focus-inner { border: 0px none; }
.gb_N .gb_re .gb_b::before { left: 0px; top: -623px; }
.gb_N.gb_fa .gb_re .gb_b::before { left: 0px; top: -1848px; }
.gb_N.gb_X .gb_re .gb_b::before { left: 0px; top: -2404px; }
.gb_db { min-width: 255px; padding-left: 30px; padding-right: 30px; position: relative; text-align: right; z-index: 986; align-items: center; justify-content: flex-end; -moz-user-select: none; }
.gb_db.gb_R { flex: 1 1 auto; }
.gb_ec { line-height: normal; position: relative; text-align: left; }
.gb_ec.gb_R, .gb_gf.gb_R, .gb_6a.gb_R { flex: 0 1 auto; }
.gb_gf { line-height: normal; padding-right: 15px; }
.gb_9a:not(.gb_bb) .gb_mf, .gb_V .gb_lf { display: inline-block; }
.gb_9a:not(.gb_bb) .gb_nf { display: none; }
.gb_db.gb_R.gb_V, .gb_V:not(.gb_bb) .gb_ec { flex: 0 0 auto; }
.gb_db.gb_of, .gb_db.gb_of .gb_lf, .gb_db.gb_of .gb_lf::before, .gb_db.gb_of .gb_gf, .gb_db.gb_of .gb_ec { transition: width 0.5s ease-in-out 0s, min-width 0.5s ease-in-out 0s, max-width 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s, left 0.5s ease-in-out 0s; }
.gb_T .gb_db { min-width: 0px; }
.gb_N .gb_lf::before { clip: rect(623px, 86px, 639px, 70px); left: -48px; top: -601px; }
.gb_N .gb_mf::before { clip: rect(519px, 86px, 535px, 70px); left: -40px; top: -497px; }
.gb_N .gb_9a .gb_lf::before { left: -40px; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N .gb_lf::before { clip: rect(1246px, 172px, 1278px, 140px); }
	.gb_N .gb_mf::before { clip: rect(1038px, 172px, 1070px, 140px); }
}
.gb_N .gb_Rb::before { content: url('v1_76783e20.png'); position: absolute; }
@media (min-resolution: 1.25dppx), not all, not all {
	.gb_N .gb_Rb::before { content: url('v2_f80843e3.png'); transform: scale(0.5); transform-origin: 0px 0px 0px; }
}
.gbxx { display: none ! important; }
#gbq { line-height: normal; position: relative; top: 0px; white-space: nowrap; }
#gbq { left: 0px; width: 100%; }
#gbq2 { top: 0px; z-index: 986; }
.gbii::before { content: url('photo.jpg'); position: absolute; }
.gbip::before { content: url('photo_001.jpg'); position: absolute; }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gbii::before { content: url('photo_002.jpg'); }
	.gbip::before { content: url('photo_003.jpg'); }
}
.gbii { background-image: url('photo.jpg'); }
.gbip { background-image: url('photo_001.jpg'); }
@media (min-resolution: 1.25dppx), not all, not all, not all {
	.gbii { background-image: url('photo_002.jpg'); }
	.gbip { background-image: url('photo_003.jpg'); }
}
.gb_wa .gb_3::before { left: 0px; top: -1076px; }
#gb192 .gb_3::before { left: 0px; top: -1451px; }
#gb1 .gb_3::before { left: -17px; top: -207px; }
#gb8 .gb_3::before { left: 0px; top: -450px; }
#gb78 .gb_3::before { left: 0px; top: -1779px; }
#gb23 .gb_3::before { left: 0px; top: -1710px; }
#gb49 .gb_3::before { left: 0px; top: -138px; }
#gb24 .gb_3::before { left: 0px; top: -2059px; }
#gb119 .gb_3::before { left: 0px; top: -938px; }
#gb51 .gb_3::before { left: 0px; top: -693px; }
#gb31 .gb_3::before { left: 0px; top: -1145px; }
#gb25 .gb_3::before { left: 0px; top: -1214px; }
#gb10 .gb_3::before { left: 0px; top: -554px; }
#gb30 .gb_3::before { left: 0px; top: -1007px; }
#gb53 .gb_3::before { left: 0px; top: -69px; }
#gb300 .gb_3::before { left: 0px; top: -2335px; }
html, body, div, span, applet, object { margin: 0px; padding: 0px; border: 0px none; }
iframe { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; }
body { background: white none repeat scroll 0% 0%; }
table { border-collapse: separate; border-spacing: 0px; }
caption, th, td { font-weight: normal; }
input::-moz-focus-inner { border: 0px none; }
body { font-family: "Arial","Helvetica",sans-serif; color: rgb(34, 34, 34); font-size: 13px; height: 100%; background-color: rgb(255, 255, 255); }
html { height: 100%; background-color: rgb(255, 255, 255); }
body { overflow-y: hidden; overflow-x: auto; }
.IVILX2C-b-q { position: fixed; overflow: hidden; width: 100%; height: 100%; }
h1, h2, h3, h4, h5 { font-size: 16px; line-height: 24px; font-weight: normal; color: rgb(34, 34, 34); }
li { line-height: 17px; }
a { text-decoration: none; color: rgb(17, 85, 204); cursor: pointer; }
a:visited { color: rgb(102, 17, 204); }
a:active { color: rgb(209, 72, 54); }
iframe { border: 0px none; }
input[type="text"], input[type="password"], textarea, .editable { border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; vertical-align: top; box-sizing: border-box; }
input[type="text"], input[type="password"] { background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); display: inline-block; height: 29px; line-height: 27px; padding-left: 8px; }
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, .editable:hover { border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .editable:focus { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; outline: medium none; border: 1px solid rgb(77, 144, 254); }
#gbqfq { border: medium none ! important; box-shadow: none ! important; line-height: normal ! important; }
.gux-confirm-panel-r1, .gux-confirm-panel-r2, .gux-confirm-panel-r3, .gux-confirm-panel-r4 { display: none; }
.gux-confirm-panel-c { padding: 7px 16px ! important; background: rgb(249, 237, 190) none repeat scroll 0% 0% ! important; border: 1px solid rgb(240, 195, 109); border-radius: 2px; line-height: 16px; font-size: 11px; position: relative; }
.gux-confirm-panel-message { color: inherit ! important; font-weight: inherit ! important; }
.IVILX2C-b-y { text-align: center; padding: 16px; }
.IVILX2C-b-y .gux-confirm-panel-c { display: inline-block; }
.IVILX2C-b-o { position: relative; overflow: hidden; height: 58px; border-bottom: 1px solid rgb(235, 235, 235); }
.IVILX2C-b-p { font-size: 20px; position: absolute; left: 44px; top: 18px; }
.IVILX2C-b-N .IVILX2C-b-p { left: 28px; }
.IVILX2C-b-dc .IVILX2C-b-p { left: 30px; }
.IVILX2C-b-p, .IVILX2C-b-p a, .IVILX2C-b-p a:hover, .IVILX2C-b-p a:visited { color: rgb(221, 75, 57); }
.IVILX2C-b-n { position: relative; font-size: 20px; font-weight: normal; color: rgb(34, 34, 34); white-space: nowrap; overflow: hidden; margin-top: 14px; min-height: 30px; margin-right: 44px; }
.IVILX2C-b-N .IVILX2C-b-n { margin-right: 28px; }
.IVILX2C-b-dc .IVILX2C-b-n { margin-right: 30px; }
.IVILX2C-b-Cb { color: rgb(102, 102, 102); }
.IVILX2C-b-jb, .IVILX2C-b-Mb, .IVILX2C-b-sb { color: rgb(17, 85, 204); text-decoration: none; cursor: pointer; white-space: nowrap; }
.IVILX2C-b-sb { padding-left: 8px; }
.IVILX2C-b-ab { color: rgb(170, 170, 170) ! important; }
.IVILX2C-b-U { color: red; vertical-align: baseline; font-size: 0.83em; position: relative; top: -0.4em; }
.IVILX2C-b-Qb { white-space: nowrap; padding: 0px 2px; font-size: 11px; }
.IVILX2C-b-S, .IVILX2C-b-fb, .IVILX2C-b-mb { color: rgb(238, 68, 68); }
.IVILX2C-b-lb { display: inline-block; }
.IVILX2C-b-J { overflow: hidden; background: transparent url('undefined') no-repeat scroll 0px 0px; display: inline-block; width: 5px; height: 7px; transition: all 0.218s ease 0s; transform: rotate(90deg); opacity: 0.8; }
.IVILX2C-b-F { overflow-y: scroll ! important; }
.IVILX2C-b-G { padding-right: 28px; }
.IVILX2C-b-N .IVILX2C-b-G { padding-right: 12px; }
.IVILX2C-b-dc .IVILX2C-b-G { padding-right: 14px; }
.IVILX2C-b-v { position: absolute; right: 44px; top: 3px; font-size: 11px; color: rgb(136, 136, 136); }
.IVILX2C-b-Ab { position: relative; }
.IVILX2C-b-B { overflow-y: hidden ! important; }
.IVILX2C-b-B:hover { overflow-y: auto; }
.IVILX2C-b-f { cursor: pointer; }
.IVILX2C-b-f img { opacity: 0.667; margin: 12px 6px 11px; }
.IVILX2C-b-f:hover img { opacity: 1; }
.IVILX2C-d-C { cursor: pointer; font-size: 13px; display: block; }
.IVILX2C-d-x { position: relative; margin: 0px; }
.IVILX2C-d-y { padding: 16px 0px 16px 28px; }
.IVILX2C-b-N .IVILX2C-d-y { padding: 16px 0px 16px 12px; }
.IVILX2C-b-dc .IVILX2C-d-y { padding-left: 14px; }
.IVILX2C-d-w { font-size: 13px; padding: 0px; margin: 0px; position: relative; }
.IVILX2C-d-b { padding-bottom: 5px; }
.IVILX2C-d-w div a { display: block; overflow: hidden; white-space: nowrap; text-decoration: none; color: rgb(51, 51, 51); cursor: pointer; font-size: 13px; line-height: 30px; padding-left: 16px; }
.IVILX2C-d-C a, .IVILX2C-d-C a:visited { display: block; overflow: hidden; position: relative; white-space: nowrap; text-decoration: none; color: rgb(51, 51, 51); cursor: pointer; font-size: 13px; line-height: 30px; padding-left: 16px; }
.IVILX2C-b-N .IVILX2C-d-w div a, .IVILX2C-b-N .IVILX2C-d-C a { line-height: 24px; }
.IVILX2C-d-B, .IVILX2C-d-B .IVILX2C-d-B { margin-left: 12px; }
.IVILX2C-d-B .IVILX2C-d-m a { padding-left: 4px; }
.IVILX2C-d-w div a { position: relative; }
.IVILX2C-d-d { position: absolute; top: 5px; bottom: 5px; left: 0px; right: 0px; }
.IVILX2C-d-w div.IVILX2C-d-m a:hover, .IVILX2C-d-w div.IVILX2C-d-c a:hover { color: rgb(34, 34, 34); background-color: rgb(238, 238, 238); }
.IVILX2C-b-Db > div > a span, .IVILX2C-b-Db > a span { color: rgb(209, 72, 54); }
.IVILX2C-d-w div.IVILX2C-d-c { cursor: default; }
.IVILX2C-d-p { display: block; overflow: hidden; text-overflow: ellipsis; padding-left: 12px; }
.IVILX2C-d-p > h3 { display: inline; }
.IVILX2C-d-p > * { font-size: 13px; }
.IVILX2C-d-w div.IVILX2C-d-t > a .IVILX2C-d-p { padding-left: 0px; }
.IVILX2C-d-D { display: inline-block; width: 17px; height: 20px; position: absolute; top: 4px; left: 0px; margin-left: -1px; z-index: 10; cursor: pointer; text-align: center; }
.IVILX2C-d-D:hover { background-color: rgb(238, 238, 238); }
.IVILX2C-b-N .IVILX2C-d-D { top: 2px; }
.IVILX2C-d-e { height: 16px; width: 16px; overflow: hidden; background: transparent url('undefined') no-repeat scroll 0px 0px; }
.IVILX2C-d-t .IVILX2C-d-e { display: none; }
.IVILX2C-d-i { position: absolute; top: 7px; opacity: 0.7; left: 4px; }
.IVILX2C-b-N .IVILX2C-d-i { top: 4px; }
.IVILX2C-d-w div.IVILX2C-d-m a:hover .IVILX2C-d-i, .IVILX2C-d-f:hover .IVILX2C-d-i, .IVILX2C-b-Db .IVILX2C-d-i { opacity: 1; }
.IVILX2C-d-f .IVILX2C-d-i { left: 16px; }
.IVILX2C-d-m, .IVILX2C-d-c { position: relative; }
.IVILX2C-d-q { padding-right: 20px; }
.IVILX2C-d-n { display: block; float: right; position: relative; top: 7px; margin-left: 3px; font-size: 11px; color: rgb(102, 102, 102) ! important; background-color: rgb(238, 238, 238); padding: 2px 3px; line-height: 12px; font-weight: normal; }
.IVILX2C-b-N .IVILX2C-d-n { top: 5px; }
.IVILX2C-d-m a:hover .IVILX2C-d-n, .IVILX2C-d-c a:hover .IVILX2C-d-n { background-color: rgb(204, 204, 204); color: rgb(51, 51, 51) ! important; }
.IVILX2C-d-j { display: none; }
.IVILX2C-d-m:hover .IVILX2C-d-j, .IVILX2C-d-f:hover .IVILX2C-d-j, .IVILX2C-d-a { display: inline; }
.IVILX2C-d-m .IVILX2C-d-v, .IVILX2C-d-c .IVILX2C-d-v { top: 8px; right: 3px; z-index: 2; position: absolute; height: 13px; width: 13px; overflow: hidden; }
.IVILX2C-b-N .IVILX2C-d-m .IVILX2C-d-v, .IVILX2C-b-N .IVILX2C-d-c .IVILX2C-d-v { top: 6px; }
.IVILX2C-d-v input { border: 0px none; padding: 0px; outline: medium none; }
a.IVILX2C-d-u { height: 13px; width: 13px; overflow: hidden; background: transparent url('undefined') no-repeat scroll 0px 0px; }
a.IVILX2C-d-u:hover, .IVILX2C-d-a a.IVILX2C-d-u { height: 13px; width: 13px; overflow: hidden; background: transparent url('undefined') no-repeat scroll 0px 0px; }
a.IVILX2C-d-u { display: inline-block; padding: 0px ! important; }
.IVILX2C-d-r { padding: 4px 8px; }
.IVILX2C-d-r div { background-color: rgb(249, 237, 190); border: 2px solid rgb(249, 237, 190); color: rgb(34, 34, 34); padding: 4px; line-height: 16px; border-radius: 6px; text-align: center; }
.IVILX2C-d-f { position: relative; outline-style: none; }
.IVILX2C-d-l { outline-style: none; margin-bottom: 9px; }
.IVILX2C-d-h { font-size: 11px; color: rgb(68, 68, 68); text-align: center; padding: 16px 0px 20px 16px; }
.IVILX2C-d-h a { white-space: nowrap; }
.IVILX2C-d-h a:visited { color: rgb(17, 85, 204); }
.IVILX2C-d-k { border-top: 1px solid rgb(235, 235, 235); margin-top: 4px; margin-bottom: 10px; }
.IVILX2C-c-a { color: rgb(17, 85, 204); text-decoration: none; cursor: pointer; white-space: nowrap; }
.IVILX2C-A-a { position: relative; top: 3px; height: 15px; width: 15px; }
.IVILX2C-w-a { width: 100%; margin-right: 0px; height: 8px; position: absolute; top: 0px; left: 0px; opacity: 0; border-top: 1px solid rgb(235, 235, 235); }
.IVILX2C-n-a { cursor: pointer; font-size: 11px; font-weight: bold; text-align: center; margin-right: 16px; white-space: nowrap; height: 27px; line-height: 27px; min-width: 54px; outline: 0px none; padding: 0px 8px; border-radius: 2px; display: inline-block; }
.IVILX2C-n-a:hover { border: 1px solid rgb(198, 198, 198); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
.IVILX2C-n-a img.IVILX2C-n-d { vertical-align: middle; margin-top: -2px; opacity: 0.667; }
.IVILX2C-n-j img.IVILX2C-n-d, .IVILX2C-n-c img.IVILX2C-n-d, .IVILX2C-n-a:hover img.IVILX2C-n-d { opacity: 1; }
.IVILX2C-n-h { min-width: 34px; padding: 0px 4px; }
.IVILX2C-n-b { cursor: default; opacity: 0.5; pointer-events: none; }
.IVILX2C-n-f { border-right-color: transparent; margin-right: 0px; }
.IVILX2C-n-g { border-radius: 0px; margin-left: -1px; margin-right: -1px; }
.IVILX2C-n-i { border-left-color: transparent; margin-left: 0px; }
.IVILX2C-n-f {  }
.IVILX2C-n-f {  }
.IVILX2C-n-f { border-radius: 2px 0px 0px 2px; }
.IVILX2C-n-i {  }
.IVILX2C-n-i {  }
.IVILX2C-n-i { border-radius: 0px 2px 2px 0px; }
.IVILX2C-n-i { margin-left: -1px; }
.jfk-button-standard { color: rgb(102, 102, 102); border: 1px solid rgba(0, 0, 0, 0.1); background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); }
.jfk-button-standard:hover { border: 1px solid rgb(198, 198, 198); color: rgb(51, 51, 51); background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); }
.jfk-button-standard:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.jfk-button-standard:focus { outline: medium none; border: 1px solid rgb(77, 144, 254); z-index: 4; }
.jfk-button-standard.IVILX2C-n-b { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.05); color: rgb(184, 184, 184); }
.IVILX2C-k-b { height: 4px; width: 7px; overflow: hidden; background: transparent url('undefined') no-repeat scroll 0px 0px; display: inline-block; margin-left: 7px; margin-bottom: 1px; opacity: 0.8; }
.IVILX2C-k-c:hover .IVILX2C-k-b { opacity: 1; }
.IVILX2C-f-F, .IVILX2C-f-x { position: relative; }
.IVILX2C-f-G, .IVILX2C-f-G > * { outline: medium none ! important; }
.IVILX2C-f-v { width: 198px; position: absolute; left: 0px; }
.IVILX2C-f-l { margin-left: 220px; }
.IVILX2C-f-l:focus { outline: medium none; }
.IVILX2C-f-A { position: absolute; width: 8px; top: 0px; bottom: 0px; right: -20px; cursor: col-resize; }
.IVILX2C-f-A .IVILX2C-f-C { display: block; position: absolute; left: 5px; top: 0px; bottom: 0px; border-left: 1px solid rgb(235, 235, 235); }
.IVILX2C-f-A .IVILX2C-f-i { visibility: visible ! important; }
html, body, #gb, #gbx1 { min-width: 700px; }
html { overflow-x: auto; overflow-y: hidden; }
body { overflow: visible; }
.IVILX2C-f-b { overflow: hidden; min-height: 30px; }
.IVILX2C-f-w { position: absolute; right: 0px; top: 0px; padding-left: 16px; }
.IVILX2C-f-w > div > div { display: inline-block; margin-right: 0px; margin-left: 16px; }
.IVILX2C-f-w > div > div:first-child { margin-left: 0px; }
.IVILX2C-f-g { transform: rotate(180deg); vertical-align: middle; }
.IVILX2C-f-m { transform: rotate(0deg); vertical-align: middle; }
.IVILX2C-f-h { border: 1px solid rgb(235, 235, 235); padding: 4px; cursor: pointer ! important; }
.IVILX2C-f-h:hover { background-color: rgb(238, 238, 238); }
.IVILX2C-f-i:hover { visibility: visible; }
.IVILX2C-f-i { visibility: hidden; position: absolute; right: 2px; top: 0px; bottom: 0px; padding: 8px 0px 8px 8px; }
.IVILX2C-f-n { display: none; position: absolute; padding: 8px 0px; }
.IVILX2C-b-N .IVILX2C-f-i { padding: 7px 0px 7px 7px; }
.IVILX2C-b-N .IVILX2C-f-n { padding: 7px 0px; }
.goog-button-base { cursor: default; font: 0.846em/1 Arial,sans-serif; letter-spacing: normal; margin: 0px 1px; outline: medium none; text-align: center; text-indent: 0px; text-transform: none; vertical-align: baseline; white-space: nowrap; word-spacing: normal; }
.IVILX2C-q-e::before, .IVILX2C-q-e::after { border-style: solid; content: ""; display: block; height: 0px; position: absolute; width: 0px; }
.IVILX2C-q-e.IVILX2C-q-f::before, .IVILX2C-q-e.IVILX2C-q-h::before, .IVILX2C-q-e.IVILX2C-q-i::before, .IVILX2C-q-e.IVILX2C-q-d::before { bottom: auto; margin-top: -7px; top: 50%; }
.IVILX2C-q-e.IVILX2C-q-f::after, .IVILX2C-q-e.IVILX2C-q-h::after, .IVILX2C-q-e.IVILX2C-q-i::after, .IVILX2C-q-e.IVILX2C-q-d::after { bottom: auto; margin-top: -6px; top: 50%; }
.IVILX2C-q-e.IVILX2C-q-l::before, .IVILX2C-q-e.IVILX2C-q-c::before, .IVILX2C-q-e.IVILX2C-q-l::after, .IVILX2C-q-e.IVILX2C-q-c::after { left: 80% ! important; }
.IVILX2C-q-e.IVILX2C-q-k::before, .IVILX2C-q-e.IVILX2C-q-b::before, .IVILX2C-q-e.IVILX2C-q-k::after, .IVILX2C-q-e.IVILX2C-q-b::after { left: 20% ! important; }
.IVILX2C-q-e.IVILX2C-q-j::before, .IVILX2C-q-e.IVILX2C-q-a::before { left: 50%; margin-left: -7px; right: auto; }
.IVILX2C-q-e.IVILX2C-q-j::after, .IVILX2C-q-e.IVILX2C-q-a::after { left: 50%; margin-left: -6px; right: auto; }
.IVILX2C-q-e.IVILX2C-q-j::before { border-color: rgb(255, 255, 255) transparent; border-width: 8px 7px 0px; bottom: -8px; }
.IVILX2C-q-e.IVILX2C-q-j::after { border-color: rgb(42, 42, 42) transparent; border-width: 7px 6px 0px; bottom: -7px; }
.IVILX2C-q-e.IVILX2C-q-a::before { border-color: rgb(255, 255, 255) transparent; border-width: 0px 7px 8px; top: -8px; }
.IVILX2C-q-e.IVILX2C-q-a::after { border-color: rgb(42, 42, 42) transparent; border-width: 0px 6px 7px; top: -7px; }
.IVILX2C-q-e.IVILX2C-q-f::before { border-color: transparent rgb(255, 255, 255); border-width: 7px 0px 7px 8px; right: -8px; }
.IVILX2C-q-e.IVILX2C-q-f::after { border-color: transparent rgb(42, 42, 42); border-width: 6px 0px 6px 7px; right: -7px; }
.IVILX2C-q-e.IVILX2C-q-h::before { border-color: transparent rgb(255, 255, 255); border-width: 7px 8px 7px 0px; left: -8px; }
.IVILX2C-q-e.IVILX2C-q-h::after { border-color: transparent rgb(42, 42, 42); border-width: 6px 7px 6px 0px; left: -7px; }
.IVILX2C-q-e.IVILX2C-q-i::before { border-color: transparent rgb(255, 255, 255); border-width: 7px 0px 7px 8px; right: -8px; }
.IVILX2C-q-e.IVILX2C-q-i::after { border-color: transparent rgb(42, 42, 42); border-width: 6px 0px 6px 7px; right: -7px; }
.IVILX2C-q-e.IVILX2C-q-d::before { border-color: transparent rgb(255, 255, 255); border-width: 7px 8px 7px 0px; left: -8px; }
.IVILX2C-q-e.IVILX2C-q-d::after { border-color: transparent rgb(42, 42, 42); border-width: 6px 7px 6px 0px; left: -7px; }
.IVILX2C-oc-b { color: rgb(119, 119, 119); text-align: center; padding: 4px; }
.IVILX2C-oc-a { color: rgb(5, 71, 192); }
.IVILX2C-jb-c { display: inline; white-space: nowrap; padding: 0px 2px; }
.IVILX2C-jb-a { color: rgb(238, 68, 68); font-size: 13px; }
.IVILX2C-jb-b { font-size: 13px; }
.gux-confirm-panel-r1 { background-color: rgb(255, 238, 136); border-left: 1px solid rgb(255, 253, 240); border-right: 1px solid rgb(255, 253, 240); margin: 0px 1px; padding-top: 1px; }
.gux-confirm-panel-r2 { background-color: rgb(255, 238, 136); border-left: 1px solid rgb(255, 253, 240); border-right: 1px solid rgb(255, 253, 240); padding-top: 1px; }
.gux-confirm-panel-c { background-color: rgb(255, 238, 136); padding: 2px 15px; }
.gux-confirm-panel-message { color: rgb(0, 0, 0); font-weight: bold; }
.IVILX2C-sb-p { overflow: hidden; }
.IVILX2C-sb-w { border-bottom: 1px solid rgb(235, 235, 235); padding-top: 8px; padding-bottom: 8px; }
.IVILX2C-sb-Z .IVILX2C-sb-x { padding-right: 20px; }
.IVILX2C-sb-y { float: right; }
.IVILX2C-sb-t { white-space: nowrap; font-weight: normal; float: right; font-size: 13px; color: rgb(102, 102, 102); }
.IVILX2C-sb-L { margin-right: 16px; }
.IVILX2C-sb-bb { font-weight: bold; }
.IVILX2C-tb-W.IVILX2C-sb-n { border-top: 1px solid rgb(221, 221, 221); }
.IVILX2C-tb-W.IVILX2C-sb-k { border-bottom: 1px solid rgb(221, 221, 221); }
.IVILX2C-sb-M, .IVILX2C-sb-O { padding-bottom: 5px; min-width: 100%; }
.IVILX2C-sb-X { font-size: 18px; }
.IVILX2C-sb-ab { font-size: 18px; background-color: rgb(235, 238, 248); }
.IVILX2C-sb-U { white-space: nowrap; }
.IVILX2C-sb-Z .IVILX2C-sb-U { display: inline-block; vertical-align: baseline; margin-top: 4px; }
.IVILX2C-sb-cb { color: rgb(34, 0, 204); cursor: pointer; white-space: nowrap; display: inline-block; vertical-align: bottom; }
.IVILX2C-sb-Z .IVILX2C-sb-cb { position: relative; top: 1px; }
.IVILX2C-sb-cb img { opacity: 0.667; }
.IVILX2C-sb-cb img:hover { opacity: 1; }
.IVILX2C-sb-H { width: 100%; }
.IVILX2C-sb-o { padding: 8px 16px; color: rgb(34, 0, 204); background-color: rgb(255, 238, 136); border: 1px solid rgb(188, 188, 188); position: absolute; bottom: 4px; right: 4px; }
.IVILX2C-sb-N, .IVILX2C-sb-d { border-top: 1px solid rgb(221, 221, 221); padding: 4px; }
.IVILX2C-sb-Z .IVILX2C-sb-N { border: 0px none; padding: 4px 8px; background-color: rgb(77, 144, 254); border-radius: 10px; }
.IVILX2C-sb-Z .IVILX2C-sb-N.IVILX2C-sb-d { border-bottom: 0px none; padding: 4px 8px; background-color: rgb(61, 148, 0); color: white; border-radius: 10px; }
.IVILX2C-sb-Z .IVILX2C-sb-N span, .IVILX2C-sb-Z .IVILX2C-sb-d span { font-size: 16px; font-weight: normal; }
.IVILX2C-sb-N span, .IVILX2C-sb-d span { font-weight: bold; }
.IVILX2C-sb-N span { color: rgb(102, 102, 102); }
.IVILX2C-sb-d span { color: rgb(75, 195, 87); }
.IVILX2C-sb-Z .IVILX2C-sb-N span, .IVILX2C-sb-Z .IVILX2C-sb-d span { color: white; }
.IVILX2C-sb-g, .IVILX2C-sb-s, .IVILX2C-sb-e { display: inline-block; }
.IVILX2C-sb-s { vertical-align: top; overflow: hidden; padding-left: 8px ! important; }
.IVILX2C-sb-Z .IVILX2C-sb-s { position: relative; top: 1px; }
.IVILX2C-sb-r { text-align: right; padding-bottom: 10px; }
.IVILX2C-sb-c { text-align: center; }
.IVILX2C-kb-c { display: inline; white-space: nowrap; padding: 0px 2px; }
.IVILX2C-kb-b { color: rgb(238, 68, 68); font-size: 13px; }
.IVILX2C-kb-a { font-size: 13px; }
.IVILX2C-x-a .IVILX2C-x-d { float: left; }
.IVILX2C-x-a .IVILX2C-x-e { float: right; }
.IVILX2C-x-a .IVILX2C-x-e td:last-child div { margin-right: 0px; }
.IVILX2C-x-b { line-height: 24px; margin-bottom: 14px; }
.IVILX2C-lb-a { color: rgb(102, 102, 102); }
.IVILX2C-lb-e { border-radius: 2px; height: 22px; }
.IVILX2C-lb-e > span { position: relative; top: -2px; }
.goog-inline-block { position: relative; display: inline-block; }
.IVILX2C-G-a { border: 1px solid transparent; color: rgb(255, 255, 255); background-color: rgb(209, 72, 54); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(209, 72, 54)); text-shadow: 0px 1px rgba(0, 0, 0, 0.1); text-transform: uppercase; }
.IVILX2C-G-a:hover { border-width: 1px; border-style: solid; border-color: rgb(176, 40, 26) rgb(176, 40, 26) rgb(175, 48, 31); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(197, 55, 39); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(197, 55, 39)); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }
.IVILX2C-G-a:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; outline: 0px none transparent; }
.IVILX2C-G-a:active { background-color: rgb(176, 40, 26); border: 1px solid rgb(153, 42, 27); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(176, 40, 26)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.IVILX2C-tb-W { position: relative; border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-left: 1px solid transparent; margin-right: 0px; padding-right: 0px; }
.IVILX2C-tb-F { margin-right: 0px; }
.IVILX2C-tb-X { border-left: 1px solid rgb(77, 144, 240); }
.IVILX2C-tb-X:focus { outline: medium none; }
.IVILX2C-tb-Y { padding: 4px 0px; }
.IVILX2C-tb-O { width: 100%; }
.IVILX2C-tb-P { color: rgb(34, 34, 34); line-height: normal; }
.IVILX2C-tb-P p { line-height: normal; margin: 1em 0px; }
.IVILX2C-tb-p { width: 34px; padding: 5px; }
.IVILX2C-tb-kb { border-bottom: 1px solid rgb(221, 221, 221); margin-bottom: 8px; }
.IVILX2C-tb-a { position: relative; padding: 4px 0px; }
.IVILX2C-tb-b { padding-left: 5px; margin-left: 39px; margin-right: 0px ! important; }
.IVILX2C-tb-U { font-size: 11px; float: right; line-height: 27px; }
.IVILX2C-tb-O td { vertical-align: top; }
.IVILX2C-tb-Q { white-space: nowrap; }
.IVILX2C-tb-R { height: 1.5em; cursor: pointer; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; white-space: nowrap; overflow: hidden; padding-top: 6px ! important; }
.IVILX2C-tb-T { text-align: right; }
.IVILX2C-tb-eb { color: rgb(136, 136, 136); height: 1.5em; overflow: hidden; line-height: 1.5em; }
.IVILX2C-tb-fb { padding: 0px 4px; vertical-align: top; }
.IVILX2C-tb-S { border-bottom: 1px solid rgb(221, 221, 221); margin-bottom: 8px; padding-bottom: 8px; }
.IVILX2C-tb-t { font-weight: bold; }
.IVILX2C-tb-r { width: 15%; font-weight: bold; }
.IVILX2C-tb-q { width: 85%; }
.IVILX2C-tb-x .IVILX2C-tb-gb { float: left; margin: 0px 10px; }
.IVILX2C-tb-w .IVILX2C-tb-gb, .IVILX2C-tb-x .IVILX2C-tb-gb { position: relative; top: -4px; }
.IVILX2C-tb-e { float: right; white-space: nowrap; margin-top: 5px ! important; }
.IVILX2C-tb-i { display: inline-block; white-space: nowrap; text-align: center; height: 27px; }
.IVILX2C-tb-f { padding: 0px; }
.IVILX2C-tb-k { min-width: 0px; width: 13px; height: 27px; margin-right: 0px; }
.IVILX2C-tb-k .IVILX2C-k-b { margin-left: 0px; }
.IVILX2C-tb-A { min-width: 34px; }
.IVILX2C-tb-E { color: rgb(119, 119, 119); }
.IVILX2C-tb-E > img { position: relative; top: 2px; padding-right: 4px; }
.IVILX2C-tb-E > span { padding-right: 4px; }
.IVILX2C-tb-E .IVILX2C-D-a { vertical-align: baseline; }
.IVILX2C-Db-a { color: rgb(153, 153, 153); cursor: pointer; font-size: 9px; }
.IVILX2C-Db-b { color: rgb(136, 136, 136); }
.IVILX2C-fd-a { padding-left: 5px; margin-left: 44px; }
.IVILX2C-nd-a { position: relative; height: 34px; margin-top: 4px; }
.IVILX2C-nd-c { text-decoration: underline; }
.IVILX2C-nd-b { border-width: 1px ! important; border-style: solid ! important; border-color: silver rgb(217, 217, 217) rgb(217, 217, 217) ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; box-sizing: border-box; border-radius: 1px; background-color: white; color: rgb(153, 153, 153); padding: 8px 0px 0px 12px; position: absolute; top: 0px; right: 0px; left: 4px; height: 34px; }
.IVILX2C-H-d { display: inline-block; height: 13px; padding: 5px; text-align: center; width: 13px; cursor: pointer; }
.IVILX2C-H-d .IVILX2C-H-c { background: transparent url('star2.png') no-repeat scroll 0% 0%; height: 13px; width: 13px; }
.IVILX2C-D-a { font-weight: bold; white-space: nowrap; vertical-align: top; cursor: default; }
