.Uf::after { transition: opacity 0.418s ease 0s, visibility 0.418s ease 0s; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2); height: 1px; content: ""; left: -8px; opacity: 0; position: absolute; right: -8px; top: -1px; visibility: hidden; }
.Uf.an::after { opacity: 1; visibility: visible; }
html, body { height: 100%; margin: 0px; padding: 0px; border: medium none; overflow: hidden; }
td, div { font-family: arial,sans-serif; }
@media (min-resolution: 1.5dppx), not all {
}
@media (min-resolution: 1.5dppx), not all {
}
button.z-b-G::-moz-focus-inner { border: 0px none; padding: 0px; }
button.z-b-ga::-moz-focus-inner { border: 0px none; padding: 0px; }
button.z-b-va::-moz-focus-inner { border: 0px none; padding: 0px; }
button.z-b-ua::-moz-focus-inner { border: 0px none; padding: 0px; }
button.z-b-V::-moz-focus-inner { border: 0px none; padding: 0px; }
input[type="text"]::-moz-placeholder { color: rgb(0, 0, 0); }
.ICsgXc button::-moz-focus-inner { border-color: transparent; }
.xT > div > a:focus::after { content: ""; display: block; position: absolute; top: -2px; bottom: -2px; left: -2px; right: -2px; border-radius: 50%; border: 2px solid rgb(77, 144, 254); }
@media (min-resolution: 1.5dppx), not all {
}
.iF9mle.Q::before { content: ""; position: absolute; top: 7px; left: 0px; height: 11px; border-left: 1px dotted rgb(38, 38, 38); }
.Gk .ci::after { content: ""; position: absolute; top: -4px; left: -3px; width: 0px; height: 0px; border-width: 4px; border-style: solid; border-color: white white transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.Gk.WJ .Ql::after { display: block; transform: scale(0.5); content: ""; position: absolute; background-color: inherit; border-radius: 100%; box-shadow: 0px 0px 1px 0px rgba(83, 169, 63, 0.3); width: 200%; height: 200%; left: -50%; top: -50%; }
.Gk .Ql::after { display: none; }
.h6ZfZb:focus:not(:active) { opacity: 0.87; }
.X6yXv.dlrqf:not(.SaQFFd) .qhuNad { margin-right: 5px; }
.Yo { background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-sizing: border-box; display: table ! important; font-family: "Arial",sans-serif; height: 100%; margin: 0px; position: fixed; width: 100%; opacity: 1; }
.ZI { display: table-row; width: 100%; }
.ZI > div { display: table-cell; }
.aJ { display: table-row; height: 100%; width: 100%; }
.aJ > div { display: table-cell; height: 100%; width: 100%; }
* html .c-N-K, :first-child + html .c-N-K { display: inline; }
@media (min-resolution: 1.5dppx), not all {
}
@media (min-resolution: 1.5dppx), not all {
}
.Jv::before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.PgORWd:focus:not(:active) { background-color: rgba(38, 50, 56, 0.12); }
.PgORWd:hover:not([disabled]) { background-color: rgba(176, 190, 197, 0.26); }
.PgORWd:active:not([disabled]) { background-color: rgba(176, 190, 197, 0.38); }
.PgORWd.l5CExb:not([disabled]) { color: rgb(0, 131, 143); }
.PgORWd.l5CExb:focus:not(:active):not([disabled]) { color: rgb(0, 96, 100); background-color: rgba(38, 50, 56, 0.12); }
.PgORWd.t4oGId:focus:not(:active) { background-color: rgba(255, 255, 255, 0.12); }
.PgORWd.t4oGId:hover:not([disabled]) { background-color: rgba(255, 255, 255, 0.26); }
.PgORWd.t4oGId:active:not([disabled]) { background-color: rgba(255, 255, 255, 0.38); }
.eTdhCd:hover:not([disabled]) { background-color: rgb(15, 157, 88); }
.eTdhCd:focus:not(:active) { background-color: rgb(13, 144, 79); box-shadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.3); }
.ICsgXc .eTdhCd:focus:not(:active) { background-color: rgb(15, 157, 88); box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3); }
.eTdhCd:active:not([disabled]) { background-color: rgb(13, 144, 79); box-shadow: 0px 13px 25px 0px rgba(0, 0, 0, 0.3); }
.ibIQPb { height: 100%; display: block ! important; background-color: rgb(255, 255, 255); }
.kgwWAf { height: 100%; }
.FuZuF { height: 100%; width: 100%; }
.FuZuF > div { height: 100%; }
.U0Rtpb:not(.EioRfb) { transition-delay: 0s, 0.3s; }
@media (min-resolution: 1.5dppx), not all {
}
div.ibIQPb, div.Yo, div.zA, div.mD, div.Lo { background-color: transparent; }
@media (min-resolution: 1.5dppx), not all {
}
.Uf::after { box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1); content: ""; height: 4px; left: 0px; position: absolute; right: 0px; top: -4px; }
.iM3vKf .Pv, .iM3vKf .Pv + .xr::before { display: none; }
@media (min-resolution: 1.5dppx), not all {
}
@media (min-resolution: 1.5dppx), not all {
}
.X6yXv.dlrqf:not(.SaQFFd) .qhuNad { margin-right: 5px; }
.x27tad { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
@media (min-resolution: 1.5dppx), not all {
}
.M.B .aNteJf::after { border-radius: 50%; background: rgb(96, 96, 96) none repeat scroll 0% 0%; content: ""; display: block; height: 7px; left: 3px; position: absolute; top: 3px; width: 7px; }
.M.o.B .aNteJf::after { background: rgb(184, 184, 184) none repeat scroll 0% 0%; }
.M.B .aNteJf::after { border-radius: 50%; background: rgb(66, 133, 244) none repeat scroll 0% 0%; content: ""; display: block; height: 7px; left: 2px; position: absolute; top: 2px; width: 7px; }
.M.o.B .aNteJf::after { background: rgb(229, 229, 229) none repeat scroll 0% 0%; }
.xE > button:not(:first-child) { display: none; }
@media (min-resolution: 1.5dppx), not all {
}
@media (min-resolution: 1.5dppx), not all {
}
.B4CRcb::before { background-color: rgb(66, 133, 244); content: ""; display: block; height: 2px; width: 70%; animation-name: linkSharingPanelIndeterminateProgress; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: linear; }
.S6ou3 .CLIscc .l5CExb:active:not(:active):not([disabled]) { background-color: rgb(11, 128, 67); color: rgb(250, 250, 250); }
.S6ou3 .CLIscc .l5CExb:hover:not(:active):not([disabled]) { background-color: rgb(11, 128, 67); color: rgb(250, 250, 250); }
.S6ou3 .CLIscc .l5CExb:focus:not(:active):not([disabled]) { background-color: rgb(5, 85, 36); color: rgb(250, 250, 250); }
.S6ou3 .CLIscc .l5CExb:not([disabled]) { background-color: rgb(15, 157, 88); box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2); color: rgb(250, 250, 250); line-height: 1.2em; }
@media (min-resolution: 1.5dppx), not all {
}
.HfhnEf button:not(:focus) { outline: medium none; }
.bi97z:hover::before { background-color: rgb(245, 245, 245); bottom: 0px; content: ""; left: -14px; position: absolute; right: -14px; top: 0px; z-index: -1; }
.VQ7Kyb .hdHShd:not(:empty) { background-image: none; opacity: 1; }
