body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: Arial,arial,sans-serif; }
#adunit { background-color: rgb(244, 247, 248); border: 1px solid rgb(200, 200, 200); height: 278px; width: 334px; }
#ads { height: 278px; left: 1px; position: absolute; top: 1px; width: 334px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 1px; width: 334px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 1px; width: 334px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 1px; width: 0px; height: 278px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 1px; width: 0px; height: 278px; }
.rhtitle { text-decoration: none; word-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbody.rhdefaultcolored { color: rgb(98, 98, 93); }
.rhbody { text-decoration: none; word-wrap: break-word; }
a.rhbody:hover { text-decoration: underline; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhimage, .rhimage_nolink { display: inline-block; }
.rhimage img { cursor: pointer; }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; transition-property: position, z-index, opacity; transition-duration: 0s, 0s, 0s; transition-timing-function: ease, ease, ease; transition-delay: 0.3s; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.rhbutton.nobackground, .rhbutton.nobackground:hover { background: transparent none repeat scroll 0% 0%; }
.taw0 .rh021 .rhbutton-container { left: -146px; text-align: center; width: 330px; }
.taw0 .rh021 .rhbutton { background: rgb(244, 247, 248) none repeat scroll 0% 0%; border-radius: 20px; border-width: 1px; height: 38px; min-width: 38px; max-width: 330px; border-color: rgb(98, 98, 93); border-style: solid; }
.taw0 .rh021 .rhbutton:hover { background: rgb(175, 177, 178) none repeat scroll 0% 0%; }
.taw0 .rh021 .icon-container { height: 38px; line-height: 38px; width: 17px; }
.taw0 .rh021 .icon, .taw0 .rh021 .icon-container .rhsvgpngicon { height: 17px; margin-left: 1px; vertical-align: top; margin-top: 10px; }
#ads .rh0200 { opacity: 0.75; }
#ads .rh0201 { opacity: 0.75; }
#ads .rh0201 .rhurl span { color: rgb(98, 98, 93); }
#ads .rh021 .rhbutton:hover { background: transparent none repeat scroll 0% 0%; }
.rh { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 334px; }
.rh > table { width: 100%; }
.rh0 { display: inline-block; font-size: 0px; height: 278px; line-height: 0; overflow: hidden; padding: 0px; width: 334px; }
.rh0 > table { width: 100%; }
.rh00 { display: inline-block; font-size: 0px; height: 41px; line-height: 0; overflow: hidden; padding: 0px; }
.rh00 > table { height: 100%; }
.rh000 { background-color: rgb(48, 104, 133); display: inline-block; height: 41px; overflow: hidden; padding: 0px; width: 5px; }
.rh000c { height: 41px; padding: 0px; width: 5px; }
.rh001 { color: rgb(98, 98, 93); display: inline-block; font-size: 23px; line-height: 30px; overflow: hidden; padding: 6px 0px 5px 10px; width: 319px; }
.rh001c { height: 0px; padding: 0px; text-align: left; width: 329px; }
.rh00c { height: 41px; padding: 0px; }
.rh01 { display: inline-block; overflow: hidden; padding: 0px; }
.rh01c { padding: 0px; }
.rh02 { display: inline-block; font-size: 0px; height: 65px; line-height: 0; overflow: hidden; padding: 0px; }
.rh02 > table { height: 100%; }
.rh020 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 283px; }
.rh020 > table { width: 100%; }
.rh0200 { display: inline-block; font-size: 16px; line-height: 21px; max-width: 271px; overflow: hidden; padding: 5px 0px 0px 12px; }
.rh0200c { padding: 0px; }
.rh0201 { color: rgb(98, 98, 93); display: inline-block; font-size: 14px; line-height: 18px; overflow: hidden; padding: 0px 0px 0px 12px; white-space: nowrap; width: 271px; }
.rh0201c { padding: 0px; text-align: left; vertical-align: top; width: 283px; }
.rh020c { padding: 0px; width: 283px; }
.rh021 { display: inline-block; font-size: 17px; height: 40px; line-height: 20px; padding: 0px; width: 40px; }
.rh021c { height: 65px; padding: 0px; text-align: center; vertical-align: middle; width: 51px; }
.rh02c { height: 65px; padding: 0px; }
.rh0c { height: 278px; padding: 0px; text-align: left; width: 334px; }
.taw { height: 278px; width: 334px; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; position: absolute; right: 16px; text-rendering: geometricprecision; top: 0px; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
.cbc { background-image: url('x_button_blue2.svg'); background-position: right top; background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0px; top: 0px; margin: 0px; overflow: hidden; padding: 0px; position: absolute; transform: scaleX(1); width: 16px; z-index: 9010; }
.cbc > .cb-x { height: 15px; position: absolute; width: 16px; right: 0px; top: 0px; }
.ddmc { background: rgb(204, 204, 204) none repeat scroll 0% 0%; color: rgb(0, 0, 0); padding: 0px; position: absolute; z-index: 9020; max-width: 100%; box-shadow: 2px 2px 3px rgb(170, 170, 170); }
.ddmc.right { margin-left: 0px; right: 0px; }
.ddmc.bottom { top: 20px; }
.ddmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0px; position: absolute; width: 0px; font-size: 0px; line-height: 0; }
.ddmc.bottom .tip { border-bottom: 4px solid rgb(204, 204, 204); top: -4px; }
.ddmc.right .tip { right: 3px; }
.ddmc .dropdown-content { display: block; }
.dropdown-content { display: none; border-collapse: collapse; }
.dropdown-item { font: 12px Arial,sans-serif; cursor: pointer; padding: 3px 7px; vertical-align: middle; }
.dropdown-content > table { border-collapse: collapse; border-spacing: 0px; }
.dropdown-content > table > tbody > tr > td { padding: 0px; }
.feedback_container { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; z-index: 9020; background-color: white; }
.feedback_page { font-family: "Arial"; font-size: 13px; margin: 16px; }
.feedback_title { font-weight: bold; color: rgb(0, 0, 0); }
.feedback_page a { font-weight: normal; color: rgb(51, 102, 204); }
.feedback_description { color: rgb(102, 102, 102); line-height: 16px; margin: 12px 0px; }
.feedback_closing { color: rgb(3, 103, 255); line-height: 16px; margin: 12px 0px; }
.feedback_logo { position: absolute; right: 0px; bottom: 0px; margin: 0px 12px 9px 0px; }
.feedback_logo img { height: 15px; }
.survey_description { color: rgb(102, 102, 102); line-height: 17px; margin: 12px 0px 10px; }
.survey { color: rgb(102, 102, 102); line-height: 20px; }
.survey_option input { margin: 0px; vertical-align: middle; }
.survey_option_text { margin: 0px 0px 0px 5px; line-height: 17px; vertical-align: bottom; }
.survey_option:hover { background-color: lightblue; cursor: default; }
