/* ::::: https://fonts.googleapis.com/css?family=Lora:400|Open+Sans:300,400,700&lang=en ::::: */

@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora"), local("Lora-Regular"), url('gsnxin0oizss201cnuag6w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora"), local("Lora-Regular"), url('i0defrggne90_hxzq7bjyw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora"), local("Lora-Regular"), url('4vqkriwnqqguqqh-pnvdma.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoata-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatzx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatrwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoataarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatf8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatt0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoategdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzk-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzjx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzbwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzkarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzp8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzd0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: "Lora","Times New Roman",serif; }
#adunit { background-color: rgb(244, 247, 248); border: 1px solid rgb(200, 200, 200); height: 598px; width: 158px; }
#ads { height: 598px; left: 1px; position: absolute; top: 1px; width: 158px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 1px; width: 158px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 1px; width: 158px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 1px; width: 0px; height: 598px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 1px; width: 0px; height: 598px; }
.rhtitle.rhdefaultcolored { color: rgb(48, 104, 133); }
.rhtitle { text-decoration: none; word-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbody.rhdefaultcolored { color: rgb(98, 98, 93); }
.rhbody { text-decoration: none; word-wrap: break-word; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored:hover, .rhurlctr.rhdefaultcolored, .rhurl.rhdefaultcolored span, .rhurl.rhdefaultcolored span:hover { color: rgb(48, 104, 133); }
.rhimage, .rhimage_nolink { display: inline-block; }
.rhimage img { cursor: pointer; }
.taw0 .rh03 img { border: 1px solid rgb(137, 137, 133); }
.taw0 .rh03 img:hover { border-color: rgb(133, 48, 104); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; transition-property: position, z-index, opacity; transition-duration: 0s, 0s, 0s; transition-timing-function: ease, ease, ease; transition-delay: 0.3s; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.rh-nessie-button-magazine .rhbutton .icon.normal, .rh-nessie-button-magazine .rhbutton .rhsvgpngicon.normal, .rh-nessie-button-magazine .rhbutton:hover .icon.hover, .rh-nessie-button-magazine .rhbutton:hover .rhsvgpngicon.hover { display: inline; }
.rh-nessie-button-magazine .rhbutton .icon.hover, .rh-nessie-button-magazine .rhbutton .rhsvgpngicon.hover, .rh-nessie-button-magazine .rhbutton:hover .icon.normal, .rh-nessie-button-magazine .rhbutton:hover .rhsvgpngicon.normal { display: none; }
.taw0 .rh08 .rhbutton-container { left: -58px; text-align: center; width: 154px; }
.taw0 .rh08 .rhbutton { background: rgb(137, 137, 133) none repeat scroll 0% 0%; border-radius: 20px; border-width: 1px; height: 38px; min-width: 38px; max-width: 154px; }
.taw0 .rh08 .rhbutton:hover { background: rgb(98, 98, 95) none repeat scroll 0% 0%; }
.taw0 .rh08 .icon-container { height: 38px; line-height: 38px; width: 21px; }
.taw0 .rh08 .icon, .taw0 .rh08 .icon-container .rhsvgpngicon { height: 21px; margin-left: 2px; vertical-align: top; margin-top: 8px; }
.taw0 .rh08.rh-nessie-button-magazine .rhbutton { background: transparent none repeat scroll 0% 0%; border-color: rgb(182, 182, 182); border-style: solid; }
.taw0 .rh08.rh-nessie-button-magazine .rhbutton:hover { background: rgb(112, 112, 112) none repeat scroll 0% 0%; }
#ads .rh { background-color: rgb(248, 248, 248); box-shadow: 20px 25px 100px rgba(0, 0, 0, 0.08) inset; transition: box-shadow 0.3s ease 0s; }
#ads .rh01 .rhtitle { color: rgb(45, 110, 216); }
#ads .rh03 img { border-color: transparent; border-radius: 0%; }
#ads .rh03 img:hover { border-color: transparent; }
#ads .rh06 { color: rgb(0, 0, 0); }
#ads .rh06 .rhbody { color: rgb(0, 0, 0); }
#ads .rh0A { color: rgb(159, 159, 159); }
#ads .rh0A .rhurl span { color: rgb(159, 159, 159); }
#ads .rh:hover { box-shadow: 20px 25px 200px rgba(0, 0, 0, 0.2) inset; }
.rh { display: inline-block; font-size: 0px; height: 588px; line-height: 0; overflow: hidden; padding: 5px 16px; width: 126px; }
.rh > table { height: 100%; }
.rh0 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 126px; }
.rh0 > table { width: 100%; }
.rh00 { display: inline-block; overflow: hidden; padding: 0px; }
.rh00c { padding: 0px; }
.rh01 { display: inline-block; font-family: "Open Sans",arial,sans-serif; font-size: 17px; font-weight: 700; letter-spacing: 1px; line-height: 31px; max-width: 126px; overflow: hidden; padding: 0px 0px 11px; text-transform: uppercase; }
.rh01c { padding: 0px; text-align: center; }
.rh02 { display: inline-block; height: 14px; overflow: hidden; padding: 0px; }
.rh02c { height: 14px; padding: 0px; }
.rh03 { display: inline-block; overflow: hidden; padding: 1px; }
.rh03c { padding: 0px; text-align: center; vertical-align: middle; }
.rh05 { display: inline-block; height: 13px; overflow: hidden; padding: 0px; }
.rh05c { height: 13px; padding: 0px; }
.rh06 { display: inline-block; font-family: "Open Sans",arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 29px; max-width: 126px; overflow: hidden; padding: 0px 0px 10px; }
.rh06c { padding: 0px; text-align: center; }
.rh07 { display: inline-block; height: 22px; overflow: hidden; padding: 0px; }
.rh07c { height: 22px; padding: 0px; }
.rh08 { display: inline-block; font-size: 17px; height: 40px; line-height: 20px; padding: 1px; width: 40px; }
.rh08c { padding: 0px; text-align: center; vertical-align: middle; }
.rh09 { display: inline-block; height: 22px; overflow: hidden; padding: 0px; }
.rh09c { height: 22px; padding: 0px; }
.rh0A { display: inline-block; font-family: "Open Sans",arial,sans-serif; font-size: 15px; font-weight: 400; height: 19px; line-height: 19px; max-width: 126px; overflow: hidden; padding: 0px; white-space: nowrap; }
.rh0Ac { height: 19px; padding: 0px; text-align: center; }
.rh0B { display: inline-block; overflow: hidden; padding: 0px; }
.rh0Bc { padding: 0px; }
.rh0c { padding: 0px; vertical-align: middle; width: 126px; }
.taw { height: 598px; width: 158px; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; position: absolute; right: 16px; text-rendering: geometricprecision; top: 0px; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
.cbc { background-image: url('x_button_blue2.svg'); background-position: right top; background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0px; top: 0px; margin: 0px; overflow: hidden; padding: 0px; position: absolute; transform: scaleX(1); width: 16px; z-index: 9010; }
.cbc > .cb-x { height: 15px; position: absolute; width: 16px; right: 0px; top: 0px; }
.ddmc { background: rgb(204, 204, 204) none repeat scroll 0% 0%; color: rgb(0, 0, 0); padding: 0px; position: absolute; z-index: 9020; max-width: 100%; box-shadow: 2px 2px 3px rgb(170, 170, 170); }
.ddmc.right { margin-left: 0px; right: 0px; }
.ddmc.bottom { top: 20px; }
.ddmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0px; position: absolute; width: 0px; font-size: 0px; line-height: 0; }
.ddmc.bottom .tip { border-bottom: 4px solid rgb(204, 204, 204); top: -4px; }
.ddmc.right .tip { right: 3px; }
.ddmc .dropdown-content { display: block; }
.dropdown-content { display: none; border-collapse: collapse; }
.dropdown-item { font: 12px Arial,sans-serif; cursor: pointer; padding: 3px 7px; vertical-align: middle; }
.dropdown-content > table { border-collapse: collapse; border-spacing: 0px; }
.dropdown-content > table > tbody > tr > td { padding: 0px; }
.feedback_container { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; z-index: 9020; background-color: white; }
.feedback_page { font-family: "Arial"; font-size: 13px; margin: 16px; }
.feedback_title { font-weight: bold; color: rgb(0, 0, 0); }
.feedback_page a { font-weight: normal; color: rgb(51, 102, 204); }
.feedback_description { color: rgb(102, 102, 102); line-height: 16px; margin: 12px 0px; }
.feedback_closing { color: rgb(3, 103, 255); line-height: 16px; margin: 12px 0px; }
.feedback_logo { position: absolute; right: 0px; bottom: 0px; margin: 0px 12px 9px 0px; }
.feedback_logo img { height: 15px; }
.survey_description { color: rgb(102, 102, 102); line-height: 17px; margin: 12px 0px 10px; }
.survey { color: rgb(102, 102, 102); line-height: 20px; }
.survey_option input { margin: 0px; vertical-align: middle; }
.survey_option_text { margin: 0px 0px 0px 5px; line-height: 17px; vertical-align: bottom; }
.survey_option:hover { background-color: lightblue; cursor: default; }
