/* ::::: http://www.digikey.com/PartSearchBundles/detailPageTwoCss?v=yE6sizL-OW75NAMLmbSuCCoRe3i9zbrPhzH4zRFMq7w1 ::::: */

.button::-moz-focus-inner { padding: 0px ! important; border: 0px none ! important; }
.button { font-family: Arial,Helvetica,sans-serif; text-decoration: none; font-size: 100%; padding: 5px 10px; color: rgb(0, 0, 0); font-weight: bold; background-color: rgb(204, 204, 204); border: 1px solid rgb(102, 102, 102); border-radius: 4px; background-image: url('gray-button-background.jpg'); cursor: pointer; background-position: center top; }
.button:hover, #ps_share:hover .button { background-color: rgb(102, 102, 102); background-image: url('gray-button-background-hover.jpg'); color: rgb(255, 255, 255); border-color: rgb(51, 51, 51); }
.button.primary { color: rgb(255, 255, 255); background-color: rgb(206, 40, 40); border-color: rgb(51, 51, 51); background-image: url('red-button-background.jpg'); }
.button.primary:hover { background-color: rgb(82, 10, 10); background-image: url('red-button-background-hover.jpg'); border-color: rgb(0, 0, 0); }
#content { max-width: 100%; padding: 20px; position: relative; }
#feedback { position: fixed; bottom: 0px; cursor: pointer; }
.ltrfdbk { float: right; right: 50px; }
#feedback { font-weight: bold; color: rgb(255, 255, 255); background-color: red; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(139, 0, 0) rgb(139, 0, 0) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 5px 15px; font-size: 14px; }
#feedback a { text-decoration: none; color: rgb(255, 255, 255); }
#dkQty { font-weight: bold; }
#pricingerrmsgs { color: red; font-weight: bold; padding-left: 7px; }
#qty:focus { outline: medium none; }
.breadcrumbs { max-width: 600px; font-size: 12px; margin: 0px; font-weight: bold; display: table-cell; vertical-align: middle; }
input[type="button"], input[type="submit"] { cursor: pointer; }
#pdp_content { clear: both; display: table; width: 100%; max-width: 965px; }
#tophalf { max-width: 700px; display: table-cell; padding-right: 15px; vertical-align: top; }
.product-top-section { display: table; width: 100%; }
#product-photo-side, #product-details-side { display: table-cell; vertical-align: top; }
#product-details-side { width: 100%; }
#product-photo-side ul { list-style-type: none; margin: 0px; padding: 0px; }
#product-details-wrapper { border: 1px solid rgb(153, 153, 153); display: table; width: 100%; margin-bottom: 15px; }
#product-details, #product-dollars, #product-details-discount-pricing { width: 100%; }
#product-details h1, #product-details h2 { font-size: 12px; margin: 0px; font-weight: normal; }
#priced-in, #request-quote-description, #discountPricingMsg, #discountEntireQty { color: rgb(51, 51, 51) ! important; display: block; padding-left: 5px ! important; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; margin: 0px; background: transparent none repeat scroll 0% 0% ! important; }
#priced-in { font-weight: bold; text-align: left; margin-bottom: 5px; }
#product-details th, #product-details td { padding: 4px 6px; border-color: rgb(153, 153, 153); border-top: 1px solid rgb(153, 153, 153); }
#product-details tr:first-child th, #product-details tr:first-child td { border-top: 0px none; }
#product-details th { border-right: 1px solid rgb(153, 153, 153); }
#product-details td:first-child { border-top: 0px none; }
#product-details th { background-color: rgb(238, 238, 238); text-align: right; }
.catalog-pricing { border: medium none ! important; }
#product-dollars tr:nth-child(2n+1), #product-details-discount-pricing tr:nth-child(2n+1) { background-color: rgb(238, 238, 238); }
#product-dollars td, #product-details-discount-pricing td { border: medium none ! important; padding: 5px ! important; }
#product-dollars th, #product-details-reel-pricing th, #product-details-discount-pricing th { background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); padding: 3px 5px; border: medium none ! important; text-align: center; }
#product-dollars td { border-top: 1px solid rgb(153, 153, 153); border-right: 1px solid rgb(153, 153, 153); text-align: right; padding: 2px 5px; }
#product-dollars td:first-child { text-align: center; }
#product-dollars td:last-child { border-right: medium none; }
#update-quantity { display: block; margin: 0px; width: 100%; }
#matching-records-count { display: none; }
#leadTimeTable tr:nth-child(2n) { background-color: rgb(238, 238, 238); }
#product-photo-side { width: 210px; padding-right: 15px; }
#product-photo-wrapper { background-color: rgb(238, 238, 238); padding: 9px; text-align: center; }
#product-photo-wrapper img { border: 1px solid rgb(153, 153, 153); }
.bota { border: 1px solid rgb(153, 153, 153); margin-bottom: 15px; max-width: 1100px; border-collapse: collapse; }
.bota p { padding: 0px; margin: 5px; }
.bota-headline { color: rgb(51, 51, 51); font-size: 14px; }
.bota-headline { background-color: rgb(238, 238, 238); padding: 5px; font-weight: bold; width: auto ! important; border-bottom: 1px solid rgb(153, 153, 153); }
.prod-attributes { border: medium none; margin-bottom: 15px; border-collapse: collapse; min-width: 300px; vertical-align: top; }
.bota:not(#discountPricingWrapper) table tr { border-bottom: 1px solid rgb(204, 204, 204); }
.bota table tr:nth-child(2n+1) { background-color: rgb(238, 238, 238); }
.attributes-table-main { border-collapse: collapse; border: 0px none; width: 100%; }
.attributes-table-main th, .attributes-table-main td { padding: 3px 5px; border-color: rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); }
.attributes-table-main th { text-align: right; vertical-align: top; background-color: rgb(238, 238, 238); width: 30%; border-bottom: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
.attributes-table-main h3, .attributes-table-main h4 { display: inline; font-weight: normal; font-size: 12px; }
.attributes-table-main td a { display: inline-block; }
.attributes-td-checkbox { text-align: center; }
#prod-att-table { border: 1px solid rgb(153, 153, 153); }
#prod-att-title-row { border: 1px solid rgb(153, 153, 153); }
#prod-att-title { border: 0px none; padding: 5px; }
#select-all { text-align: right; background-color: rgb(238, 238, 238); font-weight: bold; border: 0px none; }
.td-check-first { background-color: rgb(238, 238, 238); border-top: 0px none; border-right: 0px none; border-left: 0px none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom: 1px solid rgb(153, 153, 153) ! important; }
#product-attribute-filter { float: right; margin: 5px 0px 5px 5px; }
#reportform { display: inline; margin: 5px 0px; }
.bign-records { font-size: 14px; font-weight: bold; vertical-align: middle; }
.dyn-records { white-space: nowrap; color: rgb(148, 148, 148); margin-right: 10px; }
#additional-product-options-section { vertical-align: top; max-width: 1000px; clear: both; }
.asscontainer { width: 100%; }
.also-eval-list-div { display: table-cell; width: 20%; padding: 10px 5px; }
.also-eval-list-div ul { margin: 0px; padding: 0px; list-style-type: none; text-align: center; }
.also-eval-list-div ul img { border-color: rgb(153, 153, 153); }
.list-item-unitprice { font-weight: bold; }
.list-item-vendor { font-weight: bold; }
#mask { position: absolute; background-color: rgb(0, 0, 0); top: 0px; left: 0px; display: none; width: 3200px; height: 3200px; opacity: 0.8; z-index: 10000; }
img[src*="help"] { vertical-align: middle; padding: 0px 0px 2px; margin: 0px; }
.share-button { padding: 4px 5px; border-radius: 4px 0px 0px 4px; margin-right: -2px; display: inline-block; }
#ps_share { display: inline; }
.link-button { padding: 4px 5px; border-radius: 0px 4px 4px 0px; display: inline-block; }
.dk-sharelink.button { height: 16px; vertical-align: top; }
.dk-fav.button { height: 16px; vertical-align: top; }
#shareIcon, #linkIcon, #favIcon { height: 12px; width: 16px; background-size: 12px auto; display: inline-block; background-repeat: no-repeat; position: relative; top: 2px; left: 2px; }
#shareIcon { background-image: url('share.png'); }
#linkIcon { background-image: url('link-icon.png'); }
#favIcon { background-image: url('star-outline.png'); }
#ps_share:hover #shareIcon { background-image: url('share-w.png'); }
#ps_share:hover #linkIcon { background-image: url('link-icon-w.png'); }
.addtofav:hover #favIcon { background-image: url('star-outline_w.png'); }
#shortUrlPopup p, #shortUrlPopup input { margin-bottom: 5px; }
.pictureSet img { height: 44px; width: 44px; }
.pictureList li { list-style-type: none; float: left; margin: 3px 5px 0px 0px; padding: 0px; }
.pictureList li:last-child { margin: 3px 0px 0px; }
.pictureList { margin: 0px; padding: 0px; }
#rightcolumn { display: table-cell; width: 250px; vertical-align: top; }
#priceProcurement { border: 1px solid rgb(153, 153, 153); margin-bottom: 15px; }
#newPricingTable, #newBomTable { width: 100%; }
#newPricingTable input, #newBomTable input, #newPricingTable select, #dkrPricing input[type="submit"] { width: 100%; }
.leftdivs { margin-bottom: 15px; border-collapse: collapse; border: 1px solid rgb(153, 153, 153); }
#addtoorderbutton, #addtobombutton, #update-addToOrder-btn, #nptDeleteFromOrder { font-size: 14px; }
#nptQuantity td, #nptReference td { padding-right: 7px; }
.rightcolumnlist ul { list-style-type: none; padding: 5px; margin: 0px; }
.rightcolumnlist ul:nth-child(2n) { background-color: rgb(238, 238, 238); }
.beablock-title { font-weight: normal; }
.moretoggle { padding-top: 5px; }
#sharebread { margin: 20px 0px; max-width: 965px; width: 100%; display: table; }
.dk-url-shortener { display: table-cell; vertical-align: top; white-space: nowrap; padding: 0px 0px 5px 5px; float: right; }
.addtofav { padding: 4px 5px; display: table-cell; vertical-align: top; white-space: nowrap; float: right; }
.packagingType { font-weight: bold; }
/* ::::: http://www.digikey.com/-/media/Designer/Global/CSS/jquery-ui.1.11.4.css ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://www.digikey.com/-/media/Designer/Global/CSS/jquery-ui.dk.css ::::: */

.ui-dialog-titlebar-close:not(.ui-state-hover) { background: transparent none repeat scroll 0% 0%; border: medium none; }
/* ::::: http://www.digikey.com/-/media/Designer/Global/CSS/jquery.fancybox.v2.css ::::: */

@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
/* ::::: http://www.digikey.com/-/media/Designer/Header/Merkle/CSS/header.css?la=en-US&ts=fcef0d7d-957a-4bce-b202-fa2829096d35 ::::: */

body { margin: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; }
#header { color: rgb(255, 255, 255); height: 100px; font-size: 12px; min-width: 800px; background-image: url('undefined'); }
#header img { border: medium none; }
#header #header-left { width: 155px; float: left; padding: 7px 0px 0px 7px; }
#header #header-left a img { width: 155px; height: 83px; }
#header #header-middle { overflow: hidden; text-align: center; }
#header #header-right { float: right; text-align: right; }
#header a { color: rgb(255, 255, 255); text-decoration: none; }
#header .header-icon { vertical-align: middle; }
#header .header-resource-sep { background-image: url('undefined'); display: inline-block; height: 14px; padding: 15px 0px; width: 2px; }
#header #header-search-wrapper { margin: 17px auto; color: rgb(0, 0, 0); max-width: 500px; }
#header #header-search-select-wrapper { float: left; }
#header #header-search-type { width: 130px; height: 22px; margin: 0px; font-size: 12px; outline: medium none; border-width: medium 1px medium medium; border-style: none solid none none; border-color: -moz-use-text-color rgb(0, 0, 0) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px 0px 0px 2px; background-image: url('undefined'); }
#header #header-search-type:hover { background-image: url('undefined'); }
#header #header-search-button { height: 22px; width: 50px; margin: 0px; padding: 0px 15px; cursor: pointer; border: 1px solid rgb(204, 204, 204); float: right; background: rgb(153, 153, 153) url('undefined') no-repeat scroll right center; border-radius: 0px 2px 2px 0px; }
#header #header-search-button:hover { background: rgb(153, 153, 153) url('undefined') no-repeat scroll right center; }
#header #header-search-holder { display: block; overflow: hidden; }
#header #header-search { width: 100%; border: 0px none; padding: 0px 5px; height: 22px; box-sizing: border-box; }
#header .header-dropdown-sep { border: 0px none; height: 1px; background-image: -moz-linear-gradient(left center , rgb(102, 102, 102), white, rgb(102, 102, 102)); }
#header .header-dropdown { display: inline-block; vertical-align: top; }
#header .header-dropdown-title { cursor: pointer; }
#header .header-resource { display: inline-block; height: 14px; padding: 15px 10px; text-decoration: none; color: rgb(255, 255, 255); vertical-align: top; font-weight: bold; }
#header .header-resource:hover, #header .header-dropdown-active { background-image: url('undefined'); }
#header .header-dropdown-content { position: absolute; display: none; background-color: rgb(102, 102, 102); padding: 8px; z-index: 100; border-radius: 0px 0px 2px 2px; box-shadow: 0px 8px 6px -6px black; text-align: left; }
#header .header-sep { display: inline-block; height: 20px; vertical-align: middle; margin: 0px 5px; width: 2px; background-color: rgb(255, 255, 255); }
#header #header-locale { margin: 4px 10px; height: 48px; font-weight: bold; }
#header #header-locale select { height: 18px; position: relative; top: 1px; font-family: arial,sans-serif; font-size: 100%; font-weight: inherit; }
#header .header-locale-row { height: 20px; margin: 2px 0px; }
#header #header-locale a[href]:hover { text-decoration: underline; }
#header .header-flag { vertical-align: middle; border: 1px solid rgb(102, 102, 102); width: 20px; margin: 0px 5px; }
#header .header-dropdown a { font-size: 12px; font-weight: bold; }
#header .header-resource-content p { margin: 0px; padding: 0px; }
#header .header-resource-content p.header-dark { display: block; color: rgb(204, 204, 204); font-weight: bold; margin-bottom: 10px; }
#header .header-resource-content ul { margin: 0px; padding: 0px; }
#header .header-resource-content li { list-style-type: none; }
#header .header-product-content, #header .header-resource-content { padding: 0px 15px 10px; }
#header .header-resource-content { padding-top: 10px; }
#header .header-product-content a, #header .header-resource-content a { display: block; padding: 2px 15px 2px 0px; }
#header .header-product-content a:hover, #header .header-resource-content a:hover { text-decoration: underline; color: rgb(238, 238, 238); }
#header a.header-button { display: block; padding: 5px; background-color: rgb(187, 187, 187); border: 1px solid rgb(153, 153, 153); color: rgb(0, 0, 0); text-align: center; font-weight: bold; }
#header a.header-button:hover { background-color: rgb(204, 204, 204); }
#header #header-login-title { padding: 5px 10px; height: 33px; text-align: left; }
#header #header-login-title p { margin: 0px; }
#header .header-hello { font-size: 10px; color: rgb(238, 238, 238); line-height: 17px; }
#header .header-cart-detail::after { content: " "; display: table; clear: both; }
#header #header-cart-disclaimer { text-align: center; margin: 5px auto; font-size: 10px; }
@media screen and (max-width: 640px) {
}
.header-popup-titlebar::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
/* ::::: http://www.digikey.com/-/media/Designer/Footer/Merkle/CSS/footer.css?la=en-US&ts=b4deb597-bd1b-43ea-bcc9-0eef96d5dae7 ::::: */

#footer .footer-container { background: rgb(0, 0, 0) url('footer-background.jpg') repeat-x scroll 0% 0%; font-size: 12px; height: 200px; width: 100%; border-spacing: 0px; border-collapse: collapse; }
#footer .footer-container td { white-space: nowrap; padding: 0px 20px; vertical-align: top; }
#footer .footer-information { margin-top: 20px; margin-right: 20px; display: inline-block; vertical-align: top; }
#footer .footer-country { margin-top: 20px; margin-right: 20px; display: inline-block; padding-left: 65px; vertical-align: top; background-repeat: no-repeat; background-position: left top; }
#footer .footer-international { margin-top: 20px; margin-right: 20px; display: inline-block; background: transparent url('worldwide.png') no-repeat scroll left top; padding-left: 105px; vertical-align: top; }
#footer .footer-copyright { padding: 20px; font-size: 10px; color: rgb(64, 64, 64); width: 225px; background-color: rgb(0, 0, 0); float: right; height: 160px; }
#footer .footer-copyright p { color: rgb(128, 128, 128); font-size: 11px; margin-top: 20px; }
#footer #trustwaveSealImage { width: 60px; margin-left: -3px; margin-top: 8px; filter: grayscale(100%); }
#footer .footer-link { margin: 0px 0px 2px; padding: 0px; }
#footer .footer-link a { text-decoration: none; color: rgb(128, 128, 128); }
#footer .footer-link a:hover { text-decoration: underline; }
#footer .live-chat a { color: rgb(255, 255, 255); font-weight: bold; }
#footer .footer-bold { font-weight: bold; color: rgb(255, 255, 255); margin-top: 0px; padding-top: 0px; }
#footer a img { border: medium none; }
#footer .social-icons img { width: 20px; height: 20px; margin-right: 5px; }
#footer .footer-icon { vertical-align: middle; }
