/* ::::: http://allafrica.com/static/css/screen.min.css?v=20160927-0 ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, mark, table, caption, tbody, tfoot, thead, tr, th, td, .article, .aside, .canvas, .details, .figcaption, .figure, .footer, .masthead, .hgroup, .menu, .nav, .section, .summary, .time, .audio, .video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background-color: transparent; }
body { line-height: 1; }
.article, .aside, .details, .figcaption, .figure, .footer, .masthead, .hgroup, .menu, .nav, .section { display: block; }
a { margin: 0px; padding: 0px; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
ins { color: rgb(0, 0, 0); text-decoration: none; }
input, select { vertical-align: middle; }
.left { float: left; }
.clear { clear: both; }
body.interior.story .heading h1, body.interior.story .column.main p, body.interior.story .google-csi-ads h4 { background-color: rgba(255, 255, 255, 0.01); }
body { background-color: rgb(244, 244, 244); color: rgb(51, 51, 51); font-family: "Arial","Liberation Sans",sans-serif; font-size: 13px; }
.header > .content, .masthead > .content, .columns, .nav.primary > .content, .topical-focus .topic, .banner, .footer, .bottom, .trending, .tertiary, .section.top, body > .subnav > .content { width: 100%; margin: 0px auto; }
a { color: rgb(16, 87, 159); text-decoration: none; }
a:hover { color: rgb(20, 118, 218); }
h1, h2 { font-size: 16px; }
body > div.bottom > .content { padding-bottom: 35px; background-color: rgb(255, 255, 255); overflow: hidden; clear: both; }
ul.stories.with-figures { list-style-type: none; }
.tabs a { border-top-right-radius: 6px; border-top-left-radius: 6px; }
.tabs li { margin-right: 3px; }
.tabs li.last { margin-right: 0px; }
.aa { display: block; text-indent: -9999px; }
body > .masthead { background-color: rgb(255, 255, 255); }
body > .masthead > .content { padding-top: 0px; padding-bottom: 0px; position: relative; overflow: hidden; }
body > .masthead .logo { max-width: 218px; width: 50%; margin: 10px auto; overflow: hidden; }
body > .masthead .logo h1 { width: 100%; }
body > .masthead .logo a { background-image: url('aa-logo.png'); width: 100%; height: auto; padding-bottom: 37.45%; line-height: 0 ! important; background-position: center center; background-size: cover; display: block; position: relative; left: auto; top: auto; }
body > .masthead div.corner-container, body > .masthead div.nav.secondary, body > .masthead div.search { display: none; }
.masthead .greeting .my-account::after { content: "•"; display: inline-block; padding: 0px 3px 0px 4px; }
.masthead .greeting { margin-bottom: 13px; }
.masthead .greeting, .masthead .search { text-align: right; }
.nav ul { list-style-type: none; }
.nav li { float: left; }
.nav li a { display: block; }
.primary { background: transparent url('bg-nav-primary.png') repeat-x scroll 0px 0px; clear: both; font-size: 12px; height: 61px; position: relative; z-index: 10; }
.primary .content ul { background: transparent url('bg-nav-primary-divider.png') repeat-y scroll right bottom; }
.primary li { background: transparent url('bg-nav-primary-divider.png') no-repeat scroll 0px 0px; line-height: 45px; }
.nav.primary li.sustainable, .nav.primary li.externalrelations, .nav.primary li.governance, .nav.primary li.development, .nav.primary li.innovation, .nav.primary li.arts, .nav.primary li.sport, .nav.primary li.business, .nav.primary li.multimedia { display: none; }
.primary a { color: rgb(255, 255, 255); display: block; margin-left: 1px; width: 100%; text-align: center; transition: background-color 300ms ease-in-out 0s; }
.primary .second-tier a { text-align: left; margin-left: 0px; }
.primary a span { padding: 0px 15px; white-space: nowrap; }
.primary .last a span { padding-right: 31px; }
:lang(fr) .primary a span { padding: 0px 12px; white-space: nowrap; }
:lang(fr) .primary .last a span { padding-right: 29px; }
.primary li.active a, .primary a:hover { background-color: rgb(135, 2, 2); }
.primary li ul { position: absolute; display: none; width: 187px; z-index: 10; }
.primary .content li ul, .primary li ul li { background-image: none; background-color: transparent; }
.primary li ul li { background-color: rgb(135, 2, 2); float: none; width: auto; }
.primary ul.second-tier { background-color: rgb(135, 2, 2); padding-bottom: 10px; }
.primary .second-tier li { font-size: 12px; line-height: 32px; }
.primary .second-tier > li > a { text-indent: 12px; }
.primary .second-tier li.has-children > a { background: transparent url('bg-has-children.png') no-repeat scroll 156px 11px; }
.primary .second-tier li a:hover { background: rgb(96, 4, 4) none repeat scroll 0% 0%; }
.primary .second-tier li.has-children.active, .primary .second-tier li.has-children > a:hover { background: rgb(96, 4, 4) url('bg-has-children.png') no-repeat scroll 156px 11px; }
.primary .third-tier { background-color: rgb(96, 4, 4); padding: 10px 0px 10px 20px; position: absolute; width: 583px; }
.primary li .third-tier a { background-color: rgb(96, 4, 4); font-size: 12px; line-height: 14px; margin-bottom: 12px; padding: 0px; }
.primary li .third-tier a:hover { color: rgb(243, 237, 183); }
.third-tier { display: none; position: absolute; left: 187px; top: 0px; }
.primary .third-tier > div { float: left; margin: 0px 15px; }
.secondary .sites.tabs { float: right; }
.secondary .sites.tabs li a, .secondary .account a, .secondary .account h1 { font-size: 11px; font-weight: 700; }
.secondary .sites.tabs li a, .secondary .account { padding-top: 8px; padding-bottom: 8px; }
.secondary .sites.tabs li a { padding-left: 15px; padding-right: 15px; }
.account .email-headlines::after { content: "•"; display: inline-block; padding: 0px 4px; }
.account .my-account::before { content: "||"; display: inline-block; padding: 0px 7px; }
.secondary .sites.tabs li a { background-color: rgb(236, 236, 236); color: rgb(51, 51, 51); text-transform: uppercase; }
.secondary .sites.tabs a:hover { background-color: rgb(168, 168, 168); color: rgb(255, 255, 255); }
.pagination ul::after { clear: both; }
.columns > .content { background-color: rgb(255, 255, 255); line-height: 18px; overflow: hidden; padding: 35px 0px; }
.columns { clear: both; position: relative; z-index: 1; }
body .section.banner, body.subscribers-only-login .columns, body.interior.story .columns { margin-top: 0px; }
.interior.story .columns > .content { padding: 0px; }
body.interior.story .column.main > .content { margin-top: 20px; }
body.interior.story.sponsorwire .columns, body > .subnav { margin-top: -16px; }
.section.top > .content, .column.aside.flexible > .content, body > div.bottom > .content, .column.main > .content { padding-right: 12px; padding-left: 8px; }
.column.aside { display: none; }
.column.aside.flexible { display: block; position: relative; right: auto; top: auto; }
.column.aside div.mid-flex, .column.aside div.bottom-anchor, .column.aside .section.related-links { display: none; }
.column.aside.flexible > .content { height: 100%; position: relative; overflow: hidden; }
.headlines h1.ribbon a:hover::after, .headlines h1.ribbon a:hover { color: rgb(128, 203, 242); }
h1.ribbon, .section.focus h1 { background: transparent url('bg-section-heading-overlay.png') no-repeat scroll 100% 0px; color: rgb(255, 255, 255); font-size: 16px; line-height: 38px; height: 42px; padding-left: 11px; }
h1.ribbon a, h1.ribbon a::after, .section.focus h1 a, .landing h1.ribbon a, .landing .section.focus h1 a { color: rgb(255, 255, 255); }
h1.ribbon a:hover::after, h1.ribbon a:hover { color: rgb(193, 206, 109); }
.column.main .section.focus h1 a:hover, .column.main .section.focus h1 a:hover::after { color: rgb(243, 198, 129); }
.column.aside .section { border-top: 5px solid rgb(101, 101, 101); margin-bottom: 35px; }
.column.aside .section h1, .column.aside .section h2 { text-transform: uppercase; }
.column.aside .section.headlines h1, .column.aside .section.headlines h2 { margin: 5px 0px 20px 5px; font-size: 20px; }
.aside .section.headlines { margin: 0px auto 75px; }
.aside .section.headlines { margin-bottom: 25px; }
.column.aside .section.headlines > .content { padding: 8px 0px 0px; overflow: hidden; max-height: 292px; position: relative; }
.aside .section.headlines > .content::after { background: transparent linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%) repeat scroll 0px 0px; content: ""; display: block; position: absolute; left: 0px; right: 0px; bottom: 0px; height: 30px; pointer-events: none; z-index: 2000; }
.column.aside .section.headlines ul.stories { list-style-type: none; }
ul.stories > li .location { color: rgb(51, 51, 51); }
ul.stories > li > a { display: block; }
.section.headlines.spotlight-box ul.stories > li, .section.box.headlines ul.stories > li { padding: 0px 0px 4px; }
.section.box.headlines ul.stories > li > a { padding: 4px 9px; }
ul.stories > li .kind-of-story, ul.stories > li .location, ul.stories > li .summary { color: rgb(51, 51, 51); }
.column.aside .section.headlines ul.stories > li, .column.main .section.headlines.two-column ul.stories > li { box-sizing: border-box; width: 100%; margin: 0px auto; overflow: hidden; font-size: 13px; line-height: 150%; }
.section.focus h1 { background-color: rgb(231, 141, 3); }
.landing .section h1 a::after, .interior .section h1 a::after, .interior .section h2 a::after { content: "»"; font-weight: normal; display: inline-block; margin: -5px 0px 0px 6px; }
.section.banner h1 a::after, .landing .section.focus h1 a::after, .landing h1.ribbon a::after { color: rgb(255, 255, 255); }
h1.ribbon a::after { content: "»"; display: inline-block; margin-left: 8px; }
.focus-on { background: transparent url('icn-focus.png') no-repeat scroll 0px 50%; display: inline-block; padding: 2px 0px 2px 32px; text-transform: uppercase; }
.section h2 { margin-bottom: 4px; }
.article h1 { clear: both; font-size: 22px; line-height: 110%; padding: 12px 0px 8px; }
body.interior.story .article .heading h1 { font-size: 20px; }
body.interior.story .article .story-body > p { font-size: 16px; }
.section.focus li .teaser .content { padding: 0px; width: 95%; margin: 0px auto; }
.boxes.one-even .section.focus h1 a, .boxes.one-even .section.focus h1 a::after { color: rgb(51, 51, 51); }
.section { overflow: hidden; }
.section.trending li::after { content: "||"; padding: 0px 1px; }
.section.trending li:last-child::after { content: ""; }
.section.focus > .content { padding: 0px; border-width: 0px; }
.column.main .section { margin-bottom: 20px; }
.column.main .section.article { margin-bottom: 20px; }
.topic-stories li, .with-figures li { border-bottom: 1px solid rgb(194, 194, 194); overflow: hidden; }
.aside .with-figures li { border-bottom: 0px none; padding: 0px; }
.with-figures li.last, .topic-stories li.last { border-bottom-width: 0px; }
.with-figures .summary, .topic-stories .summary, .blog-entry .summary { line-height: 16px; }
.with-figures li { padding: 12px 0px 18px; }
.with-figures li.first { padding-top: 12px; }
.with-figures img { float: left; margin-right: 18px; }
.credit { font-style: italic; }
.section.box.headlines .stories li { list-style-type: none; line-height: 18px; margin-bottom: 7px; }
.sponsor-wire h2.sponsor > a, .sponsor-wire h2.sponsor > a::after { color: rgb(51, 51, 51); }
.sponsor-wire h2.sponsor > a::after { content: "»"; display: inline-block; font-weight: normal; margin: -2px 0px 0px 2px; }
.location { font-weight: bold; }
body.interior.story .notes { margin-top: 16px; padding: 16px 0px; border-top: 1px solid rgb(210, 210, 210); border-bottom: 1px solid rgb(210, 210, 210); }
.notes .note { font-size: 10px; line-height: 130%; }
.notes .note + .note { margin-top: 12px; }
body.interior.story .note { color: rgb(102, 102, 102); font-size: 12px; line-height: 16px; }
ul.stories { clear: both; overflow: hidden; }
:lang(fr) .photo-viewer.initialized .featured-story-photos .featured-story-info { min-height: 180px; }
.photo-viewer .featured-story-photos .featured-story-info .featured-story-blurb a.full-story::after { content: "»"; margin-left: 2px; }
@media only screen and (min-width: 320px) {
	:lang(fr) .photo-viewer.initialized .featured-story-photos .featured-story-info { min-height: 160px; }
}
@media only screen and (min-width: 560px) {
}
@media only screen and (min-width: 687px) {
}
.article .heading { border-color: rgb(210, 210, 210); border-style: solid; border-bottom: 1px solid rgb(210, 210, 210); overflow: hidden; margin-bottom: 12px; }
.article .publication { color: rgb(147, 147, 147); float: left; width: auto; }
.article .publication h2 { font-size: 18px; font-weight: normal; }
.article .publication img, .article .publication h2 { margin-bottom: 4px; }
.article .publication h2 .publisher-logo { background-image: none; background-color: transparent; padding: 0px; text-indent: 0px; display: inline; }
.a2a_kit > a { float: left; }
.article .sharebar.solid { padding: 7px 0px; border-top: 1px solid silver; }
.sharebar.solid { display: none; }
.sharebar.solid a { width: 30%; }
.sharebar.solid .share-button { border-radius: 2px; width: 100%; display: block; opacity: 0.9; overflow: hidden; }
.sharebar.solid .share-button:hover { opacity: 1; }
.sharebar.solid a + a { margin: 0px 0px 0px 4px; }
.sharebar.solid .share-button .action { color: rgb(255, 255, 255); text-transform: capitalize; font-size: 11px; font-weight: bold; line-height: 1; margin: 10px 0px 7px; display: none; }
.sharebar.solid .share-button .icon { height: 20px; width: 20px; display: block; margin: 5px 0px; }
.sharebar.solid .share-button .action, .sharebar.solid .share-button .icon { margin-left: 7px; float: left; }
.sharebar.solid .share-button.twitter .icon { background-image: url('share-icons-white.png'); background-position: -161px -1px; }
.sharebar.solid .share-button.twitter { background-color: rgb(14, 170, 214); }
.sharebar.solid .share-button.google_plus .icon { background-image: url('share-icons-white.png'); background-position: -241px -213px; }
.sharebar.solid .share-button.google_plus { background-color: rgb(206, 38, 22); }
.sharebar.solid .share-button.facebook .icon { background-image: url('share-icons-white.png'); background-position: 0px -33px; }
.sharebar.solid .share-button.facebook { background-color: rgb(36, 72, 114); }
.sharebar.solid .share-button.email .icon { background-image: url('share-icons-white.png'); background-position: -161px -250px; }
.sharebar.solid .share-button.email { background-color: gray; }
.sharebar.solid .share-button.comment .icon { background-image: url('share-icons-white.png'); background-position: -482px -66px; }
.sharebar.solid .share-button.comment { background-color: rgb(143, 157, 45); }
.sharebar.solid .share-button.more .icon { background-image: url('share-icons-white.png'); background-position: -684px -176px; }
.sharebar.solid .share-button.more { background-color: rgb(1, 102, 255); }
.sharebar.solid .a2a_dd, .sharebar.solid .button_comment, .sharebar.solid .a2a_button_email { display: none; }
.byline, .publication-date { font-style: normal; }
.article .content-container .kindofstory, .article .content-container .byline { margin-bottom: 12px; font-size: 13px; }
.article .content-container cite.byline { display: block; color: rgb(51, 51, 51); font-size: 14px; text-transform: none; }
.article .heading .publication-date { font-size: 11px; line-height: 16px; text-transform: uppercase; color: rgb(102, 102, 102); font-style: normal; float: right; }
.article .story-body > p { margin-bottom: 16px; }
.article q::before, .article q::after { content: none; }
.article blockquote::before, .article blockquote::after { background-repeat: no-repeat; width: 100%; height: 16px; content: ""; display: block; }
.article blockquote::before { background-image: url('bg-blockquote-before.png'); background-position: 0px 0px; }
.article blockquote::after { background-image: url('bg-blockquote-after.png'); background-position: 100% 0px; }
blockquote cite::before { content: "– "; }
.article .figure img { display: block; }
.boxes .figure .figcaption, .article .figcaption { font-size: 11px; line-height: 150%; margin-top: 8px; margin-left: 8px; }
.tags { font-weight: 700; font-size: 14px; }
.article .tags.bordered.between { border-top: 1px solid rgb(210, 210, 210); padding: 5px; }
.article .tags .label, .article .tags li { float: left; font-weight: 700; font-size: 13px; line-height: 125%; }
.article .tags.bordered.above .label, .article .tags li { padding-left: 7px; }
.article .tags li { list-style-type: none; }
.article .tags li + li::before { content: "•"; padding-right: 5px; }
.article .story-footer-link, .article .story-body { font-size: 15px; line-height: 135%; }
.article .figure.video.inset, .article .figure.resource.inset, .article .figure.picture.inset, .article .figure.photoessay.inset { display: none; }
.article ul.sharebar.standard { border-top: 1px solid rgb(210, 210, 210); margin-top: 0px; padding-top: 10px; }
.article ul.sharebar.standard li { margin-right: 0px; }
.article ul.sharebar.standard li.google { margin-left: -5px; }
.article .useful-top { display: none; }
.article .column.useful { width: 160px; margin-bottom: 17px; margin-right: 0px; margin-left: 0px; }
.article .column.useful .links h4 { color: rgb(196, 19, 19); font-size: 12px; padding: 8px 0px 8px 2px; margin-bottom: 5px; text-transform: uppercase; border-top: 7px solid rgb(196, 19, 19); border-bottom: 1px dotted rgb(204, 204, 204); clear: both; }
.article .column.useful h5 { font-size: 12px; font-weight: 700; margin-bottom: 2px; }
.article .column.useful .links.related-topics h5 a::after { content: "»"; display: inline-block; margin: -5px 0px 0px 2px; }
.article .column.useful div.document { background: transparent url('icn-document-small.png') no-repeat scroll 0px 3px; padding-left: 15px; margin-bottom: 5px; }
.article .column.useful .headline { font-size: 11px; color: rgb(51, 51, 51); width: 95%; line-height: 130%; }
.article .column.useful .links li { margin-bottom: 8px; list-style-type: none; }
.article .column.useful .links { margin-bottom: 13px; }
.article .content-container { overflow: hidden; }
.comments h1 a::after { content: ""; }
.comment { float: right; width: 77%; }
.fb-comments-container { padding: 0px; width: 90%; margin: 0px auto 35px; }
.article .inset.left { margin-right: 22px; }
.article .prev-next > .container.inactive > .item h4, .article .prev-next > .container.inactive > .item h4::before, .article .prev-next > .container.inactive > .item h4::after { color: rgb(221, 221, 221); border-bottom: 2px dotted rgb(221, 221, 221); }
.article .prev-next > .container > .item h4, .article .prev-next > .container > .item h4::before, .article .prev-next > .container > .item h4::after { color: rgb(196, 19, 19); display: inline-block; white-space: nowrap; }
body > div.bottom .section.focus.trending-tf { border-top: 4px solid rgb(101, 101, 101); margin-bottom: 35px; }
body > div.bottom .section.focus.trending-tf h1 { margin: 5px 0px 15px 5px; padding: 0px; font-size: 24px; text-transform: uppercase; color: rgb(51, 51, 51); background-image: none; background-color: transparent; }
body > div.bottom .section.focus.trending-tf li { margin: 0px auto 20px; list-style-type: none; }
body > div.bottom .section.focus.trending-tf li, body > div.bottom .section.focus.trending-tf li .item { overflow: hidden; }
body > div.bottom .section.focus.trending-tf li .item { width: 60%; margin: 0px auto; max-width: 200px; }
body > div.bottom .section.focus.trending-tf li, body > div.bottom .section.focus.trending-tf li .teaser, body > div.bottom .section.focus.trending-tf li .image { float: none; }
body > div.bottom .section.focus.trending-tf li img { width: 100%; height: auto; border: 1px solid rgb(208, 208, 208); box-sizing: border-box; }
body > div.bottom .section.focus.trending-tf li .teaser { width: auto; }
body > div.bottom .section.focus.trending-tf li .item .headline { font-weight: bold; color: rgb(51, 51, 51); line-height: 125%; font-size: 13px; }
.sticky-panel-container, ul.sharebar.standard { display: none; }
#page-end-slidebox { display: none; }
.publishers .banner h1, .publishers .banner h1 a, .publishers .banner h1 a::after { color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7); }
.publishers .banner h1 a:hover, .publishers .banner h1 a:hover::after { color: rgb(174, 174, 174); }
.publishers ul.breadcrumbs li + li::before { content: "»"; margin-right: 5px; }
.publishers .publisher div.headlines-link a + a::before, .publishers .view div.headlines-link a + a::before { content: "|"; margin-right: 10px; }
div.column.main .featured-publishers .publisher-item::after, div.column.main .featured-publishers .publisher-item .headlines ul.stories::after { background: transparent linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%) repeat scroll 0px 0px; content: ""; display: block; position: absolute; left: 0px; bottom: 0px; width: 100%; pointer-events: none; z-index: 2000; }
div.column.main .featured-publishers .publisher-item::after { height: 30px; }
div.column.main .featured-publishers .publisher-item .headlines ul.stories::after { height: 0px; }
.footer { background: rgb(44, 44, 44) url('bg-footer.png') repeat-x scroll 0px 0px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; color: rgb(221, 221, 221); line-height: 16px; overflow: hidden; }
.footer a { color: rgb(221, 221, 221); }
.footer a:hover { color: rgb(255, 255, 255); }
.footer > .content { padding: 16px 21px 50px; margin: 0px auto; }
.rss-and-site-links { display: none; }
.legal-and-colophon { margin: 0px auto; max-width: 563px; }
.legal-and-colophon p { padding: 0px; }
.colophon { margin-bottom: 7px; }
.legal-and-colophon .legal .privacy { font-style: normal; }
.legal-and-colophon .legal .privacy::before, .legal-and-colophon .legal .contact::before { content: "// "; }
.rss { background: rgb(68, 68, 68) url('icn-rss.png') no-repeat scroll 7px 6px; display: block; border-radius: 6px; font-size: 10px; margin-bottom: 0px; padding: 3px 9px 3px 23px; text-transform: uppercase; }
.rss:hover { background: rgb(102, 153, 0) url('icn-rss-hover.png') no-repeat scroll 7px 5px; }
.footer div.trademark { width: 100%; text-align: center; clear: both; padding-top: 10px; }
div.ad-container.pixel-ad { width: 1px; height: 1px; }
body > .subnav > .content > .section { background-color: rgb(255, 255, 255); }
body > .subnav .section.ads > .content { padding: 20px 0px 15px; }
div.ad-container.banner-ad, div.ad-container.leaderboard-ad, div.ad-container.superleaderboard-ad { margin: 0px auto; }
div.ad-container.leaderboard-ad { width: 728px; height: 90px; }
.subnav .section.ads, .column.main .section.ads, .bottom .section.ads, .ad-container.google-ad.pixel-a, .ad-container.google-ad.pixel-b { display: none; }
ul.spotlight-grid { font-size: 90%; border: 0px none; padding: 0px; background-color: rgb(250, 250, 250); border-collapse: separate; border-spacing: 2px; list-style-type: none; }
.bottom ul.spotlight-grid { margin-top: 35px; }
ul.spotlight-grid li.cell { position: relative; vertical-align: top; background-color: rgb(254, 254, 254); line-height: 110%; overflow: hidden; }
ul.spotlight-grid li.cell + li.cell { margin-top: 7px; }
ul.spotlight-grid li.cell > div { position: relative; margin: 0px auto; border: 1px solid rgb(210, 210, 210); padding: 6px; box-sizing: border-box; }
ul.spotlight-grid li.cell > div ul { padding: 0px; margin: 0px; overflow: hidden; height: 280px; }
ul.spotlight-grid li.cell > div ul::after { background: transparent linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%) repeat scroll 0px 0px; content: ""; display: block; position: absolute; left: 0px; bottom: 0px; width: 100%; height: 30px; pointer-events: none; z-index: 2000; }
ul.spotlight-grid li.cell > div ul li { list-style-type: none; margin-bottom: 8px; }
ul.spotlight-grid li.cell > div ul li a { font-size: 90%; }
ul.spotlight-grid li.cell > div h4 { margin: 0px 0px 6px; border-bottom: 1px dotted rgb(176, 192, 176); padding-bottom: 6px; width: 100%; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; }
ul.spotlight-grid li.cell > div h4 a { color: rgb(51, 51, 51); }
ul.spotlight-grid li.cell > div a.headline { display: block; }
ul.spotlight-grid li.cell > div a .location { color: rgb(51, 51, 51); font-weight: bold; }
ul.spotlight-grid li.cell > div a .location:hover { color: rgb(51, 51, 51); }
ul.spotlight-grid li.cell > div .credit { color: rgb(153, 153, 153); white-space: nowrap; font-style: italic; font-size: 85%; }
ul.spotlight-grid li.cell > div a.image { width: 100%; height: 0px; padding-bottom: 61.19%; position: relative; display: block; margin: 0px auto 9px; }
ul.spotlight-grid li.cell > div a.image img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
ul.spotlight-grid li.cell > div .more a::after, ul.spotlight-grid li.cell > div h4 a::after { content: "»"; padding-left: 2px; display: inline-block; }
.topical-focus.view .column.main .featured-story img, .section.topical-focus .figure iframe, .section.topical-focus .figure img, .story-body .inset img, .column.aside .section.focus .stories.with-figures > li img, .main .boxes img, .spotlight-grid li.cell img { border: 1px solid rgb(170, 170, 170); box-sizing: border-box; }
div.content div.boxes.one-even .focus ul.stories.with-figures li::after { clear: both; }
body.aans.list .section.banner h1 a, body.aans.list .section.banner h1 a::after { color: rgb(255, 255, 255); }
body.aans.list .section.banner h1 a:hover, body.aans.list .section.banner h1 a:hover::after { color: rgb(128, 203, 242); }
.privacy { font-style: italic; margin: 19px 0px 56px; }
body.topical-focus .banner h1, body.topical-focus .banner h1 a, body.topical-focus .banner h1 a::after { color: rgb(255, 255, 255); }
body.topical-focus .banner h1 a:hover, body.topical-focus .banner h1 a:hover::after { color: rgb(243, 198, 129); }
.tournament .banner h1, .tournament .banner h1 a, .tournament .banner h1 a::after { color: rgb(255, 255, 255); }
.tournament .banner h1 a:hover, .tournament .banner h1 a:hover::after, .section.box.tournament h1.ribbon a:hover, .section.box.tournament h1.ribbon a:hover::after { color: rgb(243, 198, 129); }
.tournament.team .banner h1, .tournament.team .banner h1 a, .tournament.team .banner h1 a::after { color: rgb(255, 255, 255); }
.tournament.team .banner h1 a:hover, .tournament.team .banner h1 a:hover::after, .section.box.tournament h1.ribbon a:hover, .section.box.tournament h1.ribbon a:hover::after { color: rgb(243, 198, 129); }
.tournament.match .banner h1, .tournament.match .banner h1 a, .tournament.match .banner h1 a::after { color: rgb(255, 255, 255); }
.tournament.match .banner h1 a:hover, .tournament.match .banner h1 a:hover::after, .section.box.tournament h1.ribbon a:hover, .section.box.tournament h1.ribbon a:hover::after { color: rgb(243, 198, 129); }
body.landing div.infocenter-link h1 a, body.landing div.infocenter-link h1 a::after { color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7); }
body.landing div.infocenter-link h1 a:hover, body.landing div.infocenter-link h1 a:hover::after { color: rgb(240, 240, 240); }
body.landing div.infocenter-link h1 a::after { content: "»"; display: inline-block; padding: 0px; }
.sponsorwire-teaser div.scaler > div.scalee::after { background: transparent linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(236, 236, 236) 75%, rgb(236, 236, 236) 100%) repeat scroll 0px 0px; content: ""; display: block; position: absolute; left: 0px; bottom: 0px; width: 100%; pointer-events: none; z-index: 2000; height: 20%; }
div.tabbed-box .tab-content .panel::after, div.tabbed-box .tab-links::after, div.tabbed-box .tab-content h4::after, div.tabbed-box .tab-content li::after { display: block; clear: both; content: ""; }
div.tabbed-box.initialized .tab-links { display: block; }
div.tabbed-box .tab-links li { float: left; list-style-type: none; border-bottom: 1px solid rgb(223, 223, 223); border-top: 1px solid rgb(255, 255, 255); }
div.tabbed-box .tab-links li + li { border-left: 1px solid rgb(255, 255, 255); }
div.tabbed-box .tab-links li.active + li { border-left-width: 0px; }
div.tabbed-box .tab-links li.active { border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
div.tabbed-box.initialized .tab-content h4 { display: none; }
div.tabbed-box .tab-content h4, div.tabbed-box .tab-links a { padding: 5px 10px; font-size: 16px; font-weight: 600; font-variant: small-caps; }
div.tabbed-box .tab-links a { display: inline-block; text-decoration: none; background: rgb(221, 221, 221) none repeat scroll 0% 0%; opacity: 0.7; font-weight: 600; color: rgb(76, 76, 76); transition: all 0.15s linear 0s; }
div.tabbed-box .tab-links a:hover { opacity: 1; }
div.tabbed-box .tab-links li.active a, div.tabbed-box .tab-links li.active a:hover { opacity: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
div.tabbed-box .tab-content .panel ul { list-style-type: none; float: none; width: 100%; }
div.tabbed-box.initialized .tab-content .panel { margin-bottom: 0px; }
div.tabbed-box .tab-content .panel { padding: 4% 0px 6%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(223, 223, 223); }
div.tabbed-box.initialized .tab-content .panel { margin-top: -1px; }
div.tabbed-box.initialized .tab-content .panel { display: none; }
div.tabbed-box.initialized .tab-content .panel.active { display: block; }
div.tabbed-box .tab-content .panel li { border-bottom: 1px dotted rgb(204, 204, 204); padding: 7px 0px; width: 87%; margin: 0px auto; }
div.tabbed-box .tab-content .panel .count { font-size: 20px; color: rgb(204, 204, 204); float: left; margin-right: 10px; }
div.tabbed-box .tab-content .panel a.headline { display: inline-block; float: left; width: 80%; line-height: 135%; }
div.tabbed-box .tab-content .panel .location { color: rgb(51, 51, 51); }
body > div.bottom div.tabbed-box.most-read { margin: 0px auto; }
body > div.bottom div.tabbed-box.most-read h3 { margin: 5px 0px 20px 5px; font-size: 24px; text-transform: uppercase; }
body > div.bottom div.tabbed-box.most-read { border-top: 4px solid rgb(101, 101, 101); margin-bottom: 75px; }
@media only screen and (min-width: 320px) {
	.legal-and-colophon p { padding: 16px 0px 0px 51px; }
	.colophon { background: transparent url('aa-logo-gray.png') no-repeat scroll 0px 0px; }
	.rss-and-site-links { margin: 20px auto 10px; max-width: 220px; display: block; }
	.nav.primary li.sport, .nav.primary li.business { display: block; }
	.sharebar.solid .share-button .action { display: inline-block; }
	.carousel-container::after { content: ""; clear: both; display: block; }
	.carousel-container h1 a::after { content: "»"; display: inline-block; margin-left: 5px; }
	.article .heading { border-width: 1px 0px; padding-top: 8px; }
	body.interior.story .column.main > .content { margin: 0px; }
	div.tabbed-box .tab-content .count { font-size: 24px; }
}
@media only screen and (min-width: 320px), not all {
	.article .figure.video.inset, .article .figure.resource.inset, .article .figure.picture.inset, .article .figure.photoessay.inset { width: 296px; display: block; margin: 0px auto 20px; float: none; }
}
@media only screen and (min-width: 360px) {
	div.featured-grid ul li:nth-last-child(2), div.featured-grid ul li:nth-last-child(2) ~ li { width: 50%; float: left; }
	div.featured-grid ul li:nth-last-child(3), div.featured-grid ul li:nth-last-child(3) ~ li { width: 33%; float: left; }
	div.featured-grid ul li:nth-last-child(n+4), div.featured-grid ul li:nth-last-child(n+4) ~ li { width: 50%; float: left; }
	div.featured-grid ul li:nth-last-child(n+4) ~ li:last-child:not(:nth-child(2n)) { display: none; }
	ul.spotlight-grid li.cell { float: left; width: 50%; margin: 0px; }
	ul.spotlight-grid li.cell + li.cell { margin-top: 0px; }
	ul.spotlight-grid li.cell > div { margin: 5px; }
	div.content div.boxes.one-even .focus ul.stories.with-figures li::after { clear: none; }
	.article .useful-inset .column.useful .links li:nth-child(-n+2) { display: block; }
	.article .useful-inset .column.useful .links li:nth-last-child(n+2), .article .useful-inset .column.useful .links li:nth-last-child(n+2) ~ li { width: 50%; float: left; }
	.article .useful-inset .column.useful .links li:nth-last-child(n+2) h5, .article .useful-inset .column.useful .links li:nth-last-child(n+2) ~ li h5 { width: 90%; }
	.article .useful-inset .column.useful .links.more-on-this li:nth-last-child(n+2) h5, .article .useful-inset .column.useful .links.more-on-this li:nth-last-child(n+2) ~ li h5 { min-height: 50px; }
	.article .useful-inset .column.useful .links li:nth-last-child(n+2) img, .article .useful-inset .column.useful .links li:nth-last-child(n+2) ~ li img, .article .useful-inset .column.useful .links li:nth-last-child(n+2) .item, .article .useful-inset .column.useful .links li:nth-last-child(n+2) ~ li .item { width: 90%; margin: 0px auto; float: none; max-width: 100%; }
	div.column.main .featured-publishers .publisher-item:nth-child(2n) { float: right; }
	div.column.main .featured-publishers .publisher-item:nth-child(2n+1) { clear: both; }
}
@media only screen and (min-width: 480px) {
	.nav.primary li.arts { display: block; }
	.section.top > .content, .column.aside.flexible > .content, body > div.bottom > .content, .column.main > .content { padding-right: 16px; padding-left: 20px; }
	.sharebar.solid a { width: 23%; }
	.sharebar.solid .button_comment { display: block; }
	ul.spotlight-grid li.cell > div ul { padding: 0px; margin: 0px; overflow: hidden; height: 300px; }
	.article .useful-inset .column.useful .links li:nth-child(-n+3) { display: block; }
	.article .useful-inset .column.useful .links li:nth-last-child(n+3), .article .useful-inset .column.useful .links li:nth-last-child(n+3) ~ li { width: 33%; float: left; }
	.photoessays .list .list-pane li:nth-child(2n) { float: right; }
	.photoessays .list .list-pane li:nth-child(2n+1) { clear: both; }
	body > div.bottom .section.focus.trending-tf li .item { width: 100%; }
	body > div.bottom .section.focus.trending-tf li:nth-child(2n+1) { clear: both; }
	body > div.bottom .section.focus.trending-tf li { float: left; width: 47%; }
	body > div.bottom .section.focus.trending-tf li:nth-child(2n) { float: right; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li:last-child:not(:nth-child(2n)) { display: none; }
	body > div.bottom div.publisher-headlines .stories li::after { display: none; clear: none; }
	.column.aside .section.headlines h2 { margin: 5px 0px 20px; }
	.column.aside .section.headlines ul.stories > li, .column.main .section.headlines.two-column ul.stories > li { width: 50%; float: left; }
	.column.aside .section.headlines ul.stories > li:nth-child(2n), .column.main .section.headlines.two-column ul.stories > li:nth-child(2n) { float: right; }
	.column.aside .section.headlines ul.stories > li:nth-child(2n+1), .column.main .section.headlines.two-column ul.stories > li:nth-child(2n+1) { clear: both; }
	.article .publication h2 .publisher-logo { display: block; background-repeat: no-repeat; background-position: 50% center; text-indent: -99999px; }
	div.tabbed-box .tab-content .count { font-size: 28px; }
	div.tabbed-box .tab-content .panel ul { float: left; width: 50%; }
	div.tabbed-box .tab-content .panel { padding: 2% 2% 4%; }
	div.tabbed-box .tab-content h4, div.tabbed-box .tab-links a { padding: 5px 35px 10px 15px; }
}
@media only screen and (min-width: 480px), not all {
}
@media only screen and (min-width: 600px) {
	.nav.primary li.innovation { display: block; }
	.sharebar.solid a { width: 18%; }
	.sharebar.solid .a2a_button_email { display: block; }
	ul.spotlight-grid li.cell > div ul { height: 320px; }
	ul.spotlight-grid li.cell > div a.headline { overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; }
	body.interior.story .article .heading h1 { font-size: 20px; }
	body.interior.story .article .story-body > p { font-size: 16px; }
	body > div.bottom .section.focus.trending-tf li:nth-child(2n+1) { clear: none; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4), body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li { margin: 0px 0px 20px; width: 50%; float: left; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) .item, body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li .item { width: 95%; max-width: none; margin: 0px auto; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) .image, body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li .image { float: left; width: 40%; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) .teaser, body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li .teaser { float: left; width: 60%; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li:last-child:not(:nth-child(2n)) { display: none; }
	body.topical-focus .feature-trending .cycle .tags a + a::before { content: "//"; margin-right: 10px; }
}
@media only screen and (min-width: 768px) {
	.interior.story .column.main { border-right-width: 0px; margin: 0px auto; max-width: 674px; }
	.nav.primary li.development, .nav.primary li.governance { display: block; }
	.sharebar.solid a { width: 15%; }
	.sharebar.solid .a2a_dd { display: block; }
	.topical-focus.view .column.main .featured-story img, .section.topical-focus .figure iframe, .section.topical-focus .figure img, .story-body .inset img, .column.aside .section.focus .stories.with-figures > li img, .column.main .featured-cb-photos img, .column.main .boxes img, .spotlight-grid li.cell img { border: 1px solid rgb(170, 170, 170); box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5); }
	.topical-focus.view .column.main .featured-story img, .section.topical-focus .figure iframe, .section.topical-focus .figure img, .story-body .inset img, .column.aside .section.focus .stories.with-figures > li img, .column.main .featured-cb-photos img, .column.main .boxes img { margin-bottom: 4px; margin-left: 4px; }
	body.interior.story .article .heading h1 { font-size: 22px; }
	body.interior.story .article .story-body > p { font-size: 15px; }
	.article .useful-top { display: block; }
	.article .useful-top .column.useful { float: right; margin-left: 22px; }
	.ad-container.google-ad.pixel-a, .ad-container.google-ad.pixel-b { display: block; }
	body > div.bottom .section.focus.trending-tf li .item .headline { font-size: 15px; }
	#page-end-slidebox { display: block; }
	.slidebox { width: 9999px; height: 140px; background-color: rgb(255, 255, 255); position: fixed; bottom: 5px; opacity: 1; z-index: 3000; border-width: 1px 0px 1px 1px; border-style: solid; border-color: black; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: -3px 3px 3px rgb(136, 136, 136); overflow: hidden; }
	.slidebox.closed { left: 9999px; display: none; }
	.slidebox div.page-end-header { background-color: rgb(191, 1, 3); height: 22px; }
	.slidebox div.page-end-header h4 { height: 22px; line-height: 22px; color: white; font-weight: 900; }
	.slidebox .suggestion { margin: 5px 10px; width: 400px; }
	.slidebox .suggestion a.headline { font-size: 16px; font-weight: bold; line-height: 150%; display: block; }
	.slidebox .suggestion p { color: rgb(85, 85, 85); font-size: 12px; line-height: 150%; margin: 0px; }
	.slidebox .page-end-close { background: transparent url('cross_grey_small.png') no-repeat scroll 50% 50% ! important; content: "x"; cursor: pointer; float: left; width: 22px; height: 22px; border-right: 1px solid rgb(68, 68, 68); margin-right: 10px; }
	.bottom ul.spotlight-grid li.cell { width: 33%; }
	.footer > .content { margin: 0px auto; }
	.rss-and-site-links { margin: 20px 0px 0px 105px; float: left; }
	.legal-and-colophon { width: 563px; float: left; margin: 0px; }
	.rss { margin-bottom: 15px; }
	div.column.main .featured-publishers .publisher-item::after { height: 0px; }
	div.column.main .featured-publishers .publisher-item .headlines ul.stories::after { height: 30px; }
	.change.headlines div.general-form.email-headlines + div::after { clear: both; }
	.column.main .section { margin-bottom: 35px; }
	.section.box.headlines.two-column ul.stories > li::after { display: none; clear: none; }
	.nav.primary li.multimedia { display: block; }
	.header > .content, .masthead > .content, .columns, .nav.primary > .content, .topical-focus .topic, .banner, .footer, .bottom, .trending, .tertiary, body > .subnav > .content > .section, body > div.bottom { width: 1000px; margin: 0px auto; }
	body > .masthead div.corner-container, body > .masthead div.nav.secondary, body > .masthead div.search { display: block; }
	body > .masthead > .content { min-height: 106px; }
	.masthead .language.tabs a:hover:not(.active) { background-color: rgb(102, 153, 0); color: rgb(255, 255, 255); }
	body > .masthead .logo h1 { line-height: 82px; float: left; }
	body > .masthead .logo a { background: transparent url('aa-logo.png') no-repeat scroll 0px 0px; width: 218px; height: 82px; left: 12px; position: absolute; top: 12px; padding: 0px; }
	.logo a, .utility .search { margin-bottom: 0px; }
	form.search input[type="text"], .masthead form.search input[type="text"], .search-page form.search input[type="text"] { background: rgb(232, 232, 232) url('icn-search.png') no-repeat scroll 6px 6px; border: 0px none; box-shadow: 2px 2px 2px rgb(204, 204, 204) inset; height: 31px; margin: 0px; padding: 0px 0px 0px 36px; width: 246px; }
	.search input[type="submit"] { background-color: rgb(10, 128, 193); background-image: url('bg-btn-search.png'); background-position: 0px 0px; background-repeat: repeat-x; border: 0px none; border-top-right-radius: 5px; border-bottom-right-radius: 5px; color: rgb(255, 255, 255); font-size: 12px; line-height: 27px; height: 31px; margin: 0px; padding: 0px 10px; }
	.search input[type="submit"]:hover { background-color: rgb(4, 99, 162); background-position: 0px 100%; }
	body > .masthead div.search { display: block; margin-top: 12px; margin-right: 12px; float: right; }
	body > .masthead div.search .my-account { color: rgb(51, 51, 51); font-size: 11px; font-weight: bold; padding: 6px; background-color: rgb(255, 255, 255); border: 2px solid rgb(236, 236, 236); border-radius: 5px; display: block; margin-top: 2px; }
	body > .masthead div.search .my-account:hover { background-color: rgb(236, 236, 236); }
	body > .masthead div.search .my-account { margin-left: 25px; }
	:lang(fr) body > .masthead div.search .my-account { margin-left: 25px; }
	:lang(fr) body > .masthead div.search form.search input[type="text"] { width: 211px; }
	body > .masthead div.search .my-account, body > .masthead div.search .form.search { float: right; }
	body > .masthead .nav.secondary { display: block; position: absolute; bottom: 0px; right: 12px; }
	body > .masthead .nav.language.bar { float: left; }
	body > .masthead .corner-container { display: block; float: left; margin-left: 100px; position: relative; z-index: 10; }
	body > .masthead .corner-container div.greeting { float: right; margin-bottom: 0px; }
	body > .masthead .nav.language.bar a { color: rgb(102, 102, 102); float: left; font-size: 9px; padding: 6px 7px; background-color: rgb(224, 224, 224); border: 1px solid rgb(224, 224, 224); font-weight: bold; display: block; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; position: relative; z-index: 10; }
	body > .masthead .nav.language.bar a.active { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(168, 168, 168); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
	body > .masthead .nav.language.bar a:hover:not(.active) { color: rgb(255, 255, 255); background-color: rgb(168, 168, 168); border: 1px solid rgb(168, 168, 168); }
	.nav.primary li.sustainable, .nav.primary li.externalrelations { display: block; }
	.bottom .section.ads, .column.main .section.ads, .subnav .section.ads { display: block; }
	.column.aside { display: block; width: 324px; float: left; }
	.column.aside.flexible { float: none; position: absolute; right: 0px; top: 0px; }
	.column.aside.flexible > .content, .column.aside > .content { padding-right: 11px; padding-left: 13px; }
	body > div.bottom > .content, .section.top > .content { padding-right: 11px; padding-left: 20px; }
	.column.aside div.mid-flex, .column.aside div.bottom-anchor, .column.aside .section.related-links { display: block; }
	.column.main, .interior.story .column.main { border-right: 1px solid rgb(210, 210, 210); width: 674px; float: left; }
	.interior.story .column.main > .content, .interior.story .column.aside.flexible > .content { min-height: 1080px; }
	.interior.topical-focus.view .columns > .content, .interior.story .columns > .content { padding-bottom: 50px; }
	.column.aside.flexible { bottom: 50px; }
	body.interior.story .column.main > .content { margin-top: 0px; }
	.column.aside .section { width: 300px; }
	.aside .section.focus { border-top-width: 0px; }
	.aside .section.focus.lg .stories.with-figures .headline { font-size: 14px; font-weight: bold; }
	.aside .section.focus.lg .stories.with-figures > li { margin-top: 20px; margin-bottom: 0px; }
	.aside .section.focus.lg .stories.with-figures > li img { margin-bottom: 7px; }
	.aside .section.focus.lg .stories.with-figures p.summary { display: none; }
	.column.aside .section.headlines h1, .column.aside .section.headlines h2 { margin: 0px 0px 14px; font-size: 16px; }
	.column.aside .section.headlines ul.stories li { width: 100%; }
	.column.aside .section.headlines ul.stories li, .column.aside .section.headlines ul.stories li:nth-child(2n) { float: none; }
	.column.aside .section.headlines ul.stories li:nth-child(2n+1) { clear: none; }
	.column.aside ul.stories li.last { margin-bottom: 5px; }
	.aside .section.related-links { margin-bottom: 25px; height: 114px; overflow: hidden; }
	.aside .section.related-links > .content { padding: 8px 0px 0px; }
	.aside .related-links li { background: transparent url('bullet-sm.gif') no-repeat scroll -2px 3px; font-size: 14px; font-weight: bold; margin-bottom: 5px; padding: 0px 0px 0px 10px; }
	.aside .section.connect > .content { padding: 8px 0px 0px; }
	.interior.story .aside .section.connect { margin-bottom: 25px; }
	.interior.story .aside .section.connect ul { border-width: 0px; padding: 0px; }
	.interior.story .aside .section.connect ul li { width: auto; padding-left: 5px; }
	.interior.story .aside .section.connect ul li + li { padding-left: 10px; }
	.column.aside.flexible .top-anchor, .column.aside.flexible .mid-flex, .column.aside.flexible .bottom-anchor { width: 300px; }
	.column.aside.flexible .mid-flex { content: ""; box-sizing: border-box; }
	.column.aside.flexible .flex-item-container { display: none; overflow: hidden; }
	.column.aside.flexible .top-anchor { overflow: hidden; }
	.column.aside.flexible .bottom-anchor { background-color: rgb(255, 255, 255); bottom: 0px; position: absolute; }
	.column.aside.flexible .bottom-anchor::before { background: transparent linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%) repeat scroll 0px 0px; content: ""; display: block; position: absolute; left: 0px; right: 0px; top: -50px; height: 50px; pointer-events: none; z-index: 2000; }
	body > div.bottom .section.focus.trending-tf { margin-bottom: 75px; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) .item, body > div.bottom .section.focus.trending-tf li:nth-last-child(n+4) ~ li .item { width: 60%; max-width: none; }
	body > div.bottom .section.focus.trending-tf li:nth-last-child(5) ~ li:last-child:not(:nth-child(2n)) { display: block; }
	body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5), body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) ~ li { width: 20%; }
	body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) .item, body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) ~ li .item { width: 100%; margin: 0px; }
	body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) .image, body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) ~ li .image, body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) .teaser, body > div.bottom .section.focus.trending-tf li:first-child:nth-last-child(5) ~ li .teaser { float: none; width: 95%; margin: 0px auto; }
	ul.sharebar.standard { list-style-type: none; height: 25px; overflow: hidden; margin-top: 10px; display: block; }
	ul.sharebar.standard::after { clear: both; }
	ul.sharebar.standard li { float: left; margin-right: 10px; }
	ul.sharebar.standard li + li { margin-left: 5px; }
	ul.sharebar.standard li.google { padding-top: 0px; }
	ul.sharebar.standard li.facebook { padding-top: 1px; }
	.sticky-panel-container { position: fixed; display: block; }
	ul.sharebar.sticky li { list-style-type: none; margin-top: 8px; height: 25px; }
	.sticky-panel { background-color: rgb(255, 255, 255); position: absolute; width: 78px; padding: 10px 12px; line-height: 1; border-radius: 3px; }
	body.story .sticky-panel { top: 21px; left: -116px; }
}
@media only screen and (min-width: 768px), not all {
	.article .figure.video.inset, .article .figure.resource.inset, .article .figure.picture.inset, .article .figure.photoessay.inset { display: block; margin: 0px 22px 0px 0px; float: left; }
}
/* ::::: http://allafrica.com/static/css/flag-icon.min.css?v=20160927-0 ::::: */

.flag-icon::before { content: " "; }
/* ::::: http://allafrica.com/static/css/ionicons.min.css?v=20160927-0 ::::: */

@font-face {
	font-family: "Ionicons";
	font-style: normal;
	font-weight: normal;
	src: url('ionicons.eot') format("embedded-opentype"), url('ionicons.ttf') format("truetype"), url('ionicons.woff') format("woff"), url('ionicons.svg') format("svg");
}
.ion, .ionicons, .ion-ribbon-a::before { display: inline-block; font-family: "Ionicons"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; }
.ion-ribbon-a::before { content: ""; }
.article .column.useful span.headline, .story-body span.kindofstory { display: block; background-color: rgba(255, 255, 255, 0.01); }
@media print, screen and (min-width: 480px) {
	.article .publication h2 .publisher-logo.publisher-id-00010121 { background-image: url('eastafrican180.png'); }
}
.article .heading { border-width: 1px 0px; padding: 0px; margin-bottom: 0px; }
.article .heading > .content { padding-top: 8px; padding-bottom: 8px; }
.article .tags.bordered.between, .article .sharebar.solid, .article .heading > .content { padding-right: 2px; padding-left: 2px; }
@media print, screen and (min-width: 480px) {
	.article .tags.bordered.between, .article .sharebar.solid, .article .heading > .content { padding-right: 4px; padding-left: 4px; }
}
.article .heading h1.headline { padding: 12px 0px 0px; }
.article .heading, .article .tags.bordered.between, .article .sharebar.solid { border-color: rgb(192, 192, 192); border-style: solid; border-width: 0px; }
.article .heading, .article .tags.bordered.between, .article .sharebar.solid { border-bottom-width: 1px; }
.article .heading { border-top-width: 1px; }
.article .useful-top .column.useful, .article .content-container { margin-top: 12px; }
div.ad-container.center-ad { width: auto; height: auto; }
@media only screen and (min-width: 768px) {
	.slidebox { height: auto; min-height: 140px; }
	.slidebox .suggestion a.headline { line-height: 135%; margin-bottom: 15px; }
}
.section.connect { border-bottom: 1px solid rgb(101, 101, 101); }
.aside .section.connect > .content { padding: 8px 0px; }
.section.connect h1 { margin-bottom: 15px; }
.section.connect ul { list-style-type: none; overflow: hidden; padding: 0px 3px; }
.section.connect ul li { float: left; margin-right: 20px; }
.interior.story .aside .section.connect ul li, .interior.story .aside .section.connect ul li + li { padding: 0px; }
.section.connect ul li.last { margin-right: 0px; }
@media only screen and (min-width: 480px) {
}
