body { background-color: transparent; }
* { border: 0px none; margin: 0px; padding: 0px; font-weight: inherit; }
a { text-decoration: none; }
#KeywordsListing { visibility: hidden; }
#container { width: auto; height: 298px; position: relative; background: rgb(244, 247, 248) none repeat scroll 0% 0%; border: 1px dotted rgb(147, 174, 188); }
ul { list-style: outside none none; }
#keywords ul { padding: 5px 5px 0px; }
#keywords ul li { box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); height: 49px; margin: 0px auto 7px; }
#keywords ul li a { padding: 0px 3px; display: block; text-transform: uppercase; background: rgb(244, 247, 248) none repeat scroll 0% 0%; font-family: Arial; font-size: 14px; font-weight: bold; color: rgb(48, 105, 133); line-height: 17px; overflow: hidden; word-wrap: break-word; }
#keywords ul li a:hover { background: rgb(244, 247, 248) none repeat scroll 0% 0%; color: rgb(48, 105, 133); text-decoration: none; }
a.footer { clear: both; position: absolute; bottom: 0px; right: 0px; width: 15px; height: 15px; background: transparent url('footerbranding.png') no-repeat scroll right bottom; }
a.footer:hover { width: 75px; }
.twoline { line-height: 22px; height: 47px; padding-top: 2px; overflow: hidden; }
