/* ::::: https://git-scm.com/assets/git-scm-65ca8280a031499ee9e8e2b10c8a596c.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
small { font-size: 80%; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
body { margin: 0px; padding: 0px; font-size: 14px; line-height: 22px; font-family: "adelle",Georgia,"Times New Roman",serif; color: rgb(78, 68, 60); background: rgb(240, 239, 231) url('body.jpg') repeat scroll 0% 0%; }
.inner { position: relative; width: 940px; margin: 0px auto; overflow: visible; }
.inner::before { display: table; content: ""; }
.inner::after { display: table; clear: both; content: ""; }
aside { width: 218px; float: left; margin-bottom: 35px; }
#content { width: 702px; float: right; }
#main { background-color: rgb(252, 252, 250); border: 1px solid rgb(226, 224, 216); border-radius: 5px; padding: 22px; margin-bottom: 35px; }
#main .two-column::before { display: table; content: ""; }
#main .two-column::after { display: table; clear: both; content: ""; }
#main .two-column .column-left { width: 47%; float: left; }
#main .two-column .column-right { width: 47%; float: right; }
#main .callout, #main .bottom-nav, #main #logo-license, #main #book-container { background-color: rgb(233, 232, 224); border-radius: 3px; padding: 8px 14px 4px; margin-bottom: 1.4em; }
#main .callout p, #main .bottom-nav p, #main #logo-license p, #main #book-container p { margin-bottom: 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
header { margin-top: 14px; position: relative; padding-bottom: 26px; }
header #tagline { display: block; position: absolute; top: 11px; left: 120px; margin-top: 1px; color: rgb(154, 153, 148); font-size: 24px; line-height: 24px; }
header #tagline em { letter-spacing: 1px; }
aside nav ul { list-style: outside none none; font-size: 16px; font-weight: bold; margin-left: 0px; margin-bottom: 1.4em; }
aside nav ul li { margin-bottom: 0.5em; }
aside nav ul li a { color: rgb(65, 57, 50); }
aside nav ul li a.active, aside nav ul li a:hover { color: rgb(241, 78, 50); }
aside nav ul li ul { display: none; margin-top: 0.3em; margin-left: 20px; font-weight: normal; font-size: 13px; }
aside nav ul li ul li { margin-bottom: 0px; }
aside nav ul li ul.expanded { display: block; }
.bottom-nav::before { display: table; content: ""; }
.bottom-nav::after { display: table; clear: both; content: ""; }
.section-nav-container .dropdown-panel .three-column::before, #reference-version .dropdown-panel .three-column::before, #book-chapters .dropdown-panel .three-column::before { display: table; content: ""; }
.section-nav-container .dropdown-panel .three-column::after, #reference-version .dropdown-panel .three-column::after, #book-chapters .dropdown-panel .three-column::after { display: table; clear: both; content: ""; }
footer { clear: both; margin-top: 35px; border-top: 1px solid rgb(216, 215, 207); padding: 20px 0px 40px; color: rgb(154, 153, 148); font-size: 12px; line-height: 15.4px; }
footer::before { display: table; content: ""; }
footer::after { display: table; clear: both; content: ""; }
footer a { color: rgb(64, 63, 60); }
footer a:hover { color: rgb(11, 11, 10); }
footer .site-source { float: left; background: transparent url('code.png') no-repeat scroll 0px 2px; padding-left: 46px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	footer .site-source { background: transparent url('code@2x.png') no-repeat scroll 0px 2px / 38px 23px; }
}
footer .sfc-member { float: right; text-align: right; }
p { margin: 0px 0px 11px; font-size: 14px; line-height: 22px; }
p small { font-size: 12px; color: rgb(154, 153, 148); }
a { color: rgb(3, 136, 166); text-decoration: none; transition-property: color; transition-duration: 0.3s; }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal; color: rgb(78, 68, 60); text-rendering: optimizelegibility; }
h1 { font-size: 36px; line-height: 44px; margin-bottom: 0.4em; }
h3 { line-height: 33px; font-size: 16px; font-weight: bold; }
ul, ol { padding: 0px; margin: 0px 0px 11px 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }
ul { list-style: outside none disc; }
li { line-height: 22px; }
ul.unstyled, ul.section-nav-container, ul#reference-version, ul#book-chapters, ul#download-next-steps, #search-results table ul, #front-nav ul, #companies-projects ul, ul.content-list, ul.video-thumbnails, ul.gui-thumbnails, ul.books-list, ul.related-material, ul.stackoverflow, ol.unstyled, ol.section-nav-container, ol#reference-version, ol#book-chapters, ol#download-next-steps, ol.full-search-results, ol.reference-previous-versions, ol.book-toc, ol.content-list, ol#about-nav { margin-left: 0px; list-style: outside none none; }
em { font-style: italic; }
blockquote small::before { content: "— "; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
.light { color: rgb(154, 153, 148); }
small { font-size: 100%; }
#download-next-steps::before { display: table; content: ""; }
#download-next-steps::after { display: table; clear: both; content: ""; }
#search-results { display: none; position: absolute; z-index: 900; top: 2px; right: -8px; width: 384px; background: rgb(57, 138, 148) url('search-header.jpg') repeat-x scroll 0px 1px; border-radius: 3px; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25); border-bottom: 1px solid rgb(216, 215, 207); }
#front-content::before { display: table; content: ""; }
#front-content::after { display: table; clear: both; content: ""; }
#front-nav::before { display: table; content: ""; }
#front-nav::after { display: table; clear: both; content: ""; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
aside.sidebar { font-size: 13px ! important; line-height: 16.5px; }
h3.setup { background: transparent url('setup-sm.png') no-repeat scroll 0px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.setup { background: transparent url('setup-sm@2x.png') no-repeat scroll 0px 50% / 17px 17px; }
}
h3.projects { background: transparent url('projects-sm.png') no-repeat scroll 0px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.projects { background: transparent url('projects-sm@2x.png') no-repeat scroll 0px 50% / 17px 13px; }
}
h3.snapshotting { background: transparent url('camera-sm.png') no-repeat scroll 0px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.snapshotting { background: transparent url('camera-sm@2x.png') no-repeat scroll 0px 50% / 17px 12px; }
}
h3.branching { background: transparent url('branch-sm.png') no-repeat scroll 4px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.branching { background: transparent url('branch-sm@2x.png') no-repeat scroll 4px 50% / 12px 15px; }
}
h3.sharing { background: transparent url('sharing-sm.png') no-repeat scroll 2px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.sharing { background: transparent url('sharing-sm@2x.png') no-repeat scroll 2px 50% / 14px 14px; }
}
h3.inspection { background: transparent url('inspection-sm.png') no-repeat scroll 1px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.inspection { background: transparent url('inspection-sm@2x.png') no-repeat scroll 1px 50% / 14px 14px; }
}
h3.patching { background: transparent url('patching-sm.png') no-repeat scroll 1px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.patching { background: transparent url('patching-sm@2x.png') no-repeat scroll 1px 50% / 18px 11px; }
}
h3.debugging { background: transparent url('debugging-sm.png') no-repeat scroll 1px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.debugging { background: transparent url('debugging-sm@2x.png') no-repeat scroll 1px 50% / 17px 16px; }
}
h3.email { background: transparent url('email-sm.png') no-repeat scroll 1px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.email { background: transparent url('email-sm@2x.png') no-repeat scroll 1px 50% / 17px 12px; }
}
h3.external { background: transparent url('external-sm.png') no-repeat scroll 0px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.external { background: transparent url('external-sm@2x.png') no-repeat scroll 0px 50% / 17px 15px; }
}
h3.admin { background: transparent url('admin-sm.png') no-repeat scroll 2px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.admin { background: transparent url('admin-sm@2x.png') no-repeat scroll 2px 50% / 16px 16px; }
}
h3.server-admin { background: transparent url('server-admin-sm.png') no-repeat scroll 2px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.server-admin { background: transparent url('server-admin-sm@2x.png') no-repeat scroll 2px 50% / 15px 15px; }
}
h3.plumbing { background: transparent url('plumbing-sm.png') no-repeat scroll 2px 50%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	h3.plumbing { background: transparent url('plumbing-sm@2x.png') no-repeat scroll 2px 50% / 17px 14px; }
}
ol.reference-previous-versions li a::before { display: table; content: ""; }
ol.reference-previous-versions li a::after { display: table; clear: both; content: ""; }
ol.reference-previous-versions li.no-change::before { display: table; content: ""; }
ol.reference-previous-versions li.no-change::after { display: table; clear: both; content: ""; }
.callout.quickref, .quickref.bottom-nav, #logo-license.quickref, #book-container.quickref { background: transparent url('document.png') no-repeat scroll 14px 7px; padding-left: 36px ! important; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	.callout.quickref, .quickref.bottom-nav, #logo-license.quickref, #book-container.quickref { background: transparent url('document@2x.png') no-repeat scroll 14px 7px / 15px 21px; }
}
.callout.quickref a, .quickref.bottom-nav a, #logo-license.quickref a, #book-container.quickref a { font-weight: bold; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
.reference-menu h3 { padding-left: 26px; }
.reference-menu ul { padding-left: 28px; }
input:-moz-placeholder { color: rgb(154, 153, 148) ! important; }
input, textarea { font-family: "adelle",Georgia,"Times New Roman",serif; font-size: 14px; outline: medium none; }
form#search { position: absolute; z-index: 1000; right: 0px; top: 10px; width: 262px; padding-left: 32px; background-image: url('search.png'); background-repeat: no-repeat; background-attachment: scroll; background-position: 10px 50%; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-color: rgb(252, 252, 250) ! important; border: 1px solid rgb(206, 204, 197); border-radius: 20px; box-shadow: 0px 1px 4px rgb(221, 221, 221) inset; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	form#search { background: transparent url('search@2x.png') no-repeat scroll 10px 50% / 17px 17px; }
}
form#search input { border-radius: 20px; border: medium none; margin-top: 5px; margin-bottom: 1px; line-height: 1em; width: 100%; height: 20px; background-color: transparent; color: rgb(78, 68, 60); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
.book table.ref th:nth-child(1), td:nth-child(1) { padding: 5px; width: 25%; }
@media screen and (min-width: 480px) and (max-width: 1024px) {
}
@media screen and (max-width: 480px) {
}
ul.books-list li::before { display: table; content: ""; }
ul.books-list li::after { display: table; clear: both; content: ""; }
ol#about-nav::before { display: table; content: ""; }
ol#about-nav::after { display: table; clear: both; content: ""; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
/* ::::: https://use.typekit.com/c/e52eaf/1w;adelle,2,XK9:W:n4,XKF:W:n7/l ::::: */

@font-face {
	font-family: "adelle";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "adelle";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
