/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css ::::: */

.form-textarea-wrapper textarea { display: block; margin: 0px; width: 100%; box-sizing: border-box; }
.container-inline div, .container-inline label { display: inline; }
.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static ! important; clip: auto; overflow: visible; height: auto; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
ul.menu { border: medium none; list-style: outside none none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.leaf { list-style-image: url('menu-leaf.png'); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
ul.inline, ul.links.inline { display: inline; padding-left: 0px; }
ul.inline li { display: inline; list-style-type: none; padding: 0px 0.5em; }
form { margin: 0px; padding: 0px; }
hr { border: 1px solid gray; height: 1px; }
img { border: 0px none; }
table { border-collapse: collapse; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
label { display: block; font-weight: bold; }
.marker, .form-required { color: rgb(255, 0, 0); }
.container-inline .form-actions, .container-inline.form-actions { margin-top: 0px; margin-bottom: 0px; }
.more-link { text-align: right; }
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_Qox8gbpZ1eg5FkNUlQdL_bTC0UXmt1Gny8Fd4qGwj-U.css ::::: */

#comments { margin-top: 15px; }
.comment-preview { background-color: rgb(255, 255, 234); }
.field .field-label { font-weight: bold; }
#comments .indented, #comments .comment .comment-form, .show-all-comments.hidden, .comment.js-hidden { display: none; }
.show-all-comments { cursor: pointer; }
.views-view-grid tbody { border-top: medium none; }
.rtecenter { text-align: center; }
/* ::::: https://fonts.googleapis.com/css?family=Ubuntu&subset=latin-ext ::::: */

@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('odszji8yqnw8v2xpulzjo_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('iq9vjx1umasknigywyycxveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('wkvqmvwsfw_kkeau9slq2_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('gyatqxuikkqjyja1snpdlveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('wu5iuha-xnkdbvqrwqzag_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url('sdgtilo5qrsfwu6yc11axg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_6QcQ2EA5_jyZ7ORfR2sQH22JYe9YoKjhzX62h_M1tTo.css ::::: */

div.panel-pane div.admin-links a::before { content: "["; }
div.panel-pane div.admin-links a::after { content: "]"; }
.comment-textfield { display: none ! important; }
.sf-menu, .sf-menu * { list-style: outside none none; margin: 0px; padding: 0px; }
.sf-menu { line-height: 1; z-index: 497; }
.sf-menu li { float: left; position: relative; z-index: 498; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li:hover ul, .sf-menu li.sfHover ul { z-index: 499; }
.sf-menu.sf-style-space { float: left; margin-bottom: 1em; padding: 0px; }
.sf-menu.sf-style-space a { border: 1px outset rgb(0, 0, 0); color: rgb(241, 241, 241); padding: 0.75em 1em; }
.sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar { background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.sf-menu.sf-style-space li:hover, .sf-menu.sf-style-space li.sfHover, .sf-menu.sf-style-space li.active a, .sf-menu.sf-style-space a:focus, .sf-menu.sf-style-space a:hover, .sf-menu.sf-style-space a:active, .sf-menu.sf-style-space.sf-navbar li li { background: rgb(0, 138, 210) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_WkIQlS2V8h4Vh16HARhGTGX8u2nA_FzvuTZ5-DXLwaQ.css ::::: */

.snc-uc #site-name, .ssc-uc #site-slogan, .ptc-uc #page-title, .ntc-uc .node-title, .ctc-uc .comment-title, .btc-uc .block-title { text-transform: uppercase; }
.snw-n #site-name, .ssw-n #site-slogan, .ptw-n #page-title, .ntw-n .node-title, .ctw-n .comment-title, .btw-n .block-title { font-weight: 400; }
.snw-b #site-name, .ssw-b #site-slogan, .ptw-b #page-title, .ntw-b .node-title, .ctw-b .comment-title, .btw-b .block-title { font-weight: 700; }
.sna-l #site-name, .ssa-l #site-slogan, .pta-l #page-title, .nta-l .node-title, .cta-l .comment-title, .bta-l .block-title { text-align: left; }
.field-type-image { width: auto; }
.field-type-image img { display: block; }
.field-type-image figure { overflow: hidden; }
.field-type-image figure, .field-type-image figcaption { max-width: 100%; }
.image-right .field-type-image.field-label-above .field-label, .image-right .field-type-image figure, .ia-r .field-type-image.field-label-above .field-label, .iat-r .field-type-image.field-label-above .field-label, .ia-r .field-type-image figure, .iat-r .field-type-image figure { float: right; clear: right; }
.container { margin: 0px auto; }
.content-inner { min-height: 1px; }
#content-column, .content-column { width: 100%; }
.clearfix::after { content: ""; display: table; clear: both; }
.clearfix {  }
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_z32lq1_efA3R0lxg2oFwy0nwglR_FGymxNBTyjlc1Fc.css ::::: */

html { font-size: 100%; word-wrap: break-word; line-height: 1.5; height: 100%; overflow-y: scroll; }
body { font-family: "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; line-height: 1.5; min-height: 100%; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; line-height: 1em; padding: 0px; margin: 24px 0px 12px; }
h1 { font-size: 2.153em; }
h2 { font-size: 1.692em; }
h3 { font-size: 1.385em; }
img, a img { border: medium none; }
img { max-width: 100%; height: auto; }
p { margin: 0px 0px 1.5em; padding: 0px; }
pre, code, tt, samp, kbd, var { font-size: 0.846em; font-family: Monaco,"DejaVu Sans Mono",monospace,sans-serif; }
blockquote, p { margin: 1.5em 0px; }
p:first-child, p.first-child { margin-top: 0px; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
strong, dfn, caption, th { font-weight: 700; }
pre, div.codeblock { background-color: rgb(245, 245, 245); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(204, 204, 204) rgb(204, 204, 204) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 1em; white-space: pre-wrap; border-radius: 4px; }
ul, ol { margin: 0px 0px 1.5em 1em; padding: 0px; }
ul { list-style-type: disc; }
img { max-width: 100%; height: auto; }
img, embed, object, video { max-width: 100%; }
svg:not(:root) { overflow: hidden; }
audio:not([controls]) { display: none; }
label { cursor: pointer; font-weight: 500; }
.form-item label { display: block; font-size: 1.077em; margin-bottom: 0.2em; margin-left: 3px; }
.form-item { margin: 1.4em 0px; }
.form-actions { margin-top: 1em; padding: 1em 0px; }
input, select, textarea, button { font-family: "Helvetica Neue",Helvetica,Clean,Arial,sans-serif; }
input.form-text { max-width: 100%; }
input, textarea { line-height: 1.3em; }
textarea.form-textarea, textarea { background-color: rgb(255, 255, 255); border: 2px solid rgb(230, 228, 222); padding: 0.5em; border-radius: 3px 3px 0px 0px; }
input.form-text, select[multiple="multiple"] { background-color: rgb(255, 255, 255); border: 2px solid rgb(230, 228, 222) ! important; padding: 4px; border-radius: 3px; }
button, input[type="submit"], input.form-submit, .form-actions a, .form-actions a:visited, .button, a.button, a.button:visited, .field-name-field-trial-download .field-item .file a { background: rgb(230, 228, 226) url('ui-bg_highlight-soft_90_e6e4e2_1x100.png') repeat-x scroll 50% 50%; border-width: 1px; border-style: solid; border-color: rgb(230, 228, 226) rgb(187, 187, 187) rgb(187, 187, 187) rgb(230, 228, 226); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(0, 0, 0); font-size: 1em; font-weight: 500; padding: 0.5em 1em; margin: 0px 0.5em 0px 0px; overflow: hidden; border-radius: 4px; white-space: nowrap; }
button:hover, input[type="submit"]:hover, input.form-submit:hover, .form-actions a:hover, .form-actions a:focus, .form-actions a:active, .button:hover, a.button:hover, a.button:focus, a.button:active, .field-name-field-trial-download .field-item .file a:hover { background: rgb(214, 212, 209) url('ui-bg_highlight-soft_50_d6d4d1_1x100.png') repeat-x scroll 50% 50%; border-width: 1px; border-style: solid; border-color: rgb(225, 222, 219) rgb(170, 170, 170) rgb(170, 170, 170) rgb(225, 222, 219); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(0, 0, 0); cursor: pointer; white-space: nowrap; }
textarea:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="text"]:focus, select[multiple="multiple"]:focus, .form-text:focus { outline: 0px none; box-shadow: 0px 0px 5px 3px rgba(169, 169, 169, 0.4); border-color: rgba(213, 213, 213, 0.5); }
.form-required { color: rgb(253, 166, 31); font: bold 1em Tahoma,Verdana,Geneva; }
.container-inline .form-item label {  }
.container-inline .form-submit { font-size: 0.923em; line-height: 1.5em; margin: 0px 0.3em 0px 0px; padding: 0.2em 1em; }
.container-inline .form-actions { padding: 0px; }
table { border-style: solid; border-color: rgb(228, 226, 224); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-collapse: collapse; border-width: 1px 1px 0px; margin: 1em 0px; width: 100%; }
th, td { border-style: solid; border-color: rgb(228, 226, 224); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 0px 1px; padding: 0.5em; vertical-align: top; }
thead th:last-child, tr td:last-child { border-right: 1px solid rgb(228, 226, 224); }
tr td:last-child { border-right: 1px solid rgb(228, 226, 224); }
html, body { background-color: transparent ! important; }
#main-content, .block-inner, .pane-inner, .menu-wrapper, .branding-elements, .breadcrumb-wrapper, .attribution, .at-panel .rounded-corner, .block-panels-mini > .block-title, div.messages { margin-left: 20px; margin-right: 20px; }
.columns-inner { padding-top: 20px; }
#page > header { clear: both; padding: 20px 0px 0px; }
#branding { float: left; margin: 0px 0px 40px; width: 60%; background-color: rgba(0, 0, 0, 0.16); border-radius: 0px 6px 6px 0px; }
h1#site-name { margin: 0px 0px 0em 20px; padding: 0px 20px 0px 0px; text-shadow: 1px 1px 7px rgb(0, 0, 0); float: left; }
h2#site-slogan { text-shadow: 1px 1px 3px rgb(0, 0, 0); margin: 0px 0px 0px 20px; padding: 5px 0px 0px; white-space: nowrap; }
#site-name a { text-decoration: none; }
#site-name a:visited {  }
#site-name a:hover {  }
#site-name a:focus {  }
#site-name a:active {  }
#site-slogan { font-size: 1.077em; font-weight: 400; }
.region-header { float: right; max-width: 60%; clear: none; padding: 5px 0px 25px; }
h1#page-title { margin-top: 0px; }
#content-column, .region-sidebar-first, .region-sidebar-second { margin-bottom: 20px; margin-top: 20px; }
.region-content-aside { padding-top: 20px; }
#page > footer { padding: 20px 0px; }
.snw-b #site-name, .ssw-b #site-slogan, .ptw-b #page-title, .ntw-b .node-title, .ctw-b .comment-title, .btw-b .block-title { font-weight: normal; }
#branding { margin-bottom: 5px; }
.node-product img, .page-node img { border: medium none ! important; }
.block nav.clearfix {  }
.statistics_counter span, article .links li.comment-add, .comment_forbidden span { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(225, 223, 220); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); display: block; width: auto; border-radius: 6px; }
.statistics_counter span { color: rgb(187, 187, 187); padding: 0.3em 2.4em; text-align: left; font-size: 1.2em; margin-top: 1em; }
article .tags, .page-node .node-content .field-type-taxonomy-term-reference, .rate-widget { font-style: normal; margin-left: 0em; margin-top: 2em; padding: 3px 10px; font-size: 0.9em; background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(225, 223, 220); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); display: block; width: auto; border-radius: 6px; }
.field-type-image figure, li.views-fluid-grid-item { overflow: visible; }
.more-link { padding-top: 25px; }
.more-link a, .show-all-comments, .comment-delete a, .comment-edit a, .comment-reply a, .comment-approve a { border: 1px solid rgb(204, 204, 204); padding: 3px 20px 5px; color: rgb(85, 85, 85) ! important; transition: all 0.3s linear 0s; border-radius: 7px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.more-link a:hover, .show-all-comments:hover { border: 1px solid rgb(204, 204, 204); padding: 3px 20px 5px; color: rgb(0, 0, 0) ! important; background: rgb(238, 238, 238) none repeat scroll 0% 0%; transition: all 0.3s linear 0s; border-radius: 7px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.page-node-25 table a, .views-table a, .views-view-grid a { color: rgb(85, 85, 85) ! important; }
article .tags, .node-content .field-type-taxonomy-term-reference { clear: both; }
.node-content .field-type-taxonomy-term-reference ul, .node-content .field-type-taxonomy-term-reference ul li { padding: 0px 5px; }
.page-node .field .field-label { font-size: 1.3em; color: rgb(153, 153, 153); }
.node-type-howto .node-content img { border: medium none; }
.sf-menu.sf-style-space a { border: medium none; }
#page > footer .menu a, #page > footer menu a:visited { color: rgb(187, 187, 187) ! important; border-radius: 7px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; font-weight: bold; box-shadow: 0px 0px 3px rgb(255, 255, 255); }
#page > footer a:hover, #page > footer a.active, .sf-menu.sf-style-space a:focus, .sf-menu.sf-style-space a:hover, .sf-menu.sf-style-space li:hover { background: rgb(0, 0, 0) none repeat scroll 0% 0% ! important; color: rgb(255, 255, 255) ! important; border-radius: 7px; font-weight: bold; }
footer .sf-menu.sf-style-space li { background: transparent none repeat scroll 0% 0%; margin-right: 5px; }
#page > footer { color: rgb(255, 255, 255) ! important; }
#page > footer { background-color: rgba(51, 51, 51, 0.3) ! important; }
#block-views-related-content-block .views-field-field-image-howto, #block-views-clone-of-showcase-block-1 .views-field-field-image-howto { float: left; padding-right: 10px; }
#block-views-related-content-block .views-field-title, #block-views-clone-of-showcase-block-1 .views-field-title { margin-left: 46px; }
#block-views-related-content-block .more-link, #block-views-clone-of-showcase-block-1 .more-link { padding-top: 0px ! important; }
#block-views-related-content-block table, #block-views-related-content-block tr, #block-views-related-content-block td { border-left: medium none; border-right: medium none; }
#block-views-clone-of-showcase-block-1 table, #block-views-clone-of-showcase-block-1 tr, #block-views-clone-of-showcase-block-1 td { border-left: medium none; border-right: medium none; }
#block-views-clone-of-showcase-block-1 td { padding-right: 0em; }
#columns, #menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { box-shadow: 0px 0px 1px rgb(153, 153, 153); }
#columns { background: rgba(255, 255, 255, 0.95) none repeat scroll 0% 0% ! important; }
.page-node .statistics_counter { display: none; }
.node-content img { padding: 0px ! important; }
table { border-left: medium none; border-right: medium none; }
tr td:last-child, thead th:last-child, tr td:last-child { border-right: medium none; }
@media only screen and (max-width: 1024px) and (min-width: 769px) {
	h1#site-name { font-size: 2.5em ! important; }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
	#site-slogan { display: none; }
	h1#site-name { font-size: 2.5em ! important; }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
	#site-slogan { display: none; }
	h1#site-name { font-size: 2.5em ! important; }
}
article { margin-bottom: 3em; }
article > header { border-bottom: 1px solid rgb(230, 228, 222); position: relative; }
article .submitted { color: rgb(102, 102, 102); font-size: 0.923em; padding: 0px 0px 0.6em; position: relative; }
article .node-content { padding: 1em 0px; }
article .links { font-size: 0.923em; text-transform: lowercase; }
.node-content img { border: 1px solid rgb(230, 228, 222); padding: 0.5em; }
article .tags, .node-content .field-type-taxonomy-term-reference { border-left: 1px solid rgb(230, 228, 222); display: inline; font-style: italic; margin-left: 0.6em; padding: 0px 0px 0px 0.6em; }
article .tags .field-label, .node-content .field-type-taxonomy-term-reference h2.field-label { display: inline; font-size: 1em; font-weight: normal; margin: 0px; }
.node-content .field-type-taxonomy-term-reference ul, .node-content .field-type-taxonomy-term-reference ul li { display: inline; }
.node ul.links { margin: 0px; text-transform: lowercase; }
.node ul.links li { margin: 0px; padding: 0px 0.75em 0px 0px; }
.comment { border: 1px solid rgb(230, 228, 222); height: auto ! important; min-height: 80px; margin-bottom: 1.5em; position: relative; padding: 20px; border-radius: 3px; }
.comment p.submitted { font-style: italic; margin: 0px; }
.comment h3 { margin: 0px; padding: 0px 0px 2px; }
.comment-by-node-author { background-color: rgb(249, 248, 247); }
.field { padding: 0px 0px 10px; }
.field .field-label { font-size: 1em; font-weight: 400; line-height: inherit; margin: 0px; }
.field-type-image figure { margin: 10px 0px; }
.block { margin-bottom: 20px; }
.block-title { font-size: 1.385em; line-height: 1.2; margin: 0px 0px 0.4em; }
.region-header .block { clear: none; float: right; margin: 0px; }
#page > footer .block { margin: 0px; }
#page > footer .block .block-inner { padding: 20px 0px; }
.block ul li { margin: 0px; }
#search-form input#edit-keys, #block-search-form .form-item-search-block-form input { float: left; font-size: 1em; margin-right: 5px; width: 62%; }
#search-block-form input.form-submit, #search-form input.form-submit { background: transparent url('search-button.png') no-repeat scroll center top; border-color: rgb(228, 228, 228) rgb(210, 210, 210) rgb(180, 180, 180); cursor: pointer; height: 25px; margin-left: 0px; margin-right: 0px; overflow: hidden; padding: 0px; text-indent: -9999px; width: 34px; text-transform: uppercase; }
#search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus, #search-form input.form-submit:hover, #search-form input.form-submit:focus { background-position: center bottom; }
a { text-decoration: none; transition: all 0.2s linear 0s; }
a:link {  }
a:visited {  }
a:hover {  }
a:active {  }
a:active, a:focus {  }
ul.menu { margin: 0px 0px 0px 15px; padding: 0px; }
ul.menu li { padding: 0px; }
.menu-toggle { display: none; }
#menu-bar, #menu-bar .menu-wrapper { clear: both; margin: 0px; }
#menu-bar .menu-wrapper ul.menu { margin: 0px; }
#menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li { display: inline; float: left; list-style: outside none none; margin-left: 0px; margin-right: 2px; }
#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { display: block; line-height: 2.5em; padding: 0px 2em; white-space: nowrap; }
#menu-bar .menu-wrapper ul.menu li { padding: 0px; }
#menu-bar .block { margin: 0px; padding: 0px; }
ul.sf-menu { margin-bottom: 0px ! important; }
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0px; padding: 0px 0.5em; position: absolute; width: 12em; z-index: 50; }
#skip-link a, #skip-link a:link, #skip-link a:visited { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: block; line-height: 2; padding: 0px; text-align: center; text-decoration: none; border-radius: 0px 0px 10px 10px; }
#skip-link a:hover, #skip-link a:active, #skip-link a:focus { outline: 0px none; }
html, body { background-color: rgb(240, 240, 240); color: rgb(0, 0, 0); }
ul.secondary, .section-collapsible, .region-highlighted, #columns { background-color: rgb(255, 255, 255); }
#skip-link a, ul.tabs li a, ul.tabs li a:visited { background-color: rgb(255, 255, 254); color: rgb(16, 16, 16); }
a, a:visited { color: rgb(28, 110, 160); }
a:hover, a:focus, a:active { color: rgb(66, 169, 190); }
h1#site-name a, h1#site-name a:visited { color: rgb(255, 255, 255); }
h2#site-slogan { color: rgb(255, 255, 255); }
.region-header, .nav .block-menu, .region-header h2.block-title, .nav .block-menu h2.block-title { color: rgb(16, 16, 0); }
.breadcrumb, #page > footer, #page > footer .block-title { background-color: rgb(51, 51, 51); color: rgb(204, 204, 204); }
.breadcrumb a, #page > footer a, #page > footer a:visited { color: rgb(18, 101, 152); }
.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active, #page > footer a:hover, #page > footer a:focus, #page > footer a:active { color: rgb(18, 123, 165); }
.menu-toggle a { color: rgb(77, 69, 62); background-color: rgb(255, 255, 255); }
.nav .block-menu ul li a { color: rgb(77, 69, 62); background-color: rgb(225, 223, 220); }
.nav .block-menu ul a:focus, .nav .block-menu ul a:hover, .nav .block-menu ul a:active { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
@media only screen and (max-width: 480px) {
}
h1 { color: rgb(16, 0, 1); }
h2 { color: rgb(94, 82, 71); }
.comment header h3 a, h1 a, h1.node-title a { color: rgb(16, 0, 17); }
.ia-r .field-type-image figure, .iat-r .field-type-image figure { margin: 18px 0px 0px 20px; }
.rc-6 #columns { border-radius: 0px 6px 6px; }
.rc-6 #page > footer, .rc-6 .region-top-menu { border-radius: 0px 0px 6px 6px; }
.rc-4 .with-footer #columns, .rc-6 .with-footer #columns, .rc-8 .with-footer #columns, .rc-10 .with-footer #columns, .rc-12 .with-footer #columns { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.rct-6 input.form-button, .rct-6 input.form-submit { border-radius: 6px; }
.rct-6 #menu-bar .menu-toggle a, .rct-4 #menu-bar .menu-wrapper > ul > li, .rct-4 #menu-bar .menu-wrapper > ul > li > a, .rct-4 .region-header .block-content > ul > li, .rct-4 .region-header .block-content > ul > li > a { border-radius: 4px 4px 0px 0px; }
.rct-6 #menu-bar .menu-toggle a, .rct-6 #menu-bar .menu-wrapper > ul > li, .rct-6 #menu-bar .menu-wrapper > ul > li > a, .rct-6 .region-header .block-content > ul > li, .rct-6 .region-header .block-content > ul > li > a { border-radius: 6px 6px 0px 0px; }
.rct-6 #menu-bar .menu-toggle a, .rct-8 #menu-bar .menu-wrapper > ul > li, .rct-8 #menu-bar .menu-wrapper > ul > li > a, .rct-8 .region-header .block-content > ul > li, .rct-8 .region-header .block-content > ul > li > a { border-radius: 8px 8px 0px 0px; }
.rct-6 #menu-bar .menu-toggle a, .rct-10 #menu-bar .menu-wrapper > ul > li, .rct-10 #menu-bar .menu-wrapper > ul > li > a, .rct-10 .region-header .block-content > ul > li, .rct-10 .region-header .block-content > ul > li > a { border-radius: 10px 10px 0px 0px; }
.rct-6 #menu-bar .menu-toggle a, .rct-12 #menu-bar .menu-wrapper > ul > li, .rct-12 #menu-bar .menu-wrapper > ul > li > a, .rct-12 .region-header .block-content > ul > li, .rct-12 .region-header .block-content > ul > li > a { border-radius: 12px 12px 0px 0px; }
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU.css ::::: */

/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_qUTeUiaivmUSLW3VkLQHh4aEZzDTFStUIlYm8us0DUA.css ::::: */

@media only screen and (min-width: 321px) and (max-width: 480px) {
	.container { width: 100%; }
	div#content-column, div.content-inner, .sidebar-first div.content-inner, .sidebar-second div.content-inner, .two-sidebars div.content-inner, div.sidebar, .sidebar-first div.sidebar, .sidebar-second div.sidebar, .two-sidebars div.sidebar, div.region .block { float: none; clear: both; display: block; width: 100%; margin-left: 0px; margin-right: 0px; }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.container { width: 100%; }
	div#content-column, div.content-inner, .sidebar-first div.content-inner, .sidebar-second div.content-inner, .two-sidebars div.content-inner, div.sidebar, .sidebar-first div.sidebar, .sidebar-second div.sidebar, .two-sidebars div.sidebar, div.region .block { float: none; clear: both; display: block; width: 100%; margin-left: 0px; margin-right: 0px; }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.container { width: 100%; }
	#content-column, .content-column, div.sidebar { float: left; clear: none; }
	.sidebar-second .content-inner { margin-right: 300px; margin-left: 0px; }
	.region-sidebar-second { width: 300px; margin-left: -300px; }
}
@media only screen and (min-width: 1025px) {
	.container { width: 100%; max-width: 1140px; }
	#content-column, .content-column, div.sidebar { float: left; clear: none; }
	.sidebar-second .content-inner { margin-right: 300px; margin-left: 0px; }
	.region-sidebar-second { width: 300px; margin-left: -300px; }
}
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_Aqtn7cboBO5TWlIYi6ZbpdutT6ABNndU_cR2AMm_d_M.css ::::: */

body, .ui-widget { font-size: 87.5%; font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
#site-name { font-size: 2.5em; font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
#site-slogan { font-size: 2em; font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
#page-title { font-size: 2em; font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
.comment-title { font-size: 1.4em; font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
.block-title { font-size: 1.4em; font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
h1, h2, h3, h4 { font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
#menu-bar .menu-wrapper, #primary-menu-bar .menu-wrapper { font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
nav.block .block-content { font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; }
/* ::::: https://www.thefanclub.co.za/sites/default/files/css/css_ulg_JoHrSecVeglQGg5xxW3xkQ1G6nnOLc7OjB_GWvM.css ::::: */

@media only screen and (min-width: 320px) and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
	body { padding: 0px 5px; }
	#branding, .region-header { float: none; margin: 0px 0px 10px; width: 100%; clear: both; text-align: center; max-width: 100%; overflow: hidden; }
	.region-header .block { clear: both; float: none; margin: 5px auto; max-width: 80%; }
	.region-header .block .block-inner { margin: auto; }
	h1#site-name { font-size: 1.9em; }
	h2#site-slogan { font-size: 1em; }
	.js #menu-bar nav { display: none; }
	.menu-toggle { display: block; float: right; font-size: 1.2em; margin: 0px 10px 0px 0px; padding: 0px; text-transform: lowercase; }
	.menu-toggle a { padding: 7px 10px 10px; display: block; }
	#menu-bar .menu-wrapper { float: none ! important; }
	#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { display: block; padding: 0px 0.5em; border-radius: 0px ! important; }
	#menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li { display: block; float: none; margin-right: 0px; }
	#menu-bar .menu-wrapper ul.menu li { margin: 0px; padding: 0px; }
	ul.sf-menu { width: 100%; }
	#page-title { font-size: 1.8em; }
	.node-type-howto .field-name-field-image-howto figure, .node-type-website .field-name-field-screenshot figure { float: none; margin: 10px 0px; }
	.node-content img { padding: 0px; margin: 0px auto; }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
	body { padding: 0px 5px; }
	#branding, .region-header { float: none; margin: 0px 0px 10px; width: 100%; clear: both; text-align: center; max-width: 100%; overflow: hidden; }
	.region-header .block { clear: both; float: none; margin: 5px auto; max-width: 80%; }
	.region-header .block .block-inner { margin: auto; }
	h1#site-name { font-size: 2em; }
	h2#site-slogan { font-size: 1.1em; }
	.js #menu-bar nav { display: none; }
	.menu-toggle { display: block; float: right; font-size: 1.2em; margin: 0px 10px 0px 0px; padding: 0px; text-transform: lowercase; }
	.menu-toggle a { padding: 7px 10px 10px; display: block; }
	#menu-bar .menu-wrapper { float: none ! important; }
	#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { display: block; padding: 0px 0.5em; border-radius: 0px ! important; }
	#menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li { display: block; float: none; margin-right: 0px; }
	#menu-bar .menu-wrapper ul.menu li { margin: 0px; padding: 0px; }
	ul.sf-menu { width: 100%; }
	#page-title { font-size: 1.8em; }
	.node-content img { padding: 0px; margin: 0px auto; }
	.node-type-howto .field-name-field-image-howto figure, .node-type-website .field-name-field-screenshot figure { float: none; margin: 10px 0px; }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
	body { padding: 0px 8px; }
	h1#site-name { font-size: 3em; }
	h2#site-slogan { font-size: 1.54em; }
	#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { padding: 0px 1em; font-size: 0.9em; }
	#menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li { margin-right: 4px; }
	h1#site-name, h2#site-slogan { min-width: 300px; }
	#page-title { font-size: 1.8em; }
	.node-content img { padding: 0px; }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	h1#site-name { font-size: 3em; }
	h2#site-slogan { font-size: 1.54em; }
	#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { padding: 0px 1.2em; font-size: 0.94em; }
	#menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li { margin-right: 4px; }
}
@media only screen and (min-width: 1025px) {
}
.ace_dragging .ace_scroller::before { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; content: ""; background: rgba(250, 250, 250, 0.01) none repeat scroll 0% 0%; z-index: 1000; }
.ace_dragging.ace_dark .ace_scroller::before { background: rgba(0, 0, 0, 0.01) none repeat scroll 0% 0%; }
