/* ::::: http://kokompe.cba.mit.edu/fab.css ::::: */

a { color: rgb(68, 0, 255); text-decoration: none; }
a img { border: medium none; }
a:visited { color: rgb(68, 0, 255); text-decoration: none; }
a:active { background: rgb(68, 0, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
a:hover { background: rgb(68, 0, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: "Helvetica neue",Helvetica,Arial,sans-serif; margin: 0px 30px 0px 60px; max-width: 600px; padding: 0px; font-size: 10pt; }
h1 { margin: 0px 0px -10pt; padding-bottom: 2px; text-decoration: none; font-size: 48pt; }
h2 { color: rgb(68, 0, 255); margin: 15px 0px 2px; padding-bottom: 2px; font-size: 24pt; }
h3 { color: rgb(0, 0, 0); margin: 0px 0px 10px; padding-bottom: 2px; font-size: 18pt; }
#header a { color: rgb(0, 0, 0); text-decoration: none; }
#header a:hover { background: rgb(255, 0, 102) none repeat scroll 0% 0%; color: rgb(68, 0, 255); text-decoration: none; }
#linkarray { display: inline; float: left; width: 1000px; }
#footer { width: 450px; float: left; padding: 20px 0px; color: rgb(102, 102, 102); border-top: 2px solid rgb(136, 136, 136); }
.item a:hover { background: rgb(68, 0, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
.listview .item { width: 300px; height: 450px; float: left; padding: 0px 15px 0px 0px; }
