/* ::::: http://z-ecx.images-amazon.com/images/G/01/browser-scripts/tmpMasterDPMergedCSS-US/tmpMasterDPMergedCSS-US-10142221368._V1_.css ::::: */

body { background-color: rgb(255, 255, 255); }
.pdClearfix::before, .pdClearfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; font-size: 0px; }
/* ::::: http://z-ecx.images-amazon.com/images/G/01/browser-scripts/search-css/search-css-142123364._V1_.css ::::: */

.pantry-address-popover::before, .pantry-address-popover::after { bottom: 100%; left: 33%; border: medium solid transparent; content: " "; height: 0px; width: 0px; position: absolute; pointer-events: none; }
.pantry-address-popover::after { border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255); border-width: 8px; margin-left: -8px; }
.pantry-address-popover::before { border-color: transparent transparent rgb(203, 204, 203); border-width: 9px; margin-left: -9px; }
body { margin: 0px 8px; }
@media screen and (max-width: 1024px) {
}
@media screen and (min-width: 0px) {
}
.a-icon, .a-link-emphasis::after { background-image: url('aui_sprite_0003-1x._v375855319_.png'); background-repeat: no-repeat; background-size: 400px 600px; display: inline-block; vertical-align: top; }
.a-button-dropdown label::after { content: ":"; }
div#seeAllIndexBar > :first-child { border-left: medium none; }
@media screen and (min-width: 0px) {
}
@media screen� {
}
.music-cart-tooltip, .music-cart-tooltip .tooltip-triangle, .music-cart-tooltip.music-prime .music-triangle::before, .music-cart-tooltip.music-prime .music-triangle::after { position: absolute; }
.music-cart-tooltip .tooltip-triangle, .music-cart-tooltip.music-prime .music-triangle::after, .music-cart-tooltip.music-prime .music-triangle::before { height: 0px; width: 0px; }
.music-cart-tooltip.music-prime .music-triangle::after { content: ""; border-color: transparent transparent transparent white; border-style: solid; border-width: 10px; }
.music-cart-tooltip.music-prime .music-triangle::before { top: -1px; content: ""; border-width: 11px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent transparent rgb(189, 189, 189); }
