@font-face {
	font-family: "proxima-nova";
	font-style: normal;
	font-weight: bold;
	src: url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-bold-webfont.eot/115b1f7f9c04.eot?#iefix") format("embedded-opentype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-bold-webfont.woff/618250d25a4d.woff") format("woff"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-bold-webfont.ttf/646346e03084.ttf") format("truetype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-bold-webfont.svg/e55a9d6051e8.svg#ProximaNovaBold") format("svg");
}
@font-face {
	font-family: "proxima-nova";
	font-style: italic;
	font-weight: bold;
	src: url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-boldit-webfont.eot/1cbb869da891.eot?#iefix") format("embedded-opentype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-boldit-webfont.woff/b1cf049474c9.woff") format("woff"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-boldit-webfont.ttf/3adb020ceae3.ttf") format("truetype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-boldit-webfont.svg/29948a2d3c58.svg#ProximaNovaBoldItalic") format("svg");
}
@font-face {
	font-family: "proxima-nova";
	font-style: normal;
	font-weight: normal;
	src: url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-reg-webfont.eot/12af77715cee.eot?#iefix") format("embedded-opentype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-reg-webfont.woff/a9a9773b8e29.woff") format("woff"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-reg-webfont.ttf/99e19808976a.ttf") format("truetype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-reg-webfont.svg/c33d2fd56309.svg#ProximaNovaRegular") format("svg");
}
@font-face {
	font-family: "proxima-nova";
	font-style: italic;
	font-weight: normal;
	src: url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-regit-webfont.eot/1bbbd1312b0d.eot?#iefix") format("embedded-opentype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-regit-webfont.woff/9e306befca91.woff") format("woff"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-regit-webfont.ttf/4a8663684135.ttf") format("truetype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-regit-webfont.svg/876278d4b189.svg#ProximaNovaRegularItalic") format("svg");
}
@font-face {
	font-family: "proxima-nova";
	font-style: normal;
	font-weight: 600;
	src: url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-sbold-webfont.eot/5016edf79e1d.eot?#iefix") format("embedded-opentype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-sbold-webfont.woff/615c1b06d8fa.woff") format("woff"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-sbold-webfont.ttf/2973bd483f7a.ttf") format("truetype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-sbold-webfont.svg/868597833e49.svg#ProximaNovaSemibold") format("svg");
}
@font-face {
	font-family: "proxima-nova";
	font-style: normal;
	font-weight: 300;
	src: url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-light-webfont.eot/63c84728610f.eot?#iefix") format("embedded-opentype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-light-webfont.woff/66bbe029f180.woff") format("woff"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-light-webfont.ttf/eb408516399b.ttf") format("truetype"), url(" //instagramstatic-a.akamaihd.net/h1/webfonts/proximanova-light-webfont.svg/858f6a9b7ef3.svg#ProximaNovaLight") format("svg");
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
article, div, footer, header, main, nav, section, #react-root { align-items: stretch; border: 0px solid rgb(0, 0, 0); box-sizing: border-box; display: flex; flex-direction: column; flex-shrink: 0; margin: 0px; padding: 0px; position: relative; }
body { overflow-y: scroll; }
html, body { height: 100%; }
#react-root { height: 100%; z-index: 0; }
body, button, input, textarea { font-family: "proxima-nova","Helvetica Neue",Arial,Helvetica,sans-serif; }
a, a:visited { color: rgb(0, 53, 105); text-decoration: none; }
a:active { opacity: 0.5; }
._3fhxa { align-self: center; }
._9sg67, ._qq0ct { color: rgb(38, 38, 38); text-align: center; }
.coreSpriteAddPhoto { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -184px -364px; height: 80px; width: 80px; }
.coreSpriteDesktopNavActivity { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -326px -321px; height: 24px; width: 24px; }
.coreSpriteDesktopNavExplore { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -378px -321px; height: 24px; width: 24px; }
.coreSpriteDesktopNavLogoAndWordmark { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -504px -176px; height: 35px; width: 176px; }
.coreSpriteDesktopNavProfile { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -482px -321px; height: 24px; width: 24px; }
.coreSpriteSearchIcon { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -682px -200px; height: 10px; width: 10px; }
.coreSpriteVerifiedBadge { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -686px -268px; height: 18px; width: 18px; }
.coreSpriteWelcomeDesktop { background-image: url('d11aca.png'); background-repeat: no-repeat; background-position: -347px -268px; height: 47px; width: 55px; }
@media not all, not all, (min-resolution: 144dpi) {
	.coreSpriteAddPhoto { background-size: 352px 293px; background-position: -93px -52px; }
	.coreSpriteDesktopNavActivity { background-size: 352px 293px; background-position: -118px -227px; }
	.coreSpriteDesktopNavExplore { background-size: 352px 293px; background-position: -293px -227px; }
	.coreSpriteDesktopNavLogoAndWordmark { background-size: 352px 293px; background-position: -176px 0px; }
	.coreSpriteDesktopNavProfile { background-size: 352px 293px; background-position: -43px -227px; }
	.coreSpriteSearchIcon { background-size: 352px 293px; background-position: -303px -160px; }
	.coreSpriteVerifiedBadge { background-size: 352px 293px; background-position: -300px -112px; }
	.coreSpriteWelcomeDesktop { background-size: 352px 293px; background-position: 0px -134px; }
}
._soakw { display: block; overflow: hidden; text-indent: 110%; white-space: nowrap; }
._vbtk2:active { opacity: 1; }
._4zhc5 { font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 5px; margin-left: -5px; }
._5lote { background-color: rgb(250, 250, 250); border: 1px solid rgb(219, 219, 219); border-radius: 50%; box-sizing: border-box; display: block; height: 30px; overflow: hidden; width: 30px; }
._a012k { height: 100%; width: 100%; }
._ikcuh { position: relative; }
._4tedc { background: transparent none repeat scroll 0px 0px; bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px; z-index: -1; }
._823eg { border: medium none; display: block; height: 100%; margin: 0px; padding: 0px; width: 100%; }
._22yr2 { background-color: rgb(237, 238, 238); display: block; width: 100%; }
._jjzlb { display: block; overflow: hidden; padding-bottom: 100%; }
._icyx7 { height: 100%; -moz-user-select: none; width: 100%; }
._icyx7, ._ovg3g { left: 0px; position: absolute; top: 0px; }
._ovg3g { bottom: 0px; right: 0px; }
._e616g { display: block; position: relative; }
._aj7mu { border-radius: 3px; border-style: solid; border-width: 1px; font-weight: 600; outline: medium none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
._2hpcs { background: transparent none repeat scroll 0px 0px; border-color: rgb(56, 151, 240); color: rgb(56, 151, 240); }
._aj7mu:active, ._aj7mu.zeroclipboard-is-active, ._qk25s { opacity: 0.5; }
._o0442 { cursor: pointer; }
._95tat { line-height: 24px; padding: 0px 9px; }
._4j13h { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
._pfo25 { flex-grow: 0; flex-shrink: 0; margin-right: 13px; }
._2uju6 { color: rgb(38, 38, 38); display: block; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._cx1ua { border-bottom: 1px solid rgb(239, 239, 239); display: flex; flex-direction: column; padding: 16px 20px; }
._cx1ua:last-child { border-bottom: medium none; margin-bottom: 0px; }
._6jvgy { justify-content: space-between; }
._6jvgy, ._9tu8m { flex-direction: row; }
._9tu8m { display: flex; flex: 1 1 100px; overflow: hidden; }
._72gdz { flex: 0 0 110px; margin-left: 15px; }
._72gdz, ._mmgca { justify-content: center; }
._mmgca { flex: 1 1 70px; flex-direction: column; min-width: 70px; }
._mmgca, ._gzjax {  }
._gzjax { align-content: center; display: flex; flex-direction: row; }
._j7lfh, ._j7lfh:visited { color: rgb(54, 54, 54); }
._d8ttn { margin-left: 7px; }
._ev1ab { flex-direction: row; margin-top: 12px; }
._pbwg8 { flex: 1 1 150px; margin-right: 2px; }
._pbwg8:last-child { margin-right: 0px; }
._3eajp::before { color: rgb(255, 255, 255); content: "×"; display: block; font-size: 36px; font-weight: 600; line-height: 36px; padding: 0px; margin: 0px; }
._ibk5z::before { color: rgb(201, 203, 204); content: "×"; display: block; font-size: 24px; padding: 15px; }
._17z9g { color: rgb(0, 53, 105); cursor: pointer; display: inline-block; font-weight: 600; position: relative; text-transform: uppercase; vertical-align: top; }
._nif11 { cursor: pointer; left: 0px; opacity: 0; position: absolute; top: 0px; }
._mhrsk { font-size: 12px; font-weight: 600; margin: 0px auto; text-transform: uppercase; width: 100%; }
._es4h6 { color: rgb(153, 153, 153); }
._fw3ds { display: inline-block; margin-bottom: 7px; margin-right: 16px; }
._fw3ds:last-child { margin-right: 0px; }
._fh0f2 { flex-grow: 1; margin-bottom: 3px; }
._np0yb { padding: 10px 0px; text-align: center; }
._np0yb ._fh0f2 { justify-content: center; margin: 0px auto; max-width: 360px; }
._im3et { background-color: transparent; border: medium none; cursor: pointer; color: transparent; }
._o1o4h::after { border-color: transparent transparent rgb(255, 255, 255); border-style: solid; border-width: 0px 10px 10px; height: 0px; left: 110px; top: -10px; width: 0px; z-index: 3; }
._o1o4h::after, ._pnw2j { content: " "; position: absolute; }
._qy55y {  }
._qy55y::-moz-placeholder { color: rgb(153, 153, 153); font-weight: 300; opacity: 1; }
._icv3j { height: 28px; left: 50%; margin-left: -183px; position: absolute; top: 0px; }
._9x5sw, ._t1y9a { box-sizing: border-box; height: 100%; width: 100%; }
._t1y9a { font-size: 14px; border-radius: 3px; color: rgb(153, 153, 153); cursor: text; font-weight: 300; left: 0px; padding: 7px; position: absolute; text-align: center; top: 0px; z-index: 2; }
._98hun { border: 1px solid rgb(219, 219, 219); }
._98hun, ._55bi1 { background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
._etslc { display: inline; left: -5px; }
._oqxv9 { margin-right: 6px; vertical-align: baseline; }
._oqxv9, ._9ea4j { display: inline-block; }
._9ea4j { max-width: 140px; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom; white-space: nowrap; }
._9x5sw { border: 1px solid rgb(219, 219, 219); border-radius: 3px; color: rgb(38, 38, 38); font-size: 14px; outline: medium none; padding: 3px 10px 3px 26px; z-index: 2; }
._9x5sw::-moz-placeholder, ._9x5sw:focus::-moz-placeholder { color: rgb(153, 153, 153); }
._6v8vp { flex-direction: row; margin: 0px auto; max-width: 1010px; width: 100%; }
._1b8in { flex-shrink: 0; left: -3px; margin-top: -4px; position: relative; }
._1b8in:active { opacity: 1; }
._nhei4 { align-content: center; align-items: center; display: flex; flex-flow: row wrap; flex-grow: 1; flex-shrink: 1; justify-content: flex-end; width: 0px; }
._pq5am, ._2q6w5 { flex-direction: row; display: flex; }
._7smet:not(:first-child) { margin-left: 30px; }
._9pxkq { margin-left: -158px; min-width: 215px; }
._sq03j { height: 75px; }
._8f735 { min-height: 100%; overflow: hidden; }
._6ltyr { flex-grow: 1; order: 3; }
._rnpza { background-color: rgb(250, 250, 250); }
._oofbn { background-color: rgb(250, 250, 250); order: 4; padding: 0px 20px; }
._onabe { border-bottom: 1px solid rgb(219, 219, 219); order: 1; padding: 0px 20px; }
._bgfey { color: rgb(153, 153, 153); font-size: 14px; font-weight: 600; text-transform: uppercase; }
._loq3v { display: none ! important; }
._29u55 { align-items: center; color: rgb(56, 151, 240); padding: 10px; transition: opacity 0.2s ease-in 0s; }
._8g9t0 { height: 36px; overflow: hidden; padding: 0px; position: absolute; right: 0px; top: 0px; width: 36px; z-index: 2; }
._8g9t0, ._n4m46 { background: transparent none repeat scroll 0px 0px; border: medium none; cursor: pointer; outline: medium none; }
._n4m46 { color: rgb(56, 151, 240); font: inherit; margin: 0px; }
._n4m46, ._gmiug { padding: 0px 0px 15px; }
._8g9t0::before { color: rgb(199, 199, 199); content: "×"; display: block; font-size: 36px; font-weight: 100; line-height: 36px; margin: 0px; padding: 0px; }
._p1u2e { align-items: center; border-radius: 50%; box-sizing: border-box; display: flex; flex-direction: column; height: 80px; justify-content: center; margin: 15px auto; transition: height 1.5s ease-in 0s, margin-bottom 1.5s ease-in 0s, opacity 1.5s ease-in 0s, width 1.5s ease-in 0s; width: 80px; }
._7uiwk::-moz-placeholder, ._7uiwk:focus::-moz-placeholder { color: rgb(153, 153, 153); }
._4vltl::before { content: "✕"; display: block; }
@media not all, not all, (min-resolution: 144dpi) {
}
._fuu7c::before, ._4aw90::before, ._rcmue::before { content: ""; display: block; height: 100%; }
._gsvhg::after { animation: 2s ease 0s normal none infinite running AutoloadingPostsGridMoreLoadingIndicatorAnimation; border-color: rgb(56, 151, 240) transparent transparent; border-style: solid; border-width: 2px; transform-origin: 50% 50% 0px; }
._pupj3::before, ._gsvhg::before, ._gsvhg::after { border-radius: 50%; border-style: solid; border-width: 2px; box-sizing: border-box; content: ""; left: 0px; position: absolute; top: 0px; }
._pupj3, ._pupj3::before, ._gsvhg, ._gsvhg::before, ._gsvhg::after { height: 120px; width: 120px; }
._pupj3::before, ._stvbq { border-color: rgb(56, 151, 240); }
._gsvhg::before, ._3npi2 { border-color: rgb(199, 199, 199); }
._jx516 { flex-grow: 1; margin: 0px auto; max-width: 600px; width: 100%; }
._fa2fd { align-self: center; }
.fb_reset { background: transparent none repeat scroll 0% 0%; border: 0px none; border-spacing: 0px; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_reset > div { overflow: hidden; }
