/* ::::: http://www.railway.gov.lk/web/plugins/content/attachments1.css ::::: */

/* ::::: http://www.railway.gov.lk/web/plugins/system/rokbox/themes/light/rokbox-style.css ::::: */

#rokbox-wrapper.rokbox-light {  }
#rokbox-wrapper .clr { clear: both; }
#rokbox-close { height: 30px; width: 20px; display: block; background: transparent url('close.png') no-repeat scroll 0px 0px; clear: both; }
#rokbox-close span { display: none; }
#rokbox-top.rokbox-left { background: transparent url('tl.png') no-repeat scroll 0px 0px; clear: both; }
#rokbox-top .rokbox-right { background: transparent url('tr.png') no-repeat scroll 100% 0px; }
#rokbox-top .rokbox-center { background: transparent url('top.png') repeat-x scroll 0px 0px; height: 20px; margin-left: 20px; margin-right: 20px; }
#rokbox-middle { overflow: hidden; }
#rokbox-middle.rokbox-left { background: transparent url('left.png') repeat-y scroll 0px 0px; clear: both; }
#rokbox-middle .rokbox-right { background: transparent url('right.png') repeat-y scroll 100% 0px; }
#rokbox-middle .rokbox-center { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-left: 20px; margin-right: 20px; }
#rokbox-bottom.rokbox-left { background: transparent url('bl.png') no-repeat scroll 0px 0px; }
#rokbox-bottom .rokbox-right { background: transparent url('br.png') no-repeat scroll 100% 0px; }
#rokbox-bottom .rokbox-center { background: transparent url('bottom.png') repeat-x scroll 0px 0px; height: 20px; margin-left: 20px; margin-right: 20px; }
/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/template.css ::::: */

@font-face {
	font-family: "Nexus Header";
	src: url('titillium-regular.eot');
}
@font-face {
	font-family: "Nexus Header";
	font-weight: bold;
	src: url('titillium-bold.eot');
}
@font-face {
	font-family: "Nexus";
	src: url('aller-regular.eot');
}
@font-face {
	font-family: "Nexus";
	font-style: italic;
	src: url('aller-italic.eot');
}
@font-face {
	font-family: "Nexus";
	font-weight: bold;
	src: url('aller-bold.eot');
}
@font-face {
	font-family: "Nexus";
	font-style: italic;
	font-weight: bold;
	src: url('aller-bolditalic.eot');
}
@font-face {
	font-family: "Bebas";
	src: url('bebas.eot');
}
@font-face {
	font-family: "Continuum";
	src: url('continuum-regular.eot');
}
@font-face {
	font-family: "Continuum";
	font-weight: bold;
	src: url('continuum-bold.eot');
}
@font-face {
	font-family: "Nexus Header";
	src: local("Titillium Regular"), url('titillium-regular.otf') format("opentype");
}
@font-face {
	font-family: "Nexus Header";
	font-weight: bold;
	src: local("Titillium Bold"), url('titillium-bold.otf') format("opentype");
}
@font-face {
	font-family: "Nexus";
	src: local("Aller Regular"), url('aller-regular.ttf') format("truetype");
}
@font-face {
	font-family: "Nexus";
	font-style: italic;
	src: local("Aller Italic"), url('aller-italic.ttf') format("truetype");
}
@font-face {
	font-family: "Nexus";
	font-weight: bold;
	src: local("Aller Bold"), url('aller-bold.ttf') format("truetype");
}
@font-face {
	font-family: "Nexus";
	font-style: italic;
	font-weight: bold;
	src: local("Aller Bold Italic"), url('aller-bolditalic.ttf') format("truetype");
}
@font-face {
	font-family: "Bebas";
	src: local("Bebas"), url('bebas.ttf') format("truetype");
}
@font-face {
	font-family: "Continuum";
	src: local("Continuum"), url('continuum-regular.ttf') format("truetype");
}
@font-face {
	font-family: "Continuum";
	font-weight: bold;
	src: local("Continuum"), url('continuum-bold.ttf') format("truetype");
}
#ff-geneva, a.geneva { font-family: Geneva,Tahoma,"Nimbus Sans L",sans-serif; }
input { font-family: Helvetica,Arial,sans-serif; }
html { height: 100%; margin-bottom: 1px; }
body { margin: 0px; line-height: 135%; }
form { margin: 0px; padding: 0px; }
body, body.f-default { font-size: 72%; }
body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large { font-size: 14px; }
p { margin-top: 10px; margin-bottom: 15px; text-align: justify; }
h1, h2, h3, h4, h5 { padding-bottom: 5px; margin: 25px 0px 10px; font-weight: normal; line-height: 135%; }
h2 { line-height: 100%; }
h3 { font-size: 130%; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clr { clear: both; font-size: 0px; }
#top-bar .padding { font-size: 9px; }
#top-bar .moduletable { padding: 0px; margin: 0px; }
#header { background-color: rgb(0, 0, 0); overflow: hidden; }
#header .padding { padding: 0px 20px; }
#horiz-menu { display: block; }
#menu-spacer { height: 5px; }
#horizmenu-surround { position: relative; }
#horizmenu-surround2, #horizmenu-surround3, #horizmenu-surround4, #horizmenu-surround5 { position: absolute; width: 12px; height: 12px; }
#horizmenu-surround2 { top: 0px; left: 0px; }
#horizmenu-surround3 { top: 0px; right: 0px; }
#horizmenu-surround4 { bottom: 0px; left: 0px; }
#horizmenu-surround5 { bottom: 0px; right: 0px; }
.colmask { clear: both; overflow: hidden; position: relative; width: 100%; }
.col1wrap { padding-bottom: 2em; }
#maincol { position: relative; }
#maincol a, #maincol .separator, #maincol .item { font-weight: bold; }
.wrapper { position: relative; }
#leftcol a, #leftcol .separator, #leftcol .item { font-weight: bold; }
#leftcol-padding, #rightcol-padding { padding: 0px 20px; }
.s-c-x .colright { float: left; position: relative; width: 200%; }
.s-c-x .col1wrap { float: right; padding-bottom: 1em; position: relative; width: 50%; }
.s-c-x .col1 { overflow: hidden; position: relative; right: 100%; }
.s-c-x .col2 { float: left; position: relative; }
.side-mod { left: -16px; overflow: hidden; position: relative; top: 4px; width: 205px; }
.side-mod h3 { margin: 0px 0px 10px; }
#leftcol .moduletable, #rightcol .moduletable { padding: 0px; }
#searchmod { width: 186px; float: right; clear: both; margin-top: 3px; margin-right: 25px; }
#rokajaxsearch { height: 23px; }
#rokajaxsearch .inputbox { border: 0px none; padding: 4px 0px 5px 6px; font-size: 11px; height: 15px; width: 100%; outline: medium none; }
#roksearch_search_str { width: 150px; }
#roksearch_results { z-index: 10000; position: absolute; width: 400px; float: right; margin-top: -1px; text-align: left; visibility: hidden; }
#main-content { overflow: hidden; }
#maincontent-block { padding: 15px 20px; }
#breadcrumbs { margin: 0px 0px 10px; display: block; position: relative; overflow: hidden; height: 4px; padding: 15px; }
#breadcrumbs-home { width: 20px; height: 23px; display: block; float: left; }
span.breadcrumbs { display: block; font-size: 110%; font-weight: bold; overflow: hidden; }
span.breadcrumbs img { width: 12px; height: 23px; float: left; }
span.breadcrumbs a, span.no-link { padding: 0px 8px; float: left; display: block; height: 23px; line-height: 20px; }
span.breadcrumbs span.no-link { font-weight: normal; }
.contentheading { font-size: 140%; line-height: 140%; margin: 0px 0px 15px; padding: 0px; }
.article-info-surround { padding: 0px; margin: 0px; overflow: hidden; }
p.articleinfo, .iteminfo { margin: 0px; font-size: 13px; line-height: 140%; }
.iteminfo { display: block; float: left; }
.article-ratings { padding: 2px 5px; margin-top: 25px; }
span.modifydate, span.createdby, span.createdate { display: block; }
#page { padding-bottom: 15px; }
.moduletable { padding: 2px 20px; margin-bottom: 2px; }
span.small, .modifydate { font-size: 85%; color: rgb(235, 127, 0); }
.moduletable fieldset { border: 0px none; margin-left: -8px; margin-bottom: -10px; }
fieldset { margin: 10px 0px 20px; border: 0px none; }
fieldset.input, a img, body .pollstableborder { border: 0px none; }
legend { font-size: 120%; }
a#rokbox-close { height: 20px; width: 20px; }
#top-button { width: 90px; height: 20px; text-align: center; line-height: 22px; font-weight: bold; font-size: 12px; margin: 0px auto; }
#top-button a:hover { text-decoration: none; }
.copyright-block { margin: 2px 0px; }
.copyright-block2 { padding: 2px 0px 2px 15px; overflow: hidden; }
#footer { position: relative; overflow: hidden; }
.footer-mod { padding: 2px 0px; }
#footer a { font-weight: bold; }
#languagelinks { clear: both; float: right; font-size: 9px; height: 17px; margin-bottom: 35px; margin-right: 15px; margin-top: -6px; }
#selectlanguage { float: right; height: 13px; clear: both; font-size: 9px; left: -20px; position: relative; top: 35px; }
table { border-collapse: collapse; }
td { padding: 5px; }
.bodycontent a { color: rgb(51, 85, 155); }
.bodycontent h2 { color: rgb(51, 85, 155); }
.admintable1 { background: transparent url('ts-1.jpg') no-repeat scroll left center; color: rgb(255, 255, 255); height: 329px; width: 200px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; margin-top: -15px; margin-left: 0px; }
#gEtlanguagelink { position: relative; font-size: 9px; height: 17px; float: right; top: 22px; right: -92px; }
#gov_bt_div { position: relative; width: 45px; float: right; top: -2px; right: 2px; }
/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/header-dark.css ::::: */

#top-bar { color: rgb(204, 204, 204); }
#top-bar a { color: rgb(255, 255, 255); }
#horiz-menu li.root > .item, #horiz-menu.splitmenu li .item, #horiz-menu li .item { color: rgb(255, 255, 255); }
#horiz-menu li:hover > .item span, #horiz-menu li.active:hover > .item span, #horiz-menu li.root.active:hover > .item span, #horiz-menu li.f-menuparent-itemfocus .item span, #horiz-menu li.root.active.f-mainparent-itemfocus .item span, #horiz-menu li.root.f-mainparent-itemfocus .item span, #horiz-menu.splitmenu li:hover .item span, #horiz-menu.splitmenu li.active:hover .item span { color: rgb(51, 51, 51); }
#horiz-menu { background-color: rgb(51, 85, 155); }
#horiz-menu li.root.active {  }
#horiz-menu li.active { background: rgb(18, 18, 18) url('horizmenu-states.png') repeat-x scroll 0px -317px; }
#horiz-menu li.root:hover, #horiz-menu li.root.sfHover { background: rgb(203, 203, 203) url('horizmenu-states.png') repeat-x scroll 0px 0px; border: 1px solid rgb(255, 255, 255); }
#horiz-menu li.root .daddy span, #horiz-menu li.root.active .daddy span { background: transparent url('horizmenu-arrow.png') no-repeat scroll 100% 12px; }
#horiz-menu li.root:hover .daddy span, #horiz-menu li.root.f-mainparent-itemfocus > .daddy span { background: transparent url('horizmenu-arrow.png') no-repeat scroll 100% -89px; }
#horiz-menu ul.columns2, .menutop ul { background: rgb(46, 46, 46) url('menudrop-bg.png') repeat-x scroll 0px 0px; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(34, 34, 34) rgb(34, 34, 34); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#horiz-menu .drop-top { border-top: 1px solid rgb(34, 34, 34); }
#horiz-menu li.active:hover { background: rgb(203, 203, 203) url('horizmenu-states.png') repeat-x scroll 0px 0px; }
#horiz-menu li:hover, #horiz-menu li.f-menuparent-itemfocus, #horiz-menu li.root.active.f-mainparent-itemfocus, #horiz-menu li.root.f-mainparent-itemfocus { background: rgb(203, 203, 203) url('horizmenu-states.png') repeat-x scroll 0px 0px; border: 1px solid rgb(255, 255, 255); }
#horiz-menu li > .bullet { background: transparent url('drop-bullet.png') no-repeat scroll 7px 10px; }
#horiz-menu li:hover > .bullet, #horiz-menu li.f-menuparent-itemfocus .bullet, #horiz-menu li.f-menuparent-itemfocus.active .bullet, #horiz-menu li.active > .bullet, #horiz-menu li.active:hover > .bullet { background: transparent url('drop-bullet.png') no-repeat scroll 7px -123px; }
#horiz-menu li.active > .bullet { background: transparent url('drop-bullet.png') no-repeat scroll 7px -267px; }
#horiz-menu li > .daddy span { background: transparent url('horizmenu-arrow.png') no-repeat scroll 100% -281px; }
#horiz-menu li:hover > .daddy span, #horiz-menu li li.active:hover > .daddy span, #horiz-menu li.f-menuparent-itemfocus > .daddy span, #horiz-menu li.active.f-menuparent-itemfocus > .daddy span { background: transparent url('horizmenu-arrow.png') no-repeat scroll 100% -337px; }
#horiz-menu li.active > .daddy span { background: transparent url('horizmenu-arrow.png') no-repeat scroll 100% -401px; }
#top-bar { height: 100px; background-image: url('top_bar_bg.jpg'); background-repeat: no-repeat; background-position: center top; }
#rokajaxsearch .input-field-l { background-color: rgb(51, 153, 255); background-image: url('surround-r.png'); background-repeat: no-repeat; background-position: 100% -98px; }
#rokajaxsearch .input-field-r { background: transparent url('surround-l.png') no-repeat scroll 0px -98px; }
#top-bar #rokajaxsearch .inputbox { color: rgb(102, 102, 102); }
#menu-spacer { background: rgb(50, 50, 50) none repeat scroll 0% 0%; height: 1px; }
#roksearch_results { background: rgb(53, 53, 53) none repeat scroll 0% 0%; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(34, 34, 34) rgb(34, 34, 34) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/body-light.css ::::: */

#maincol { color: rgb(51, 51, 51); }
#leftcol { color: rgb(51, 51, 51); }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.s-c-x .colright { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
#breadcrumbs-home { background: transparent url('breadcrumb-home.png') no-repeat scroll 0px 0px; }
#breadcrumbs span img { background: transparent url('list-arrows.png') no-repeat scroll 0px -215px; }
/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/primary-yellow.css ::::: */

a, .date1, .createdby, #horiz-menu li.root.active .item span, #horiz-menu.splitmenu li.active .item span { color: rgb(255, 153, 51); }
h3 span, .contentheading, .contentheading a, .blog_more h2 { color: rgb(51, 51, 51); }
h3.module-title, .contentheading, .blog_more h2 { border-bottom: 1px solid rgb(102, 102, 102); }
/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/footer.css ::::: */

.foot-dark #footer { color: rgb(255, 255, 255); }
.foot-dark #footer { background: rgb(51, 85, 155) none repeat scroll 0% 0%; }
/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/typography.css ::::: */

/* ::::: http://www.railway.gov.lk/web/templates/system/css/system.css ::::: */

/* ::::: http://www.railway.gov.lk/web/templates/system/css/general.css ::::: */

/* ::::: http://www.railway.gov.lk/web/templates/rt_nexus_j15/css/menu-fusion.css ::::: */

.menutop li { height: auto; margin: 0px; padding: 0px; position: relative; list-style: outside none none; }
.menutop li.root { margin: 1px 5px; padding: 0px; }
.menutop li.root.active, .menutop li.root:hover, .menutop li.root.sfHover { margin: 0px 4px; }
.menutop li .item, .menutop li.active .item { display: block; margin: 0px; text-decoration: none; float: none; width: auto; }
.menutop li:hover .item, .menutop li.sfHover .item, .menutop li.active .item { cursor: pointer; }
.menutop ul { width: 175px; padding: 1px 1px 2px; margin: 0px; float: left; }
.menutop .drop-top { width: 179px; height: 0px; }
.menutop ul li { width: 175px; height: 34px; }
.menutop li > .item { padding: 0px; height: auto; line-height: 32px; display: block; font-size: 12px; }
.menutop li > .bullet { padding: 0px 10px 5px 28px; }
.menutop li > .item span { display: block; padding: 0px; width: 100%; font-weight: bold; }
.menutop li a.item { cursor: pointer; }
.menutop li span.item { cursor: default; outline: medium none; }
.menutop li.sfHover, .menutop li:hover { margin: -1px; }
.level2 .drop-top { display: none; }
#horiz-menu ul.level1, #horiz-menu li.root, #horiz-menu li.root.active:hover > .bullet { background: transparent none repeat scroll 0% 0%; }
body #horiz-menu li.root > .item { background: transparent none repeat scroll 0% 0%; }
.menutop { list-style: outside none none; margin: 0px; padding: 4px 12px; position: relative; line-height: 1; float: left; }
.menutop li.root { display: block; float: left; }
.menutop li.root > .item { white-space: nowrap; display: block; float: left; height: 32px; line-height: 32px; font-weight: bold; font-size: 12px; text-decoration: none ! important; z-index: 100; cursor: pointer; padding: 0px; position: relative; }
.menutop li.root > .item span { display: block; padding: 0px 2px; height: 32px; width: auto; }
.menutop li.root .daddy { padding-right: 2px; }
.fusion-js-container { display: block; height: 0px; left: 0px; overflow: visible; position: absolute; top: 0px; z-index: 600000 ! important; background: transparent none repeat scroll 0% 0% ! important; }
.fusion-js-subs { display: none; margin: 0px 0px 0px -2px; overflow: hidden; padding: 0px 2px; position: absolute; }
/* ::::: http://www.railway.gov.lk/web/modules/mod_jflanguageselection/tmpl/mod_jflanguageselection.css ::::: */

#jflanguageselection { float: right; }
.rawimages { text-align: center; margin-top: -1px; }
.rawimages img { border: medium none; margin: 2px; }
div.wrapper { margin: 0px auto; width: 982px; padding: 0px; }
#maincontent-block { margin-right: 0px; margin-left: 0px; }
.s-c-x .colright { left: 200px; }
.s-c-x .col1wrap { right: 200px; }
.s-c-x .col1 { margin-left: 200px; }
.s-c-x .col2 { right: 200px; width: 200px; }
