/* ::::: http://docs.python-requests.org/en/latest/_static/alabaster.css ::::: */

/* ::::: http://docs.python-requests.org/en/latest/_static/basic.css ::::: */

div.clearer { clear: both; }
div.sphinxsidebarwrapper { padding: 10px 5px 0px 10px; }
div.sphinxsidebar { float: left; width: 230px; margin-left: -100%; font-size: 90%; }
div.sphinxsidebar ul { list-style: outside none none; }
div.sphinxsidebar form { margin-top: 10px; }
div.sphinxsidebar input { border: 1px solid rgb(152, 219, 204); font-family: sans-serif; font-size: 1em; }
div.sphinxsidebar #searchbox input[type="text"] { width: 170px; }
div.sphinxsidebar #searchbox input[type="submit"] { width: 30px; }
img { border: 0px none; max-width: 100%; }
a.headerlink { visibility: hidden; }
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink, caption:hover > a.headerlink, p.caption:hover > a.headerlink, div.code-block-caption:hover > a.headerlink { visibility: visible; }
dl { margin-bottom: 15px; }
dd { margin-top: 3px; margin-bottom: 10px; margin-left: 30px; }
dt:target, .highlighted { background-color: rgb(251, 229, 78); }
pre { overflow-x: auto; overflow-y: hidden; }
body { font-family: "goudy old style","minion pro","bell mt",Georgia,"Hiragino Mincho Pro",serif; font-size: 17px; background-color: white; color: rgb(0, 0, 0); margin: 0px; padding: 0px; }
div.document { width: 940px; margin: 30px auto 0px; }
div.documentwrapper { float: left; width: 100%; }
div.bodywrapper { margin: 0px 0px 0px 220px; }
div.sphinxsidebar { width: 220px; }
hr { border: 1px solid rgb(177, 180, 182); }
div.body { background-color: rgb(255, 255, 255); color: rgb(62, 67, 73); padding: 0px 30px; }
div.body > .section { text-align: left; }
div.footer { width: 940px; margin: 20px auto 30px; font-size: 14px; color: rgb(136, 136, 136); text-align: right; }
div.footer a { color: rgb(136, 136, 136); }
div.sphinxsidebar a { color: rgb(68, 68, 68); text-decoration: none; border-bottom: 1px dotted rgb(153, 153, 153); }
div.sphinxsidebar a:hover { border-bottom: 1px solid rgb(153, 153, 153); }
div.sphinxsidebar { font-size: 14px; line-height: 1.5; }
div.sphinxsidebarwrapper { padding: 18px 10px; }
div.sphinxsidebarwrapper p.logo { padding: 0px; margin: -10px 0px 0px; text-align: center; }
div.sphinxsidebar h3, div.sphinxsidebar h4 { font-family: "Garamond","Georgia",serif; color: rgb(68, 68, 68); font-size: 24px; font-weight: normal; margin: 0px 0px 5px; padding: 0px; }
div.sphinxsidebar p.logo a, div.sphinxsidebar h3 a, div.sphinxsidebar p.logo a:hover, div.sphinxsidebar h3 a:hover { border: medium none; }
div.sphinxsidebar p { color: rgb(85, 85, 85); margin: 10px 0px; }
div.sphinxsidebar ul { margin: 10px 0px; padding: 0px; color: rgb(0, 0, 0); }
div.sphinxsidebar input { border: 1px solid rgb(204, 204, 204); font-family: "goudy old style","minion pro","bell mt",Georgia,"Hiragino Mincho Pro",serif; font-size: 1em; }
a { color: rgb(0, 75, 107); text-decoration: underline; }
a:hover { color: rgb(109, 65, 0); text-decoration: underline; }
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 { font-family: "Garamond","Georgia",serif; font-weight: normal; margin: 30px 0px 10px; padding: 0px; }
div.body h1 { margin-top: 0px; padding-top: 0px; font-size: 240%; }
div.body h2 { font-size: 180%; }
a.headerlink { color: rgb(221, 221, 221); padding: 0px 4px; text-decoration: none; }
a.headerlink:hover { color: rgb(68, 68, 68); background: rgb(234, 234, 234) none repeat scroll 0% 0%; }
div.body p, div.body dd, div.body li { line-height: 1.4em; }
div.highlight { background-color: white; }
dt:target, .highlight { background: rgb(250, 243, 232) none repeat scroll 0% 0%; }
p.admonition-title::after { content: ":"; }
pre, tt, code { font-family: "Consolas","Menlo","Deja Vu Sans Mono","Bitstream Vera Sans Mono",monospace; font-size: 0.9em; }
dl { margin: 0px; padding: 0px; }
dl dd { margin-left: 30px; }
ul, ol { margin: 10px 0px 10px 30px; padding: 0px; }
pre { background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding: 7px 30px; margin: 15px 0px; line-height: 1.3em; }
tt, code { background-color: rgb(236, 240, 243); color: rgb(34, 34, 34); }
a.reference { text-decoration: none; border-bottom: 1px dotted rgb(0, 75, 107); }
a.reference:hover { border-bottom: 1px solid rgb(109, 65, 0); }
@media screen and (max-width: 870px) {
	div.sphinxsidebar { display: none; }
	div.document { width: 100%; }
	div.documentwrapper { margin: 0px; }
	div.bodywrapper { margin: 0px; }
	ul { margin-left: 0px; }
	.document { width: auto; }
	.footer { width: auto; }
	.bodywrapper { margin: 0px; }
	.footer { width: auto; }
	.github { display: none; }
}
@media screen and (max-width: 875px) {
	body { margin: 0px; padding: 20px 30px; }
	div.documentwrapper { float: none; background: white none repeat scroll 0% 0%; }
	div.sphinxsidebar { display: block; float: none; width: 102.5%; margin: 50px -30px -20px; padding: 10px 20px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
	div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar p, div.sphinxsidebar h3 a { color: white; }
	div.sphinxsidebar a { color: rgb(170, 170, 170); }
	div.sphinxsidebar p.logo { display: none; }
	div.document { width: 100%; margin: 0px; }
	div.footer { display: none; }
	div.bodywrapper { margin: 0px; }
	div.body { min-height: 0px; padding: 0px; }
	.document { width: auto; }
	.footer { width: auto; }
	.footer { width: auto; }
	.github { display: none; }
}
/* ::::: http://docs.python-requests.org/en/latest/_static/pygments.css ::::: */

.highlight { background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.highlight .n { color: rgb(0, 0, 0); }
.highlight .o { color: rgb(88, 40, 0); }
.highlight .p { color: rgb(0, 0, 0); font-weight: bold; }
.highlight .go { color: rgb(136, 136, 136); }
.highlight .gp { color: rgb(116, 83, 52); }
.highlight .s1 { color: rgb(78, 154, 6); }
/* ::::: https://media.readthedocs.org/css/badge_only.css ::::: */

.fa::before {  }
.clearfix::before, .clearfix::after { display: table; content: ""; }
.clearfix::after { clear: both; }
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome_webfont.eot') format("embedded-opentype"), url('fontawesome_webfont.woff') format("woff"), url('fontawesome_webfont.ttf') format("truetype"), url('fontawesome_webfont.svg') format("svg");
}
.fa::before { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; text-decoration: inherit; }
li .fa-large::before, li .fa-large::before { width: 1.875em; }
ul.fas li .fa-large::before, ul.fas li .fa-large::before { vertical-align: baseline; }
.fa-book::before { content: ""; }
.icon-book::before { content: ""; }
.fa-caret-down::before { content: ""; }
.icon-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.icon-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.icon-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.icon-caret-right::before { content: ""; }
.rst-versions { position: fixed; bottom: 0px; left: 0px; width: 300px; color: rgb(252, 252, 252); background: rgb(31, 29, 29) none repeat scroll 0% 0%; border-top: 10px solid rgb(52, 49, 49); font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif; z-index: 400; }
.rst-versions a { color: rgb(41, 128, 185); text-decoration: none; }
.rst-versions .rst-current-version { padding: 12px; background-color: rgb(39, 37, 37); display: block; text-align: right; font-size: 90%; cursor: pointer; color: rgb(39, 174, 96); }
.rst-versions .rst-current-version::before, .rst-versions .rst-current-version::after { display: table; content: ""; }
.rst-versions .rst-current-version::after { clear: both; }
.rst-versions .rst-current-version .fa { color: rgb(252, 252, 252); }
.rst-versions .rst-current-version .fa-book { float: left; }
.rst-versions .rst-other-versions { font-size: 90%; padding: 12px; color: gray; display: none; }
.rst-versions .rst-other-versions hr { display: block; height: 1px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(65, 61, 61) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 20px 0px; padding: 0px; }
.rst-versions .rst-other-versions dd { display: inline-block; margin: 0px; }
.rst-versions .rst-other-versions dd a { display: inline-block; padding: 6px; color: rgb(252, 252, 252); }
.rst-versions.rst-badge { width: auto; bottom: 20px; right: 20px; left: auto; border: medium none; max-width: 300px; }
.rst-versions.rst-badge .fa-book { float: none; }
.rst-versions.rst-badge .rst-current-version { width: auto; height: 30px; line-height: 30px; padding: 0px 6px; display: block; text-align: center; }
@media screen and (max-width: 768px) {
	.rst-versions { width: 85%; display: none; }
	img { width: 100%; height: auto; }
}
/* ::::: https://media.readthedocs.org/css/readthedocs-doc-embed.css ::::: */

.rst-versions.rst-badge { display: block; }
.rst-other-versions { text-align: left; }
.rst-other-versions a { border: 0px none; }
.rst-other-versions dl { margin: 0px; }
img.logo { margin-left: -20px ! important; }
div#searchbox h3 { text-transform: capitalize; }
div.document { width: 1008px; }
div.highlight pre { padding: 11px 14px; }
@media screen and (max-width: 1008px) {
	div.sphinxsidebar { display: none; }
	div.document { width: 100% ! important; }
	div.highlight pre { margin-right: -30px; }
}
