body {  }
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('ek4gzz-gexapcsbhtceqi_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('mervlbyg_cxg3rlvuskt_feszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('-2n2p-_y08sg57cnwqfknveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('u0topm082mnks5k0q4rhqveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('ndf9mtnoplzo-nomog0mipeszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('fcx7wwv8ozt71a3e1xoajveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('cwb0xya8bzo0ksthx0utua.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('0ec6fl06luxeywpbsjvxcbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('fl4y0qdoxyythegmxx8kcrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('-l14jk06m6puhb-5mxqqnrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('i3s1wsgsg9ycurv6puktorjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('nydwbdd4giq26g5xybhsfbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('pru33qjshpzsmg3z6vywnrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('hgo13k-tfspn0qi1sfdufvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('77fxfjrbgzn4acrsfhlh3hjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('isz-wbcxnkabnjo6_twhthjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('ux6i4jxqdm3fvtc1cpuwqhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('jsn2cgvdbcvycnfjfjsdfbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('pwzc-ybil414wb9rb1iaprjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('97uahxiqzroncbacei3awxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('d-6iyplofoccackzxwxsoftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: https://apis.google.com/_/scs/apps-static/_/ss/k=oz.widget.-186bo2714eofv.L.F4.O/m=bdg/d=1/rs=AGLTcCMKXRiFsGY49shD5dsyR1WpYqTgiw ::::: */

* html .d-k-l, :first-child + html .d-k-l { display: inline; }
.G-q-O-ab::after { content: ""; background: transparent url('close-x.png') repeat scroll 0% 0%; position: absolute; height: 11px; width: 11px; right: 17px; }
a { color: rgb(66, 127, 237); cursor: pointer; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
.G-q-O-ab::after { display: none; }
.kv8eNc { background-color: transparent; margin: 0px; padding: 0px; }
.DX2B6-P-M > .DX2B6-P-z::after, .DX2B6-P-nh > .DX2B6-P-z::after { content: ""; display: block; height: 15px; position: relative; top: -3px; width: 15px; }
.DX2B6-P-M > .DX2B6-P-z::after { background: transparent url('checkmark.png') no-repeat scroll -5px -3px; }
.DX2B6-P-nh > .DX2B6-P-z::after { background: transparent url('checkmark-partial.png') no-repeat scroll -5px -3px; }
.FP { border: 1px solid rgba(0, 0, 0, 0.17); border-radius: 2px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); box-sizing: border-box; transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s; -moz-user-select: none; background-color: rgb(255, 255, 255); background-image: none; color: rgb(38, 38, 38); cursor: pointer; outline: medium none; overflow: hidden; position: relative; text-align: center; vertical-align: middle; white-space: nowrap; width: auto; }
.FP:hover { border: 1px solid rgba(0, 0, 0, 0.25); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.FP:active { background-color: rgb(229, 229, 229); border: 1px solid rgba(0, 0, 0, 0.25); box-shadow: 0px 1px 0px rgb(221, 221, 221) inset; color: rgb(38, 38, 38); }
.s7 { float: left; }
.u7 { display: block; }
.Nr { fill: rgb(219, 68, 55); }
.hma { font-family: Roboto,arial,sans-serif; font-size: 12px; font-weight: 700; margin-left: 6px; margin-right: 6px; vertical-align: top; }
.Ul { height: 100%; width: 100%; }
.ima { background-position: left top; background-repeat: no-repeat; }
.Yfd { border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.2); position: absolute; }
.Aae { float: left; height: 104px; }
.Jae { float: right; height: 104px; text-align: left; }
.igd, .jgd { background-color: rgb(255, 255, 255); }
.jgd { height: 104px; width: 104px; }
.lae { height: 30px; padding-left: 14px; padding-right: 14px; padding-top: 10px; overflow-y: hidden; }
.tKc, .fgd, .hgd, .Gae { display: inline-block; font-family: Roboto,arial,sans-serif; vertical-align: top; }
.tKc { visibility: hidden; }
.hgd { margin-left: 7px; }
.ggd, .mgd, .ngd, .qgd { padding-left: 14px; padding-right: 14px; }
.ggd { font: 16px/19px Roboto,arial,sans-serif; max-height: 20px; overflow: hidden; padding-top: 10px; white-space: normal; }
.mgd { font: 11px Roboto,arial,sans-serif; padding-top: 10px; }
.Bae, .Cae, .Rae, .Sae, .sae, .tae { text-decoration: none; }
.nae { background-color: rgb(255, 255, 255); }
.Cae { color: rgb(38, 38, 38); }
.Oae { color: rgb(170, 170, 170); }
