/* ::::: https://git-scm.com/assets/git-scm-65ca8280a031499ee9e8e2b10c8a596c.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
hr { box-sizing: content-box; height: 0px; }
pre { overflow: auto; }
code, .man-page p tt, .man-page .listingblock .content, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
body { margin: 0px; padding: 0px; font-size: 14px; line-height: 22px; font-family: "adelle",Georgia,"Times New Roman",serif; color: rgb(78, 68, 60); background: rgb(240, 239, 231) url('body.jpg') repeat scroll 0% 0%; }
.inner { position: relative; width: 940px; margin: 0px auto; overflow: visible; }
.inner::before { display: table; content: ""; }
.inner::after { display: table; clear: both; content: ""; }
aside { width: 218px; float: left; margin-bottom: 35px; }
#content { width: 702px; float: right; }
#main { background-color: rgb(252, 252, 250); border: 1px solid rgb(226, 224, 216); border-radius: 5px; padding: 22px; margin-bottom: 35px; }
#main .two-column::before { display: table; content: ""; }
#main .two-column::after { display: table; clear: both; content: ""; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
header { margin-top: 14px; position: relative; padding-bottom: 26px; }
header #tagline { display: block; position: absolute; top: 11px; left: 120px; margin-top: 1px; color: rgb(154, 153, 148); font-size: 24px; line-height: 24px; }
header #tagline em { letter-spacing: 1px; }
ul.related-material { font-weight: normal; }
ul.related-material li a { display: inline; }
aside nav ul { list-style: outside none none; font-size: 16px; font-weight: bold; margin-left: 0px; margin-bottom: 1.4em; }
aside nav ul li { margin-bottom: 0.5em; }
aside nav ul li a { color: rgb(65, 57, 50); }
aside nav ul li a.active, aside nav ul li a:hover { color: rgb(241, 78, 50); }
aside nav ul li ul { display: none; margin-top: 0.3em; margin-left: 20px; font-weight: normal; font-size: 13px; }
aside nav ul li ul li { margin-bottom: 0px; }
aside nav ul li ul.expanded { display: block; }
.bottom-nav::before { display: table; content: ""; }
.bottom-nav::after { display: table; clear: both; content: ""; }
.section-nav-container, #reference-version, #book-chapters { position: relative; background-color: rgba(223, 221, 213, 0.33); border-radius: 3px; padding: 8px 12px 6px; margin-bottom: 10px; font-size: 13px; font-weight: bold; }
.section-nav-container .light, #reference-version .light, #book-chapters .light { font-weight: normal; }
.section-nav-container a, #reference-version a, #book-chapters a { font-weight: bold; position: relative; }
.section-nav-container .dropdown-panel, #reference-version .dropdown-panel, #book-chapters .dropdown-panel { top: 33px; }
.section-nav-container .dropdown-panel .three-column::before, #reference-version .dropdown-panel .three-column::before, #book-chapters .dropdown-panel .three-column::before { display: table; content: ""; }
.section-nav-container .dropdown-panel .three-column::after, #reference-version .dropdown-panel .three-column::after, #book-chapters .dropdown-panel .three-column::after { display: table; clear: both; content: ""; }
.section-nav-container .dropdown-panel .three-column .column-left, #reference-version .dropdown-panel .three-column .column-left, #book-chapters .dropdown-panel .three-column .column-left { width: 31%; float: left; padding-right: 3%; }
.section-nav-container .dropdown-panel .three-column .column-middle, #reference-version .dropdown-panel .three-column .column-middle, #book-chapters .dropdown-panel .three-column .column-middle { width: 31%; float: left; padding-right: 3%; }
.section-nav-container .dropdown-panel .three-column .column-right, #reference-version .dropdown-panel .three-column .column-right, #book-chapters .dropdown-panel .three-column .column-right { width: 31%; float: left; }
a.dropdown-trigger { padding: 4px 5px; border: 1px solid transparent; }
.dropdown-panel { display: none; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 196, 184); position: absolute; z-index: 199; border-radius: 3px; box-shadow: 0px 1px 2px rgb(204, 204, 204); }
footer { clear: both; margin-top: 35px; border-top: 1px solid rgb(216, 215, 207); padding: 20px 0px 40px; color: rgb(154, 153, 148); font-size: 12px; line-height: 15.4px; }
footer::before { display: table; content: ""; }
footer::after { display: table; clear: both; content: ""; }
footer a { color: rgb(64, 63, 60); }
footer a:hover { color: rgb(11, 11, 10); }
footer .site-source { float: left; background: transparent url('code.png') no-repeat scroll 0px 2px; padding-left: 46px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	footer .site-source { background: transparent url('code@2x.png') no-repeat scroll 0px 2px / 38px 23px; }
}
footer .sfc-member { float: right; text-align: right; }
p { margin: 0px 0px 11px; font-size: 14px; line-height: 22px; }
a { color: rgb(3, 136, 166); text-decoration: none; transition-property: color; transition-duration: 0.3s; }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal; color: rgb(78, 68, 60); text-rendering: optimizelegibility; }
h1 { font-size: 36px; line-height: 44px; margin-bottom: 0.4em; }
h2 { font-size: 18px; line-height: 44px; color: rgb(241, 78, 50); font-weight: bold; margin-top: 20px; }
h3 { line-height: 33px; font-size: 16px; font-weight: bold; }
h4, h5, h6 { line-height: 22px; }
h4 { font-size: 14px; font-weight: bold; }
aside h4 { color: rgb(154, 153, 148); line-height: 1.4; margin-bottom: 1em; }
ul, ol { padding: 0px; margin: 0px 0px 11px 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }
ul { list-style: outside none disc; }
ol { list-style: outside none decimal; }
li { line-height: 22px; }
ul.unstyled, ul.section-nav-container, ul#reference-version, ul#book-chapters, ul#download-next-steps, #search-results table ul, #front-nav ul, #companies-projects ul, ul.content-list, ul.video-thumbnails, ul.gui-thumbnails, ul.books-list, ul.related-material, ul.stackoverflow, ol.unstyled, ol.section-nav-container, ol#reference-version, ol#book-chapters, ol#download-next-steps, ol.full-search-results, ol.reference-previous-versions, ol.book-toc, ol.content-list, ol#about-nav { margin-left: 0px; list-style: outside none none; }
hr { margin: 22px 0px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(216, 215, 207) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
strong { font-weight: bold; }
em { font-style: italic; }
blockquote small::before { content: "— "; }
code, .man-page p tt, .man-page .listingblock .content { border-radius: 3px; display: block; padding: 10px 15px 13px; margin-bottom: 1em; background-color: rgb(255, 255, 255); border: 1px solid rgb(239, 238, 230); color: rgb(241, 78, 50); font-family: Courier,monospace ! important; line-height: 18px; overflow: auto; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
.light { color: rgb(154, 153, 148); }
#download-next-steps::before { display: table; content: ""; }
#download-next-steps::after { display: table; clear: both; content: ""; }
#search-results { display: none; position: absolute; z-index: 900; top: 2px; right: -8px; width: 384px; background: rgb(57, 138, 148) url('search-header.jpg') repeat-x scroll 0px 1px; border-radius: 3px; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25); border-bottom: 1px solid rgb(216, 215, 207); }
#front-content::before { display: table; content: ""; }
#front-content::after { display: table; clear: both; content: ""; }
#front-nav::before { display: table; content: ""; }
#front-nav::after { display: table; clear: both; content: ""; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
hr.sidebar { border: medium none ! important; height: 12px; width: 218px; background: transparent url('sidebar-divider.png') no-repeat scroll right top; margin-bottom: 2em; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	hr.sidebar { background: transparent url('sidebar-divider@2x.png') no-repeat scroll right top / 218px 12px; }
}
aside.sidebar { font-size: 13px ! important; line-height: 16.5px; }
aside.sidebar p { font-size: 13px ! important; line-height: 16.5px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
ol.reference-previous-versions li a::before { display: table; content: ""; }
ol.reference-previous-versions li a::after { display: table; clear: both; content: ""; }
ol.reference-previous-versions li.no-change::before { display: table; content: ""; }
ol.reference-previous-versions li.no-change::after { display: table; clear: both; content: ""; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
input:-moz-placeholder { color: rgb(154, 153, 148) ! important; }
input, textarea { font-family: "adelle",Georgia,"Times New Roman",serif; font-size: 14px; outline: medium none; }
form#search { position: absolute; z-index: 1000; right: 0px; top: 10px; width: 262px; padding-left: 32px; background-image: url('search.png'); background-repeat: no-repeat; background-attachment: scroll; background-position: 10px 50%; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-color: rgb(252, 252, 250) ! important; border: 1px solid rgb(206, 204, 197); border-radius: 20px; box-shadow: 0px 1px 4px rgb(221, 221, 221) inset; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	form#search { background: transparent url('search@2x.png') no-repeat scroll 10px 50% / 17px 17px; }
}
form#search input { border-radius: 20px; border: medium none; margin-top: 5px; margin-bottom: 1px; line-height: 1em; width: 100%; height: 20px; background-color: transparent; color: rgb(78, 68, 60); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
ol.book-toc { margin: 30px 36px; }
ol.book-toc li.chapter { margin-bottom: 0.6em; }
ol.book-toc ol { list-style: outside none none; }
ol.book-toc h2 { color: rgb(78, 68, 60); }
ol.book-toc a { padding-left: 4px; }
.book code, .book .man-page p tt, .man-page p .book tt, .book .man-page .listingblock .content, .man-page .listingblock .book .content { display: inline; padding: 1px; }
.book pre code, .book pre .man-page p tt, .man-page p .book pre tt, .book pre .man-page .listingblock .content, .man-page .listingblock .book pre .content { display: block; overflow: auto; }
.book table.ref th:nth-child(1), td:nth-child(1) { padding: 5px; width: 25%; }
#book-chapters #chapters-dropdown { padding: 12px; top: 30px; }
#book-chapters ol { margin: 0px; }
#book-chapters ol li { line-height: 17.6px; }
#book-chapters ol li h2 { margin: 14px 0px; font-size: 14px; line-height: normal; }
#book-chapters ol li ol { margin-left: 0px; }
#book-chapters ol li ol a { font-weight: normal; }
.edition2 {  }
.edition2 * { box-sizing: border-box; }
.edition2 p, .edition2 dd { font-family: sans-serif; text-indent: 0px; font-size: 14px; line-height: 22px; }
.edition2 p a { display: inline; }
.edition2 pre, .edition2 code, .edition2 .man-page p tt, .man-page p .edition2 tt, .edition2 .man-page .listingblock .content, .man-page .listingblock .edition2 .content { font-family: monospace; }
.edition2 pre { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.edition2 pre code, .edition2 pre .man-page p tt, .man-page p .edition2 pre tt, .edition2 pre .man-page .listingblock .content, .man-page .listingblock .edition2 pre .content { display: inline; border: 0px none; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.edition2 pre { font-size: 0.9em; line-height: 120%; margin: 10px 0px; overflow-x: auto; color: rgb(51, 51, 51); }
.edition2 code, .edition2 .man-page p tt, .man-page p .edition2 tt, .edition2 .man-page .listingblock .content, .man-page .listingblock .edition2 .content { border: 1px solid rgb(245, 245, 245); padding: 0px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
@media screen and (min-width: 480px) and (max-width: 1024px) {
}
@media screen and (max-width: 480px) {
	.edition2 {  }
}
.edition2 pre code.gp, .edition2 pre .man-page p tt.gp, .man-page p .edition2 pre tt.gp, .edition2 pre .man-page .listingblock .gp.content, .man-page .listingblock .edition2 pre .gp.content { color: rgb(0, 0, 153); font-weight: bold; }
.edition2 pre code.s1, .edition2 pre .man-page p tt.s1, .man-page p .edition2 pre tt.s1, .edition2 pre .man-page .listingblock .s1.content, .man-page .listingblock .edition2 pre .s1.content { color: rgb(204, 51, 0); }
.edition2 pre[data-code-language="console"] { background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding: 10px; }
.edition2 pre[data-code-language="console"] code.gp, .edition2 pre[data-code-language="console"] .man-page p tt.gp, .man-page p .edition2 pre[data-code-language="console"] tt.gp, .edition2 pre[data-code-language="console"] .man-page .listingblock .gp.content, .man-page .listingblock .edition2 pre[data-code-language="console"] .gp.content { color: rgb(0, 153, 0); font-weight: bold; }
ul.books-list li::before { display: table; content: ""; }
ul.books-list li::after { display: table; clear: both; content: ""; }
ol#about-nav::before { display: table; content: ""; }
ol#about-nav::after { display: table; clear: both; content: ""; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
ul.related-material { font-size: 12px; margin-bottom: 3em; }
ul.related-material li { margin-bottom: 1em; line-height: 1.5; padding-left: 25px; min-height: 17px; }
ul.related-material li.reference { background: transparent url('document-sm.png') no-repeat scroll 3px 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
	ul.related-material li.reference { background: transparent url('document-sm@2x.png') no-repeat scroll 3px 0px / 12px 17px; }
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
}
code, .man-page p tt, .man-page .listingblock .content { display: inline; padding: 0px 5px; }
pre { border-radius: 3px; display: block; padding: 10px 15px 13px; margin-bottom: 1em; background-color: rgb(255, 255, 255); border: 1px solid rgb(239, 238, 230); color: rgb(241, 78, 50); font-family: Courier,monospace ! important; line-height: 18px; overflow: auto; }
/* ::::: https://use.typekit.com/c/e52eaf/1w;adelle,2,XK9:W:n4,XKF:W:n7/l ::::: */

@font-face {
	font-family: "adelle";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "adelle";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
