/* ::::: https://z-1-static.xx.fbcdn.net/rsrc.php/v2/y-/r/a9HqYuqqaWw.css ::::: */

form { margin: 0px; padding: 0px; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(29, 33, 41); direction: ltr; line-height: 1.34; margin: 0px; padding: 0px; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 12px; }
a { color: rgb(54, 88, 153); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
._li._li._li { overflow: initial; }
._2lqh { width: 100%; }
._1drm { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; position: relative; }
._1drm ._1drn { border: 1px solid rgb(0, 0, 0); }
._1drm ._1dro { bottom: 40px; left: 0px; position: absolute; right: 0px; top: 0px; z-index: 1; }
._2zfs { background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%) repeat scroll 0% 0%; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: -1; }
._1dro ._1drp { color: rgb(54, 88, 153); display: inline-block; font-size: 18px; font-weight: 500; line-height: 1.358; margin-bottom: -5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._1dro ._1drq { color: rgb(29, 33, 41); font-size: 12px; line-height: 1.358; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._1drm ._1z7u { bottom: 0px; height: 24px; left: 0px; position: absolute; right: 0px; z-index: 2; }
._4o5p .pluginConnectButtonConnected, ._4o5p .pluginConnectButtonDisconnected, ._4o5q button { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.12); }
._1drm._1ds3 ._1drn { border: 2px solid rgb(255, 255, 255); box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5); }
._1drm._1ds3 ._1drp, ._1drm._1ds3 ._1drq, ._1drm._1ds3 ._1drq ._2tnv { color: rgb(255, 255, 255); text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9); }
body.plugin { background: transparent none repeat scroll 0% 0%; font-family: Helvetica,Arial,sans-serif; line-height: 1.28; overflow: hidden; -moz-text-size-adjust: none; }
.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea { font-size: 11px; }
.pluginConnectButton a._opc, form.async_saving a._opc { margin: 0px; opacity: 1; }
.pluginConnectButton a._opd { color: rgb(144, 148, 156); }
.highContrast ._56_f._5dzz::before, .highContrast .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz::before { content: url('zs8q378oqsf.png'); margin: -140px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-3._5dzz::before { content: url('zs8q378oqsf.png'); margin: -71px 0px 0px; position: absolute; }
.highContrast ._56_f._5dz-::before { content: url('zs8q378oqsf.png'); margin: -156px 0px 0px; position: absolute; }
.highContrast ._56_f._5dz_::before { content: url('zs8q378oqsf.png'); margin: -107px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-0::before { content: url('zs8q378oqsf.png'); margin: -28px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-1::before { content: url('zs8q378oqsf.png'); margin: -51px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-3._5d-1::before { content: url('zs8q378oqsf.png'); margin: 0px; position: absolute; }
.highContrast ._56_f._3vjg._5dzz::before, .highContrast ._56_f._5d-3._3vjg ._5dzz::before, .highContrast ._56_f._3vjg._5dz-::before, .highContrast ._56_f._3vjg._5dz_::before, .highContrast ._56_f._3vjg._5d-0::before, .highContrast ._56_f._3vjg._5d-1::before, .highContrast ._56_f._5d-3._3vjg ._5d-1::before { content: url('zs8q378oqsf.png'); margin: -171px 0px 0px 1px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._56_f._5dzz::before { content: url('zs8q378oqsf.png'); margin: -124px 0px 0px; position: absolute; }
.highContrast .selected ._56_f._5dz_::before { content: url('zs8q378oqsf.png'); margin: -90px 0px 0px; position: absolute; }
._42ft { cursor: pointer; display: inline-block; text-decoration: none; white-space: nowrap; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko ._42ft:focus { outline: 1px dotted rgb(59, 89, 152); }
._42ft:hover { text-decoration: none; }
._42ft + ._42ft { margin-left: 4px; }
i.img {  }
.lfloat { float: left; }
.uiScaledImageContainer { position: relative; overflow: hidden; }
.uiScaledImageContainer img { height: 100%; min-height: 100%; position: relative; }
.uiScaledImageContainer .scaledImageFitWidth { height: auto; width: 100%; }
._4jy0 { border: 1px solid; border-radius: 2px; box-sizing: content-box; font-family: helvetica,arial,sans-serif; font-size: 12px; font-weight: bold; padding: 0px 8px; position: relative; text-align: center; text-shadow: none; vertical-align: middle; }
.gecko ._4jy0 { font-family: "Helvetica Neue",helvetica,arial,sans-serif; }
._4jy0::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
html ._4jy0:focus, html .gecko ._4jy0:focus { box-shadow: 0px 0px 1px 2px rgba(88, 144, 255, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15); outline: medium none; }
._4jy0 .img { bottom: 1px; position: relative; vertical-align: middle; }
._517h, ._59pe:focus, ._59pe:hover { background-color: rgb(246, 247, 249); border-color: rgb(206, 208, 212); color: rgb(75, 79, 86); }
._517h:hover { background-color: rgb(233, 235, 238); }
._517h:active, ._517h._42fs { background-color: rgb(221, 223, 226); border-color: rgb(190, 194, 201); }
._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs { line-height: 22px; }
._51xa ._4jy1 + .uiPopover > ._4jy1:not(:focus)::after { background-color: rgb(246, 247, 249); bottom: -1px; content: ""; display: block; left: -1px; position: absolute; top: -1px; width: 1px; }
._2yq ._4-u2::before { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 4px; bottom: -1px; content: ""; left: -1px; pointer-events: none; position: absolute; right: -1px; top: -1px; }
._3-8_ { margin-right: 4px; }
._2ph- { padding: 8px; }
.sp_uym6Bt9GxZT { background-image: url('mgb-0y8nfph.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 16px; width: 16px; }
.sp_uym6Bt9GxZT.sx_e4a5bc { width: 12px; height: 12px; background-position: 0px -170px; }
.sp_uym6Bt9GxZT.sx_89db71 { width: 12px; height: 12px; background-position: 0px -183px; }
