/* ::::: https://cdnk.osalt.com/css/main.css ::::: */

table {  }
img { border: 0px none; }
form { display: inline; }
body { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(85, 85, 85); margin: 5px; background-color: rgb(255, 255, 255); }
p { font-size: 11px; color: rgb(85, 85, 85); }
td { font-size: 11px; color: rgb(85, 85, 85); }
a:link { font-size: 11px; color: rgb(85, 85, 85); font-style: normal; font-weight: normal; text-decoration: underline; }
a:visited { font-size: 11px; font-style: normal; color: rgb(85, 85, 85); font-weight: normal; text-decoration: underline; }
a:hover { font-size: 11px; font-style: normal; color: rgb(139, 213, 0); font-weight: normal; text-decoration: underline; }
a:active { font-size: 11px; font-style: normal; color: rgb(85, 85, 85); font-weight: normal; text-decoration: underline; }
td.search_pad { text-align: right; vertical-align: bottom; padding-bottom: 7px; font-size: 13px; color: rgb(85, 85, 85); font-style: normal; font-weight: bold; text-decoration: none; }
.body_text { font-size: 11px; font-weight: normal; color: rgb(83, 83, 83); }
.news_link:link { font-size: 11px; color: rgb(85, 85, 85); font-style: normal; text-decoration: none; font-weight: bold; }
.news_link:visited { font-size: 11px; font-style: normal; color: rgb(85, 85, 85); text-decoration: none; font-weight: bold; }
.news_link:hover { font-size: 11px; font-style: normal; color: rgb(139, 213, 0); text-decoration: none; font-weight: bold; }
.news_link:active { font-size: 11px; font-style: normal; color: rgb(85, 85, 85); text-decoration: none; font-weight: bold; }
.cat_link:link { padding-left: 15px; font-size: 11px; color: rgb(85, 85, 85); font-style: normal; text-decoration: none; font-weight: normal; }
.cat_link:visited { padding-left: 15px; font-size: 11px; font-style: normal; color: rgb(85, 85, 85); text-decoration: none; font-weight: normal; }
.cat_link:hover { padding-left: 15px; font-size: 11px; font-style: normal; color: rgb(139, 213, 0); text-decoration: none; font-weight: normal; }
td.sponsored_by { font-size: 9px; font-style: normal; color: rgb(85, 85, 85); text-decoration: none; font-weight: normal; }
hr.dgrey { border: 0px none; color: rgb(119, 119, 119); background-color: rgb(119, 119, 119); height: 1px; }
.float_test { float: left; padding-right: 10px; }
h1 { font-size: 20px; color: rgb(85, 85, 85); font-style: normal; text-decoration: none; font-weight: normal; margin: 0px; padding: 0px; }
h2 { font-size: 13px; color: rgb(85, 85, 85); font-style: normal; text-decoration: none; font-weight: bold; margin: 0px; padding: 0px; }
h2.os { font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(139, 213, 0); font-style: normal; text-decoration: none; font-weight: bold; margin: 0px; padding: 2px; }
.float_right { float: right; }
.available { font-size: 11px; font-weight: bold; color: rgb(187, 187, 187); }
.platform_supported { font-size: 11px; color: rgb(85, 85, 85); }
.platform_not_supported { font-size: 11px; text-decoration: line-through; color: rgb(85, 85, 85); }
.platform_supported_l { font-size: 11px; color: rgb(187, 187, 187); }
.platform_not_supported_l { font-size: 11px; text-decoration: line-through; color: rgb(187, 187, 187); }
.top10w { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; color: rgb(255, 255, 255); }
