/* ::::: https://vikingvpn.com/styles/css/vikingbundle?v=uvdyFbcRZ0w-8XvBuELc7t7sxMXwgVXb0DY9h3ONDOg1 ::::: */

html, body { border: 0px none; font-family: "Helvetica-Neue","Helvetica",Arial,sans-serif; line-height: 1; margin: 0px; padding: 0px; }
div, span, object, iframe, img, table, caption, thead, tbody, tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu, nav, footer, header, section, summary, mark, audio, video { border: 0px none; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label { border: 0px none; font-size: 100%; vertical-align: baseline; margin: 0px; padding: 0px; }
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
:focus { outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
*, *::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(236, 236, 236); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(100, 144, 203); text-decoration: none; }
a:hover, a:focus { color: rgb(57, 105, 170); text-decoration: underline; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
img { vertical-align: middle; }
p { margin: 0px 0px 10px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
blockquote small::before { content: "— "; }
blockquote.pull-right small::before, blockquote.pull-right .small::before { content: ""; }
blockquote.pull-right small::after, blockquote.pull-right .small::after { content: " —"; }
blockquote::before, blockquote::after { content: ""; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.form-control::-moz-placeholder { color: rgb(125, 125, 125); }
.form-horizontal .form-group::before, .form-horizontal .form-group::after { content: " "; display: table; }
.form-horizontal .form-group::after { clear: both; }
.modal-footer::before, .modal-footer::after { content: " "; display: table; }
.modal-footer::after { clear: both; }
@media screen and (min-width: 768px) {
}
header { min-width: 100%; width: 100%; position: relative; z-index: 1000; min-height: 100px; margin-bottom: 20px; }
header .ribbon { min-width: 100%; width: 100%; position: absolute; padding: 0px; margin-top: 20px; margin-bottom: 25px; height: 55px; background-color: rgb(100, 144, 203); }
header nav { margin-top: 15px; height: 100px; color: rgb(255, 255, 255); font-size: 20px; text-transform: uppercase; }
header nav .left-nav { height: 100px; position: relative; float: left; width: 43.75%; min-height: 1px; padding-left: 0px; padding-right: 0px; }
header nav .left-nav > ul > li { float: right; }
header nav .center-nav { height: 100px; position: relative; float: left; width: 12.5%; min-height: 1px; padding: 0px; }
header nav .center-nav .logo-container { position: absolute; top: -15px; left: 50%; }
header nav .center-nav .logo-container .logo { background-color: rgb(100, 144, 203); background-image: url('logo.gif'); background-size: contain; width: 100px; height: 100px; border-radius: 50%; position: relative; left: -50%; }
header nav .right-nav { height: 100px; position: relative; float: left; width: 43.75%; min-height: 1px; padding-left: 0px; padding-right: 0px; }
nav ul li { float: left; text-align: left; margin-top: 18px; padding-left: 10px; padding-right: 10px; }
nav ul li a { color: rgb(255, 255, 255); text-decoration: none; }
nav ul li a:hover, nav ul li a.hover { color: rgb(47, 80, 126); text-decoration: none; }
nav ul li:hover a { color: rgb(47, 80, 126); }
nav ul li:hover > ul { opacity: 1; z-index: 100; visibility: visible; display: block; }
nav ul li ul { text-align: center; position: absolute; display: none; clear: both; opacity: 0; width: 134px; font-size: 15px; background-color: rgb(100, 144, 203); padding-top: 12px; }
nav ul li ul li { float: none; margin: 0px; padding-top: 10px; padding-bottom: 10px; }
nav ul li ul li a { height: 10px; }
nav ul li ul li:hover, nav ul li ul li.hover { background-color: rgb(47, 80, 126); }
nav ul li ul li:hover a, nav ul li ul li.hover a { color: rgb(100, 144, 203); }
.push-down { height: 34px; }
footer { height: 74px; font-size: 16px; }
footer .trustwave { padding-top: 5px ! important; margin-top: 0px ! important; }
footer #trustwaveSealImage { padding-top: 0px; margin-top: 0px; max-height: 45px ! important; max-width: 85px ! important; }
footer .ribbon { height: 55px; background-color: rgb(100, 144, 203); min-width: 100%; width: 100%; }
footer .left-nav { float: left; }
footer .right-nav { float: right; }
.home-page .connect .connect-row1::before, .home-page .connect .connect-row1::after { content: " "; display: table; }
.home-page .connect .connect-row1::after { clear: both; }
.home-page .connect .connect-row2::before, .home-page .connect .connect-row2::after { content: " "; display: table; }
.home-page .connect .connect-row2::after { clear: both; }
.container { max-width: 994px ! important; min-width: 994px ! important; width: 994px ! important; }
html, body { height: 100%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; min-width: 1024px ! important; color: rgb(51, 51, 51); background-color: rgb(236, 236, 236); }
ul, ol { margin-bottom: 0px; }
a:hover { text-decoration: none; }
.content { height: auto ! important; min-height: 100%; margin: 0px auto -74px; padding: 0px 0px 74px; }
input:focus, textarea:focus { background-color: rgb(255, 255, 255); }
