body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: Arial,arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 60px; width: 688px; }
#ads { height: 60px; left: 0px; position: absolute; top: 0px; width: 688px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 0px; width: 688px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 0px; width: 688px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 0px; width: 0px; height: 60px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 0px; width: 0px; height: 60px; }
.rhtitle.rhdefaultcolored { color: rgb(0, 83, 249); }
.rhtitle { text-decoration: none; word-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbody { text-decoration: none; word-wrap: break-word; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhfavicon { padding-right: 5px; vertical-align: middle; line-height: 1; }
.rhfavicon img { border: 0px none; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored:hover, .rhurlctr.rhdefaultcolored, .rhurl.rhdefaultcolored span, .rhurl.rhdefaultcolored span:hover { color: rgb(130, 130, 130); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; transition-property: position, z-index, opacity; transition-duration: 0s, 0s, 0s; transition-timing-function: ease, ease, ease; transition-delay: 0.3s; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.taw0 .rh3 .rhbutton-container { left: -180px; text-align: right; width: 242px; }
.taw0 .rh3 .rhbutton { background: rgb(84, 84, 84) none repeat scroll 0% 0%; border-radius: 10px; border-width: 0px; height: 50px; min-width: 62px; max-width: 242px; }
.taw0 .rh3 .rhbutton:hover { background: rgb(106, 106, 106) none repeat scroll 0% 0%; }
.taw0 .rh3 .icon-container { height: 50px; line-height: 50px; width: 23px; }
.taw0 .rh3 .icon, .taw0 .rh3 .icon-container .rhsvgpngicon { height: 23px; margin-left: 0px; vertical-align: top; margin-top: 13px; }
.rh-box-breadcrumbs { line-height: 15px; visibility: visible; }
.rh-box-breadcrumbs > .target { cursor: pointer; display: inline-block; height: 15px; vertical-align: middle; }
.rh-box-breadcrumbs > .target > .unit { border: 1px solid rgb(170, 170, 170); border-radius: 50%; display: inline-block; height: 8px; margin: 2px 5px; width: 8px; }
.rh-box-breadcrumbs > .target:hover > .unit { background: rgb(170, 170, 170) none repeat scroll 0% 0%; }
.rh-box-breadcrumbs > .target.bcfirst > .unit { margin-left: 15px; }
.rh-box-breadcrumbs > .target.bclast > .unit { margin-right: 15px; }
.rh-box-breadcrumbs.bcactive0 > .target0 { cursor: default; }
.rh-box-breadcrumbs.bcactive0 > .target0 > .unit { background: rgb(170, 170, 170) none repeat scroll 0% 0%; }
.rh { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 688px; }
.rh > table { height: 100%; }
.rh1 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 312px; }
.rh1 > table { width: 100%; }
.rh10 { display: inline-block; font-size: 25px; line-height: 29px; overflow: hidden; padding: 0px 0px 0px 3px; white-space: nowrap; }
.rh10c { height: 0px; padding: 0px; text-align: left; }
.rh11 { display: inline-block; font-size: 0px; height: 15px; line-height: 0; overflow: hidden; padding: 0px; position: relative; width: 312px; }
.rh11.frame0 > .rh110 { display: inline-block; visibility: visible; }
.rh110 { display: block; font-size: 0px; height: 15px; line-height: 0; overflow: hidden; padding: 0px; position: absolute; }
.rh110 > table { height: 100%; }
.rh1100 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 312px; }
.rh1100 > table { width: 100%; }
.rh11000 { display: inline-block; font-size: 11px; line-height: 13px; overflow: hidden; padding: 0px 0px 0px 3px; }
.rh11000c { padding: 0px; text-align: left; }
.rh1100c { padding: 0px; vertical-align: middle; width: 312px; }
.rh111 { display: block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; position: absolute; width: 312px; }
.rh111 > table { width: 100%; }
.rh1110 { display: inline-block; font-size: 0px; height: 15px; line-height: 0; overflow: hidden; padding: 0px; }
.rh1110 > table { height: 100%; }
.rh11100 { display: inline-block; font-size: 11px; line-height: 13px; overflow: hidden; padding: 1px 0px 1px 3px; white-space: nowrap; }
.rh11100c { padding: 0px; vertical-align: middle; }
.rh1110c { height: 15px; padding: 0px; text-align: left; }
.rh11 > .rh110 { display: none; visibility: hidden; }
.rh11 > .rh111 { display: none; visibility: hidden; }
.rh11c { height: 15px; padding: 0px; vertical-align: middle; width: 312px; }
.rh12 { display: inline-block; height: 15px; overflow: hidden; padding: 0px; width: 312px; }
.rh12c { height: 15px; padding: 0px; text-align: center; width: 312px; }
.rh1c { padding: 0px; width: 312px; }
.rh2 { display: inline-block; overflow: hidden; padding: 0px; width: 99px; }
.rh2c { padding: 0px; width: 99px; }
.rh3 { display: inline-block; font-size: 23px; height: 50px; line-height: 26px; padding: 0px 34px 0px 2px; width: 62px; }
.rh3c { padding: 0px; vertical-align: middle; width: 98px; }
.rh4 { display: inline-block; overflow: hidden; padding: 0px; width: 179px; }
.rh4c { padding: 0px; width: 179px; }
.taw { height: 60px; width: 688px; }
div, ul, li { margin: 0px; padding: 0px; }
.abgc { height: 15px; position: absolute; right: 16px; top: 0px; text-rendering: geometricprecision; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
.cbc { background-image: url('x_button_blue2.svg'); background-position: right top; background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0px; top: 0px; margin: 0px; overflow: hidden; padding: 0px; position: absolute; transform: scaleX(1); width: 16px; z-index: 9010; }
.cbc > .cb-x { height: 15px; position: absolute; width: 16px; right: 0px; top: 0px; }
.ddmc { background: rgb(204, 204, 204) none repeat scroll 0% 0%; color: rgb(0, 0, 0); padding: 0px; position: absolute; z-index: 9020; max-width: 100%; box-shadow: 2px 2px 3px rgb(170, 170, 170); }
.ddmc.right { margin-left: 0px; right: 0px; }
.ddmc.bottom { top: 20px; }
.ddmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0px; position: absolute; width: 0px; font-size: 0px; line-height: 0; }
.ddmc.bottom .tip { border-bottom: 4px solid rgb(204, 204, 204); top: -4px; }
.ddmc.right .tip { right: 3px; }
.ddmc .dropdown-content { display: block; }
.dropdown-content { display: none; border-collapse: collapse; }
.dropdown-item { font: 10px Arial,sans-serif; cursor: pointer; padding: 1px 7px; vertical-align: middle; }
.dropdown-content > table { border-collapse: collapse; border-spacing: 0px; }
.dropdown-content > table > tbody > tr > td { padding: 0px; }
.feedback_container { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; z-index: 9020; background-color: white; }
.feedback_page { font-family: "Arial"; font-size: 13px; margin: 1px 2px; }
.feedback_title { font-weight: bold; color: rgb(0, 0, 0); }
.feedback_page a { font-weight: normal; color: rgb(51, 102, 204); }
.feedback_description { color: rgb(102, 102, 102); line-height: 13px; margin: 0px; }
.feedback_closing { color: rgb(3, 103, 255); line-height: 13px; margin: 0px; }
.feedback_logo { position: absolute; right: 0px; bottom: 0px; margin: 0px 2px 1px 0px; }
.feedback_logo img { height: 15px; }
.survey_description { color: rgb(102, 102, 102); line-height: 17px; margin: 0px; }
.survey { color: rgb(102, 102, 102); line-height: 20px; }
.survey_option { float: left; margin: 0px 15px 0px 0px; }
.survey_option input { margin: 0px; vertical-align: middle; }
.survey_option_text { margin: 0px 0px 0px 5px; line-height: 17px; vertical-align: bottom; }
.survey_option:hover { background-color: lightblue; cursor: default; }
