/* ::::: http://archive.fabacademy.org/archives/2016/fablabbcn2016/students/346/css/style01.css ::::: */

.site-header { border-top: 2px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(255, 255, 255); min-height: 60px; position: relative; }
body { font-family: sans-serif; font-size: 14px; padding: 20px 300px; }
p { color: rgb(98, 98, 98); }
a { color: rgb(0, 0, 0); }
#test { font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
