/* ::::: http://fonts.googleapis.com/css?family=Oxygen:400,700,300|Crimson+Text:400,400italic&subset=latin,latin-ext ::::: */

@font-face {
	font-family: "Crimson Text";
	font-style: normal;
	font-weight: 400;
	src: local("Crimson Text"), local("CrimsonText-Roman"), url('3ifmwfra07i-auyr-b-znegdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Crimson Text";
	font-style: italic;
	font-weight: 400;
	src: local("Crimson Text Italic"), local("CrimsonText-Italic"), url('a5qznvmn5amyni-t2bmkwbmblneli-0rcadofwwldxq.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 300;
	src: local("Oxygen Light"), local("Oxygen-Light"), url('-1odzcvpkpos9pnlq607fhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 300;
	src: local("Oxygen Light"), local("Oxygen-Light"), url('awbqwf2kjhlybwamakmpcvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 400;
	src: local("Oxygen"), local("Oxygen-Regular"), url('iipdrwv5knjo5-laflly2feszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 400;
	src: local("Oxygen"), local("Oxygen-Regular"), url('78wgxshffbzg7brkpfrncq.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 700;
	src: local("Oxygen Bold"), local("Oxygen-Bold"), url('fsutikczd7phzk0t2hzterjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Oxygen";
	font-style: normal;
	font-weight: 700;
	src: local("Oxygen Bold"), local("Oxygen-Bold"), url('yvhpdqrmtj9kax1tmfsx2ltxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: https://phthemes.s3.amazonaws.com/1/lpmGCkGbHyh0vsId/blog.css?v=1471395767 ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
.hint::before, .hint::after, [data-hint]::before, [data-hint]::after { position: absolute; visibility: hidden; opacity: 0; z-index: 1000000; pointer-events: none; transition: all 0.3s ease 0s; }
.hint:hover::before, .hint:hover::after, [data-hint]:hover::before, [data-hint]:hover::after { visibility: visible; opacity: 1; }
.hint::before, [data-hint]::before { content: ""; position: absolute; background: transparent none repeat scroll 0% 0%; border: 6px solid transparent; z-index: 1000001; }
.hint::after, [data-hint]::after { content: attr(data-hint); background: rgb(56, 56, 56) none repeat scroll 0% 0%; color: white; text-shadow: 0px -1px 0px black; padding: 8px 10px; font-size: 12px; line-height: 12px; white-space: nowrap; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }
.hint--top::before { border-top-color: rgb(56, 56, 56); }
.hint--bottom::before { border-bottom-color: rgb(56, 56, 56); }
.hint--left::before { border-left-color: rgb(56, 56, 56); }
.hint--right::before { border-right-color: rgb(56, 56, 56); }
.hint--top::before { margin-bottom: -12px; }
.hint--top::after { margin-left: -18px; }
.hint--top::before, .hint--top::after { bottom: 100%; left: 50%; }
.hint--top:hover::before, .hint--top:hover::after { transform: translateY(-8px); }
.hint--bottom::before { margin-top: -12px; }
.hint--bottom::after { margin-left: -18px; }
.hint--bottom::before, .hint--bottom::after { top: 100%; left: 50%; }
.hint--bottom:hover::before, .hint--bottom:hover::after { transform: translateY(8px); }
.hint--right::before { margin-left: -12px; margin-bottom: -6px; }
.hint--right::after { margin-bottom: -14px; }
.hint--right::before, .hint--right::after { left: 100%; bottom: 50%; }
.hint--right:hover::before, .hint--right:hover::after { transform: translateX(8px); }
.hint--left::before { margin-right: -12px; margin-bottom: -6px; }
.hint--left::after { margin-bottom: -14px; }
.hint--left::before, .hint--left::after { right: 100%; bottom: 50%; }
.hint--left:hover::before, .hint--left:hover::after { transform: translateX(-8px); }
.hint--error::after { background-color: rgb(179, 78, 77); text-shadow: 0px -1px 0px rgb(90, 38, 38); }
.hint--error.hint--top::before { border-top-color: rgb(179, 78, 77); }
.hint--error.hint--bottom::before { border-bottom-color: rgb(179, 78, 77); }
.hint--error.hint--left::before { border-left-color: rgb(179, 78, 77); }
.hint--error.hint--right::before { border-right-color: rgb(179, 78, 77); }
.hint--warning::after { background-color: rgb(192, 152, 84); text-shadow: 0px -1px 0px rgb(109, 82, 40); }
.hint--warning.hint--top::before { border-top-color: rgb(192, 152, 84); }
.hint--warning.hint--bottom::before { border-bottom-color: rgb(192, 152, 84); }
.hint--warning.hint--left::before { border-left-color: rgb(192, 152, 84); }
.hint--warning.hint--right::before { border-right-color: rgb(192, 152, 84); }
.hint--info::after { background-color: rgb(57, 134, 172); text-shadow: 0px -1px 0px rgb(25, 60, 76); }
.hint--info.hint--top::before { border-top-color: rgb(57, 134, 172); }
.hint--info.hint--bottom::before { border-bottom-color: rgb(57, 134, 172); }
.hint--info.hint--left::before { border-left-color: rgb(57, 134, 172); }
.hint--info.hint--right::before { border-right-color: rgb(57, 134, 172); }
.hint--success::after { background-color: rgb(69, 135, 70); text-shadow: 0px -1px 0px rgb(26, 51, 26); }
.hint--success.hint--top::before { border-top-color: rgb(69, 135, 70); }
.hint--success.hint--bottom::before { border-bottom-color: rgb(69, 135, 70); }
.hint--success.hint--left::before { border-left-color: rgb(69, 135, 70); }
.hint--success.hint--right::before { border-right-color: rgb(69, 135, 70); }
.hint--always::after, .hint--always::before { opacity: 1; visibility: visible; }
.hint--always.hint--top::after, .hint--always.hint--top::before { transform: translateY(-8px); }
.hint--always.hint--bottom::after, .hint--always.hint--bottom::before { transform: translateY(8px); }
.hint--always.hint--left::after, .hint--always.hint--left::before { transform: translateX(-8px); }
.hint--always.hint--right::after, .hint--always.hint--right::before { transform: translateX(8px); }
.hint--rounded::after { border-radius: 4px; }
body { line-height: 1.6; color: rgb(85, 85, 85); margin: 0px; font-family: "Oxygen",sans-serif; font-weight: 400; overflow-x: hidden; }
a { color: rgb(43, 108, 194); text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-family: "Crimson Text",Georgia,serif; font-weight: 400; line-height: 1.1; letter-spacing: -0.015em; }
h1 { font-size: 50px; }
textarea, input[type="text"] { font-size: 16px; padding: 5px; border: 1px solid rgb(221, 221, 221); }
input[type="submit"] { width: auto; background: rgb(43, 108, 194) none repeat scroll 0% 0%; border: 1px solid rgb(30, 114, 140); border-radius: 3px; font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5); color: white; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; line-height: 1; margin: 0px; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; transition: background-color 0.15s ease-in-out 0s; }
input[type="submit"]:hover { background: rgb(40, 81, 136) none repeat scroll 0% 0%; }
input[type="submit"]:active { background: rgb(43, 108, 194) none repeat scroll 0% 0%; }
blockquote.posterous_short_quote, blockquote.posterous_medium_quote, blockquote.posterous_long_quote { margin-bottom: 10px; }
.posterous_short_quote p:last-child, .posterous_medium_quote p:last-child, .posterous_long_quote p:last-child { margin-bottom: 10px; }
.alert::before { content: ""; position: absolute; top: -10px; bottom: auto; left: 20px; right: auto; border-width: 0px 10px 10px; border-style: solid; border-color: rgb(204, 204, 204) transparent; display: block; width: 0px; }
.alert::after { content: ""; position: absolute; top: -9px; bottom: auto; left: 20px; right: auto; border-width: 0px 10px 10px; border-style: solid; border-color: rgb(255, 255, 255) transparent; display: block; width: 0px; }
.posthaven-user-menu { position: absolute; top: 5px; right: 0px; font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; font-size: 11px; text-align: right; padding-right: 7px; }
.posthaven-user-menu a { border-radius: 2px; text-shadow: 0px 0px 1px rgb(170, 170, 170); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset; background: transparent linear-gradient(to bottom, rgba(40, 40, 40, 0.2), rgba(0, 0, 0, 0.2)) repeat scroll 0% 0%; color: rgba(255, 255, 255, 0.8); margin: 2px 0px 2px 5px; border: 1px solid rgba(68, 68, 68, 0.3); padding: 4px 6px; display: inline-block; text-transform: uppercase; }
.posthaven-user-menu a:hover { text-decoration: none; background-size: 100% auto; background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.8), rgba(30, 30, 30, 0.8)); }
#topbar { margin-left: 310px; max-width: 800px; overflow: hidden; }
#topbar .posthaven-tab { float: left; background-image: url('posthaven-tab-1x.png'); background-size: 100px 32px; width: 100px; height: 32px; }
#header { margin: 50px 40px 50px 310px; max-width: 800px; }
#header h1 { margin: 0px; line-height: 1; }
#header h1 a { color: rgb(34, 34, 34); }
#header h2 { margin: 2px 0px; font-style: italic; color: rgb(179, 182, 183); font-size: 28px; }
#header .back-to-blog { margin: 40px 0px; }
#main_container { position: relative; }
#sidebar { clear: both; position: absolute; top: 0px; width: 215px; font-weight: 300; margin-left: 40px; }
#sidebar section { font-size: 14px; margin-top: 30px; margin-bottom: 50px; }
#sidebar section h3 { margin: 5px 0px 0px; font-size: 16px; font-weight: normal; color: rgb(153, 153, 153); }
#sidebar section p, #sidebar section ul li { font-size: 14px; }
#sidebar section .stat { color: rgb(102, 102, 102); font-weight: bold; }
#sidebar section .stat .posthaven-count-label { color: rgb(170, 170, 170); font-weight: normal; }
#sidebar section .actual-date { font-size: 12px; color: rgb(170, 170, 170); }
#sidebar section:first-child, #sidebar section:first-child nav:first-child, #sidebar section:first-child nav:first-child ul { margin-top: 0px ! important; }
#sidebar #bio { font-size: 14px; color: rgb(68, 68, 68); }
#sidebar #bio h3 { font-size: 26px; color: rgb(34, 34, 34); margin-bottom: 10px; }
#sidebar h3 { color: rgb(77, 66, 63); font-size: 22px; margin-top: 5px; margin-bottom: 5px; }
.subscribe input { margin-top: 8px; font-size: 12px; }
.subscribe input[type="text"] { width: 100%; max-width: 400px; }
.subscribe input[type="submit"] { padding: 5px 10px; }
.subscribe .posthaven-subscribe-error { color: rgb(170, 0, 0); }
.post-responses .subscribe { margin-top: 8px; font-size: 14px; }
.post-responses .subscribe .posthaven-subscribe-form { display: inline-block; }
.post-responses .subscribe a { margin-left: 0.4em; }
.post-responses .subscribe .posthaven-subscribe-prompt strong { font-weight: normal; }
.post-responses .subscribe .posthaven-subscribe-prompt span { display: none; }
.post-responses .subscribe .posthaven-user-subscribe, .post-responses .subscribe .posthaven-user-unsubscribe { margin-left: 0.3em; }
#main { margin-left: 310px; margin-right: 70px; max-width: 800px; }
.post { font-size: 16px; color: rgb(85, 85, 85); margin-top: 40px; margin-bottom: 80px; }
.post p { margin: 24px 0px; }
.post blockquote p { font-size: 16px; }
.post blockquote { margin-left: 0px; padding-left: 10px; border-left: 4px solid rgb(238, 238, 238); font-size: 16px; color: rgb(102, 102, 102); }
.post .post-title { margin-bottom: 20px; }
.post .post-title h2 { font-size: 26px; margin-bottom: 5px; }
.post .post-title .author { font-size: 13px; color: rgb(153, 153, 153); }
.post .post-title .author a { color: rgb(153, 153, 153); }
.post:first-child { margin-top: 0px; }
#post_responses { margin: 40px -3px 100px -5px; padding: 0px 5px; font-weight: 300; }
.post-responses { font-weight: 300; }
.post-responses .count { margin: 40px -5px 5px; padding: 5px 5px 0px; color: rgb(204, 204, 204); font-weight: 100; font-size: 16px; }
.post-responses .count .comment-icon { display: inline-block; width: 14px; height: 14px; background-image: url('comment-icon.png'); position: relative; top: 1px; margin-right: 3px; }
.post-responses .responses .response { position: relative; margin: 10px -10px; padding: 8px 10px; max-width: 550px; font-size: 13px; }
.post-responses .responses .response .byline { color: rgb(153, 153, 153); }
.post-responses .responses .response .byline .mdash { font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; font-weight: 100; }
.post-responses .responses .response .byline .time-ago { margin-left: 10px; font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; font-size: 11px; color: rgb(204, 204, 204); display: none; }
.post-responses .responses .response .comment { color: rgb(68, 68, 68); font-weight: 500; margin-bottom: 8px; }
.post-responses .responses .response .upvote { color: rgb(68, 68, 68); font-weight: 500; }
.post-responses .responses .response:hover { background-color: rgb(240, 240, 240); }
.post-responses .responses .response:hover .time-ago { display: inline; }
.post-responses .responses .upvote { color: rgb(51, 51, 51); font-size: 13px; }
.posthaven-share-links .posthaven-share-item { display: inline-block; overflow: visible; }
.posthaven-share-links .posthaven-upvote { min-width: 90px; margin-right: 35px; }
.posthaven-share-links .posthaven-twitter-share { min-width: 107px; margin-right: 20px; }
@media handheld, only screen and (max-width: 414px) {
	.posthaven-share-links > .posthaven-share-item { display: block; margin: 5px 0px; }
}
.posthaven-comment-form { padding: 5px 10px; margin: 40px -10px; }
.posthaven-comment-form .posthaven-comment-add-url { font-size: 12px; font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
.posthaven-comment-form .posthaven-field { margin: 10px 0px; }
.posthaven-comment-form .posthaven-field label { width: 130px; display: block; margin-bottom: 3px; color: rgb(153, 153, 153); font-size: 13px; }
.posthaven-comment-form .posthaven-field textarea, .posthaven-comment-form .posthaven-field input[type="text"] { max-width: 95%; width: 550px; }
.posthaven-comment-form .posthaven-field input[type="checkbox"] { margin-right: 3px; }
.posthaven-comment-form .posthaven-field.posthaven-comment-notify-field label { display: inline; }
.posthaven-comment-form .posthaven-comment-verification { width: 500px; margin-bottom: 10px; }
#sidebar .posthaven-archive-form input::-moz-placeholder { opacity: 1; color: rgb(204, 204, 204); }
@media not all, (min-resolution: 2dppx) {
	#topbar .posthaven-tab { background-image: url('posthaven-tab-4x.png'); }
}
@media handheld, only screen and (max-width: 960px) {
	#sidebar { width: 140px; }
	#sidebar section { font-size: 12px; }
	#sidebar section p, #sidebar section ul li { font-size: 12px; }
	#main, #header, #topbar, .alert { margin-left: 230px; }
}
@media handheld, only screen and (max-width: 767px) {
	#sidebar { position: inherit; width: auto; }
	#header, #sidebar, #main, #topbar, .alert { margin: 0px 20px 20px; float: none; }
	#main_container { margin-top: 30px; }
	#header h1 { font-size: 30px; }
	#header h2 { font-size: 20px; }
}
/* ::::: http://posthaven-assets.s3.amazonaws.com/assets/blog-internal-10466eee3eaf71179266acc37f118fb8.css ::::: */

.posthaven-upvote { margin: 0px; padding-right: 5px; line-height: 16px; font-size: 12px; font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; text-transform: capitalize; font-weight: bold; display: inline-block; outline: medium none; background-color: rgba(255, 255, 255, 0.9); overflow: hidden; transition: background-color 0.1s ease-in-out 0s; border-radius: 0px 2px 2px 0px; }
.posthaven-upvote .posthaven-upvote-holder { width: 100%; }
.posthaven-upvote .posthaven-upvote-icon { width: 18px; height: 18px; background-color: rgb(68, 68, 68); position: relative; display: block; margin-right: 6px; float: left; }
.posthaven-upvote .posthaven-upvote-icon .posthaven-upvote-side { background-color: rgb(43, 108, 194); position: absolute; width: 5px; top: 0px; left: 0px; bottom: 0px; transition: width 0.3s ease-in 0s; }
.posthaven-upvote .posthaven-upvote-icon .posthaven-upvote-arrow { width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid white; position: absolute; bottom: 1px; left: 4px; transition: bottom 0.3s ease-in 0s; }
.posthaven-upvote .posthaven-upvote-label-area { float: left; margin-top: 1px; }
.posthaven-upvote .posthaven-upvote-number { font-size: 12px; color: rgb(153, 153, 153); margin-left: 3px; font-weight: 300; font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; transition: color 0.1s ease-in-out 0s; }
.posthaven-upvote .posthaven-upvote-label, .posthaven-upvote .posthaven-upvoted-label { color: rgb(17, 17, 17); transition: color 0.1s ease-in-out 0s; }
.posthaven-upvote .posthaven-upvoted-label { display: none; }
.posthaven-upvote:hover { background-color: rgb(43, 108, 194); text-decoration: none; }
.posthaven-upvote:hover .posthaven-upvote-label, .posthaven-upvote:hover .posthaven-upvoted-label { color: rgb(255, 255, 255); }
.posthaven-upvote:hover .posthaven-upvote-number { color: rgb(204, 204, 204); }
.posthaven-upvote:hover, .posthaven-upvote:focus { outline: medium none; }
.posthaven-control { visibility: hidden; }
.posthaven-ready .posthaven-control { visibility: visible; }
@media handheld, only screen and (max-width: 767px) {
}
.posthaven-comment-body { white-space: pre-line; }
.posthaven-loader { font-size: 6px; margin: 5em 3em; width: 1em; height: 1em; border-radius: 50%; position: relative; text-indent: -9999em; animation: 1.3s linear 0s normal none infinite running posthaven-load; transform: translateZ(0px); }
