/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/style/global1-min160527.css ::::: */

html, body { width: 100%; height: 100%; margin: 0px; }
body { min-width: 651px; font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 62.5%; text-align: center; color: rgb(80, 80, 80); background: rgb(255, 255, 255) none repeat scroll 0% 0%; word-wrap: break-word; }
body { line-height: 1.3; }
a img { border: 0px none; }
table { border-collapse: collapse; border-spacing: 0px; table-layout: fixed; }
caption, th, td { font-weight: normal; text-align: left; }
.clearfix { display: block; }
.clearfix::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
@media screen and (max-device-width: 480px) {
	html {  }
}
#wrapper { position: relative; width: auto; min-height: 100%; }
#page { display: block; max-width: 1206px; min-width: 950px; margin: 0px auto; padding: 0px 15px 3em; text-align: left; }
#page::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.primaryWrap { margin: 0px 320px 0px 0px; }
.primary { position: relative; float: left; width: 100%; margin: 0px 0px 1em; z-index: 1; }
a { color: rgb(0, 106, 77); text-decoration: underline; }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
.content p, .content ul, ol, dl, table, address, blockquote { margin: 0px 0px 1em; }
.content p, .content li, .content dt, .content dd, .content blockquote, .content pre, .content address, .content label, .content th, .content td, .content code { font-size: 1.2em; line-height: 1.4em; }
.content h1, .content h3, .content h4 { margin: 0px 0px 0.9em; font-size: 1.2em; font-weight: bold; color: rgb(51, 51, 51); }
.content h1 { margin: 0px 0px 0.7em; padding: 0.5em 14px 0px; font-size: 2.6em; font-weight: normal; color: rgb(51, 51, 51); }
.content h3 { font-size: 1.4em; color: rgb(51, 51, 51); }
.content ul { margin: 0px 0px 1em; padding: 0px; list-style: outside none none; }
.content ul li { margin: 0px 0px 0.5em; padding: 0px 0px 0px 22px; background: transparent url('bullet.png') no-repeat scroll 9px 0.5em; }
.content table { width: 100%; margin: 0px 0px 1.5em; }
.content table th, .content table td { padding: 0.6em 14px 0.6em 0px; font-size: 1.2em; line-height: 1.3em; text-align: left; }
.content table th { font-weight: bold; }
.content table thead th, .content table.sortable .header a.sortingTrigger { color: rgb(0, 106, 77); text-decoration: none; }
.content table thead th { color: rgb(51, 51, 51); }
.content table th.first, .content table td.first { padding-left: 15px; }
.content table th.numeric, .content table td.numeric { text-align: right; }
.content table tbody th, .content table tbody td { vertical-align: top; border-top: 1px solid rgb(231, 231, 231); border-bottom: 1px solid rgb(231, 231, 231); }
.content table tbody .alt th, .content table tbody .alt td { background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.colLayout::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.sidePaneLayout::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.panel { display: block; }
.panel::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.primary .panel { min-height: 24px; margin: 0px 5px 4em; border-width: 5px 0px 0px; border-style: solid none none; border-color: rgb(0, 106, 77) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; }
.content ul.subTabs::after, .content ul.tabs::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.content ul.subTabs::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.content ul.actions { display: block; clear: both; margin: 1.8em 0px 0px; padding: 20px 14px 1em; background: transparent url('horiz_div.png') repeat-x scroll 0px 0px; }
.content ul.actions::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.content ul.actions li { float: left; margin: 0px 18px 0px 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; }
.content ul.actions li a { display: block; padding: 0px; text-decoration: none; color: rgb(0, 106, 77); }
.content ul.actions li a:hover { text-decoration: underline; }
.content ul.actions li a img { margin-bottom: 0.4em; }
.content ul.actions .primaryAction, .content ul.actions .rightAlign { float: right; margin: 0px 0px 0px 10px; }
.content ul.movingOn::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
body .printPreview li img.printButton { display: none; }
body.hasJS .printPreview li img.printButton { display: block; }
@media not all, not all {
}
th.first:focus { outline: 0px none; }
div.osrAccountDetailsTable ul li::before { bottom: 0px; border-left: 1px solid rgb(231, 231, 231); content: " "; display: block; margin-left: -1%; position: absolute; top: 0px; }
div.osrAccountDetailsTable ul.osrTableHead > li.first::before { border: medium none; }
:first-child + html div.accountDetailsTable ul li form input, :first-child + html div.osrAccountDetailsTable ul li form input { width: 95%; }
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
.content .helpInfo::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
@media not all {
}
@media not all {
}
.content .accountDetails, .content .moreAccountDetails, .content ul.miniStatement li.viewMiniStatement { width: 46%; float: left; margin: 0px; }
.content .accountDetails { position: relative; min-height: 58px; }
.content .statementDetails { clear: both; padding: 1.2em 14px 0px; background: transparent url('horiz_div.png') repeat-x scroll left top; }
.content .pcciData table, .content .accountData table { clear: both; margin: 0px; background: transparent url('horiz_div.png') repeat-x scroll 0px 0px; }
.content .accountData table tbody th { font-weight: normal; }
.content .accountData table.statement { margin: 0px; background: transparent url('horiz_div.png') repeat-x scroll left top; }
.content .accountData table.statement th.first { width: 8.5em; }
.content .accountData table.statement th.description { width: 27%; }
.content .accountData table.statement th.transactionType { width: 5.5em; }
.content .accountData table.statement th.numeric { width: 14%; }
.content .accountData table.statement td { word-wrap: break-word; }
@media not all {
}
@media not all {
}
@media screen and (max-width: 1240px) {
}
.messages .messagesActions::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.logoutInfo::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/style/global2-min160527.css ::::: */

.printPreview #page { padding-bottom: 0px; }
.printPreview .primaryWrap { margin: 0px; }
.printPreview .primaryWrap .panel { position: relative; margin-bottom: 1em; }
.printPreview .content .introPara, .printPreview .content h1 { float: left; }
.printPreview .content h1 { font-size: 2em; }
.printPreview .content p.printMsg { text-align: right; color: rgb(153, 153, 153); padding: 1.5em 15px 0px 0px; }
.printPreview .content ul.actions { position: absolute; top: -45px; right: 15px; margin: 0px; padding: 0px; border: 0px none; background: transparent none repeat scroll 0px center; }
.printPreview .statementDetails { clear: both; border-top: 1px solid rgb(204, 204, 204); background: transparent none repeat scroll 0px center; }
.printPreview .statementDetails .vcard { float: left; margin: 0px 0px 1em; font-size: 1.2em; min-width: 23%; max-width: 60%; }
.printPreview .statementDetails .vcard .fn, .printPreview .statementDetails .vcard .businessName { color: rgb(51, 51, 51); font-size: 1.4em; font-weight: bold; margin: 0px; }
.printPreview .statementDetails span.sort, .printPreview .statementDetails span.date, .printPreview .statementDetails span.account, .printPreview .statementDetails span.bic, .printPreview .statementDetails span.iban { float: left; margin-left: 2em; padding: 0.45em 0px 0px; font-size: 1.2em; }
.printPreview .pcciInfo p, .printPreview .statementDetails p, .printPreview .statementDetails .accountDetails .col span { clear: left; }
.printPreview .statementDetails .col { float: left; }
.printPreview .content .accountData table.statement th.first { width: 8.5em; }
.printPreview .content .accountData table.statement th.description { width: 50%; }
.printPreview .content .pcciData table, .printPreview .content .accountData table { margin: 0px; border-top: 2px solid rgb(173, 222, 140); background: transparent none repeat scroll 0% 0% ! important; }
.printPreview .content .key { padding: 0px 14px; }
.printPreview .content .key dl { width: 33%; float: left; margin: 1em 0px 0px; padding: 0px 0px 1em; }
.printPreview .content .key dl dt { width: 50px; float: left; clear: left; margin-right: 10px; }
.printPreview .content .key dl dd { width: 65%; float: left; margin-left: 0px; }
.printPreview .content .key p { clear: both; }
.printPreview .statementDetails .accountDetails { float: left; width: 41%; }
.content .loanInsuranceCover::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.content .loanInsuranceCoverDetails::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
@media screen and (max-device-width: 480px) {
}
.content ul.comparisonSelectList li.comparisonSelectItem::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
@media screen and (min-width: 480px) and (max-width: 991px) {
}
/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/style/global3-min160527.css ::::: */

@font-face {
	font-family: "Lloyds Jack";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-lightweb.eot') format("eot"), url('lloyds_bank_jack-lightweb.woff') format("woff"), url('lloyds_bank_jack-lightweb.ttf') format("truetype"), url('lloyds_bank_jack-lightweb.svg') format("svg");
}
.content .accountStyleImageRight::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.crossPromo::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media not all {
}
@media not all {
}
@media not all {
}
.ommMiniPromo .part::after { clear: both; content: ""; display: block; }
.boxshadow { box-shadow: 0px 0px 2em rgba(0, 0, 0, 0.7); border-color: rgb(102, 102, 102); background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
@media not all {
}
.smartRewardearningSummary .inner::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
@media not all {
}
/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/style/global4-min160527.css ::::: */

.sp-pat-wrapper { padding: 0px ! important; min-width: 600px ! important; }
.sp-pat-022-call-to-action::after { display: block; clear: both; height: 0px; content: "."; visibility: hidden; }
.sp-pat-023-body::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
.sp-pat-025-prod-sum::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
.showHideAccordion .sp-pat-028-expanding::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
.sp-pat-023-body-50-50::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
.sp-pat-023-body-20-80::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
.sp-pat-025-prod-sum-02-col::after { display: block; height: 0px; clear: both; content: "."; visibility: hidden; }
.sp-pat-516-table ul li::before { bottom: 0px; border-left: 1px solid rgb(231, 231, 231); content: " "; display: block; margin-left: -1%; position: absolute; top: 0px; }
.sp-pat-516-table ul li.first::before { border: medium none; }
.sp-pat-516-table li ul li::before { border: medium none; }
/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/style/has_js.css ::::: */

/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/ress/css/header-footer-min160527.css ::::: */

.module-content::before, .module-content::after { content: ""; display: table; }
.module-content::after { clear: both; }
.after-border::after, .after-border .after { position: absolute; bottom: 0px; left: 50%; margin-left: -20px; width: 40px; height: 2px; background: rgb(100, 156, 0) none repeat scroll 0% 0%; content: ""; display: block; }
.regular-payment-panel-mixin .left-section dt::before, .manage-paperless-panel-mixin .left-section dt::before, .regular-payment-panel-mixin .left-section dd::before, .manage-paperless-panel-mixin .left-section dd::before, .regular-payment-panel-mixin .left-section dt::after, .manage-paperless-panel-mixin .left-section dt::after, .regular-payment-panel-mixin .left-section dd::after, .manage-paperless-panel-mixin .left-section dd::after { content: ""; display: table; }
.regular-payment-panel-mixin .left-section dt::after, .manage-paperless-panel-mixin .left-section dt::after, .regular-payment-panel-mixin .left-section dd::after, .manage-paperless-panel-mixin .left-section dd::after { clear: both; }
#wrapper header { background-image: none; }
.sp-pat-m-hf-01-bank-bar .m-hf-01-container { width: 1206px; max-width: 1206px; }
#outer .layout-default .layout-side::before, #outer .layout-right .layout-side::before, #outer .layout-default .layout-content::before, #outer .layout-right .layout-content::before, #outer .layout-default .layout-side::after, #outer .layout-right .layout-side::after, #outer .layout-default .layout-content::after, #outer .layout-right .layout-content::after { content: ""; display: table; }
#outer .layout-default .layout-side::after, #outer .layout-right .layout-side::after, #outer .layout-default .layout-content::after, #outer .layout-right .layout-content::after { clear: both; }
.layout-default::before, .layout-default::after { content: ""; display: table; }
.layout-default::after { clear: both; }
.layout-full::before, .layout-full::after { content: ""; display: table; }
.layout-full::after { clear: both; }
.layout-right::before, .layout-right::after { content: ""; display: table; }
.layout-right::after { clear: both; }
.layout-right::before, .layout-right::after { content: ""; display: table; }
.layout-right::after { clear: both; }
strong, .strong { font-family: "lloyds_bank_jack-mediumWEB",arial,sans-serif; }
@font-face {
	font-family: "lloyds_bank_jack-lightWEB";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-lightweb_001.eot') format("embedded-opentype"), url('lloyds_bank_jack-lightweb_001.woff') format("woff"), url('lloyds_bank_jack-lightweb_001.ttf') format("truetype"), url('lloyds_bank_jack-lightweb_001.svg') format("svg");
}
@media not all {
	@font-face {
	font-family: "lloyds_bank_jack-lightWEB";
	src: url('lloyds_bank_jack-lightweb_001.eot') format("eot"), url('lloyds_bank_jack-lightweb_001.svg') format("svg");
}
}
@font-face {
	font-family: "lloyds_bank_jack-regularWEB";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-regularweb.eot') format("embedded-opentype"), url('lloyds_bank_jack-regularweb.woff') format("woff"), url('lloyds_bank_jack-regularweb.ttf') format("truetype"), url('lloyds_bank_jack-regularweb.svg') format("svg");
}
@media not all {
	@font-face {
	font-family: "lloyds_bank_jack-regularWEB";
	src: url('lloyds_bank_jack-regularweb.eot') format("eot"), url('lloyds_bank_jack-regularweb.svg') format("svg");
}
}
@font-face {
	font-family: "lloyds_bank_jack-mediumWEB";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-mediumweb.eot') format("embedded-opentype"), url('lloyds_bank_jack-mediumweb.woff') format("woff"), url('lloyds_bank_jack-mediumweb.ttf') format("truetype"), url('lloyds_bank_jack-mediumweb.svg') format("svg");
}
@media not all {
	@font-face {
	font-family: "lloyds_bank_jack-mediumWEB";
	src: url('lloyds_bank_jack-mediumweb.eot') format("eot"), url('lloyds_bank_jack-mediumweb.svg') format("svg");
}
}
#outer, #wrapper { color: rgb(80, 80, 80); }
a { color: rgb(0, 106, 77); }
.sp-pat-m-hf-01-product-service .m-container::before, .sp-pat-m-hf-01-product-service .m-container::after { content: ""; display: table; }
.sp-pat-m-hf-01-product-service .m-container::after { clear: both; }
.sp-pat-m-hf-01-safe-secure { background-color: rgb(0, 95, 69); float: left; width: 100%; overflow-y: hidden; opacity: 0; display: none; }
.js .sp-pat-m-hf-01-safe-secure { display: block; }
.sp-pat-m-hf-01-safe-secure .m-container { position: relative; padding: 0px 0px 30px; }
.sp-pat-m-hf-01-safe-secure .m-container::before, .sp-pat-m-hf-01-safe-secure .m-container::after { content: ""; display: table; }
.sp-pat-m-hf-01-safe-secure .m-container::after { clear: both; }
.sp-pat-m-hf-01-safe-secure .m-01-threecol .m-01-section { float: left; width: 31.6667%; margin: 0px 0.833333%; display: inline-block; background-color: rgb(2, 57, 39); text-align: center; padding: 20px 20px 20px 0px; box-sizing: border-box; }
.sp-pat-m-hf-01-safe-secure h2 { font-family: "lloyds_bank_jack-lightWEB",arial,sans-serif; font-size: 2.4em; line-height: 1.25; color: rgb(119, 186, 0); display: inline; float: left; width: 98.3333%; margin: 28px 0.833333% 0px; }
.sp-pat-m-hf-01-safe-secure h3::after { content: ""; display: block; width: 4em; border-bottom: 2px solid rgb(119, 186, 0); margin-top: 20px; }
.sp-pat-m-hf-01-safe-secure p { color: rgb(255, 255, 255); text-align: left; font-family: "lloyds_bank_jack-lightWEB",arial,sans-serif; font-size: 1.6em; line-height: 1.25; margin: 0px 0px 1em; }
.sp-pat-m-hf-01-safe-secure p a { color: rgb(255, 255, 255); text-decoration: underline; }
.sp-pat-m-hf-01-safe-secure ul { text-align: left; list-style-type: disc; list-style-position: inside; padding-left: 0px; }
.sp-pat-m-hf-01-safe-secure ul li { color: rgb(255, 255, 255); font-family: "lloyds_bank_jack-lightWEB",arial,sans-serif; font-size: 1.6em; line-height: 1.25; margin-bottom: 4px; }
.sp-pat-m-hf-01-safe-secure ul li a { color: rgb(255, 255, 255); text-decoration: underline; }
.sp-pat-m-hf-01-safe-secure ul.links { margin-left: 0px; margin-top: 20px; }
.sp-pat-m-hf-01-safe-secure ul.links li { list-style: outside none none; background: transparent url('chevron-right-white.svg') no-repeat scroll left center / 8px 12px; text-align: left; color: rgb(255, 255, 255); padding: 4px 0px 4px 18px; margin: 0px; font-family: "lloyds_bank_jack-mediumWEB",arial,sans-serif; font-size: 1.6em; line-height: 1.25; }
.sp-pat-m-hf-01-safe-secure ul.links li a { display: block; line-height: 1.4em; color: rgb(255, 255, 255); text-decoration: none; }
.sp-pat-m-hf-01-safe-secure ul.links li a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.sp-pat-m-hf-01-safe-secure .m-container .m-01-section { background-color: transparent; padding-bottom: 0px; }
.sp-pat-m-hf-01-bank-bar-container { background-color: rgb(0, 95, 69); float: left; width: 100%; position: relative; height: 0px; overflow-y: hidden; }
.sp-pat-m-hf-01-bank-bar-container::before, .sp-pat-m-hf-01-bank-bar-container::after { content: ""; display: table; }
.sp-pat-m-hf-01-bank-bar-container::after { clear: both; }
.js .sp-pat-m-hf-01-bank-bar-container { display: none; transition: all 0.75s cubic-bezier(0.42, 0, 0.58, 1) 0ms; }
.sp-pat-m-hf-01-bank-bar-container::before { content: ""; border-top: 5px solid rgb(90, 140, 0); width: 100%; display: block; }
.sp-pat-m-hf-01-bank-bar-container.open::before { content: ""; border-top: 5px solid rgb(90, 140, 0); width: 100%; display: block; }
div.sp-pat-m-hf-01-bank-bar { font-family: "lloyds_bank_jack-regularWEB",arial,sans-serif; background-color: rgb(0, 106, 77); float: left; width: 100%; }
div.sp-pat-m-hf-01-bank-bar .desktop_logo { display: block; }
div.sp-pat-m-hf-01-bank-bar .mobile_logo, div.sp-pat-m-hf-01-bank-bar .m-01-menu-home, div.sp-pat-m-hf-01-bank-bar .m-01-menu-buttons, div.sp-pat-m-hf-01-bank-bar .m-01-menu-logoff { display: none; }
div.sp-pat-m-hf-01-bank-bar ul, div.sp-pat-m-hf-01-bank-bar li { margin: 0px; padding: 0px; list-style: outside none none; }
div.sp-pat-m-hf-01-bank-bar a { text-decoration: none; font-size: 1.6em; color: rgb(255, 255, 255); }
div.sp-pat-m-hf-01-bank-bar .m-hf-01-container { height: auto; }
div.sp-pat-m-hf-01-bank-bar .m-hf-01-container .m-01-menu-button { display: none; }
div.sp-pat-m-hf-01-bank-bar .m-01-menu-bar { float: left; margin-left: 0.833333%; }
div.sp-pat-m-hf-01-bank-bar .m-01-menu-bar.pull-right { float: right; margin-left: 0px; }
div.sp-pat-m-hf-01-bank-bar .m-01-logo { margin: 0px 0.833333%; width: auto; padding: 14.5px 0px; display: inline-block; float: left; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation { margin-right: 0.833333%; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation::before, div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation::after { content: ""; display: table; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation::after { clear: both; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation ul li { display: inline-block; border-right: medium none rgb(0, 106, 77); float: left; background: transparent none repeat scroll 0px center; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation ul li a { padding: 0px 40px 0px 20px; display: block; float: left; font-family: "lloyds_bank_jack-mediumWEB",arial,sans-serif; font-size: 1.6em; color: rgb(255, 255, 255); line-height: 80px; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation ul li a:hover { color: rgb(255, 255, 255); }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-cookie-policy a { padding-right: 20px; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-safe-secure a { border-right: 1px solid rgb(2, 71, 49); border-left: 1px solid rgb(2, 71, 49); background-image: url('padlock-white.svg'); background-size: 14px 20px; background-repeat: no-repeat; background-position: 92% center; line-height: 16px; text-align: right; padding: 24px 46px 24px 20px; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-safe-secure a:hover { background-position: 92% center; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-safe-secure a span { display: block; font-size: 0.8em; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-cookie-policy a:hover { background: transparent linear-gradient(to bottom, rgb(116, 166, 26) 0px, rgb(90, 140, 0) 100%) repeat scroll 0% 0%; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-safe-secure a.selected, div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-safe-secure a:hover { border-right: 1px solid rgb(2, 71, 49); padding-right: 46px; background-color: transparent; background-image: url('padlock-white.svg'), linear-gradient(to bottom, rgb(116, 166, 26) 0px, rgb(90, 140, 0) 100%); background-repeat: no-repeat, repeat; background-attachment: scroll, scroll; background-clip: border-box, border-box; background-origin: padding-box, padding-box; background-size: 14px 20px, 100% 100%; background-position: 92% center; }
div.sp-pat-m-hf-01-bank-bar .m-fh-01-navigation .m-hf-01-safe-secure a span { font-style: italic; font-family: "lloyds_bank_jack-regularWEB",arial,sans-serif; }
.m-hf-02-business-admin::before, .m-hf-02-business-admin::after { content: ""; display: table; }
.m-hf-02-business-admin::after { clear: both; }
.sp-pat-m-hf-02-help-and-support h3::after { content: ""; display: block; width: 2em; border-bottom: 2px solid rgb(100, 156, 0); margin: 1em 0px 0px; }
.m-hf-02-customer-bar h3::after, .m-hf-02-your-accounts h3::after, .m-hf-02-your-profile h3::after, .m-hf-02-business-admin h3::after, .m-hf-02-inbox h3::after { content: ""; display: block; width: 2em; border-bottom: 2px solid rgb(100, 156, 0); margin: 1em 0px 0px; }
.m-hf-02-customer-bar, .m-hf-02-name-setting, .m-hf-02-nameonly { clear: both; position: relative; text-align: left; border-bottom: 1px solid rgb(229, 229, 229); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.m-hf-02-customer-bar .m-container, .m-hf-02-name-setting .m-container, .m-hf-02-nameonly .m-container {  }
.m-hf-02-customer-bar .m-container::before, .m-hf-02-name-setting .m-container::before, .m-hf-02-nameonly .m-container::before, .m-hf-02-customer-bar .m-container::after, .m-hf-02-name-setting .m-container::after, .m-hf-02-nameonly .m-container::after { content: ""; display: table; }
.m-hf-02-customer-bar .m-container::after, .m-hf-02-name-setting .m-container::after, .m-hf-02-nameonly .m-container::after { clear: both; }
.m-hf-02-customer-bar .m-hf-02-nav .nav-content.error .error-text::after, .m-hf-02-name-setting .m-hf-02-nav .nav-content.error .error-text::after, .m-hf-02-nameonly .m-hf-02-nav .nav-content.error .error-text::after { content: ""; display: block; width: 2em; border-bottom: 2px solid rgb(220, 42, 77); margin: 1em auto 0px; }
.m-hf-02-customer-bar .m-hf-02-nav .nav-content::before, .m-hf-02-name-setting .m-hf-02-nav .nav-content::before, .m-hf-02-nameonly .m-hf-02-nav .nav-content::before, .m-hf-02-customer-bar .m-hf-02-nav .nav-content::after, .m-hf-02-name-setting .m-hf-02-nav .nav-content::after, .m-hf-02-nameonly .m-hf-02-nav .nav-content::after { opacity: 0; transition: all 0.35s cubic-bezier(0.42, 0, 0.58, 1) 0.75s; }
.m-hf-02-customer-bar .m-hf-02-nav .nav-content::before, .m-hf-02-name-setting .m-hf-02-nav .nav-content::before, .m-hf-02-nameonly .m-hf-02-nav .nav-content::before { content: ""; background: transparent url('spinner-outer.png') no-repeat scroll center center / 54px auto; border: 0px none; position: absolute; left: 50%; top: 95px; width: 54px; height: 54px; margin-left: -27px; margin-top: -27px; animation: 1.2s linear 0s normal none infinite running spin; }
.m-hf-02-customer-bar .m-hf-02-nav .loading.fade-in::before, .m-hf-02-name-setting .m-hf-02-nav .loading.fade-in::before, .m-hf-02-nameonly .m-hf-02-nav .loading.fade-in::before, .m-hf-02-customer-bar .m-hf-02-nav .loading.fade-in::after, .m-hf-02-name-setting .m-hf-02-nav .loading.fade-in::after, .m-hf-02-nameonly .m-hf-02-nav .loading.fade-in::after, .m-hf-02-customer-bar .m-hf-02-nav .loading.fade-in, .m-hf-02-name-setting .m-hf-02-nav .loading.fade-in, .m-hf-02-nameonly .m-hf-02-nav .loading.fade-in { opacity: 1; }
.m-hf-02-customer-bar .m-hf-02-nav .loading.fade-out::before, .m-hf-02-name-setting .m-hf-02-nav .loading.fade-out::before, .m-hf-02-nameonly .m-hf-02-nav .loading.fade-out::before, .m-hf-02-customer-bar .m-hf-02-nav .loading.fade-out::after, .m-hf-02-name-setting .m-hf-02-nav .loading.fade-out::after, .m-hf-02-nameonly .m-hf-02-nav .loading.fade-out::after, .m-hf-02-customer-bar .m-hf-02-nav .loading.fade-out, .m-hf-02-name-setting .m-hf-02-nav .loading.fade-out, .m-hf-02-nameonly .m-hf-02-nav .loading.fade-out { opacity: 0; }
.m-hf-02-help-and-support::before, .m-hf-02-help-and-support::after { content: ""; display: table; }
.m-hf-02-help-and-support::after { clear: both; }
.m-hf-02-help-and-support .m-hf-02-links::before, .m-hf-02-help-and-support .m-hf-02-links::after { content: ""; display: table; }
.m-hf-02-help-and-support .m-hf-02-links::after { clear: both; }
.m-hf-02-help-and-support .m-hf-02-links h3::after { content: ""; display: block; width: 2em; margin-top: 1em; border-bottom: 2px solid rgb(119, 186, 0); }
.sp-pat-m-hf-02-help-and-support .m-hf-02-pull-out div h3::after { margin-left: auto; margin-right: auto; border-bottom-color: rgb(119, 186, 0); }
.m-hf-02-your-accounts::before, .m-hf-02-your-accounts::after { content: ""; display: table; }
.m-hf-02-your-accounts::after { clear: both; }
.m-hf-02-your-profile::before, .m-hf-02-your-profile::after { content: ""; display: table; }
.m-hf-02-your-profile::after { clear: both; }
.sp-pat-m-hf-03-footer { font-family: "lloyds_bank_jack-regularWEB",arial,sans-serif; text-align: left; }
.sp-pat-m-hf-03-footer ul, .sp-pat-m-hf-03-footer li { margin: 0px; padding: 0px; list-style: outside none none; line-height: 1.2; }
.sp-pat-m-hf-03-footer .m-container .footer-section { margin-top: 10px; margin-bottom: 10px; background-color: rgb(0, 106, 77); }
.sp-pat-m-hf-03-footer .m-hf-01-threecol .footer-section { display: inline; float: left; width: 31.6667%; margin: 0px 0.833333%; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-01 { background-color: rgb(0, 106, 77); clear: both; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-01 .m-container { overflow: auto; padding: 50px 0px; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-01 h3 { color: rgb(255, 255, 255); font-weight: normal; margin: 0px 0px 20px; font-family: "lloyds_bank_jack-mediumWEB",arial,sans-serif; font-size: 1.6em; line-height: 1.25; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-01 ul li { color: rgb(255, 255, 255); font-weight: normal; margin-bottom: 10px; font-family: "lloyds_bank_jack-lightWEB",arial,sans-serif; font-size: 1.6em; line-height: 1.25; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-01 ul li a { color: rgb(255, 255, 255); text-decoration: none; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-01 ul li a:hover { text-decoration: underline; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-02 { background-color: rgb(2, 71, 49); clear: both; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-02 .m-container { padding: 15px 0px; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-02 .m-container div { padding-left: 8px; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-02 .m-container div a { font-family: "lloyds_bank_jack-mediumWEB",arial,sans-serif; font-size: 1.6em; line-height: 1.25; background: transparent url('chevron-right-white.svg') no-repeat scroll right 4px / 8px 12px; color: rgb(255, 255, 255); padding-right: 15px; text-decoration: none; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-02 .m-container div a:hover { text-decoration: underline; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-03 { background-color: rgb(255, 255, 255); clear: both; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-03 .m-container { padding: 25px 0px; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-03 .smallprint { padding: 0px 8px; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-03 p { font-family: "lloyds_bank_jack-lightWEB",arial,sans-serif; font-size: 1.4em; line-height: 1.43; color: rgb(102, 102, 102); margin: 0px 0px 0.7em; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-03 p a { color: rgb(0, 106, 77); text-decoration: none; font-family: "lloyds_bank_jack-regularWEB",arial,sans-serif; }
.sp-pat-m-hf-03-footer .m-hf-03-footer-03 p a:hover { text-decoration: underline; }
body .m-container { max-width: 1206px; min-width: 960px; margin: 0px auto; }
#outer .sp-pat-m-hf-01-bank-bar-container::before { display: none; overflow-y: visible; border-top: 0px none; }
#outer .sp-pat-m-hf-01-bank-bar::before, #outer .sp-pat-m-hf-01-bank-bar::after { content: ""; display: table; }
#outer .sp-pat-m-hf-01-bank-bar::after { clear: both; }
#outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container::before, #outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container::after { content: ""; display: table; }
#outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container::after { clear: both; }
#outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container .m-01-menu-button::after, #outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container .m-01-menu-button::before { content: ""; width: 1.33em; height: 0.22em; background-color: rgb(0, 106, 77); display: block; position: absolute; }
#outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container .m-01-menu-button::before { top: 0.25em; }
#outer .sp-pat-m-hf-01-bank-bar .m-hf-01-container .m-01-menu-button::after { bottom: 0.25em; }
#outer .sp-pat-m-hf-01-product-service h2::after { content: ""; display: block; border-bottom: 2px solid rgb(178, 178, 178); margin: 1em auto 0.2em; width: 2em; }
#outer .sp-pat-m-hf-01-product-service::before { border-top: 0px none; }
#outer .m-hf-02-customer-bar ul.m-hf-link-list li::before, #outer .sp-pat-m-hf-02-help-and-support ul.m-hf-link-list li::before, #outer .m-hf-02-your-accounts ul.m-hf-link-list li::before, #outer .m-hf-02-your-profile ul.m-hf-link-list li::before, #outer .m-hf-02-inbox ul.m-hf-link-list li::before { content: ""; display: block; border-top: 1px solid rgb(1, 59, 44); margin: 0px 10px; }
#outer .m-hf-02-customer-bar h3::after, #outer .sp-pat-m-hf-02-help-and-support h3::after, #outer .m-hf-02-your-accounts h3::after, #outer .m-hf-02-your-profile h3::after, #outer .m-hf-02-inbox h3::after { display: none; }
#outer .m-hf-02-customer-bar .m-hf-02-nav::before, #outer .m-hf-02-customer-bar .m-hf-02-nav::after { content: ""; display: table; }
#outer .m-hf-02-customer-bar .m-hf-02-nav::after { clear: both; }
#outer .m-hf-02-customer-bar .m-hf-02-nav.open li:not(.selected) .nav-content { display: none; }
#outer .m-hf-02-customer-bar .m-hf-02-nav .nav-content::before { background: transparent url('spinner-outer-white.png') no-repeat scroll center center / 54px auto; }
#outer .m-hf-02-customer-bar .m-hf-02-nav .nav-content::after { background: transparent url('spinner-inner-secure-white.png') no-repeat scroll center center / 54px auto; animation: 0s ease 0s normal none 1 running none; }
#outer .m-hf-02-inbox h3::after { display: none; }
#outer .m-hf-02-inbox li.unread a::before { position: absolute; border-radius: 50px; width: 12px; height: 12px; background: red none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); left: 10px; top: 42%; }
#outer .m-hf-02-inbox ul::before { content: ""; display: block; border-top: 1px solid rgb(1, 59, 44); margin: 0px 10px; }
#outer .m-hf-02-inbox ul::after { content: ""; display: block; border-top: 1px solid rgb(26, 122, 95); margin: 0px 10px; }
.cm-500-d-header::before, .cm-500-d-header::after { content: ""; display: table; }
.cm-500-d-header::after { clear: both; }
.m-overlay .overlay-panel .overlay-content::before, .m-overlay .overlay-panel .overlay-content::after { content: ""; display: table; }
.m-overlay .overlay-panel .overlay-content::after { clear: both; }
.overlay-wrap::before, .overlay-wrap::after { content: ""; display: table; }
.overlay-wrap::after { clear: both; }
.logoutWarning .actions li::before, .logoutWarning .actions li::after { content: ""; display: table; }
.logoutWarning .actions li::after { clear: both; }
.m-513-colleague-header .ajax-error-text::after { content: ""; display: block; width: 2em; border-bottom: 2px solid rgb(220, 42, 77); margin: 1em auto 0px; }
.m-513-colleague-header .clg-top-header::before, .m-513-colleague-header .clg-top-header::after { content: ""; display: table; }
.m-513-colleague-header .clg-top-header::after { clear: both; }
.m-513-colleague-header .m-container-colleague::before, .m-513-colleague-header .m-container-colleague::after { content: ""; display: table; }
.m-513-colleague-header .m-container-colleague::after { clear: both; }
.mca-ssg-2a1-clear::before, .mca-ssg-2a1-clear::after { content: ""; display: table; }
.mca-ssg-2a1-clear::after { clear: both; }
.overlay-panel-cust-notes .ajax-error-msg::after { content: ""; display: block; width: 2em; border-bottom: 2px solid rgb(220, 42, 77); margin: 1em auto 0px; }
.sp-825-d-products-and-services .m-accordion-content ul li a .new::after, .sp-825-d-products-and-services .m-accordion-content ul li a .new .after { border-width: 9px 9px 9px medium; border-style: solid solid solid none; border-color: transparent rgb(255, 255, 255) transparent -moz-use-text-color; width: 0px; height: 0px; display: block; content: ""; position: absolute; top: 0px; left: -9px; }
.sp-825-d-products-and-services .m-accordion-content ul li a .new::after, .sp-825-d-products-and-services .m-accordion-content ul li a .new .after { border-width: 9px 0px 9px 9px; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent rgb(255, 255, 255); width: 0px; height: 0px; display: block; content: ""; position: absolute; top: 0px; left: auto; right: -9px; }
.sp-825-d-products-and-services .main-accordion-title span.micro-border::before, .sp-825-d-products-and-services .main-accordion-title span.micro-border.before { content: ""; display: block; margin: 20px auto 0px; width: 40px; border-top: 3px solid rgb(119, 186, 0); }
.m-860-d-show-me-menu ul::before, .m-860-d-show-me-menu ul::after { content: ""; display: table; }
.m-860-d-show-me-menu ul::after { clear: both; }
.m-860-d-show-me-menu ul::before, .m-860-d-show-me-menu ul::after { content: ""; display: table; }
.m-860-d-show-me-menu ul::after { clear: both; }
.m-860-d-show-me-menu ul li:nth-child(2n+3) { clear: both; }
.m-860-d-show-me-menu.three-col ul li:nth-child(2n+3) { clear: none; }
.m-860-d-show-me-menu.three-col ul li:nth-child(3n+4) { clear: both; }
.m-861-tip-controls::before, .m-861-tip-controls::after { content: ""; display: table; }
.m-861-tip-controls::after { clear: both; }
/* ::::: https://secure.lloydsbank.co.uk/personal/assets/LloydsRetail/ress/css/touch-min160527.css ::::: */

@font-face {
	font-family: "Lloyds Jack Light";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-lightweb_001.eot') format("eot"), url('lloyds_bank_jack-lightweb_001.woff') format("woff"), url('lloyds_bank_jack-lightweb_001.ttf') format("truetype"), url('lloyds_bank_jack-lightweb_002.svg') format("svg");
}
@font-face {
	font-family: "Lloyds Jack Medium";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-mediumweb.eot') format("eot"), url('lloyds_bank_jack-mediumweb.woff') format("woff"), url('lloyds_bank_jack-mediumweb.ttf') format("truetype"), url('lloyds_bank_jack-mediumweb_001.svg') format("svg");
}
@font-face {
	font-family: "Lloyds Jack Regular";
	font-style: normal;
	font-weight: normal;
	src: url('lloyds_bank_jack-regularweb.eot') format("eot"), url('lloyds_bank_jack-regularweb.woff') format("woff"), url('lloyds_bank_jack-regularweb.ttf') format("truetype"), url('lloyds_bank_jack-regularweb_001.svg') format("svg");
}
@media not all {
	@font-face {
	font-family: "Lloyds Jack Light";
	src: url('lloyds_bank_jack-lightweb_001.eot') format("eot"), url('lloyds_bank_jack-lightweb_003.svg') format("svg");
}
	@font-face {
	font-family: "Lloyds Jack Medium";
	src: url('lloyds_bank_jack-mediumweb.eot') format("eot"), url('lloyds_bank_jack-mediumweb_002.svg') format("svg");
}
	@font-face {
	font-family: "Lloyds Jack Regular";
	src: url('lloyds_bank_jack-regularweb.eot') format("eot"), url('lloyds_bank_jack-regularweb_002.svg') format("svg");
}
}
.content p a { text-decoration: underline; }
.content .primary p a:hover { color: rgb(100, 156, 0); text-decoration: underline; }
.content .navBar select optgroup::before { content: attr(label); display: block; }
td .formField::before { content: ""; display: block; }
td .formField::after { content: ""; display: table; clear: both; }
#ui-datepicker-div .ui-datepicker-title::after, #ui-datepicker-div .ui-datepicker-title .after { width: 50px; height: 2px; background: rgb(119, 186, 0) none repeat scroll 0% 0%; position: absolute; bottom: 0px; left: 50%; margin-left: -25px; content: ""; }
.f-heading1, .content h1, .hasRaphael .ommLoader { font-family: "Lloyds Jack Light",arial,sans-serif; font-weight: normal ! important; font-size: 3em; line-height: 1.167; }
.f-heading3, .content #omm .ommFilterTransactions h2.expandTrigger, .f-buttonsAndLinks, .f-linkNormal, .f-linkHover, .f-normalOnBackground, .f-hoverOnBackground, .content h3, .content span h3, .content h3.subHead, .content h3.small, .content table th, .content #omm h3, .content #omm h3.subHead, .content #omm .headingNumber, .content #omm .ommGoalGauge .view, .content #omm fieldset.ommGoalDescription div.formField label, .content #omm fieldset.ommGoalDescription p.summary, .content #omm .ommBudgets .categories span.category, .content .banner h3, .content .addressPersonalDetails h3, .content .expandingTables .part a.trigger, .content .expandingTables .part h3.trigger, .content fieldset.addressFinder .addressHeader h3, .content .supportingInfo h3, .content table.comparison thead th, .content table.comparison thead th.first, .content table.comparison thead tr.heading th, .content .pcaConfig table.comparison thead th.first, .content .pcaConfig table.comparison thead th.highlight, .content .pcaConfig table.comparison thead th.first, .content .pcaConfig table.comparison thead th strong, .content .quickContact h3, .content .tillReceipt .part h3, .content .tillReceipt .topper h3, .content .followingTabContent h3, .content #omm .dashboard h3, .content #overlayWrapper .ommChartWrap h3, .content #omm .ommChartWrap h3, .content #omm .ommGoal .ommGoalGauge h3, .content .myAccounts li.accountStyle .accountDetails.loanOffer h3.success, .content ul.personalisedOffers li h3, .content .myAccounts .accountDetails.loanOffer h3, .content .myAccounts ul.personalisedOffers li h3, .f-actionButton { font-family: "Lloyds Jack Medium",arial,sans-serif; font-weight: normal ! important; font-size: 1.6em; line-height: 1.25; }
.f-bodyCopy, input[type="text"], input[type="password"], input[type="number"], .content textarea, input[type="text"][disabled], input.isDisabled[type="text"][disabled], .content .internationalPhoneNumber input.extension, .content .navBar select optgroup::before, .formFieldRow.error span.error, .formField.error span.error, .formField.groupedError span.error, .formField.groupedError span.groupedError, .formField.swiftError span.error, .optionPanel.optionPanelError span.error, #ui-datepicker-div .ui-datepicker-calendar tbody td, div.formSubmitError, .content p.intro, .content p.pseudoHead, .content p, .content li, .content dt, .content dd, .content label, .content .smartRewardearningSummary, .content ol li.activeStage, .content table td, .content blockquote, .content .formField span.value, .content .smartRewards-optin .colLayout.cols3 p, .content #omm div.dataCurrencyMod p, .content #omm .ommGoals .subPanel .startBalance .amount, .content #omm .ommSavingPlanCalculatePanel .resultPull .or, .content #omm fieldset.ommGoalDescription div.formField p.placeHolderText, .content #omm .ommBudgets .budgetOverviewGauge .axis, .content #omm .ommFilterTransactions span.label, .content .banner .content p, .content .formField .inlineHelp, .content .formField .inlineFieldHelp, .content .formField label, .content .formField span.label, .content .radioGroup span.label, .content .internationalPhoneNumber .prefix, .content .fieldHelp .cxtHelp, .content .radioFieldPanel .cxtHelp, .content .panel .inner .inlinerow .cxtHelp, .content .panel .inner .inlinerow .cxtHelp, .content .personalDetails .adr span, .content .currentAddressDetails .adr span, .content .customerDetails p.lastLogin, .content .quickTransfer form.multiline fieldset label, .content #omm .ommSummaryBar em.balance, .content #omm table th, .content #omm table td, .content #omm .ommGoals .subPanel .header .goalInfo .goalDate, .content #omm .subPanel .ommGoalGauge .textSummary, .content .secondary .subPanel.smartRewards ul.linkList li, .content .loanSelectionFooter p, .content .miniStatement table th, .content .miniStatement table td, .content .bigPrompt .content p, .content .bigPrompt .products .inner h3, .content .bigPrompt .products .inner h4, .content .bigPrompt .subPanel li, .content .bigPrompt .colLayout .pullOut h3, .content .primary .IBTopPanel h3, .content .primary .IBTopPanel p, .content .primary .IBTopPanel ul li, .content .primary .IBMediumPanel h3, .content .primary .IBMediumPanel h3.bigHead, .content .primary .IBMediumPanel h3.biggerHead, .content .primary .IBMediumPanel ul li, .content .primary .IBMediumPanel .pullOut h3, .content .primary .IBMediumPanel .pullOut ul li, .content .primary .IBMediumPanel .content ul li, .content .bigBanner .content p, .content .bigBanner .products h3, .content .bigBanner .products ul li { font-family: "Lloyds Jack Light",arial,sans-serif; font-weight: normal ! important; font-size: 1.6em; line-height: 1.25; }
.content { font-family: "Lloyds Jack Light",arial,sans-serif; font-weight: normal ! important; color: rgb(51, 51, 51); }
.content a { font-weight: normal; }
.content h1 { margin: 0px 0px 0.5em; }
.content .primary p a, .content table th a, .content .accountData ul.linkList li a { color: rgb(0, 106, 77); }
.content .subPanel::before { content: ""; display: block; }
.content .subPanel::after { content: ""; display: table; clear: both; }
.content strong { font-family: "Lloyds Jack Medium",arial,sans-serif; font-weight: normal ! important; }
.content strong { font-family: "Lloyds Jack Medium",arial,sans-serif; font-weight: normal ! important; }
.content table thead th { color: rgb(51, 51, 51); }
@media screen and (max-width: 1240px) {
}
#wrapper { min-width: 980px; }
.content ul.tabs li .tabInner::before, .content ul.subTabs li .tabInner::before { content: ""; display: block; }
.content ul.tabs li .tabInner::after, .content ul.subTabs li .tabInner::after { content: ""; display: table; clear: both; }
.sp-pat-m-hf-01-bank-bar .m-hf-01-container { width: auto; }
.sp-pat-m-hf-01-bank-bar .m-container, .m-hf-02-customer-bar .m-container, .sp-pat-m-hf-03-footer .m-container, .m-hf-02-name-setting .m-container, .m-hf-02-nameonly .m-container { min-width: 950px; max-width: 1206px; padding-left: 15px ! important; padding-right: 15px ! important; }
#page { margin-top: 2em; }
#wrapper { background-color: rgb(240, 240, 240); }
#wrapper header { position: relative; z-index: 0; }
.content .primary .panel { border-radius: 0px; }
.content .secondary .tillReceipt .item h2::after, .content .secondary .tillReceipt .item h2 .after { content: ""; position: absolute; width: 40px; height: 2px; left: 50%; margin-left: -20px; bottom: -20px; background: rgb(100, 156, 0) none repeat scroll 0% 0%; }
.printPreview div.sp-pat-m-hf-01-bank-bar .m-01-menu-bar.pull-right { display: none; }
.printPreview .content ul.actions { top: -86px; }
.printPreview .content ul.actions { position: static; margin-right: 15px; }
.content .secondary .accordion h2.trigger::after, .content .secondary .accordion h2.trigger.after { content: ""; display: block; margin: 20px auto 0px; width: 40px; border-top: 3px solid rgb(100, 156, 0); }
.iccCSS .list-number-icon li::before { position: absolute; left: 0px; font-size: 1.3em; text-indent: 14px; color: rgb(255, 255, 255); height: 35px; min-width: 35px; line-height: 35px; background-color: rgb(179, 0, 116); }
.iccCSS .list-number-icon li.no-1::before { content: "1"; }
.iccCSS .list-number-icon li.no-2::before { content: "2"; }
.iccCSS .list-number-icon li.no-3::before { content: "3"; }
.iccCSS .list-number-icon li.no-4::before { content: "4"; }
.iccCSS .list-number-icon li.no-5::before { content: "5"; }
.iccCSS .list-number-icon li.no-6::before { content: "6"; }
.iccCSS .list-number-icon li.no-7::before { content: "7"; }
.iccCSS .list-number-icon li.no-8::before { content: "8"; }
.iccCSS .list-number-icon li.no-9::before { content: "9"; }
.content .primary .panel { border-top: 0px none; box-shadow: 0.1em 0.1em 0px rgba(0, 0, 0, 0.1); }
.content .secondary .subPanel.smartRewards h2::after { content: ""; display: block; width: 40px; border-bottom: 2px solid rgb(204, 204, 204); margin: 15px auto 0px; }
.content .secondary .subPanel.smartRewards ul.linkList .footLink::before { content: ""; display: block; width: 40px; border-top: 2px solid rgb(204, 204, 204); margin: 0px auto 15px; }
body { margin: 0px; }
.ls-canvas .ls-area { overflow: hidden; }
.ls-canvas .ls-area-body { overflow: hidden; }
.ls-canvas .ls-area .ls-1st { margin-top: 0px ! important; }
.ls-canvas .ls-cmp-wrap { padding: 1px 0px; }
.ls-canvas .iw_component { margin: -1px 0px; }
body { margin: 0px; }
.ls-canvas .ls-area { overflow: hidden; }
.ls-canvas .ls-area-body { overflow: hidden; }
.ls-canvas .ls-area .ls-1st { margin-top: 0px ! important; }
.ls-canvas .ls-cmp-wrap { padding: 1px 0px; }
.ls-canvas .iw_component { margin: -1px 0px; }
