/* ::::: http://static.cprogramming.com/main_images/style.css?np9 ::::: */

body { background-color: rgb(255, 255, 255); margin: 0px; background-image: url('bg.png'); background-repeat: repeat-y; }
a:link { color: rgb(195, 0, 0); text-decoration: none; }
a:visited { color: rgb(153, 0, 0); text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: rgb(255, 51, 51); text-decoration: none; }
td { font-family: verdana,sans-serif; font-size: 12px; }
img.logo { position: absolute; top: 0px; left: 0px; z-index: 1; }
img.bullet { vertical-align: middle; }
table.line { background-image: url('line-horiz.png'); position: absolute; top: 71px; left: 0px; width: 100%; height: 3px; }
table.main { background-color: rgb(255, 255, 255); position: absolute; top: 75px; left: 0px; width: 100%; padding: 0px; border: 0px none; }
div.menu { border: 0px none; width: 175px; padding-left: 5px; padding-right: 5px; padding-top: 10px; }
p.navcategory { font-family: "arial black",arial,sans-serif; font-size: 13px; margin-top: 0px; margin-left: 0px; margin-bottom: 0px; }
p.navlist { font-family: "arial",arial,sans-serif; margin-left: 16px; margin-top: 2px; margin-bottom: 0px; font-size: 12px; }
td.content { padding-top: 0px; padding-left: 0px; padding-right: 0px; width: auto; }
div.leaderboard { background-color: rgb(235, 235, 235); width: 728px; height: 90px; margin-top: 6px; margin-bottom: 4px; border-width: 0px; }
div.verticalad { background-color: rgb(235, 235, 235); width: 160px; height: 600px; border-width: 0px; }
input { font-size: 9px; font-family: verdana,sans-serif; border-width: 1px; border-color: rgb(0, 0, 0); }
div.content2 { margin-left: 15px; margin-right: 15px; }
pre.example { font-family: "Courier New",Courier,mono; font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 204); padding: 8px; border: 1px dashed rgb(0, 0, 0); width: auto; }
/* ::::: http://www.google.com/cse/api/branding.css ::::: */

.cse-branding-bottom, .cse-branding-right { margin: 0px; padding: 0px; }
.cse-branding-bottom, .cse-branding-right {  }
.cse-branding-bottom::after, .cse-branding-right::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cse-branding-text { font: 10px Arial; }
.cse-branding-form form { margin-bottom: 0px; padding-bottom: 0px; }
.cse-branding-bottom .cse-branding-logo, .cse-branding-bottom .cse-branding-text { display: block; float: left; }
.cse-branding-bottom .cse-branding-form { margin-bottom: 3px; }
.cse-branding-bottom .cse-branding-logo { padding: 0px; }
.cse-branding-bottom .cse-branding-text { padding-top: 4px; }
#af-form-618210012 .af-body .af-textWrap { width: 98%; display: block; float: none; }
#af-form-618210012 .af-body input.text, #af-form-618210012 .af-body textarea { background-color: rgb(255, 255, 255); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; color: rgb(0, 0, 0); text-decoration: none; font-style: normal; font-weight: normal; font-size: 12px; font-family: Verdana,sans-serif; }
#af-form-618210012 .af-body input.text:focus, #af-form-618210012 .af-body textarea:focus { background-color: rgb(255, 255, 255); border-color: rgb(170, 1, 1); border-width: 1px; border-style: solid; }
#af-form-618210012 .af-body label.previewLabel { display: block; float: none; text-align: left; width: auto; color: rgb(0, 0, 0); text-decoration: none; font-style: normal; font-weight: normal; font-size: 12px; font-family: Verdana,sans-serif; }
#af-form-618210012 .af-body { padding-bottom: 15px; padding-top: 0px; background-repeat: no-repeat; background-position: inherit; background-image: none; color: rgb(0, 0, 0); font-size: 12px; font-family: Verdana,sans-serif; }
#af-form-618210012 .af-footer { padding: 0px 15px; border-width: 1px; border-style: none; color: rgb(0, 0, 0); font-size: 12px; font-family: Verdana,sans-serif; }
#af-form-618210012 .af-header { padding: 20px 115px 95px 10px; background-color: transparent; background-repeat: no-repeat; background-position: right top; background-image: url('header.png'); border-width: 1px; border-style: none; color: rgb(170, 1, 1); font-size: 16px; font-family: Verdana,sans-serif; }
#af-form-618210012 .af-standards .af-element { padding-right: 15px; padding-left: 15px; }
#af-form-618210012 .bodyText p { margin: 1em 0px; }
#af-form-618210012 .buttonContainer { text-align: center; }
#af-form-618210012 button, #af-form-618210012 input, #af-form-618210012 submit, #af-form-618210012 textarea, #af-form-618210012 select, #af-form-618210012 label, #af-form-618210012 optgroup, #af-form-618210012 option { float: none; position: static; margin: 0px; }
#af-form-618210012 div { margin: 0px; }
#af-form-618210012 form, #af-form-618210012 textarea, .af-form-wrapper, .af-form-close-button, #af-form-618210012 img { float: none; color: inherit; position: static; border: medium none; margin: 0px; padding: 0px; }
#af-form-618210012 input, #af-form-618210012 button, #af-form-618210012 textarea, #af-form-618210012 select { font-size: 100%; }
#af-form-618210012 p { color: inherit; }
#af-form-618210012 select, #af-form-618210012 label, #af-form-618210012 optgroup, #af-form-618210012 option { padding: 0px; }
#af-form-618210012, #af-form-618210012 .quirksMode { width: 100%; max-width: 429px; }
#af-form-618210012 { background-color: transparent; border-color: rgb(207, 207, 207); border-width: 1px; border-style: none; }
#af-form-618210012 { display: block; }
#af-form-618210012 { overflow: hidden; }
.af-body .af-textWrap { text-align: left; }
.af-body input.image { border: medium none ! important; }
.af-body input.submit, .af-body input.image, .af-form .af-element input.button { float: none ! important; }
.af-body input.text { width: 100%; float: none; padding: 2px ! important; }
.af-clear { clear: both; }
.af-element label { text-align: left; display: block; float: left; }
.af-element { padding-bottom: 5px; padding-top: 5px; }
.af-form-wrapper { text-indent: 0px; }
.af-form { text-align: left; margin: auto; }
.af-header, .af-footer { margin-bottom: 0px; margin-top: 0px; padding: 10px; }
body {  }
.sidebar-box { width: 150px; margin-bottom: 5px; }
